[2020-04-09 16:18] rwwagner90 commented on #893
@Garyfallos README does not refer to IE 11. Where are you seeing that?

[2020-04-09 17:43] Garyfallos commented on #893
Checked this https://godban.github.io/browsers-support-badges/
So it doesn't support IE 11?

[2020-04-09 18:03] rwwagner90 commented on #893
@Garyfallos not sure what you mean you checked https://godban.github.io/browsers-support-badges/. That's a generator for support badges. Please note our README does not mention IE support anymore and the badges do not include IE.

[2020-04-09 18:03] #893 closed

[2020-04-10 03:11] porespod opened #895 "useModalOverlay not working after few steps"
There are few addStep I used, however, after step four, the overlay doesn't create an opening around my remaining target element (next step till the end).

![Untitled](https://user-images.githubusercontent.com/63436725/78958783-ab825400-7b1b-11ea-9de6-24cfbe5e7c56.png)

Does anyone know how to solve this problem? Please help :(
Thank you in advance!

[2020-04-10 03:14] rwwagner90 commented on #895
@porespod it sounds like you might be targeting the wrong element. Try targeting the parent of the element you want to target. I'm guessing the elements you are trying to target do not have a width and height and `getBoundingClientRect` is not able to get their dimensions.

[2020-04-10 03:28] porespod commented on #895
But it works well in Microsoft Edge, the previous one using Chrome.

![image](https://user-images.githubusercontent.com/63436725/78959657-395f3e80-7b1e-11ea-8935-b3beaa6d56bc.png)

Anyway, can I change the distance for the popup? As you can see the popup is too near the target element.

[2020-04-10 06:35] porespod commented on #895
But it works well in Microsoft Edge, the previous one using Chrome.

![image](https://user-images.githubusercontent.com/63436725/78959657-395f3e80-7b1e-11ea-8935-b3beaa6d56bc.png)

Anyway, can I change the distance for the popup? As you can see the popup is too near the target element.

[2020-04-10 14:25] sn3p opened #896 "Cancel tour/step when target is clicked?"
I want to close a tour step when the target is clicked. There is no option like `clickTargetAction` or something like that so I'm trying to implement this myself.

My idea was to add a click event listener on step `show` and remove it on `hide`, but this seems to be more complex than I thought. Adding the click listener to the target on show was easy, but I can't find a simple clean way to remove

[2020-04-10 14:52] rwwagner90 commented on #896
@sn3p does the listener need to be removed when the step hides or could it be removed when the whole tour is cancelled or completed?

I would recommend adding the listener on tour start and removing it on tour completion to simplify it a bit.

Another alternative could be to always have the listener on the target, but have a check in the listener that only fires it if a tour is active etc.

[2020-04-10 17:16] rwwagner90 commented on #895
@porespod yes, please use `popperOptions` to set offsets and modifiers.

If something is broken in Chrome, please provide a reproduction, and we can take a look, but it is likely as I mentioned, that you need to target a different element or wrap in a div with the dimensions you want, etc.

[2020-04-10 20:40] chuckcarpenter commented on #863
@IamSachin I'm not seeing that issue. I changed one of the steps in the `welcome.js` file for the landing site in this repo. That step aligns center to the screen and all others work. e.g.,

[code]

[2020-04-11 08:24] porespod commented on #895
Am I doing it the right way? Can you please help me show the correct way @rwwagner90 .
Sorry, I'm still learning :/

![image](https://user-images.githubusercontent.com/63436725/79039029-d0a4be80-7c10-11ea-8795-50550320c52c.png)

[2020-04-12 16:09] rwwagner90 commented on #895
@porespod I'm not sure what you have going on there. `popperOptions` is an option you pass to Shepherd. You should not be importing and using Popper directly. I am also not sure if it supports the syntax you are using or not. Are you following the Popper docs on offset?

[2020-04-12 16:10] porespod commented on #895
Yes, following based on the Popper docs on offset. I don't know how to apply it :/

[2020-04-12 16:11] rwwagner90 commented on #837
@chuckcarpenter thoughts on what to do if the content in the popper is larger than the screen? I think making the max width and height the screen size and making it scrollable might be a sane default, but I am also okay with closing this as wontfix, and requiring people with very large steps to manually style them.

[2020-04-12 16:16] rwwagner90 commented on #895
@porespod use `popperOptions` for Shepherd for the popper options please. It is all documented in the Shepherd docs https://shepherdjs.dev/docs/Step.html.

[2020-04-12 16:23] porespod commented on #895
Like this? or still wrong :/ Sorry, I need an example for me to understand it clearly T.T

![image](https://user-images.githubusercontent.com/63436725/79074069-e3a4b500-7d1c-11ea-8132-d2f5ba618ecd.png)

[2020-04-12 16:55] porespod commented on #895
Hey, thank you for your help! I managed to change the offset already :)

[2020-04-13 01:54] porespod opened #897 "Pop-up appear and disappear"
Hey, I would like to ask, is it possible to make the popup disappear when the user clicked on the text-box, and after the user typed on the text-box, then the popup appears again to next step. Which functions do I need to use if possible? Thank you.

![image](https://user-images.githubusercontent.com/63436725/79085864-ad8f2180-7d6c-11ea-9e4b-ddab6a114ba1.png)

[2020-04-13 09:48] porespod commented on #895
Hey, I still have problem with the overlay :/
No idea what's the problem because the overlay works fine in Microsoft Edge.

[create.zip](https://github.com/shipshapecode/shepherd/files/4468968/create.zip)

[2020-04-13 15:34] rwwagner90 commented on #897
I assume `hide` and `show` are what you are looking for. Please refer to the docs https://shepherdjs.dev/docs/Step.html#hide

[2020-04-13 15:34] #897 closed

[2020-04-14 01:27] rwwagner90 commented on #895
@porespod can you please create a minimal reproduction using something like codepen etc and also tell us what your problem is you are seeing?

[2020-04-14 01:52] porespod commented on #895
https://codepen.io/porespod/pen/bGVVVGq

After few element, it doesn't fully highlight it.
As I said, everything works well in Microsoft Edge but not in other browsers :/

![image](https://user-images.githubusercontent.com/63436725/79177492-82243980-7e35-11ea-8896-12e773eb9a89.png)

[2020-04-14 03:09] rwwagner90 commented on #525
@chuckcarpenter would you want to take a stab at this one?

[2020-04-14 03:11] rwwagner90 commented on #895
@porespod check the console, `The element for this Shepherd step was not found #upload`. The element you are attaching to has to exist.

[2020-04-14 03:12] rwwagner90 commented on #895
Also, your codepen does not run. You cannot use `<script>` tags inside the JS file. It has to be JS.

[2020-04-14 03:18] rwwagner90 commented on #895
Also, do not include popper manually please. You should follow the Shepherd docs. Use https://cdn.jsdelivr.net/npm/shepherd.js@7.1.1/dist/js/shepherd.js and https://cdn.jsdelivr.net/npm/shepherd.js@7.1.1/dist/css/shepherd.css in your global codepen settings to add them and then make sure the codepen functions without console errors. I suspect you have the same issue in your code, where the element

[2020-04-14 03:20] porespod commented on #895
how do i resolve this problem? if doesn't exist the element supposedly not highlighted, but #upload is the first highlighted element.

[2020-04-14 03:31] porespod commented on #895
![image](https://user-images.githubusercontent.com/63436725/79183242-7f304580-7e43-11ea-9a59-15ef1a9b214f.png)

This is how i wrote it in my code editor.

[2020-04-14 04:24] porespod commented on #897
Suppose the next step shows when user finish typing, however once user click any first character, the popup immediately go to next step and user cannot type in previous input form. How do i do this :/

![image](https://user-images.githubusercontent.com/63436725/79185928-dc7bc500-7e4a-11ea-9a40-598565003224.png)

[2020-04-14 08:19] sn3p commented on #896
@rwwagner90 thanks for the fast reply 👍

I prefer tearing down where it makes sense to prevent conflicts like detached event listeners. Think it would make sense to have a single "hide" callback triggered on next/back/cancel/complete.

The problem is some steps might have cancel on target click, and some don't. I don't want to cancel the tour when I click the target of a step other when the active

[2020-04-14 13:58] rwwagner90 commented on #897
@porespod don't use `when`, use `show` and `hide`. You can manually control the tour flow using all the methods.

[2020-04-14 13:58] sn3p commented on #896
Been tinkering some more, and came up with a slightly modified version. Stil not the most elegant but I can live with this 😄

1. Still have all the event listeners to be able to properly teardown when the step hides.
2. Implemented a custom `clickTargetAction` option which is used to check if an action is passed that should fire on target click.

https://codepen.io/snap/pen/gOaaMzW?editors=0010

[

[2020-04-14 14:00] porespod commented on #897
Do you have any real code example that i can look as reference?
I don't really get it by looking at the docs :/

[2020-04-14 14:04] rwwagner90 commented on #896
@sn3p

All cancels should fire cancel. If they do not, please feel free to open a PR to fix if if you have the time!

Seems like it should fire on `hide` correct. Perhaps it's only on tour hide that it gets called. Should definitely look into it.

[2020-04-14 14:05] rwwagner90 commented on #897
@porespod what do you not understand? Call `step.show` and `step.hide` to hide and show the step.

[2020-04-14 14:54] sn3p commented on #896
Could take a look but I can't find the time at the moment. Will open a separate issue for this.

After some testing this is the behaviour I got (by design or maybe not):

1. `step.when.show` is fired on step show
2. `step.when.hide` is fired on `tour.next` and `tour.back` (but not on `cancel` or `complete`?)
3. `tour.on("show", fn)` is fired on every step show (similar to `step.when.show`)
4. `tou

[2020-04-14 16:00] rwwagner90 commented on #896
It's not even fired if you do `tour.hide()`?

[2020-04-14 16:05] sn3p commented on #896
Nope, check the [demo](https://codepen.io/snap/pen/rNOOYQb?editors=0100) and click the `tour.hide` buttons.

[2020-04-14 16:07] rwwagner90 commented on #895
You have to make sure the element exists before trying to use it as a target. You'll want to use something that ensures the page is done rendering, then setup the tour. The timing of this is up to you, not up to Shepherd.

Yes, but it is wrong. First, I have said a few times now, please stop including popper. Remove the popper line please, please! Also, you are required to add the shepherd CSS as

[2020-04-14 16:14] rwwagner90 commented on #896
@sn3p will check the demos later, thanks for creating them! I think, at a minimum, every method should fire its listener. So if `tour.hide` does not trigger `tour.on('hide'` I think that is a bug. Beyond that, which methods trigger all the other things I think is up for debate.

step.cancel() triggers both tour.on("cancel", fn) and step.when.cancel
tour.cancel() triggers only tour.on("cancel", fn)

[2020-04-14 17:53] IamSachin commented on #863
@chuckcarpenter @rwwagner90 I pinpointed the issue. I was setting `popperOptions` through `defaultStepOptions`. That was breaking my steps. All good now
Somehow this never happened with `tetherOptions`

[2020-04-14 21:35] rwwagner90 commented on #863
@IamSachin we have had several different iterations of merging the options, so something definitely could have changed there.

[2020-04-14 21:36] rwwagner90 commented on #863
@sn3p are you interested in working on a PR for your original feature request here or do you think it is just as easy to handle in your app code by creating options with some sort of factory function?

[2020-04-15 08:01] sn3p commented on #863
@rwwagner90 I already gave this a try, but my time is limited at the moment. I'll try to pick it up soon!

[2020-04-15 10:18] sn3p opened #909 "Make defaultTourOptions global?"
related #909

Right now the default tour options are privately defined in the Tour constructor:

https://github.com/shipshapecode/shepherd/blob/9f192adcac2367b370a7c33f2538cbe37f888a05/src/js/tour.js#L42-L45

But let's say I have multiple Tour instances in my app, and I want to disable keyboard support for all of them (like in our case).

Making `defaultTourOptions` static:

[code]

Allows us to o

[2020-04-15 10:35] sn3p opened #910 "Errors in the docs"
Found several errors in the docs:

## Step

There are still several mentions of `tippy` in the docs.

---

arrow | Object | Whether to display the arrow for the tooltip or not.
-- | -- | --

- `Object` should be `Boolean`
- Maybe add the defaults (`true` in this case)?

---

[code]

- First line should start with `const step = new Step(...`
- Replace trailing `'` with `;` on last line
- Same goes

[2020-04-15 10:38] sn3p commented on #813
Would it make sense to prevent the step from rendering when the target is not found?

When `attachTo.element` is explicitly set I'd assume the content is rather specific to the target. So probably would not make any sense to render it's detached from the target.
There is still a `console.warn` which notifies the developer when this happens, which is nice.

[2020-04-15 12:48] rwwagner90 commented on #910
Feel free to open a PR to update these! Thanks for taking the time to identify them.

[2020-04-15 12:50] rwwagner90 commented on #813
@sn3p I wouldn't just show nothing. We would want it to gracefully fail by centering, I believe. My thoughts are keep trying to keep the tour going as much as possible.

[2020-04-15 12:54] rwwagner90 commented on #909
@sn3p I'm not opposed to this. I do think saving a couple lines of code is not really worth putting a lot of time into this though. I would argue, as I did with the request to merge `attachTo.on` of `defaultStepOptions`, that creating a factory function in your app would be just as easy and you have full control over it.

[2020-04-15 13:02] porespod commented on #895
Hey mate, sorry about that. I've removed the poppers line and script tags in JavaScript files and added Shepherd CSS as well. However, the problem still occurs even tho the element exists. Try look at the [demo](https://codepen.io/porespod/pen/bGVVVGq).

[2020-04-15 13:17] rwwagner90 commented on #895
@porespod please create a minimal reproduction. There are far too many other scripts and styles in this codepen. I suspect some of that is interfering somehow. If you are able to reproduce this in a codepen that only includes Shepherd, I would be very surprised.

[2020-04-15 13:18] rwwagner90 commented on #863
I personally still think factory functions in the app are the way to go, rather than supporting overriding and merging all options on everything.

[2020-04-15 13:24] sn3p commented on #863
We could park this for now, feel free to close can always reopen later :)

[2020-04-15 13:33] rwwagner90 commented on #863
@chuckcarpenter thoughts on supporting merging these options vs having people use factory functions?

[2020-04-15 13:33] porespod commented on #895
[Here](https://codepen.io/porespod/pen/bGVVVGq), I have removed scripts and styles that don't affect the view.

[2020-04-15 13:47] #910 closed

[2020-04-15 14:13] rwwagner90 commented on #895
@porespod if you remove this:

[code]

It fixes things. Something in there is conflicting with Shepherd.

[2020-04-15 14:20] porespod commented on #895
Oh yesss! Do you know what might be the things in the CSS that clash with speherd?
Maybe the body or wrapper? Display or position?

[2020-04-15 14:35] rwwagner90 commented on #895
@porespod any of those could be the culprit. I recommend removing a few styles at a time, until you find the issue. Since this is not a Shepherd bug, I am closing this. Good luck!

[2020-04-15 14:35] #895 closed

[2020-04-15 18:12] chuckcarpenter commented on #863
I'd look at a PR, but for the time being seems manageable the way you suggested @rwwagner90

[2020-04-15 18:12] #863 closed

[2020-04-16 02:36] porespod opened #913 "Tour only highlight once"
Hey mate, I have a 'Start Tour' button in my page. However, when a first time tour finished, then I click the 'Start Tour' button again, the tour start again on the first element, but it doesn't highlight.

This is the HTML and JavaScript for the button,

`<button class="btn btn-demo" id="startTour">Start Tour</button>
`

[code]

[2020-04-16 12:55] rwwagner90 commented on #913
@porespod we would need a reproduction. We are not seeing this issue.

[2020-04-16 13:03] #876 closed

[2020-04-16 13:06] #813 closed

[2020-04-16 13:09] porespod commented on #913
I've been trying for several times before but didn't work. Now wanted to show you, suddenly it's working. Sorry mate, thank you for replying me!

[2020-04-16 13:09] #913 closed

[2020-04-16 13:11] rwwagner90 commented on #913
There was a bug around this, that was posted here https://github.com/shipshapecode/react-shepherd/issues/288 but we're unable to reproduce there either. I suspect maybe Shepherd is cached on an older version or something. If you are able to consistently reproduce, please let us know.

[2020-04-17 00:26] rwwagner90 commented on #862
@macsupport any updates here?

[2020-04-17 22:39] chuckcarpenter commented on #525
@Heziode that's a great use case and had us looking in how this could be supported without a big refactor. You can actually use absolute positioning around the colgroup in your table to accomplish this pretty quickly. e.g.,

![image](https://user-images.githubusercontent.com/706378/79619399-967c6680-80c1-11ea-8a72-b9e90401e20a.png)

[2020-04-18 14:10] macsupport commented on #862
Sorry about the delay. I realized I was using code from a previous version
`attachTo: '.button bottom'` instead of `attachTo: { element: '.button', on: 'bottom' },`
Working as it should now.

[2020-04-18 14:10] #862 closed

[2020-04-20 09:16] Senasiko opened #915 "Layout error when has popperOptions"
Reproduce link: https://jsfiddle.net/br8o467m/12/
If have `popperOptions`, the step what has `attachTo` will error
[code]

[2020-04-20 13:11] rwwagner90 commented on #915
@chuckcarpenter I believe this is an issue with `popperOptions` merging. Perhaps since we use a `Set` and the first step is a centered step in that JSFiddle, the subsequent options don't get merged correctly or something.

[2020-04-20 13:15] rwwagner90 commented on #915
@chuckcarpenter this seems to actually be an issue specifically with `defaultStepOptions`. If you put `popperOptions: {}` on the individual steps, the error goes away. I think we need to look at how we're merging these options with `defaultStepOptions.popperOptions` and make sure we have test coverage around all the possible usages.

[2020-04-20 23:08] chuckcarpenter commented on #915
looks like this only happens after you hit a step w/o attachTo, one that's centered, and then all following steps or if you go backwards are broken to position.

[2020-04-21 00:30] rwwagner90 commented on #915
@chuckcarpenter I think it's specific to `defaultStepOptions` though, as it does not happen if you set `popperOptions` on the individual steps. See my previous comment https://github.com/shipshapecode/shepherd/issues/915#issuecomment-616545311

My completely unproven stab in the dark on this would be something with the `Set` or `Array.from`, just since I am unfamiliar with those, but it could also

[2020-04-21 19:19] chuckcarpenter commented on #915
@rwwagner90 correct, I didn't restate that my test was only true if you have `defaultStepOptions.popperOptions`. So, it's that the modifiers from a centered step end up getting inherited by every step thereafter.

[2020-04-22 20:33] rwwagner90 commented on #915
Looks like my fix didn't fix this, but it did ensure we were merging options properly.

[2020-04-23 14:14] Cyclodex commented on #915
Just having the same issue, misplaced steps after the first centered one.
Just for info, when I have the popperOptions modified in the step itself, the options looks like this:
`tour.steps[1].options.popperOptions.modifiers`
![image](https://user-images.githubusercontent.com/840929/80106316-fec3c000-8579-11ea-827c-ff94303d2fc0.png)

in the defaultStepOptions it will now (after your latest changes

[2020-04-23 14:34] Cyclodex commented on #874
We could document it in the cookbook with an example?!
It was very handy for me to just copy paste it from this thread!

[2020-04-23 15:29] rwwagner90 commented on #874
@Cyclodex documenting in the cookbook might be the easiest and quickest option. Would you like to open a PR to add this documentation?

[2020-04-23 15:30] rwwagner90 commented on #915
@Cyclodex yeah, there is definitely some weird timing of setting options going on, I think. Going to look some more over the next couple days and hopefully get a solution working.

[2020-04-23 17:55] Cyclodex commented on #874
Sure, I will try later or in some days.

[2020-04-24 03:46] rwwagner90 commented on #915
Still not fixed. No idea how to fix. Thoughts @chuckcarpenter?

[2020-04-24 17:45] #874 closed

[2020-04-24 17:46] rwwagner90 commented on #874
@Cyclodex I went ahead and added it to the cookbook.

[2020-04-24 21:57] Cyclodex commented on #874
@rwwagner90 Was checking out your project, building etc. and was close to PR it, but saw this one now :) Then next time maybe :) Thanks!

[2020-04-25 00:15] robcalcroft opened #923 "Show individual steps in a tour imperatively and without showing subsequent steps"
I have a tabbed interface and I'd like to show a specific step when the user navigates to each tab, I am currently using `.show(<id of the step>)` to show the step and then in the `action` for the step I run `this.complete()`. However I find that when I invoke `.show()` if the step shown does not show from `showOn` returning false, Shepherd just moves to the next step and shows that. I understand

[2020-04-25 11:59] Cyclodex commented on #896
I have a similar case where I need some more control on "clicking" the target.
But I also see that not everything should go into the tool here, some stuff should probably be handled by the users.
However just to mention what my scenario is:

* I have a tutorial which goes over multiple pages (and this is not a SPA, real page loads).
* I have steps which show the navigation items, which are mostly

[2020-04-25 14:56] rwwagner90 commented on #896
@Cyclodex what are you proposing? I don't think there is a way the library could identify for you which things should do normal clicks and which should not. You would have to handle this in your app code.

[2020-04-25 14:59] rwwagner90 commented on #923
@robcalcroft so you're saying you just want to show tooltips on demand? For that, you probably want something like https://atomiks.github.io/tippyjs/

You could definitely use Shepherd, but if you're never going to do a next or previous step, it makes more sense to use a tooltip library, I think.

[2020-04-25 14:59] #923 closed

[2020-04-27 18:31] Cyclodex commented on #896
No not automatically, but as an option to the addStep(), maybe `clickTargetFunction` which gets executed if set. Not sure.
I was also thinking about having the highlighted area as a link, which covers other links underneath, not sure though.
But as you say, it should probably be just part of the app code...

[2020-04-27 18:45] rwwagner90 commented on #896
@Cyclodex I still do not understand the use case you are describing. If you want a function to execute when you click the target, that should 100% be handled in your app.

[2020-04-27 19:12] Cyclodex commented on #896
The `clickTargetFunction` would be there to override the default action of the whole target, to say "go to next step" for example.
As I said it is just an idea, and I am fine if we put such things into separate app!

Because I use it a lot, I just made kind of helper functions, they might be called factory functions, which return a modified StepOptions, so when you create the Tour, you don't have

[2020-04-27 19:45] Cyclodex commented on #896
I have some helpers like, `createDropdownNavigationStep`, `createNavigationItemStep` which do have some options set and are easily re-usable to create tour steps:

[code]

The `createNavigationItemStep` has some special setup to not just go to the linked page.

1. I need to make sure I save the next steps `id` into LocalStorage
1. Then go to the linked url
1. On the new page, it will read out the

[2020-04-28 03:31] #915 closed

[2020-04-28 03:44] rwwagner90 commented on #915
7.1.5 finally fixes this issue. Please give it a try!

[2020-04-28 14:19] rwwagner90 commented on #812
@chuckcarpenter do we still want to look at this? If not, maybe we should close it?

[2020-04-28 23:43] #812 closed

[2020-04-29 08:38] martijnmichel opened #933 "beforeShowPromise not working on iOS UIWebView"
As stated in topic I can't even print a console message from the promise function, whereas the same code runs fine on Android and on web. (My app is multi platform)

[code]

When I run my quasar app in SPA mode this function works, when running in cordova Android mode it works. BUT when running cordova iOS mode it does not work/fire.

Neither does this version:
[code]

[2020-04-29 08:48] #933 closed

[2020-04-29 09:11] sn3p opened #934 "Content is blocked by "hidden" steps"
When a tour is hidden because the target is not visible on the page (e.g. because of a media query), it is blocking/masking the content behind it. This is because it's still rendered (always in the top-left corner of the document) with just `opacity: 0;`.

Is this a known problem?

### Demo
https://codepen.io/snap/pen/yLYXQmG

### Possible fix
[code]

[2020-04-29 14:09] rwwagner90 commented on #934
Good catch @sn3p! I wonder if we should totally remove the tooltip, rather than just changing opacity. Thoughts @chuckcarpenter?

[2020-04-29 14:10] rwwagner90 commented on #934
I know we used to set `step.el.hidden = true` which does the same as `display: none`. Do you recall why we moved away from that?

[2020-04-29 14:10] rwwagner90 commented on #933
@martijnmichel did you resolve your issue?

[2020-04-29 14:47] martijnmichel commented on #933
yes sorry, new to iOS and needed some tweaks.

[2020-04-29 15:57] chuckcarpenter commented on #934
Looks like it's there still @rwwagner90

https://github.com/shipshapecode/shepherd/blob/master/src/js/step.js#L181

[2020-04-29 16:00] sn3p commented on #934
Maybe to keep opacity transition? Because I think this is lost when an element is initially hidden, but I could be wrong.

[2020-04-29 20:36] rwwagner90 commented on #934
@sn3p as @chuckcarpenter pointed out, we're still setting hidden to true on hide. I think the bug here might be we're not calling that hide on complete?

[2020-04-29 21:02] sn3p commented on #934
@rwwagner90 I see. But in my example the "hidden" step is not really hidden. The parent is hidden but not the step itself. When you make the viewport smaller the step will show up.

So I don't think calling `hide` helps in this case, as the step should not be completed or canceled. Seems we should either check if the element is invisible on the page (e.g. has a hidden parent) or prevent pointer-ev

[2020-04-30 00:05] rwwagner90 commented on #934
@sn3p we currently make the tooltip centered if the element does not exist on the page. In this case, the element does exist on the page, but it is `display: none`. I would not show the step until the element is no longer display none to get around this issue.

[2020-04-30 08:07] sn3p commented on #934
Agreed 👍 It's preferred the step is `display: none;` when it's not shown (initially or on "runtime").

So not only when the step is completed or canceled, but also when **the step's target element, or one of its parents, is initially hidden or becomes hidden**. This is a bit tricky, because you have to check this initially and also if the target element becomes available in time, e.g. using media

[2020-04-30 12:56] rwwagner90 commented on #934
@sn3p I don't think you understood what I was saying. You should not show the step until the element is no longer display none to get around this issue. This is something you would do in your app. In the case you provided. there was no need to show the step at all, since you didn't expect it to show up, so you should handle that in your app accordingly.

[2020-05-01 11:18] sn3p commented on #934
Think I get what you mean: up to the dev to implement this to the needs. Does this mean this is not a bug after all? Or were you referring to the implementation in my case?

I'm curious, what would your approach be in my case? 😄
(_A tour that should only be visible on a certain resolution_)

Because if I understand you correctly (show only when needed), this would require detection if an element b

[2020-05-01 18:58] chuckcarpenter commented on #934
@sn3p yeah, maintaining when it's appropriate to have or show a tour should definitely fall into the app code and this library remains a bit more dumb to those possible changes.

[2020-05-02 01:22] rwwagner90 commented on #934
@sn3p I think what we mean is don't create tour steps you don't want to show up. If you need a separate mobile vs desktop tour, make a separate mobile and desktop tour. The codepen you provided is a case you should never be in. If your elements differ greatly on mobile, and you want to not show the steps on desktop, they need to be completely separate tours.

[2020-05-03 14:29] rwwagner90 commented on #525
@chuckcarpenter should we document your approach here in the cookbook and then close the posibility of highlighting multiple things for now?

[2020-05-04 12:37] #837 closed

[2020-05-04 19:39] akhoury commented on #525
The colgroup solution wouldn't work on multiple rows? say you have a `<tr colspan=x>` which represents a section of the following `<tr>`s, for example

https://codepen.io/akhoury/pen/KKdZVPm?editors=0011

[2020-05-04 20:00] rwwagner90 commented on #525
@akhoury I believe we were saying you can create a div or some absolute positioned element over the thing you want to highlight, and then you can use that as the target, thus highlighting everything.

[2020-05-04 20:50] akhoury commented on #525
ah ok, right. thanks.

[2020-05-06 08:51] sn3p commented on #934
I get your point and agree with it, when you have control over it. But I still think the case of showing or hiding steps/tours when targets get exposed using media queries is different and not easy to accomplish.

@rwwagner90 @chuckcarpenter let me present another case that might want you to reconsider:

https://codepen.io/snap/pen/BaoYNod

[2020-05-06 12:19] martinbroos opened #945 "defaultStepOptions showOn and when option no longer work after update to 7.x"
defaultStepOptions showOn and when option no longer work after update to 7.x, it does work when adding the options directly to the step.

[code]

Is something changed in the way I provide these settings ?

[2020-05-06 12:44] martinbroos commented on #945
For now I resolved this issue by using a constant that i add to each step. Which might just as good.

[code]

[code]

[2020-05-06 14:02] rwwagner90 commented on #945
Hi @martinbroos `defaultStepOptions` should work. We did have some issues that we recently fixed. What version are you on?

[2020-05-06 14:07] rwwagner90 commented on #934
@sn3p when would you not have control over it?

As for this new example, I'm not sure I understand. If you scroll down, still nothing should be clickable because the modal overlay is over the elements.

[2020-05-06 14:33] sn3p commented on #934
That is exactly what makes this a breaking issue for me 😄
I expect when Shepherd hides a step, that the step is not blocking my page.

![cannotclick](https://user-images.githubusercontent.com/935529/81188682-ef029d80-8fb5-11ea-9003-507cfb462afa.gif)

[2020-05-06 17:02] rwwagner90 commented on #934
@sn3p I disagree. The step hides because you have scrolled away from where it points to anything, the tour itself is not hidden, so nothing under the modal overlay should be clickable. Only when the tour is cancelled or completed should that stuff be clickable. You could alternatively disable the overlay.

[2020-05-06 17:46] sn3p commented on #934
@rwwagner90 like I said in my previous comment, I don't use the modal overlay (i.e. `useModalOverlay` is false). It's the step's element that is blocking not the overlay.

Guess we're not going anywhere with this, I rest my case 😆

[2020-05-06 17:52] rwwagner90 commented on #934
@sn3p sorry, I missed where you said it was not the modal overlay. We’ll have to take a look then.

[2020-05-06 18:15] sn3p commented on #934
Kinda similar problem occurs in the demo on https://shepherdjs.dev, where the step actions are still clickable after the step is hidden when scrolling down.

It differs from my demo in that it has a modal overlay, but it also accepts pointer events. This could also easily be fixes `pointer-events: none` or rendering it outside the viewport bounds.

<img width="507" alt="Screenshot 2020-05-06 at 20

[2020-05-07 00:49] rwwagner90 commented on #934
@sn3p I believe I have a fix https://github.com/shipshapecode/shepherd/pull/946 mind taking a look to see if it works for your use cases?

[2020-05-07 12:25] martinbroos commented on #945
I'm using `7.1.5` which is the latest on npm. I only have problems when defining the `showOn` and `when` options. Other defaultStepOptions work as expected. Could you test those options as used in the above example ? Thanks for looking into it.

[2020-05-07 12:54] rwwagner90 commented on #945
@martinbroos can you elaborate on what your default options are, what your step options are and what the expected output is? There is not a deep merge of options, so anything defined in `when` for the step would override the `when` from `defaultStepOptions`.

[2020-05-07 13:01] #934 closed

[2020-05-07 13:24] sn3p commented on #934
Thanks for fixing 👍

[2020-05-07 13:26] rwwagner90 commented on #934
@sn3p you're welcome! Thanks for bringing the issue to our attention.

[2020-05-07 17:29] martinbroos commented on #945
I'm using the defaultOptions to set options that are used for each step. In this case I want to add the step on the show trigger to localStorage so it won't be shown again.

For this i'm using:

[code]

In the steps it self i'm not using the `when` option anymore so there shouldn't be any problems with deep merging.

For the steps i'm using:

[code]

So what I expect is that I no longer have to de

[2020-05-07 19:48] rwwagner90 commented on #945
@martinbroos ah, I see the problem now. It's because we are using `JSON.stringify` to clone the options https://github.com/shipshapecode/shepherd/blob/4afa25d99bbc5394d6bc6c5c00d51c8c8b286259/src/js/step.js#L312

We'll have to add an alternative deep clone method here.

[2020-05-09 17:50] #836 closed

[2020-05-10 22:25] hchiam opened #948 "Using Shepherd.js in a Svelte/Sapper App?"
Anyone got any tips for getting this to work? I'm asking here because I noticed this repo uses [some `.svelte` components](https://github.com/shipshapecode/shepherd/tree/master/src/js), and the docs site itself gives a demo of Shepherd.js. I'm aware of wrappers for React, Vue, etc., but there doesn't seem to be one for Svelte.

For learning purposes, I'm trying to turn a simple React app into a Sv

[2020-05-11 08:27] martinbroos commented on #945
ok nice to see that you already located the problem.

[2020-05-11 12:19] rwwagner90 commented on #948
@hchiam without looking into it further, window not being defined sounds like you are trying to use Shepherd in server side rendering. I would recommend looking at this https://sapper.svelte.dev/docs#Making_a_component_SSR_compatible

Shepherd will only work client side, so you need to make sure it does not try to run on the server.

[2020-05-11 16:53] bytestream commented on #945
This breaks BC for anyone using functions in their `defaultStepOptions`

Might need to use https://www.npmjs.com/package/lodash.clonedeep

[2020-05-12 16:10] lukepolak opened #960 "Can't set scrollToHandler in defaultStepOptions of Tour"
When you set scrollToHandler in defaultStepOptions it gets ignored. After analyzing the source I found out that this is because of this line:

https://github.com/shipshapecode/shepherd/blob/4afa25d99bbc5394d6bc6c5c00d51c8c8b286259/src/js/step.js#L312

JSON stringify deletes key with function in it, because it can't be stringified.

Is this intended behaviour? Or is this side-effect of cloning obje

[2020-05-12 16:38] rwwagner90 commented on #960
@lukepolak this is a duplicate of #945 and there is already a PR open with the fix.

[2020-05-12 16:38] #960 closed

[2020-05-12 17:24] #945 closed

[2020-05-13 01:16] hchiam commented on #948
@rwwagner90 I got it working by using the info at that link. Thanks!

[2020-05-13 01:16] #948 closed

[2020-05-13 01:49] rwwagner90 opened #961 "noop when SSR"
We should look at making this library a noop when not running on the client to avoid SSR errors for people.

[2020-05-13 18:07] imadyaici opened #962 "overlay misbehaviour"
I'm using shepherd-react and I'm getting a strange behavior with the highlighted div, only the visible part on the screen is highlighted while the other part is not, and it stills like that after scrolling

I'm using a basic config four the tour and the steps, unfortunately I can't attach the code because it's a large react app
[here](https://imgur.com/pCP6yJh) is a screenshot of the problem

[2020-05-13 18:26] rwwagner90 commented on #962
@imadyaici the overlay opening recalculates on resize and scroll. If you can provide a minimal reproduction, we can take a look, but I am not seeing this issue on our demo site https://shepherdjs.dev/

[2020-05-13 19:59] rwwagner90 commented on #896
@sn3p @Cyclodex do you have a proposal for a new feature or change to Shepherd here? If there is something small we can add to the library to better support your use case, I am all for it!

[2020-05-13 20:51] goodmorninggoaway opened #963 "Null ref error in makeCenteredPopper"
Version: 7.2.0

If `step.el` is null, there is a null reference error. I can't reproduce this issue in production code, but when running through the tour in integration test with a fake DOM, it get this error. It's not there in `v7.0.4`, so I've reverted.

Note: In a previous version, I incorrectly stated that this was in version 7.1.2

[2020-05-13 22:47] imadyaici commented on #962
@rwwagner90 yeah I checked your website's code (on "landing" folder)

here is my main component that I wrap under the ShepherdTour component,
[code]

and then there is the ShepherdStarter component which starts the tour if the user is new

[code]

one thing that I just noticed is that the "shepherd-modal-overlay-container" is rendered many times, exactly the same amount as the main component rende

[2020-05-13 23:56] imadyaici commented on #962
@rwwagner90 I fixed the problem of the multiple overlays with a HOC

[code]

so now only one overlay element is rendered, but I still have that problem with the highlight not covering all the div

[2020-05-14 11:17] imadyaici commented on #962
I noticed that it's not recalculating the overlay opening size on scroll, it keeps the sizes it gets after the first render

[2020-05-14 14:36] #963 closed

[2020-05-14 14:42] rwwagner90 commented on #962
@imadyaici we actually call `positionModalOpening` in a raf loop https://github.com/shipshapecode/shepherd/blob/master/src/js/components/shepherd-modal.svelte#L131 so it should be constantly updating.

[2020-05-14 14:47] rwwagner90 commented on #963
@goodmorninggoaway fixed in 7.2.1

[2020-05-14 15:03] imadyaici commented on #962
@rwwagner90 yes I know, it was working when I first used the library, but since then a lot of work has been done on the app by me and the other developer (it didn't involve shepherd)
So I feel like there is something blocking the shepherd library from updating on scroll, could you please help me debug this? where should I look? I spent hours on this problem with no success

[2020-05-14 17:51] rwwagner90 commented on #962
@imadyaici are you positive that you are using the right selector for the element you want to highlight? It seems like it might be a CSS issue where the element you are highlighting is just not as big as you expect it to be.

[2020-05-14 17:57] imadyaici commented on #962
@rwwagner90 yes I'm positive about that, the first thing I checked
when using a bigger screen where that div is displayed above the fold at the first render without scrolling it works as expected

[2020-05-14 18:59] rwwagner90 commented on #962
Are you able to provide a small reproduction of the issue please? Since I am not seeing the problem, I am unable to debug.

[2020-05-14 19:25] imadyaici commented on #962
@rwwagner90 In my comment above, there is the code for the main component which is wrapped under "ShepherdTour" and contains a "ShepherdStarter" which starts the tour when the component mounts

these are the tour options
[code]
Unfortunately, I cannot provide all the code since it's a large app

please tell me if there anything else I can provide

[2020-05-14 19:41] imadyaici commented on #962
what I need now, is to know if there is a way to see what's blocking Shepherd from recalculating the overlay opening size when scrolling

[2020-05-14 21:51] rwwagner90 commented on #962
@imadyaici can you please create a small reproduction? Not using React, just using Shepherd and creating something like a CodePen.

[2020-05-14 22:30] imadyaici commented on #962
I cannot reproduce the bug, my code is based on the example you gave here [here](https://github.com/shipshapecode/react-shepherd/tree/master/example) which is working fine on my pc, so I'm really stuck here and I don't know where the bug came from

[2020-05-15 00:12] rwwagner90 commented on #962
@imadyaici without a minimal reproduction to debug with, we cannot help fix it. I would recommend trying again and adding parts of your app back slowly. Use the minimal amount of CSS and JS and try to nail down where the bug occurs.

[2020-05-15 00:18] imadyaici commented on #962
@rwwagner90 sorry for not being able to reproduce the bug, I added react-shepherd on top of an already large application
could you recommend a way to debug the app and see if the recalculation of the overlay opening is working fine or if something is blocking it?

[2020-05-15 00:23] rwwagner90 commented on #962
@imadyaici I would recommend trying again and adding parts of your app back slowly. Use the minimal amount of CSS and JS and try to nail down where the bug occurs.

[2020-05-15 00:24] imadyaici commented on #962
@rwwagner90 thanks I will try removing the user tour code completely and implementing it back slowly like you said

[2020-05-15 00:25] rwwagner90 commented on #962
It could be CSS setting a max height on it, some JS changing the values, really anything. Please let us know when you track it down if there is a bug or not!

[2020-05-15 00:44] imadyaici commented on #962
@rwwagner90 of course, I will let you know about any update

[2020-05-15 02:37] porespod opened #965 "Resize text box"
How do I resize the size of the box based on my content length?

![image](https://user-images.githubusercontent.com/63436725/82007031-c6f0f980-969b-11ea-862c-593f3289356d.png)

[2020-05-15 03:16] rwwagner90 opened #966 "Overflow styles"
The current styles put in place to fix when the tooltip was bigger than the screen make for a less than ideal overflow style. We should possibly revert those changes in favor of people doing custom scrolling styles if they need them. Thoughts @chuckcarpenter?

<img width="393" alt="Screen Shot 2020-05-14 at 11 15 50 PM" src="https://user-images.githubusercontent.com/2640861/82007693-dd199e00-9638-

[2020-05-15 03:16] rwwagner90 commented on #965
@porespod you can style it with CSS to set whatever width you would like.

[2020-05-15 04:03] porespod commented on #965
on .shepherd-element you mean?

[2020-05-15 12:18] rwwagner90 commented on #965
@porespod whatever you would like to style. There are many classes and elements all of which you can style however you would like.

[2020-05-15 12:18] #965 closed

[2020-05-16 01:35] zsarnett commented on #890
@tvvignesh were you able to get this working within Lit?

[code]

I am unable to get this working. A black box is displayed on the screen along with the step but it doesn't seem to style anything as the dialog is still appended to the body of the page...

[2020-05-16 01:55] tvvignesh commented on #890
@zsarnett Nope. This may be difficult to pull off since all the Dom properties are within the shadowroot. Didn't explore further.

[2020-05-16 12:44] tkakar opened #968 "Double Clicking on Next when one step away from tour completion"
Hi,

When I double click on a tour step which is a step before the tour completion, the actions in the last step are not fired.
Can anyone please help in this matter?
Also, is there any way to prevent double-clicking on the buttons?
Thank you.

[2020-05-16 14:56] rwwagner90 commented on #968
@tkakar you could disable the button after clicking. People should not be double clicking the buttons though.

[2020-05-16 14:58] rwwagner90 commented on #890
@zsarnett @tvvignesh I do not know anything about shadow DOM, but at some point, doesn't it have to turn into real DOM for the browser to render?

[2020-05-16 15:00] #525 closed

[2020-05-16 15:06] zsarnett commented on #890
The issue comes in because the doms don't talk back and forth. So because the dialog is attached to the body and not the Modal Container, the dialog doesn't know about anything where I instantiated Shepard. If the Dialog was attached to the modal container as I actually thought would happen then I believe this would work.

[2020-05-16 16:36] rwwagner90 commented on #890
@zsarnett We're using Popper behind the scenes, and it supposedly supports shadow DOM. Can you post a screenshot or better yet a CodePen or something for us to take a look at?

[2020-05-16 17:01] zsarnett commented on #890
https://codepen.io/zsarnett/pen/dyYgZMw

Let me know if this helps. Lit Element is hard to work with in Code Pen. I have ever only done it within TS with Webpack :)

[2020-05-16 22:22] rwwagner90 commented on #890
@zsarnett I tweaked your pen a bit and it seems to work, unless I am missing something? https://codepen.io/rwwagner90/pen/jObexOY

[2020-05-17 02:29] tvvignesh commented on #890
@rwwagner90 Interesting. I expanded your codepen to try nested components upto 3 levels and it worked - guess I was doing it wrong (don't recollect). Seems to be perfectly working if shadowRoot is passed to the component.

My edited pen here: https://codepen.io/tvvignesh/pen/mdezKzQ

@zsarnett Maybe what @rwwagner90 would work for you.

[2020-05-17 02:53] zsarnett commented on #890
Planning to look at this tomorrow it's interesting how the css is affecting out side the Dom. Really awesome! Thank you

[2020-05-17 16:03] zsarnett commented on #890
Ah I see. You pulled in the external style sheet into the pen to add the style globally to the page. This is not really a solution. The goal with Lit Element is to keep everything located at that dom level. Meaning that the dialog be appended inside the modalContainer. and therefore any style added at that dom level would be applied. Adding the CSS is a large project to always be there on the base

[2020-05-17 22:15] rwwagner90 commented on #890
@zsarnett feel free to include the styles conditionally if you wish. The CSS is not large at all though, so I wouldn't think it would be a big concern here.

[2020-05-18 16:35] brunoMachado92 opened #978 "Wrong behavior when not providing "on" value for "attachTo" for the second element"
Hello,

i'm experiencing an issue. When defining a tour, at the beginning i'm setting the array of steps.
The first step and "element" and "on" on the attachTo, but the next one only has the "element".
What's happening is that an arrow appears on the top left corner:
![image](https://user-images.githubusercontent.com/13498580/82237594-cff8f980-992d-11ea-9f80-ed8653ea58eb.png)

Here's the full code

[2020-05-18 21:27] rwwagner90 commented on #978
Thanks for the bug report! I believe #979 should fix this.

[2020-05-18 21:42] #978 closed

[2020-05-19 09:54] jessielaf opened #980 "Modal overlay not matching the step's position"
Hi,

I am working on implementing shepherd but the modal overlay is not on the same position as the step is. See
![chrome_y1YbkaTRgx](https://user-images.githubusercontent.com/23742276/82312316-2a926400-99c7-11ea-81ef-a577ec71d703.png). The black box at the end of the navigation is de modal overlay.

The svg is also placed above the step in the HTML. See
![chrome_SJxOtYdJSu](https://user-images.gi

[2020-05-19 11:50] rwwagner90 commented on #980
@jessielaf are you including shepherd.css? It is required for styles to work.

[2020-05-19 12:50] jessielaf commented on #980
Yes you are totally right! My bad

[2020-05-19 12:50] #980 closed

[2020-05-19 15:30] rwwagner90 commented on #968
@chuckcarpenter thoughts on disabling pointer-events or something once a button has been clicked and enabling again when the next step shows? I feel like maybe this should just be a cookbook thing.

[2020-05-19 15:33] jhanemonares commented on #306
Uncaught TypeError: Cannot read property 'Tour' of undefined

got this error , i used the code above.

Anyone can help.
Thanks

[2020-05-19 15:33] tkakar commented on #968
I solved this problem by adding a dummy step (n+1) after and similar to the last step (n) in case someone double clicks on step n-1.

[2020-05-19 15:35] jhanemonares commented on #306
require.config({
	//By default load any module IDs from js-folder
	"baseUrl": "my link on my shepherd.js",
	"paths": {
		"shepherdTour": "shepherd"
	}
});

require(["shepherdTour"], function (Shepherd) {

	console.log("Tippy and Shepherd Tour loaded");

	initShepherdTour(Shepherd);
});

initShepherdTour = function(Shepherd){
	console.log("initShepherdTour() called");

	const tour = new Shepherd.To

[2020-05-19 15:48] rwwagner90 commented on #306
@jhanemonares we don't use tippy anymore, but everything should work just importing shepherd.js and shepherd.css. You should be able to use `import`, `require`, `script` tags, whatever you want.

[2020-05-19 15:50] rwwagner90 commented on #968
@chuckcarpenter perhaps we could also add `debounce` to `next` and `previous`? That should keep the tours from skipping through multiple steps if someone clicks a button a bunch.

[2020-05-20 01:49] jhanemonares commented on #306
@rwwagner90  it seems that it cannot find the tour function, I used it using php with typo3 framework.
Can you help me about this?
Thanks.

[2020-05-20 03:32] rwwagner90 commented on #306
@jhanemonares You can import, require, or use a script tag. Any should work. If you are using PHP, you probably do not have a JS build tool like Webpack or Rollup or anything, so you probably want to include it with something like `<script src="https://cdn.jsdelivr.net/npm/shepherd.js@7.2.0/dist/js/shepherd.js"></script>` and include the styles with `<link rel="stylesheet" href="https://cdn.jsdeli

[2020-05-20 04:50] jhanemonares commented on #306
@rwwagner90  got it now.
Thanks :)

[2020-05-22 15:44] #909 closed

[2020-05-24 16:37] rwwagner90 commented on #804
Let's not do this. Tried for several hours, and it's not worth it.

[2020-05-24 16:37] #804 closed

[2020-05-24 16:40] #966 closed

[2020-05-26 21:11] NevenLiang commented on #400
@rwwagner90 Hi, I am using [angular-shepherd](https://github.com/shipshapecode/angular-shepherd). I can't find `#shepherdModalMaskOpening` selector on the webpage when the tour is started. Is any updates on it?

![image](https://user-images.githubusercontent.com/52629607/82949903-fc201480-9fd6-11ea-936a-2685ffc4535b.png)

My problem is that there is a little gap between mask and target element. I

[2020-05-26 22:12] chuckcarpenter commented on #968
@tkakar can you give me more specifics to your use case? I'm looking at it on the demo site, https://shepherdjs.dev/, and can't really replicate the issue. If I double click, the tour actions fire to move forward and end the tour. Perhaps a https://codesandbox.io/ if it's complicated? I just want to make sure a debounce would be enough.

[2020-05-27 14:44] rwwagner90 commented on #400
@NevenLiang you can set the padding and radius with the options here https://shepherdjs.dev/docs/Step.html `modalOverlayOpeningPadding` and `modalOverlayOpeningRadius`. Are those not working for you?

[2020-05-27 17:16] NevenLiang commented on #400
Yes, it works. Thank you!

[2020-05-27 17:35] rwwagner90 commented on #968
Hmm, yeah it does seem it is not possible to reproduce on the demo site, so I am not sure what is different.

[2020-05-27 17:47] tkakar commented on #968
@chuckcarpenter @rwwagner90 Thanks for responding to my question. I don't know what exactly is creating the issue, but I will try to elaborate on my use case. The tour in my system is guiding people about a certain button click or dropdown. So some of my tour.next() is happening outside the tour step addition (in the code when button click is fired). Double click on the next button in the tour wor

[2020-05-28 02:15] olucasu commented on #103
var tour = new Shepherd.Tour({
       useModalOverlay: true,
  });

They forgot to set this option in the DEMO.

[2020-05-28 12:28] weldonla commented on #67
For anyone finding this in the future, you can find the proper names for complex placement options here:
https://popper.js.org/docs/v2/constructors/#options

[2020-05-28 12:43] rwwagner90 commented on #67
@weldonla This isn't really the best place for that. We're no longer using Tether, which this issue was about. If you think the Shepherd docs are lacking, we should update those directly.

[2020-05-28 12:45] rwwagner90 commented on #103
@olucasu we did not forget. The overlay is in use on the demo https://shepherdjs.dev/

[2020-05-28 12:51] weldonla commented on #67
@rwwagner90 Sorry about that. I was unaware. I was only posting that here because my searches for how to place the popper in shepherd landed me here. The documentation could use being updated. In the current documentation, it's unclear how to use 'on:' to place anything other than top, bottom, left, and right. Thanks for the quick reply.

[2020-05-28 13:00] ricardograca commented on #103
It's in the code that the page itself uses, but it's not in the example code:

[code]

[2020-05-28 13:02] rwwagner90 commented on #67
@weldonla would you be interested in opening a PR?

[2020-05-28 13:13] weldonla commented on #67
@rwwagner90 Potentially. Do you mean for me to make the changes to the documentation and put in the pr?

[2020-05-28 14:53] rwwagner90 commented on #103
@ricardograca yes, the example is not meant to have every option listed. The docs list all the options.

[2020-05-28 14:56] rwwagner90 commented on #67
@weldonla yes. If you think the docs need more info, please feel free to add it!

[2020-05-28 19:16] rwwagner90 commented on #968
@tkakar can you please create a codesandbox or CodePen or something with a small reproduction?

[2020-05-28 19:38] weldonla commented on #67
I made the changes that I think would be good to add in the documentation and created a new branch, but it won't let me push. If you could hook me up with permissions, I can submit this as a pr.

[2020-05-28 19:39] rwwagner90 commented on #67
@weldonla you’ll have to fork the repo, then submit a PR.

[2020-06-01 01:19] jhanemonares opened #985 "Shepherd js not attached to the parent document"
<html>
<head>
  i add here the shepherd js.
</head>
<body>
  <iframe>
     <html>
     <head></head>
     <body>

     </body>
</html>
</iframe>
<iframe>
     <html>
     <head></head>
     <body>
         but it can  only use here.
     </body>
</html>
</iframe>
</body>
</html>

[2020-06-01 01:21] jhanemonares commented on #985
i want shepherdjs can be used to thwe whole document. not only in the iframe.
Anybody can help?
 Thanks..

[2020-06-01 01:28] jhanemonares commented on #985
@rwwagner90 need some help :)
Thanks.

[2020-06-01 01:32] rwwagner90 commented on #985
@jhanemonares can you please describe in more detail? Shepherd is used in the whole document but if you're including it in an iframe and hoping it will somehow escape the iframe, that is not how iframes work.

[2020-06-03 13:16] WORMSS opened #994 "Official way to get the element?"
Hello, I am upgrading our code from v5.0.1 to v8.0.1

This is what I we used to have (wrote by another dev)
[code]
![image](https://user-images.githubusercontent.com/1384537/83640738-77b82d80-a5a4-11ea-87be-293006545596.png)

I am just upgrading to the latest and I couldn't find a way to get the element in the API
But I did manage to find this.el when inspecting the object.
[code]
![image](https:/

[2020-06-03 14:03] rwwagner90 commented on #994
Hi @WORMSS are you looking to get the element the popper is attached to or the popper element itself? I believe `step.el` is the popper element itself, and I *think* there might be a `step.target` as well, but we may have gotten rid of that.

[2020-06-03 14:12] WORMSS commented on #994
I couldn't see them here.
https://shepherdjs.dev/docs/Step.html
So it made me think I was just looking at some internal variable that could disappear at a moments notice

[2020-06-03 14:14] rwwagner90 commented on #994
@WORMSS it is internal, but I wouldn't mind making it public API and/or exposing a getter for it. The only reason it wasn't public was because we didn't think anyone would need to use it for anything.

[2020-06-03 14:16] WORMSS commented on #994
👍 I can live with that.. Thank you very much.

[2020-06-03 14:18] #994 closed

[2020-06-03 14:21] rwwagner90 commented on #994
@WORMSS would you like to open a PR to add it to the docs as public API?

[2020-06-03 14:26] WORMSS commented on #994
I will have a quick look. I am currently adding a slightly related/unrelated PR

[2020-06-04 06:08] arepp23 opened #997 "Page navigation mid-tour?"
Is it possible to navigate to another page during a tour? I cannot find anything referencing this in the documentation.

[2020-06-04 14:36] rwwagner90 commented on #997
@arepp23 yes, there have been many questions about this in the issues. Depending on your app setup, you can use a single tour, and have the `beforeShowPromise` resolve when your route transition is done, or if your app doesn't allow something like that, you can stop the tour, and either start it again, create a new tour on the new page, etc.

[2020-06-04 14:38] #997 closed

[2020-06-08 21:14] rwwagner90 opened #1005 "Update to node 12"
We cannot update past node 10 until this issue is fixed https://github.com/rspieker/jest-transform-svelte/issues/18

[2020-06-09 01:34] #1005 closed

[2020-06-09 10:58] ChenYCL commented on #985
i guese i get the same issue in here，when i located to DOM by  ```attachTo:{element:'#step',on:'top-start'}``` , it's hard to close to,can i use css overlay the config ?
![image](https://user-images.githubusercontent.com/25706676/84139536-45ae3c00-aa7a-11ea-8756-04209cc0b878.png)

[2020-06-09 13:29] rwwagner90 commented on #985
@ChenYCL you can certainly tweak the positioning, but it shouldn't be that far away. Can you please create a small reproduction of the problem perhaps a CodePen or CodeSandbox?

[2020-06-09 15:30] ChenYCL commented on #985
@rwwagner90 Hi, i created a demo on CodeSandbox, when located .steps classname, the previous node step modal not disappear,  and i click start button secondly,  the next button not work.
link : https://codesandbox.io/s/angry-silence-elvmu?file=/src/App.js

[2020-06-09 16:06] rwwagner90 commented on #985
@ChenYCL it sounds like you are doing something incorrectly. I see you are using react-shepherd, I would recommend seeing if @chuckcarpenter is able to help here. This behavior sounds like you have two tours going. You must just have one.

[2020-06-20 16:12] #896 closed

[2020-06-21 02:12] #962 closed

[2020-06-24 20:55] kpulkit29 commented on #103
Thanks a lot!! This really helped.

[2020-06-26 18:23] rwwagner90 commented on #876
@samywang92 the `classPrefix` is only added to those elements, but it will work for what you want to do. For example, you would do something like this:

[code]

Each individual step also has the `classes` option if you need to style certain steps differently.

[2020-06-26 18:45] samywang92 commented on #876
@rwwagner90 Thank you for the swift reply! I tried your example and it did not work for me.  I examined the elements and it seems that only my targeted element gets the `tour-dashboard-shepherd-enabled` class.

Unfortunately my step does not.  It gets the `tour-dashboard` added to the step-id but not to shepherd-enabled.
[code]
I tried using `classes` on the step but setting background-color chang

[2020-06-26 18:49] rwwagner90 commented on #876
@samywang92 I don't understand. `shepherd-enabled` is a wrapper for all steps. To change the `shepherd-header` style you'll want to do what I suggested.

[2020-06-26 18:56] rwwagner90 commented on #876
@samywang92 here is a CodePen https://codepen.io/rwwagner90/pen/ExPvWgX

[2020-06-26 19:15] samywang92 commented on #876
I have the same settings as your codepen however I couldn't get it to work with classPrefix.  I was able to get it to style by adding a custom class name to `defaultStepOptions` since it applies to the parent of shepherd-header and styled accordingly with css though!

Maybe its something with vue/nuxt? Not exactly sure but thank you for your assistance!

[2020-06-26 19:29] rwwagner90 commented on #876
@samywang92 with the same settings, it should work the same way. The JS framework should not matter. Please make sure to match the setting sup exactly, and if it does not work, please provide us with a reproduction.

[2020-06-26 19:51] samywang92 commented on #876
Using Nuxt: 2.10.2
Vue-shepherd: 0.2.1

Set up with a `shepherd.js` Nuxt plugin:
[code]
nuxt.config.js:
[code]

css:
[code]
component within mounted():
[code]

[2020-06-29 14:20] rwwagner90 commented on #876
@samywang92 seems like that should be okay. What's the problem with it?

[2020-06-29 16:09] te1 opened #1023 "Doesn't work in Microsoft Edge (EdgeHTML 18)"
Open https://shepherdjs.dev/ in Microsoft Edge and you can't access the demo because of a syntax error in the script.
`SCRIPT1028: SCRIPT1028: Expected identifier, string or number`

The problem is the `...popperOptions` object spread in the code below which is not supported in the (old) EdgeHTML 18 version.
https://caniuse.com/#feat=mdn-javascript_operators_spread_spread_in_object_literals

Your

[2020-06-29 16:58] samywang92 commented on #876
[code]
Styling shepherd-header with `classPrefix` does not work.  The background is the default grey.

[2020-06-30 12:36] rwwagner90 commented on #876
@samywang92 that does not tell us much. We would need to know is the classPrefix not added or something are your style selector wrong, etc. Like what is the actual problem? If you can make a reproduction on CodePen or CodeSandbox or something, we can help you debug, but since my CodePen works, I would compare all the things and see what's going wrong.

[2020-06-30 12:41] rwwagner90 commented on #1023
@te1 I think Chromium Edge would be the only supported type of Edge. We only want to support the last couple versions. We dropped IE as well, and non-Chrome Edge I think is going to fall into the same category of not being supported. That being said, if adding `Edge 18` does not increase the bundle size much, I wouldn't mind adding it, we just wouldn't be officially supporting anything but the las

[2020-07-01 08:03] kesalomamatka opened #1024 "Is it possible to add text in footer?"
Hi, from the documentation it is possible to add text in the body and title in the header, could I ask is it possible to add text in the footer to count the steps? e.g. step 1 of 999+.
Looking forward to hearing from you and thanks in advance!
![image](https://user-images.githubusercontent.com/47401827/86219138-71f53e00-bb8a-11ea-8938-bce1acef3e99.png)

[2020-07-01 09:35] kesalomamatka opened #1025 "action `this` context is incorrect in TS"
When I try the demo of Shepherd, inside `addStep()`

[code]

In  " return this.next();" it shows an error ->
"Property 'next' does not exist on type 'StepOptionsButton'.ts(2339)"

Can you give me some advice about this issue?

![image](https://user-images.githubusercontent.com/47401827/86228633-47f64880-bb97-11ea-8d4f-2852705a3661.png)

[2020-07-01 10:11] kesalomamatka commented on #985
@rwwagner90 got the same issue with  react-shepherd, I was following the documentation, but it seems that it created two tour

[2020-07-01 12:20] te1 commented on #1023
The difference in JS bundle size is very minor. As I don't have Java installed the Closure Compiler part didn't work for me. CSS order seemed changed for me but the content was the same.

Current
[code]

With Edge 18
[code]

[code]

[2020-07-01 15:21] rwwagner90 commented on #985
@kesalomamatka I only see one place a tour is created https://github.com/shipshapecode/react-shepherd/blob/1f6c1d08149259410971f0aff238bfe1ece21072/src/index.tsx#L62

@chuckcarpenter can you look into this CodeSandbox? I know with Angular's service we had an issue where we had to make sure it was a singleton, so it didn't make a new tour every time it was called. Maybe we have a similar issue here

[2020-07-01 15:22] rwwagner90 commented on #985
I'm not sure if @kesalomamatka and @jhanemonares have the same issue or not, since @jhanemonares was talking about iframes.

[2020-07-01 15:25] rwwagner90 commented on #1025
@kesalomamatka that error seems correct. There is not a `next` on `StepOptionsButton` and there should not be. `action` does get bound to the `tour` for the `this` context, so sounds like we need to account for that in the types.

[2020-07-01 15:29] rwwagner90 commented on #1023
@te1 would you like to open a PR adding it? That bundle size difference seems fine to me.

[2020-07-01 15:31] rwwagner90 commented on #1024
No, the footer does not have an option to add content, however you should be able to use HTML and CSS to achieve this. You can put any HTML into the body and absolutely position it to put it where you want it.

[2020-07-02 06:43] kesalomamatka commented on #1024
aha, thanks for the reply, will try it now

[2020-07-02 06:43] #1024 closed

[2020-07-02 06:45] kesalomamatka commented on #1025
Hi, it works after change this.next() to tour.next(), my bad

[2020-07-02 14:19] rwwagner90 commented on #1025
@kesalomamatka it is a bug. `action` is bound to the `tour` as the `this` context. We need to figure out how to fix it.

[2020-07-02 14:20] #1023 closed

[2020-07-03 14:53] Hypher opened #1027 "scrollTo a SVGElement wont scroll"
Hello,

For the scroll behavior, you are using https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView by default. It is implemented on Element but the `isElement` function of type-checks compares against HTMLElement and not Element or SVGElement :
https://github.com/shipshapecode/shepherd/blob/356e3859df550bb55cf6a25c9be36a1b6f4ca3e2/src/js/step.js#L289-L294

Thus, scrolling to a

[2020-07-04 12:54] rwwagner90 commented on #1027
Thanks for reporting this issue! Would you be interested in submitting a PR with the fix?

[2020-07-05 04:27] #968 closed

[2020-07-05 20:20] Hypher commented on #1027
Oops sorry this is my first PR, I suppose I should have let you check it before?

[2020-07-06 08:32] Hypher commented on #1027
Ok I think I made a PR on my own fork, which closed the issue... Sorry for that.

So I made a new PR (#1028) on your master.

[2020-07-06 20:27] chuckcarpenter commented on #985
@ChenYCL I forked your sandbox and the issue is gone once you don't use react strict mode. e.g.,  https://codesandbox.io/s/cocky-goldstine-go5f6?file=/src/App.js

Your sandbox has a console error, that might point to why it was failing for you.

![image](https://user-images.githubusercontent.com/706378/86638459-2d074800-bf8c-11ea-87c8-8151c1a91c4a.png)

@kesalomamatka if you share you link, I'm ha

[2020-07-06 20:27] #985 closed

[2020-07-10 02:44] #1027 closed

[2020-07-10 14:51] MelisaDurmaz opened #1041 "Trying to trigger custom action doesn't work when navigating with keyboard"
Hi, I'm trying to set up Shepherd.js for a user tour functionality and came across a bug which I'm not sure how to fix.

I am trying to create custom actions on 'next', 'back' etc. - this works perfectly fine when navigating on click but when i use my keyboard arrows to navigate these actions don't work.

You can see the example code [here](https://codesandbox.io/s/tender-dew-1yxzh?file=/src/App.v

[2020-07-10 18:00] dvago opened #1042 "attachTo doesn't keep in mind triggered events that create new DOM elements before step "show""
Hi there,

First of all I wanted to thank you for sharing this great library.

I'm currently facing a problem attaching steps to DOM selectors which are contained in components not available on document ready.

Please have a look at the sandbox url below for better understanding but basically it appears that the `attachTo` attribute doesn't take in consideration events triggered before the step ki

[2020-07-10 19:12] rwwagner90 commented on #1042
@dvago you have to wait until your element exists before showing the step.

[2020-07-11 11:52] IamSachin opened #1043 "Question: Is it possible to disable keyboard by step options just for steps."
Something like: `blockKeyboard: true` on step options

[2020-07-11 17:02] rwwagner90 commented on #1043
You can set `keyboardNavigation` to false on the tour.

[2020-07-11 17:11] IamSachin commented on #1043
I am currently using it for the tour. But my question is about blocking keyboard navigation on a particular step.
Let's say if the user reaches step 4, I don't want him to be able to go to step 5 by keyboard

[2020-07-12 01:07] rwwagner90 commented on #1043
@IamSachin I think maybe if you set `tour.options.keyboardNavigation` to false in `beforeShowPromise` and then set it back to true after you have moved away from the step, that might work?

[2020-07-12 08:47] IamSachin commented on #1043
That helped. Thanks Robert. I did something like this:
`
        step.when = {
          show: () => {
            this.tour.options.keyboardNavigation = false;
          },
          hide: () => {
            this.tour.options.keyboardNavigation = true;
          }
        };
`

[2020-07-12 09:01] #1043 closed

[2020-07-12 14:07] rwwagner90 commented on #1041
Currently, the keyboard navigation calls next and previous directly, it does not click the buttons https://github.com/shipshapecode/shepherd/blob/7551ae548c8327af2217774b65ccc32d1342718e/src/js/components/shepherd-element.svelte#L105

What exactly are you trying to accomplish here? You can potentially use events to do whatever you are trying to do.

[2020-07-13 09:01] dvago commented on #1042
@rwwagner90 it doesn't seems to be working for the described case, would you mind explain your comment with an example please?

Keep in mind that the issue described by the code sandbox link is something like the below,
where the tour starts with a UI that doesn't contain all the components and step by step things gets toggled and components gets generated on demand:

![shepherd-toggle](https://us

[2020-07-13 16:34] rwwagner90 commented on #1042
@dvago you must make sure the element you want to attach to exists before you start the tour.

As for subsequent steps, use `beforeShowPromise` to wait for the element you want to attach to to exist.

[2020-07-14 09:53] dvago commented on #1042
Thanks @rwwagner90 for coming back, would it be possible to get an example about this `beforeShowPromise` hook.

I've tried to implement it but it does seems like the `beforeShowPromise` is not running before the single step.
As far I can see the `beforeShowPromise` triggers on "tour start" which means it can't cover the issue described where components are loaded during the tour steps.

[2020-07-14 14:41] rwwagner90 commented on #1042
@dvago `tour.start` shows the first step. Step 1 to fix your issue is make sure the element the first step attaches to exists before calling `tour.start`.

Then if elements are constantly changing and you are unsure if they will exist then the tour is advanced, you can use `beforeShowPromise` to check for the element, then once you are sure the element exists, resolve the promise and continue with

[2020-07-14 14:53] rwwagner90 commented on #1042
@dvago I fixed your example https://codesandbox.io/s/sheperdjs-programmatically-trigger-events-before-step-load-w59ei?file=/src/App.vue

[2020-07-14 23:26] cyremur opened #1055 "showCancelLink is given in example but undocumented"
In the Readme.md, the example `steps` definition gives the attribute `showCancelLink: true`. This is neiter defined in the `StepOptions` typing nor mentioned in the official Shepherd JS documentation. What does it do?

[2020-07-14 23:39] rwwagner90 commented on #1055
If you search the repo for it, you can see it's been renamed to `cancelIcon`. https://github.com/shipshapecode/shepherd/search?q=showCancelLink&unscoped_q=showCancelLink

[2020-07-14 23:39] #1055 closed

[2020-07-14 23:40] rwwagner90 commented on #1055
We should probably update the screenshot.

[2020-07-15 05:16] cyremur commented on #1055
@rwwagner90 I meant to raise this in the React version of Shepherd, where showCancelLink is still used in the example steps. Apologies. I made a PR for the README change.
https://github.com/shipshapecode/react-shepherd/pull/397

[2020-07-15 16:56] dvago commented on #1042
Thank you @rwwagner90 for the example, it's solving my issue.

Really appreciated

[2020-07-16 13:41] rwwagner90 commented on #1042
@dvago now that you have a working solution, if there were some better docs or examples we could have had, please let us know and/or submit a PR to update them.

[2020-07-17 05:23] cyremur opened #1056 "Feature request: Move `useModalOverlay` to step options"
SUGGESTION

For a tour I'm implementing, I would like to remove the Modal Overlay for a certain step so that the user can freely navigate the interface while still having a hint that points at the element the user needs to interact with. In other steps, I still want to use the Modal Overlay to limit the users options.

Feature request:
Move `useModalOverlay` from `tour.options` to `tour.options.de

[2020-07-17 12:30] rwwagner90 commented on #1056
I'm not sure how this would work for users who want the modal for the whole tour. If we were to only add the overlay on step show, I think there would be a noticeable flash between steps, but I could be wrong. Would you be interested in taking a stab at implementing this @cyremur?

[2020-07-17 21:48] cyremur commented on #1056
I currently don't have the time availability to contribute more than typings unfortunately. Maybe some time in the future as this is no pressing issue with the workaround.

[2020-07-23 02:02] morenoh149 opened #1066 "Ask user before going into tour"
Not sure if this has been answered before. Is there a way to ask the user before beginning the shepherd tour? Its jarring to the user to begin a tour without asking first. The answer should be stored in client-side state and there should be some banner that occasionally reminds the user to do the tour, say a week from the answer.

[2020-07-23 02:04] rwwagner90 commented on #1066
@morenoh149 sure, just wire up your own modal to ask the user, and if they accept, call `tour.start()`

[2020-07-23 02:04] #1066 closed

[2020-07-23 15:40] morenoh149 commented on #1066
I came up with something like this, not a banner but does use client-side state.
[code]
Some extra stuff would be to delay this until the user has scrolled + 1 second.

[2020-07-28 12:59] thaysthays opened #1073 "Question: a way to add a border to the overlay?"
I was wondering if there's any way to add a border to the overlay, sort of like this:

![image](https://user-images.githubusercontent.com/31634817/88667926-57927f80-d0b8-11ea-8a84-8d81d13e4661.png)

[2020-07-28 14:38] rwwagner90 commented on #1073
I think you would need a custom overlay for this. We support padding and border radius, but not adding other styles. Maybe try CSS?

[2020-08-03 00:48] sitrobotsit opened #1076 "shift + tab on init breaks out of tour modal"
Replication steps:

1. Load tour
2. Use the keyboard to select SHIIFT + TAB

Expected behaviour; focus should be contained within the tour box.
Actual behaviour; focus breaks out of tour box and to the last element on the page.

This behaviour is replaceable here https://shepherdjs.dev/

[2020-08-03 13:37] thaysthays commented on #1073
Thanks! I’ll fiddle with the CSS a bit and see what I can do

[2020-08-03 13:37] #1073 closed

[2020-08-04 07:23] AmineMissaoui commented on #437
Hi @rwwagner90
I'm having the same issue with ie11, is the plugin still working on this browser?
Many thanks

[2020-08-04 11:43] rwwagner90 commented on #437
@AmineMissaoui no we do not support IE. You will have to ship all your own polyfills if you want to support it.

[2020-08-04 17:25] AmineMissaoui commented on #437
@rwwagner90 how can i do that ? I'm not using a framework just js code.
Thanks

[2020-08-04 17:34] rwwagner90 commented on #437
@AmineMissaoui you will have to use babel, which you should be using anyway if you are supporting IE.

[2020-08-11 13:16] shepmaster opened #1097 "README image still refers to Tippy"
![image](https://user-images.githubusercontent.com/174509/89901504-2c795700-dbb3-11ea-93fc-e4fefb18f48d.png)

Looks like this is `https://shepherdjs.dev/landing/assets/img/demo.png`

[2020-08-11 13:38] rwwagner90 commented on #1097
@shepmaster yeah, we need to upload a new image of https://shepherdjs.dev/. Would you be open to submitting a PR?

[2020-08-17 11:26] #1097 closed

[2020-08-25 14:09] alexd16 opened #1118 "[Feature Request] Provide tour (or step) object as an argument to the beforeShowPromise"
hey,

I need to do some conditional step navigation and right now the best place I see to put that logic is in the _beforeShowPromise_. It allows me to check if a given ui elements is present or not and execute some code for each specific case.

The problem is that I am using the react integration and there isn't really a good way to have access to the tour object from within the steps definition.

[2020-08-25 14:12] rwwagner90 commented on #1118
@alexd16 you can get the tour via `Shepherd.activeTour`. Would that work? I'm also not opposed to adding the tour and/or step as args to the promise.

[2020-08-25 14:36] alexd16 commented on #1118
hey @rwwagner90, thank you for the quick reply.

That would actually solve my problem, but I don't this it works well with the react-shepherd integration (or for any of the other framework integrations I assume)
I tried this:

[code]

This didn't work for me, and I think it's because the tour is being created from the react-shepherd module.
Would it be possible to do this in another way?

As far a

[2020-08-25 17:11] rwwagner90 commented on #1118
Wouldn't it be something like `ShepherdTour.tourObject`? Just guessing looking at https://github.com/shipshapecode/react-shepherd/blob/master/src/index.tsx#L63

[2020-08-25 18:42] alexd16 commented on #1118
I don't think I can access it directly. The way the ShepherdTour is setup, only children components of the ShepherdTour will have access to the tourObject using the useContext hook or using the Context Consumer api.

This really limits any access to the tourObject from the steps definition.

The tourObject is not a property on the ShepherdTour, so I can't really do ShepherdTour.tourObject

I can d

[2020-08-25 18:56] rwwagner90 commented on #1118
@alexd16 I don't really do React myself, so I don't have suggestions here. I do think tweaking the React wrapper to make it easier for you to get the tour is what we want though. Would you like to open a PR there?

[2020-08-27 09:49] K20 opened #1120 "How to update step before it is displayed ?"
We are working on a back end solution to generate sheperd tours. An user could generate a tour, and the tour would be available for other users.

Therefore, since our tour is not written directly in javascript, we would like to perform some automatic actions based on default step options.

**First need :**
We would like to dynamically set buttons on a step, if the step is the final step, we would

[2020-08-27 13:25] rwwagner90 commented on #1120
@K20 all of this should be possible.

1. `beforeShowPromise` should probably work. You have to return a promise in `beforeShowPromise`, when `resolve` is called on the promise, the step will proceed with showing.

2. There are step events and the `when` option for doing things before or after show, hide, etc. https://shepherdjs.dev/docs/tutorial-02-usage.html

[2020-08-31 13:06] #1076 closed

[2020-08-31 15:02] K20 commented on #1120
Thanks a lot, i was looking for an "event" section, didn't know events where explained in usage, my bad.

Is there a simplier way to know which step index we are currently using ?

I've came with this solution :

[code]

[code]

Then before displaying each step, I display with beforeShowPromise, either Back, Next or finish button.

[2020-08-31 15:16] rwwagner90 commented on #1120
@K20 how about this? `Shepherd.activeTour.steps.indexOf(currentStep)`? There is an example around progress indicators in https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2020-09-04 08:20] IWMTom opened #1131 ""shepherd-enabled" class is not removed from body element when tour ends"
Reproducible on the Shepherd demo site: https://shepherdjs.dev/

Reach the end of the demo and inspect the body element - "shepherd-enabled" will still be set.

This is causing an issue in a project where we disable some scrollbars on certain elements if **shepherd-enabled** is set on the body. As it's never removed, the scrollbars remain disabled when the tour has been completed/cancelled.

[2020-09-04 09:12] IWMTom commented on #1131
After further debugging, the issue seems to occur when a step isn't attached to a specific element (i.e. we want the modal to be centered on the screen, either as an introductory or final step).

I believe it may be due to the fact in **_show()**, the target used to add the class has a fallback:
`const target = this.target || document.body`

However in **_updateStepTargetOnHide()** there is no fal

[2020-09-04 12:48] rwwagner90 commented on #1131
@IWMTom thanks for reporting this! Sounds like you have a good idea of what could be wrong. Would you like to open a PR to fix it?

[2020-09-04 12:50] IWMTom commented on #1131
Happy to! Will revert back with a PR this evening.

[2020-09-05 13:51] #1131 closed

[2020-09-08 14:51] alexd16 commented on #1118
@rwwagner90 I am going to close this issue since I did a refactor that allowed be to access the tour object from the steps definition (I basically ditched react-sheperd).

I wanted to come up with something to open a PR for react-shephed but I don't really have a good proposal at this time (my approach is very specific to my use case). But just want to point out that the current react-shepherd imp

[2020-09-08 14:51] #1118 closed

[2020-09-08 18:48] alexd16 opened #1143 "Targeted input loses focus on android and ios devices"
Hey, I am having a weird issue in mobile devices that I cannot figure out.

Basically I have one step that targets an input element, and it is expected that the user types something to proceed to the next step.

This works fine when trying on desktop, but on android or ios when I click the input element to start typing the input immediately loses focus. On android is very obvious that the keyboard

[2020-09-08 19:03] rwwagner90 commented on #1143
@alexd16 this sounds like an issue with `focus`. We focus trap the input to the `shepherd-element`, so hitting tab will cycle through all the things in the tooltip and not cycle out. I think if you show the step, then try to focus something outside the step, it might just be trapped to focusing in the step. We should definitely look into this more.

[2020-09-08 19:11] alexd16 commented on #1143
@rwwagner90 Test a bit more in chrome desktop and It does seem that it's the resize the does it.

This is what I tried
1. Focus input
2. Resize window
3. input is not focused
4. click next
5. Focus input
6. Resize window
7. Input is focused

It doesn't really matter on chrome desktop because we don't usually resize the window, but the issue seems to match what's happening in android devices

Looki

[2020-09-08 20:24] rwwagner90 commented on #1143
@alexd16 ah, that is helpful info. We reposition things on resize and scroll I believe, so I could see that being a problem.

[2020-09-08 21:19] alexd16 commented on #1143
@rwwagner90 So I looked a bit in the codebase and I think I was able to find what is causing the issue.
It's the focusAfterRender modifier that's set here: https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/general.js#L110

It seems that it runs every time there is a resize which causes the issue.
If I remove that modifier it seems to work fine (at least on android, didn't have the

[2020-09-10 14:05] geebru opened #1144 "Use a custom arrow with new Popper implementation"
Just prefacing that this is definitely a _question_ at this point and not an issue.

We were running v5 of Shepherd in our application for the last year but are upgrading to v8 to ensure we're up to date and getting the 'latest and greatest' from the plugin as it's come pretty far since v5. One major blocker I'm facing is that in v5 I could pass a custom arrow element (an SVG specifically) to repl

[2020-09-10 14:09] rwwagner90 commented on #1144
@geebru we use a custom arrow in our demo app, so definitely possible. This is what we do https://github.com/shipshapecode/shepherd/blob/master/landing/css/welcome.css#L1018

[2020-09-10 14:21] geebru commented on #1144
@rwwagner90 Thank you for the sample!

I think the issue I'm more running into is that I used a custom SVG so that I could target the border (stroke) with CSS. Using a static asset link would allow me to use a custom arrow but I'd lack that CSS control.

That said - for my current use case I think your sample can solve the issue I have (I don't think our backgrounds/borders change on the arrow cur

[2020-09-10 14:25] geebru commented on #1144
@rwwagner90 For what it's worth, I explored Popper's modifier for an arrow and did get it (I think) to trigger replacing the Shepherd arrow with what element I said, but since the element isn't in the Popper I was just getting an empty div, and not my div with the SVG. Popper's docs mention it _has_ to be within "the Popper element" to work so that's my only guess as to why it wasn't actually grab

[2020-09-11 00:13] will-weiss opened #1145 "Incorrect URL for stylesheet & script at https://shepherdjs.dev/"
Hello! At https://shepherdjs.dev/ the provided href and src for the stylesheet and script do not have the correct host. They are hosted at shepherdjs.dev, not shepherd.js

![image](https://user-images.githubusercontent.com/6589960/92829227-f857a880-f3a1-11ea-8efa-896e74ccffaa.png)

[2020-09-11 12:42] alexd16 opened #1146 "Can't do touchscroll on elements on top of shepherd modal overlay"
hey,

I have a step that requires the user to type on a search box and show a list of suggestions which can be scrollable if there are enough suggestions.

I am using popper to position the suggestions box so I can make it appear on top of the shepherd modal which is nice.
The problem I have right now is that I can't scroll on mobile devices on the suggestions container.

I looking into the codeba

[2020-09-11 14:09] rwwagner90 commented on #1146
@alexd16 I think I would recommend not using Popper for what you are describing, and instead surround everything you want clickable in a div, then make that div the element Shepherd cuts the hole in the modal overlay for.

[2020-09-11 14:13] rwwagner90 commented on #1145
@will-weiss these are correct. These are the paths to the scripts. They are not hosted anywhere. You must use `npm` to install the scripts or download them or however you want to use them.

If you need something hosted, try a hosted CDN like jsDelivr.

https://cdn.jsdelivr.net/npm/shepherd.js@8.0.2/dist/css/shepherd.css
https://cdn.jsdelivr.net/npm/shepherd.js@8.0.2/dist/js/shepherd.js

[2020-09-11 14:13] #1145 closed

[2020-09-11 14:58] alexd16 commented on #1146
@rwwagner90 maybe I am missing something

How would that allow the touchmove event to work? the _preventModalBodyTouch  would still prevent scrolling on the suggestions div.

Just to be clear on what I am trying to do:
![image](https://user-images.githubusercontent.com/1040774/92939824-2c84a500-f446-11ea-84e5-3a9966679821.png)
The intention is to target the input on a shepherd step, and when the u

[2020-09-11 16:04] rwwagner90 commented on #1146
@alexd16 we should definitely find a way to pass elements that are allowed to have the event, instead of blocking all. Open to suggestions on that.

[2020-09-11 16:06] rwwagner90 commented on #1143
@alexd16 yes, that makes sense, however we need this modifier, so we shouldn't remove it. I think perhaps the fix would be to manually call `.focus` on your element you want to focus, after Shepherd calls focus.

[2020-09-11 16:37] alexd16 commented on #1146
@rwwagner90 What do you think about the suggestion on the first comment?

Basically allow a property on the step like allowTouchSelectors (no best name but can't think of anything better) and on the shepherd-modal.svelte do something like this.

[code]

I am not super familiar with the codebase so I might be missing something important here.

[2020-09-14 13:59] alexd16 commented on #1143
@rwwagner90 yup, I figured we couldn't just remove the modifier.
But this is pretty limiting in mobile right now, it's basically prevents any step to have any sort of input.

I think calling focus on the input after shepherd calls focus could lead to an infinite loop of the keyboard opening and closing (didn't test this).

I am not 100% sure what is the purpose of that modifier but from what I saw

[2020-09-14 16:50] rwwagner90 commented on #1143
@alexd16 we have to call focus on each step. It is for a11y. What we don't necessarily need to do is call it on every resize. I'm open to suggestions to fix it.

[2020-09-15 18:20] rwwagner90 commented on #1146
@alexd16 what if we allow touchscroll only inside `.shepherd-target .shepherd-enabled`? Then it should allow the events on the target, but not anywhere else.

[2020-09-15 18:25] alexd16 commented on #1146
@rwwagner90 In theory it would be enough and it could be a reasonable default behaviour.

But I do thing it should be expandable through configuration.
For my case for example that solution would not work because I am using popper to show the suggestions box, which will make it live outside of the shepherd elements.

[2020-09-15 18:34] alexd16 commented on #1143
My assumption is that the resize logic is being triggered by popper so its outside of shepherd control. Let me know if this is a correct assumption
This means we would need to remove the focus logic from the modifier and move elsewhere.

Can't we do it inside the step's show method? It would meet the requirement of doing it on each step right?
From what I can see it already has logic to handle the

[2020-09-15 20:29] rwwagner90 commented on #1146
@alexd16 yeah, you'll have to not use popper. You'll want to do as I suggested previously and not use popper, but instead make it live next to your highlighted element, and wrap it all in a div you can highlight.

[2020-09-27 08:48] dimok87 opened #1165 "Display: flex breaks tour behavior"
If you set `display: flex` on the` .shepherd-element` to customize layout you will see the bug that on the clicking next button new step opens but previous one doesn't close

[2020-09-28 19:08] rwwagner90 commented on #1165
@dimok87 Can you try adding your styles to `.shepherd-content` instead please?

[2020-09-29 10:36] zefj opened #1175 "Different parent instead of `document.body` for Step elements"
Hi, I have run into yet another issue with the infamous bootstrap modal focus trapping, which currently makes shepherd keyboard navigation impossible while touring content of a modal. To solve it, the step elements should be rendered inside the modal container instead of `document.body`. However it seems to be impossible, because the target of the svelte component `ShepherdElement` is hardcoded:

[2020-09-29 12:26] rwwagner90 commented on #1175
@zefj I don't understand. What's the problem here? You want to press `tab` and break out of the tooltip? It's focus trapped on purpose for a11y.

[2020-09-29 13:27] zefj commented on #1175
I want to be able to set a render target container for the step elements, instead of them being appended to `document.body`. Basically what the `modalContainer` option does, but for step elements. Is that possible, and why not?

[2020-09-29 16:50] rwwagner90 commented on #1175
@zefj can you please answer my question? I know you think you want to set that, but why? You mentioned focus trap, are you trying to get out of the focus trap, what is the end goal here?

[2020-09-30 09:52] zefj commented on #1175
@rwwagner90 please see the interactive demonstration below, let me know if this is clear enough:

https://codesandbox.io/s/ecstatic-darkness-viy3m

[2020-09-30 15:39] rwwagner90 commented on #1175
@zefj thanks for the demo. Looks like both bootstrap and shepherd are doing focus trapping, which is why I was confused. This focus trapping is by design though. Both bootstrap and shepherd do this to force the focus inside the element for a11y. I suppose making the render target for the step elements configurable would be fine, but what you are doing is not good for a11y. I would accept a PR to m

[2020-10-01 06:42] zefj commented on #1175
@rwwagner90 can you explain why exactly?

[2020-10-01 11:29] rwwagner90 commented on #1175
@zefj I do not know the exact article where it talked about it, but basically when a modal pops up, it blocks the screen, so focus should be trapped in that modal for screen readers.

[2020-10-01 12:06] zefj commented on #1175
@rwwagner90 it is trapped in the modal though, it's just that the tour step becomes part of the modal :) That's the whole point. I would argue not being able to focus the tour step is absolutely the worst case in terms of accessibility, as it essentially prevents you from doing anything - you cannot progress the tour, and you cannot cancel the tour either. The proposal is precisely to improve acce

[2020-10-01 12:06] #1175 closed

[2020-10-05 13:49] rwwagner90 commented on #1175
@zefj I think we could also have a configurable option to disable the tab behavior here https://github.com/shipshapecode/shepherd/blob/master/src/js/components/shepherd-element.svelte#L75

[2020-10-05 14:59] zefj opened #1177 "Lazy evaluation of `attachTo.element`"
Hi, I came up with an improvement for the library, which would greatly simplify the ability to tour dynamic content.

## The issue

Right now, elements used for `attachTo.element` either have to be present in the DOM upon step instantiation, or a string selector has to be used, which makes it impossible to do stuff like this:

[code]
Having the possiblity to lazily evaluate `attachTo.element` woul

[2020-10-05 16:01] rwwagner90 commented on #1177
@zefj this is already possible using `beforeShowPromise`, but your suggestion may be a simpler API.

[2020-10-05 16:39] zefj commented on #1177
@rwwagner90 true, but that means mutating the step options in `beforeShowPromise`, which makes the code that much harder to test and reason about, and also relying on implicit `this`. I could live with the latter, but options immutability alone is a very good reason to introduce the new API. That, and API simplicity.

I've already done some work [here](https://github.com/zefj/shepherd/commit/3aff0

[2020-10-07 10:00] zefj opened #1188 "Tour name is not being added as `data-shepherd-active-tour` attribute"
Hey, found a discrepancy between the docs and the library behaviour.

This property is not being added. For some reason it was removed in https://github.com/shipshapecode/shepherd/commit/05942781c17bbd3f2d06e896dd4621c7579097f7. I think it's a useful feature though, so I suggest what follows:

1. Bring back the `data-shepherd-active-tour` attribute on document.body
2. Make the step `id` appear as

[2020-10-07 11:49] zefj commented on #1188
Regarding 2., I have noticed tour id and step id are designed rather poorly:

* Tour id is `${TourOptions.tourName}-${uuid}` if `tourName` is defined, or `tour-${uuid}`
* Step id is `StepOptions.id` if it's defined, or `step-${uuid}`

So step id is configurable, but tour id is not. However, a tour gets a name, which is then used when generating tour id... Kinda convoluted if you ask me.

We could

[2020-10-11 07:04] #1120 closed

[2020-10-16 16:59] beard7 opened #1201 "Inconsistent behaviour with dynamic content"
I'm in the process of replacing Bootstrap Tourist with Shephjed.js, but I've got a problem with dynamically loaded content.

The page on which I'm using the tour has a number of tables that are generated dynamically using data from ajax calls.

I'm using the elements surrounding these dynamic tabes as the selector for tour steps, but the highlighted areas are inconsistent.

In this first example,

[2020-10-16 17:14] rwwagner90 commented on #1201
@beard7 this looks like the content is not there before the step shows. Can you confirm the dimensions of your target are correct?

[2020-10-18 09:58] #1144 closed

[2020-10-18 15:40] rwwagner90 commented on #1143
@alexd16 that seems logical. I'm unsure if we would hit timing issues with Popper or not.

[2020-10-19 07:55] beard7 commented on #1201
Like I say, it's inconsistent. The targets contain the headers: 'Notifications' and 'Your To-Do List', but the content below them is loaded dynamically before the tour is started.

The steps are defined in an array, but they aren't added to the tour until just before it's started (by clicking a button). So all the page content, including that loaded by ajax, has definitely finished loading before

[2020-10-19 14:50] zefj opened #1202 "Redo target interaction prevention, reduce library obtrusiveness"
Hey, got an idea for an enhancement. Currently the library relies heavily on adding classes to target elements. Click prevention for example is handled by adding `shepherd-target-click-disabled` class to the `attachTo.element`, which works fine... until the target is a node managed by React. This has another implication: while using `modalOverlayOpeningPadding`, you can interact with content aroun

[2020-10-19 15:11] zefj commented on #1201
@beard7 this is weird, the SVG path is updated in `requestAnimationFrame`, so this should not be happening. Can you show us the step configuration you're using?

[2020-10-19 15:31] beard7 commented on #1201
Sure, here are the relevant bits of code.  Note the click handler for the `#start_tour` button: this adds the steps to `tour` and then calls `tour.start()`. I've reduced the steps to the two that give inconsistent results. `#wid-id-notifications` and `#wid-id-tasks` both contain content that's loaded by an ajax call on page load. These are both completely loaded before `#start_tour` is clicked.

[

[2020-10-19 15:38] K20 commented on #1120
Thx it's all good for me !

[2020-10-19 15:42] K20 opened #1203 "Wait for the presence of an element (Ajax)"
Is it possible to wait for an element to be displayed ?
When I switch from a step to another step, I use the show() function to trigger a click on an element which opens another element.

As an example :

1.  A shepherd tour is launched, an element is highlighted, user click on next
1.  Click is triggered on a link which opens a modal (By using when/show() before the step is displayed)
1.  The mod

[2020-10-19 15:59] zefj commented on #1203
You can use `beforeShowPromise` to accomplish that. If you have a handle to the ajax call promise, you could supply it to the option so that the step shows after the promise resolves.

I have a semi-hacky solution that retries the target attachment several times instead, if you're interested. I'm using it to wait for React renders and ajax content to load (since I sadly cannot get refs to ajax the

[2020-10-19 16:01] rwwagner90 commented on #1203
As @zefj said, `beforeShowPromise` is what you want. We should probably add something to the cookbook about waiting for elements to be shown. https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2020-10-19 16:11] rwwagner90 commented on #1202
@zefj transparent SVG when canClickTarget is false sounds fine. We already have the dimensions for that, so should work okay.

I'm unsure on your classes suggestion. I'm not sure how it would work, but open to suggestions.

[2020-10-19 17:14] zefj commented on #1202
Depends on what should "work". Like I said, as far as I can see the classes (`shepherd-target` and `shepherd-enabled`) on **step target elements** do not actually do anything right now, as in nothing in the library relies on their existence. Therefore, after we add the SVG cover, it will be safe to stop adding them to the step target elements (granted we bump the version according to semver, to av

[2020-10-19 19:13] rwwagner90 commented on #1202
@zefj I do not know if we rely on the classes for anything anymore. If we don't need them for any functionality, removing all that is fine with me. The less code the better! I just want to make sure they are not enabling something for users that we would lose.

[2020-10-20 07:14] zefj commented on #1202
I don't think it enables anything that isn't accomplishable by configuration. Right now, you could use `beforeShowPromise`, or `when.show` to add any class to the target that you want, if you need it. We could even extend `attachTo` to include something like `classes`, which would make it fully opt-in, if you think this is a useful feature.

[2020-10-20 08:52] zefj commented on #1201
Ok, this is going to be pretty specific, but are you 100% sure this isn't related to absolute positioning on `#wid-id-tasks`, or something? Here's why I think this might be related to some weird styling:

1. I noticed from your screenshots that the paddings for "Notifications" and "Your To-Do List" are off. Look at the "Add Task" button and compare it to "Mark All Read" - the container paddings ar

[2020-10-20 09:15] beard7 commented on #1201
Hi,

Thanks for the info. Your codesandbox emample looks to be spot on and should be enough to point me in the right direction.

The inconsistent padding you noticed is not intentional -- just me forgetting to apply padding to one of the boxes!

Thanks again.

[2020-10-20 09:15] #1201 closed

[2020-10-20 13:06] K20 commented on #1203
OK so i wait for the element presence, maybe by using a setInterval (Limited to x retries) in my beforeShowPromise method.
If the element is found, I resolve the promise, if not I fail or maybe I switch to the next step.

[2020-10-22 16:46] rwwagner90 commented on #1202
@zefj I do think we need a way to add styles to targets sometimes, and know when they are active in Shepherd. As to what the specific API should be, I am not sure.

[2020-10-23 08:11] zefj commented on #1202
How about this then? Configurable per step, only when a target will actually exist, easy to abstract and clean.

[code]

[2020-10-23 17:48] JakeGreer opened #1213 "Styling the highlight"
Is it possible to add styles to the actual highlight itself? For instance I have a button with rounded corners and when the tutorial focuses in on it the highlight around the button is square and leaves white corners. I'm not sure this is possible since it looks like the overlay is an svg.

[2020-10-25 23:49] Trookio opened #1215 "How do i make it so that my website tour only happens the first time the user visits my site?"

[2020-10-26 12:56] rwwagner90 commented on #1215
That's up to you. You control when the tour starts, so store some kind of variable in localStorage or similar and don't show the tour if it's already been shown.

[2020-10-26 12:56] #1215 closed

[2020-10-31 04:07] #1146 closed

[2020-11-06 14:40] rwwagner90 commented on #1213
@JakeGreer yes, for that check out `modalOverlayOpeningPadding` and `modalOverlayOpeningRadius` in the docs https://shepherdjs.dev/docs/Step.html

[2020-11-06 14:40] #1213 closed

[2020-11-06 14:46] rwwagner90 commented on #1203
@K20 yes, something like that would work

[2020-11-06 14:46] #1203 closed

[2020-11-06 14:47] rwwagner90 commented on #1202
@zefj seems okay to me

[2020-11-06 19:40] loicpeopulse opened #1232 "IE 11 Syntax error"
Hi i'm using the latest release for Shepherd, but with IE11 i've got a syntax error on :
`class Evented {
	  on(event, handler, ctx, once = false) {`

Any idea? Is there some polyfills?
Thanks

[2020-11-07 21:39] #1056 closed

[2020-11-07 21:39] #1165 closed

[2020-11-09 16:06] rwwagner90 commented on #1232
@loicpeopulse we do not support IE anymore. We used to list all the necessary steps to get it working with IE, but it was too much to maintain. If you run the code through Babel, it should transpile the classes out, but you'll need to include a bunch of polyfills.

[2020-11-09 16:06] #1232 closed

[2020-11-17 09:11] K20 commented on #1203
Thx for your help !

[2020-11-18 19:12] AmineMissaoui commented on #437
@rwwagner90  I've tried to convert my js with babel but still not working, wich polyfills should i export? can you help please?

Thanks

[2020-11-18 19:28] rwwagner90 commented on #437
@AmineMissaoui again, we don't support IE11, you should use babel, then include babel polyfills and/or whatever polyfills you are missing for IE11. We do not have a list of the ones needed, but when you get an error it should tell you what polyfill you need.

[2020-11-18 21:47] NevenLiang opened #1244 "Please list all then events in step option `when`"
### My problem

I have some pages with one step with `advanceOn` option on button click. For other pages with more than one steps, the `hide` event handler works well, but it doesn't work with one step. How can I get to know if user has touched the only step by clicking button?

Please list all then events in step option `when`. It lists `show` and `hide` events in [document](https://shepherdjs.de

[2020-11-18 22:53] rwwagner90 commented on #1244
Step events are documented here https://shepherdjs.dev/docs/tutorial-02-usage.html it looks like the supported ones are:

[code]

If the docs could be improved, please submit a PR!

[2020-11-18 22:53] #1244 closed

[2020-11-19 14:12] AmineMissaoui commented on #437
@rwwagner90  Thanks i have tried it and it works, here's the polyfills that i have used if anyone needs it : https://polyfill.io/v3/polyfill.min.js?features=Promise%2CObject.assign%2CArray.from%2CArray.prototype.fill%2CObject.getOwnPropertyDescriptors

Cheers.

[2020-11-23 03:46] NevenLiang commented on #1244
@rwwagner90 Thanks! `destory` event works for me.

The only one step here is a link to other pages, so it seems it doesn't trigger `hide` event before
url redirection.

[2020-11-23 14:58] AmineMissaoui opened #1252 "Prevent touch scroll in ios devices when shephered is launched"
Hello,

I have an issue with the scroll event in ios devices, seems like the touch scroll is activated by default in ipad / iphone.
Is there any possible way to disable it and make the hint centered?

Thanks.

[2020-11-30 15:36] glaand opened #1261 "JSON buttons"
Is it possible to define buttons on steps without referencing to functions on tour?

This is really bad since i always will depend on javascript code to define tours. What if i only want to define tours with JSON?

[2020-12-01 12:57] rwwagner90 commented on #1261
@glaand I don't think this is supported. I'm not sure I see the benefit of JSON over just using JS. Can you elaborate?

[2020-12-01 18:34] glaand commented on #1261
What if you want your customer to be able to customize the guided tours only with a JSON File, to create guided tours according to the needs of your personas?

[2020-12-01 19:21] rwwagner90 commented on #1261
@glaand you can do that if you want, then use the JSON to create the tours. You would have to consume the JSON and figure out what tour it should make either way.

[2020-12-09 17:26] garyo opened #1269 "Can't add progress indicator per example in Typescript"
I'm trying to use the progress indicator example in my Typescript code, and I get an undefined variable error on global `shepherd` in the `show()` method (tsc shows the error but if you try to run anyway, the var `shepherd` is undefined at runtime too). I'm not sure how to get to the global current tour object with Typescript.

Here's a codesandbox to repro: https://codesandbox.io/s/peaceful-andra

[2020-12-09 19:10] garyo commented on #1269
I did get it working using my `myTour` object instance, using `myTour.getCurrentStep()` instead of the global `shepherd` object.

[2020-12-09 19:44] rwwagner90 commented on #1269
@garyo does this work for you? `Shepherd.activeTour.getCurrentStep().el` I think we need to update the docs perhaps.

[2020-12-09 23:30] garyo commented on #1269
Yup, almost -- `const currentStep = Shepherd.activeTour?.getCurrentStep()` -- need the `?.` because `activeTour` can be null. And you need `.getElement()` too rather than `.el`.
So:
[code]

[2020-12-16 18:15] rwwagner90 commented on #1143
@xiwcx any interest in working on this?

[2020-12-29 00:20] balazstoma opened #1288 "attachTo:top/bottom does not work in Safari as expected"
I created a tour on a website and noticed that the attachTo parameter while works as expected on Chrome or other browsers,  it does not work correctly on Safari. When using attachTo:top the tooltip in Safari actually appears on the bottom.

Out of curiosity, I compared the official demo (https://shepherdjs.dev) on Safari and Chrome, and I see the same issue here too.

At the second step of the dem

[2020-12-29 00:52] rwwagner90 commented on #1288
@balazstoma this is all purely based on scroll position. I believe it's just from Safari not supporting options for `scrollIntoView` so this doesn't get applied https://github.com/shipshapecode/shepherd/blob/master/landing/js/welcome.js#L20

You'll notice in your screenshots, the Safari one is scrolled much further down. If you scroll both windows to the same spot, the placement is the same. The r

[2020-12-29 00:58] balazstoma commented on #1288
@rwwagner90 thank you for your super fast reply! Yes, I see now that it is a scrolling issue. I know that it might be a question which is out of the scope, but could you kindly point me to any workaround perhaps to achieve this scrolling on Safari too?
My tour is complete and this would be the very last step (to fix safari) but I have been stuck with this for a while and am not really sure how cou

[2020-12-29 01:02] rwwagner90 commented on #1288
@balazstoma what does your `scrollTo` look like? You could maybe try a custom `scrollToHandler` and not scroll as far.

[2020-12-29 01:03] balazstoma commented on #1288
[code]

[2020-12-29 01:06] balazstoma commented on #1288
Would something like this work in my case: https://github.com/shipshapecode/shepherd/issues/107 ?

[2020-12-29 01:12] rwwagner90 commented on #1288
@balazstoma yeah something like that should work. You could also try `scrollTo: true` or `scrollTo: { behavior: 'smooth'}` I think the `block` part is what is causing the issues, but not sure.

[2020-12-29 01:18] balazstoma commented on #1288
Thank you. I just tried both` scrollTo: true` and `scrollTo: { behavior: 'smooth'}` but unfortunately the issue remained in both cases. I will try to experiment with something custom to change the scrolling on Safari. I am surprised that I could not find any topic/question/forum regarding this issue.

[2020-12-29 01:30] rwwagner90 commented on #1288
`scrollIntoView` just doesn't support options on Safari, unfortunately, and I guess even with `true` it has different defaults than Chrome.

[2021-01-08 18:38] bostrowski opened #1292 "Step advanceOn and custom event"
Hi,

I'm building plug-in on top of this awesome library and I've got confused with `advanceOn` step property.

In docs it is described as

and

My question is the following: should a step be advanced after triggering a custom event on a given selector? Let's say my step options are the following:

[code]

When the step is visible, and I trigger the event using jQuery syntax  `$('body').trigger('t

[2021-01-08 18:55] rwwagner90 commented on #1292
@bostrowski it should work with any event, even custom ones. Our tests use a custom event name, and it works fine https://github.com/shipshapecode/shepherd/blob/7530e9781a9c0114b44401cd5bd2a3ea2baad6c8/test/unit/utils/bind.spec.js#L12

I'm unsure is jQuery is doing the same thing or not. Perhaps try `dispatchEvent` manually and see if that works better?

Also, whenever I can, I try to steer people

[2021-01-09 11:57] bostrowski commented on #1292
@rwwagner90
thanks, for the hint, I've tested how does it behave with `dispatchEvent` and indeed it does work.

For my sake, this is not an acceptable workaround, because the plug-in has to fit into the technology which triggers events using jQuery trigger.

Still, this is the answer I was looking for and I will do my own implementation based on defined `advanceOn`.

Thank you for the prompt answe

[2021-01-09 11:57] #1292 closed

[2021-01-10 14:03] #1261 closed

[2021-01-11 00:39] rwwagner90 commented on #1269
We need to update the docs around this. @xiwcx mind taking a look? We should just need to update https://shepherdjs.dev/docs/tutorial-04-cookbook.html with the correct code to get a progress indicator. Perhaps we should also build one and write tests around it to make sure it continues to work?

[2021-01-13 12:24] thiag73 opened #1297 "Documentation: add hint we can use scrollIntoView options"
Hi there !

Currently in the [tutorial](https://shepherdjs.dev/docs/tutorial-02-usage.html) it's just written :

I think it could be nice to put a hint indicating we can either use scrollIntoView options here or just a boolean value.

[2021-01-13 16:42] rwwagner90 commented on #1297
@thiag73 that is documented here https://shepherdjs.dev/docs/Step.html

Please feel free to open a PR adding the same description to the usage page.

[2021-01-15 09:40] npedrini opened #1298 "classPrefix breaks target blocking"
If you specify a `classPrefix` in the tour options, any highlighted elements in steps where `canClickTarget = true` are still clickable because the following css selector breaks:
[code]

The following custom css rule has to be added, taking into account the `classPrefix`:
[code]

[2021-01-15 13:34] rwwagner90 commented on #1298
@npedrini would you like to submit a PR adding class prefix support for this?

[2021-01-15 22:07] rwwagner90 commented on #1252
@AmineMissaoui I think this is a duplicate of #1143?

[2021-01-16 09:38] AmineMissaoui commented on #1252
It doesn't describe the same issue, the bug that I reported is with page scrolling, the page should not scroll when Shepherd is active, problem in ios devices.

[2021-01-16 13:00] rwwagner90 commented on #1252
@AmineMissaoui if you just want a way to disable scrolling, we removed that from the library, but we mention it in the cookbook https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2021-01-18 16:28] bradonomics commented on #400
`modalOverlayOpeningRadius` is working great if you want radius on all corners. What if you want radius only on two sides? `modalOverlayOpeningRadius` only takes one number.

[2021-01-18 18:31] rwwagner90 commented on #400
@bradonomics under what circumstances would that be desirable?

[2021-01-18 21:09] bradonomics commented on #400
In my specific use-case, a button is absolutely positioned to the side of the screen making one side "square" and the other rounded. But this would be true for any element with different radiuses.

[2021-01-18 22:03] rwwagner90 commented on #400
@bradonomics this seems like an edge case. If you would like to open a PR to support it, I would accept it, but I don't think it's on the roadmap for us, as of now.

[2021-01-20 08:57] tamaravimlet commented on #710
When you use **useModalOverlay: true** I can see there is a bug where the overlay class **shepherd-modal-is-visible** doesn't get added:

`<svg class="shepherd-modal-overlay-container">...</svg>`

Should be

`<svg class="shepherd-modal-is-visible shepherd-modal-overlay-container">...</svg>`

Therefore the overlay isn't displayed.

[2021-01-20 08:59] tamaravimlet opened #1302 "useModalOverlay not shown"
When you use **useModalOverlay: true** I can see there is a bug where the overlay class **shepherd-modal-is-visible** doesn't get added:

`<svg class="shepherd-modal-overlay-container">...</svg>`

Should be

`<svg class="shepherd-modal-is-visible shepherd-modal-overlay-container">...</svg>`

Therefore the overlay isn't displayed.

[2021-01-20 14:47] rwwagner90 commented on #1302
@tamaravimlet it's working great on our demo https://shepherdjs.dev/

Do you have a reproduction of the modal not working? Everything seems to be fine on our end.

[2021-01-21 08:00] tamaravimlet commented on #1302
Here is an example :)

https://codepen.io/shiinaMandarina/pen/KKgYaEX

[2021-01-21 10:22] borispoehland commented on #1302
@rwwagner90 I have a question about the demo/overlay. How do you manage to exclude the target element from the background overlay? I know that the target element gets the class `shepherd-enabled` and `shepherd-target`, but I can't find any style that excludes this element from the dark overlay. Thanks in advance

[2021-01-21 11:12] borispoehland commented on #1302
The solution to your problem is putting the `useModalOverlay` outside of the `defaultStepOptions`:
[code]

[2021-01-21 11:34] tamaravimlet commented on #1302
Ohh! My bad.
Thanks, now it's working fine :)

[2021-01-21 11:59] borispoehland commented on #1302
@tamaravimlet It'd be nice if you could not close the issue just yet, because I asked a little question

[2021-01-21 12:16] DavidSanek opened #1303 "Step without element does not resize it's overlay on window resize"
The step which is not attached to any element and is centered does not resize itself if the browser's width or height grows. Other steps update the overlay correctly. The behavior can be seen in the [official  demo](https://shepherdjs.dev/) in 5th step.

1. Start the tour with width 1200px
![image](https://user-images.githubusercontent.com/39993635/105349661-56b35400-5bea-11eb-997a-657760cde2c0.pn

[2021-01-21 14:48] #1302 closed

[2021-01-21 14:51] rwwagner90 commented on #1303
@DavidSanek I'm not sure the way you are testing triggers the browser's `resize` event. If you drag the end of the window to resize, the modal recalculates just fine.

[2021-01-21 16:36] bradonomics opened #1304 "when: not triggering when called from buttons: action:"
In my implementation I call `tour.back` and `tour.next` from buttons, like so:

[code]

On a few steps I need some custom functions called when the back or next buttons are clicked. I tried this:

[code]

In this case `myFunction()` doesn't run.

It _does_ work when I call `cancel:`, but then `cancel()` is being called by the `cancelIcon`, like so and not from a button:

[code]

How do I call a `w

[2021-01-21 17:42] rwwagner90 commented on #1304
@bradonomics `when` doesn't support next. It is for the events supported on the step like `show`, `hide` etc.

I think what you want is custom actions.

[code]

[2021-01-21 19:17] bradonomics commented on #1304
A custom action worked as described. Cheers.

I saw in on the [Usage page of the docs](https://shepherdjs.dev/docs/tutorial-02-usage.html) "You can define show, hide, etc events inside when." I assumed "etc" meant `back` and `next`. Based on what you've listed here it's only the Tour Events: `complete`, `cancel`, `hide`, `show`, and `start`. Is this correct?

[2021-01-21 19:17] #1304 closed

[2021-01-21 19:25] rwwagner90 commented on #1304
@bradonomics it's step events from the usage docs https://shepherdjs.dev/docs/tutorial-02-usage.html

[2021-01-22 08:16] DavidSanek commented on #1303
Even if I drag the end of the window it does not work for me. I am using Chrome 87.0.4280.141 Are you sure the library listens to `resize` event for the centered step aswell?

https://user-images.githubusercontent.com/39993635/105464620-2a531280-5c92-11eb-9715-f72993a322a1.mp4

[2021-01-22 13:47] rwwagner90 commented on #1303
@DavidSanek I was able to reproduce. I am unsure why this is happening, but there are a few issues with the modals. I'm getting a lot of jitter scrolling for some reason. I will see if I can figure out a fix.

[2021-01-29 17:20] iFederx opened #1310 "Feature request: separate tooltip position (attachTo) from highlighted content"
Would it be possible to separate the place where tooltip is positioned (attachTo) from the highlighted area in the overlay? I'm interested in attaching the tooltip to an html object, but highlighting a much larger area. Sometimes playing with offsets doesn't lead to a good result. It would also be nice to be able to highlight multiple areas...
Thanks

[2021-01-29 18:02] rwwagner90 commented on #1310
@iFederx some people have suggested multiple highlight areas before, but it is not trivial to implement. If you would like to give it a try, I would gladly accept a PR.

[2021-02-04 18:10] yairEO commented on #82
@rwwagner90 - did you ever document it?

[2021-02-04 19:27] rwwagner90 commented on #82
@yairEO no we have not. You should be able to use CSS transitions to fade things in and out if you would like.

[2021-02-11 07:47] PerryRylance opened #1324 "Incompatible with mapboxgl"
It appears that shepherd.esm.js pollutes the global scope by altering `getComputedStyle`

MapBoxGL uses this function on it's "canary" element upon initialisation, when this happens, Shepherd goes into infinite recursion until it throws `Maximum call stack size exceeded`

[2021-02-11 11:52] rwwagner90 commented on #1324
Hi @PerryRylance, to my knowledge we are not altering `getComputedStyle`. We use it one time here https://github.com/shipshapecode/shepherd/blob/7530e9781a9c0114b44401cd5bd2a3ea2baad6c8/src/js/components/shepherd-modal.svelte#L155

[2021-02-11 13:16] PerryRylance commented on #1324
@rwwagner90 If you check out `shepherd.esm.js` you'll see that `function getComputedStyle` is declared in the global scope - I realise that only `Shepherd` should be exported here but it looks like that's what's happening.

If you're interested to take a look I'd be quite happy to provide an example, we'd really like to use this library. I can make up a sample for you with MapBoxGL and Shepherd to

[2021-02-11 14:23] rwwagner90 commented on #1324
@PerryRylance yeah, definitely. Perhaps something with some polyfill is adding it or something. I would need to dig deeper into how that is happening.

[2021-02-13 18:38] hendsleemMans commented on #788
any updates ?

[2021-02-14 18:57] rwwagner90 commented on #788
@hendsleemMans this has been working for quite awhile.

[2021-02-23 22:24] Abdo-Saleh opened #1340 "Step target is being partially highlighted"
Hello,
I am facing a weird behavior, I have a dashboard on my platform, and the dashboard is not shown all at the viewport of the screen,
the steps which are in the screen viewport are being highlighted properly, but the other steps which need scrolling, it's partly shown and some are not highlighted at all.

[normal behvaiour]
![image](https://user-images.githubusercontent.com/12818541/108916046-

[2021-02-23 22:43] Abdo-Saleh commented on #1269
I already have done this
![image](https://user-images.githubusercontent.com/12818541/108917788-9679bb00-7630-11eb-930b-93a643b61a76.png)

i don't know if it could helo you, i will give a brief descripition,
i created a Step class which has the step structure,
in the service i am initing the steps with the deseired options, and pass the progressIndicator to the when.show row function, and it works

[2021-02-24 02:24] rwwagner90 commented on #1340
Hi @Abdo-Saleh, are you using angular-shepherd or shepherd directly? Would you perhaps be able to provide us with a reproduction?

[2021-02-24 11:28] Abdo-Saleh commented on #1340
I am using angular-shepherd

[2021-02-24 11:31] Abdo-Saleh commented on #1340
i don't know if this could help a bit,
<svg class="shepherd-modal-is-visible shepherd-modal-overlay-container"><path d="M2053,1090H0V0H2053V1090ZM298.3333435058594,0.5902777910232544a0,0,0,0,0-0,0V0.5902777910232544a0,0,0,0,0,0,0H1004.3403015136719a0,0,0,0,0,0-0V0.5902777910232544a0,0,0,0,0-0-0Z"></path></svg>
this is the modal path of a completly weird behavior of one step.

[2021-02-24 12:43] rwwagner90 commented on #1340
@Abdo-Saleh no, that's not particularly helpful. It seems like either you might be selecting the wrong elements or you need to setup a `beforeShowPromise` to wait for the element to exist before highlighting it. If you can create a small reproduction, we can investigate.

[2021-02-24 17:04] Abdo-Saleh commented on #1340
well creating the reproduction is kinda complicated a bit,
the element already exists, and the beforeShowPromise didn't help me, I am tried to select the target using an ID and  CLASS name but it didn't show the desired behavior.

i could send a snapshots of the code, would it be helpful ?

[2021-02-24 17:06] Abdo-Saleh commented on #1340
By the way, when i increase the horizontal lineto in the path element manually from the webborwser, it focus properly.

[2021-02-24 20:14] rwwagner90 commented on #1340
@Abdo-Saleh without a reproduction, there is not much we can do here.

[2021-02-24 22:44] #1303 closed

[2021-02-25 10:58] yrohozianskyi opened #1341 "Resizing browser window is not working properly when AttachTo element is not set"
Hello!
How to reproduce:
- open step (with no AttachTo element) on small screen then resize browser window
![image](https://user-images.githubusercontent.com/61784712/109143505-c926cf00-7768-11eb-842d-3b10936142dc.png)

PS: For steps with attached elements it is working well.

[2021-02-25 11:58] rwwagner90 commented on #1341
@yrohozianskyi is it just the modal overlay that is not resizing for you? That should be fixed by https://github.com/shipshapecode/shepherd/pull/1332 hopefully.

[2021-02-25 13:03] yrohozianskyi commented on #1341
@rwwagner90 Yeah, sorry didn't see it before. Thanks for quick response.

[2021-02-25 14:09] #1341 closed

[2021-02-25 17:04] Shrikar-Patel opened #1342 "Conditional add/remove steps react-shepherd wrapper"
Hi,

I have a multi-page application built in React that has different tabs in a menu that navigates to different parts of the app. I am wondering if it is possible to have a way that when the user clicks on a specific tab, the steps of the tour get updated to show the tour of that specific view, and then at the end of that page's tour theres an option to click another tab and have a tour on the o

[2021-02-25 17:26] rwwagner90 commented on #1342
@Shrikar-Patel I'm not sure I fully understand the question, but yes you'll just add and remove the steps you want. Tours can go across routes as well.

[2021-02-25 17:51] Shrikar-Patel commented on #1342
Sorry for being unclear! I would just need one tour instance right? I would not need a separate tour for each page/component? Also just to clarify the previous question, is there a way to addSteps/removeSteps on an on click while the tour is active on an element that is not part of the tour modal?

[2021-02-25 19:04] rwwagner90 commented on #1342
@Shrikar-Patel correct. You would want just one tour instance. In fact, I recommend always only using one instance, even if you have separate sets of steps that would make sense as multiple tours.

I'm actually not sure what would happen if you tried to add steps while a tour is active. Have you tried pushing more steps in with `addSteps` while the tour is running?

[2021-02-28 12:41] rwwagner90 commented on #1041
I think what you want to do here is setup listeners for `step.on('show'` and `step.on('hide'`. These should be triggered in all cases.

[2021-02-28 12:41] #1041 closed

[2021-02-28 12:44] #1297 closed

[2021-02-28 12:46] #1288 closed

[2021-03-03 11:16] thomasguittonneau opened #1353 "Event complete isn't called in case of last steps skipped"
Hi,

I'm working with shepherd but in my case sometimes last elements are skipped.
in this case, the completed event is never called.

Maybe we can modify function _skipStep to check if the skippedStep is the last step.
(Like next function)

[2021-03-03 12:26] rwwagner90 commented on #1353
@thomasguittonneau I don't understand the issue here. `complete` is called whenever you complete the tour, so if you want to have less steps or skip some steps, just make sure that when the tour is "done" you call `tour.complete`. If you're wanting to run some logic on both complete and cancel, you could listen to both events.

[2021-03-03 15:19] thomasguittonneau commented on #1353
For my case, i have 5 steps and the last step have showOn option who return false.

In a case who user use next() function it's calling show but if shouldSkipStep = true it's calling _skipStep function

But if this skipped step is the last,   _skipStep call show function on inexsitant step. It's closing the modal
 without complete()

[code]

[2021-03-03 16:03] rwwagner90 commented on #1353
@thomasguittonneau definitely seems like an edge case we are not accounting for. We will think about a fix.

[2021-03-05 11:22] LukasWieditz opened #1355 "Steps attached to hidden elements block tour progress"
In reference to #934, is there a recommended way/example how to proceed with steps that aren't shown? E.g. in the attached example (https://codepen.io/snap/pen/yLYXQmG), as a user I have no indication on what went wrong and the site is inaccessible for me, and I seemingly have no way to continue from here. Can Shepherd be configured to automatically skip steps that aren't in view?

[2021-03-05 14:55] rwwagner90 commented on #1355
@LukasWieditz you can configure what steps to skip with `showOn`.

That being said, my suggestions are the same as on those other issues, do not start a tour for a thing that does not exist. This is true for hidden elements, elements that have not been rendered yet, etc.

[2021-03-08 14:30] #1342 closed

[2021-03-18 13:57] bbenjamin opened #1368 "Accessibility bug: Any scroll/resize event moves focus to step container"
If an item within the step (such as a "next" button) is focused, that focus will move to the step container on scroll/resize due to this Popper modifier, which is triggered after all scroll and resize events.  `step.el.focus();` should probably only happen after initialization.
`{
        name: 'focusAfterRender',
        enabled: true,
        phase: 'afterWrite',
        fn() {
          setTime

[2021-03-19 14:24] rwwagner90 commented on #1368
@bbenjamin I'm not sure I understand the problem here. We do want to focus the step after it renders for accessibility, so I don't think we'd want to remove this. Do you have steps to reproduce the issue you are describing?

[2021-03-19 14:43] bbenjamin commented on #1368
The _step_ being focused after it is rendered is desirable, the problem is that focus is being reassigned every time the _Popper_ is rendered, and Popper[ defaults to a rerender after any scroll or resize](https://popper.js.org/docs/v2/modifiers/event-listeners/)

1. Open a tour step that includes a button in the footer. The newly rendered step is focused and that part is fine.
2. Use the tab key

[2021-03-23 13:01] rwwagner90 commented on #1368
Thanks @bbenjamin, I see what you mean now. I'm not sure of a good fix for this. We definitely need to wait for popper, as we can't focus the popper element until it exists. Do you have any suggestions for an implementation?

[2021-03-24 07:33] yonkov commented on #437
Is there a version i can use that still supports Internet Explorer 11?

[2021-03-24 08:00] JPortegijs opened #1376 "Hide tour on advanceOn, continue tour on another step"
Hello,

How would one generally make something like this? Any tips are welcome.

<img width="722" alt="Screenshot 2021-03-24 at 08 56 26" src="https://user-images.githubusercontent.com/12064206/112274842-3d2c9800-8c7f-11eb-833d-1002ce5f0550.png">

[2021-03-24 11:04] K20 opened #1377 "Cannot build 8.2.0"
Hello, I cannot build the 8.2.0 version with npm :

`PS C:\Users\Kevin\Desktop\shepherd-8.2.0> npm run build

yarn run v1.22.5
$ rimraf dist
Done in 0.26s.

./src/js/shepherd.js → dist/js/shepherd.js, dist/js/shepherd.esm.js...
(node:31160) ExperimentalWarning: Package name self resolution is an experimental feature. This feature could change at any time
[!] (plugin svelte) ParseError: Unexpected

[2021-03-24 14:28] rwwagner90 commented on #1376
@JPortegijs you can use `tour.hide()` and `tour.show()` to show and hide the tour. https://shepherdjs.dev/docs/Tour.html#show

[2021-03-24 14:30] rwwagner90 commented on #437
@yonkov one of the 6.x or 7.x versions should work, but they also required polyfills. Our stance is to not support IE at all because Microsoft even has dropped support for it.

[2021-03-24 15:40] genolve commented on #1355
@LukasWieditz you can add a check for visibility in the 'next' button logic, for my case I'm prompting the user to click something
`const shep_button = [
                {
                  action() {
                    return this.back();
                  },
                  classes: 'shepherd-button-secondary',
                  text: 'Back'
                },
                {

[2021-03-24 16:50] rwwagner90 commented on #1355
@genolve I do not recommend that. What you want is to make sure the element exists before the step is shown. You can use something like `beforeShowPromise` to wait for your element to render.

[2021-03-25 13:48] NewmansHub opened #1378 "cancel() is not accessible via buttons"
Hey,
I have the following problem when canceling via a button within the step.

I have defined globally for the tour what happens on _show_ and _cancel_, for this I used `when`.

[code]
My stuff under _cancel_ works fine when I exit the tour via `cancelIcon`.

[code]

However, once I execute ` this.cancel();` in the button action it no longer accesses my defined methods under `when`. It ends the t

[2021-03-25 15:33] rwwagner90 commented on #1378
@NewmansHub it sounds like what you might want is to use `tour.on('cancel'` and setup some custom logic to happen when a tour is cancelled?

[2021-03-25 16:13] NewmansHub commented on #1378
Sorry, I had a logic error in the last sentences, I have corrected it.

No, I mean when I trigger via a button (like cancel the tour or step back) the `cancel()` method is not passed to my logic (disable a fixed header) from `when` on `defaultStepOptions`.
For `show` and `complete` it works perfectly.

If I trigger `cancel` via `cancelicon` it works for example.

[2021-03-25 17:24] smitpatelx opened #1380 "How to skip hidden/non-existent steps? With Answer"
While working with this plugin, you might be in a situation where you want to only introduce some elements of your app due to permission/privacy issues. It took me a lot of time to understand and find a correct working solution and here it is.

This will skip the hidden elements.

[code]
By the way I am using `Vue 2` and `shepherd.js` [Not ~~`vue-shepherd`~~]

[2021-03-25 22:22] rwwagner90 commented on #1380
@smitpatelx I'm not sure I 100% understand your use case, but I think what you want is `showOn` from https://shepherdjs.dev/docs/Step.html

[2021-03-25 22:27] rwwagner90 commented on #1378
@NewmansHub I think my answer is still the same. Have you looked at `tour.on('cancel'`? That is where you want to put custom logic you want to happen when the tour is cancelled, instead of trying to use `when`. `when` is a step option, not a tour option, so you're cancelling the tour, not the step, which will not trigger the step's cancel.

[2021-03-26 07:38] NewmansHub commented on #1378
Thanks for the tip.

I think I messed things up a bit.
I'll just access things with tour.on(['cancel','complete']) now.

Thanks!

[2021-03-26 07:38] #1378 closed

[2021-03-31 15:07] arperyan opened #1394 "Svelte - Not adding the class "shepherd-modal-is-visible""
Hi,

I am trying to use this project in my svelte project but the overlay is not appearing. I have a button event calling shepherd.start(). I have also notice that it doesn't highlight the element like in the example - SHEPHERD:

![image](https://user-images.githubusercontent.com/20163734/113166906-1b14b600-923b-11eb-930c-7b95185e4b60.png)

I am using the latest version of shepherd.

Any help woul

[2021-04-01 00:51] rwwagner90 commented on #1394
@arperyan could you please share a reproduction? My first guess would be perhaps you are not including the styles?

[2021-04-01 08:01] arperyan commented on #1394
Hi Robert,

In my rollup settings i have:
css({ output: "extra.css" }),

An in App.svelte I have the following:

`<script>
  import Shepherd from "shepherd.js";
  import "../node_modules/shepherd.js/dist/css/shepherd.css";
  const shepherd = new Shepherd.Tour({
    defaultStepOptions: {
      cancelIcon: {
        enabled: true,
      },
      classes: "shepherd-modal-is-visible",
      scrollTo:

[2021-04-01 08:04] arperyan commented on #1394
![image](https://user-images.githubusercontent.com/20163734/113263038-362e0700-92c9-11eb-88ba-286df24ebcb5.png)

[2021-04-03 00:22] bbenjamin commented on #1368
Waiting for Popper shouldn't be necessary since Popper doesn't add anything to the DOM. Popper adds inline styles to the element to position it, but doesn't do anything that would alter focus. I did some grepping through Popper's source to confirm there wasn't a config option could impact focus, and couldn't find anything. This may have been an issue with Popper 1.x, but with the version bundled w

[2021-04-05 01:11] rwwagner90 commented on #1394
@arperyan `useModalOverlay` is a tour option, not a step option. If you move it to the tour, it should work.

[2021-04-05 18:19] Abdo-Saleh commented on #1340
It's solved

[2021-04-06 11:20] arperyan commented on #1394
Thanks Robert!

[2021-04-06 11:20] #1394 closed

[2021-04-06 13:30] rwwagner90 commented on #1340
@Abdo-Saleh what was the issue?

[2021-04-06 14:22] yonkov opened #1403 "ConfirmCancel not working, v. 8.2.3"
I want to have a warning when the user clicks the close button. I am using `confirmCancel: true`, as shown in the docs.  This is my current configuration:

[code]

However, when clicking the cancel icon, the confirmCancel does nothing and the popup closes without any alerts.

[2021-04-06 16:25] rwwagner90 commented on #1403
@yonkov `confirmCancel` is a tour option. You have it in step options https://shepherdjs.dev/docs/Tour.html

[2021-04-06 16:25] #1403 closed

[2021-04-06 16:31] rwwagner90 commented on #1368
@bbenjamin I do not see how we can focus an element that does not exist. This is adding focus to the popper element itself. It does not exist until you show the step. I'm open to suggestions, but we cannot focus an element that does not exist yet.

[2021-04-06 16:33] #1377 closed

[2021-04-06 18:19] bbenjamin commented on #1368
Debugged a bit and found that although the element _exists_ pre-Popper, it looks like Popper detaches it from the DOM, which results in in lost focus. Just ignore my earlier suggestions, and  I opened a PR https://github.com/shipshapecode/shepherd/pull/1404 with an approach that works, but it may lead you to something more elegant.

[2021-04-06 19:50] yonkov commented on #1403
I tried to add it to the step object but still not showing. Can you provide a working example please?

[2021-04-06 20:21] rwwagner90 commented on #1403
It works for me with setting it on the tour.

[code]

[2021-04-07 15:25] Abdo-Saleh commented on #1340
I am not sure how can I explain it, but hopefully will be useful.
we're using semantic-ui with an angular 8, the semantic-ui is adding a "pushable class"
for the body always when you have a sidebar, the "pushable" has attribute height, which i changed to height:fit-content.

maybe later I can add part of the reproduction.

[2021-04-07 21:25] yonkov commented on #1403
Thank you, very much it is working now! Moving it out from the `defaultStepOptions` object does the trick.

[2021-04-08 14:05] gromen commented on #895
I have similar issue with not highlighting element after few steps [https://github.com/shipshapecode/shepherd/issues/895#issue-597669300](https://github.com/shipshapecode/shepherd/issues/895#issue-597669300) [:](https://github.com/shipshapecode/shepherd/issues/895#issue-597669300:)

This element should be highlighted:

*   onboardingWizard-components has width and height properties

![](https://us

[2021-04-08 14:12] rwwagner90 commented on #895
@gromen it seems like you are using an older version of Shepherd and/or need to update your usage. What version are you on?

[2021-04-09 06:00] gromen commented on #895
@rwwagner90 thank you for your response - I'm on v8.2.3 - I'm using  [**https://cdn.jsdelivr.net/npm/shepherd.js@8.2.3/dist/js/shepherd.min.js**](https://cdn.jsdelivr.net/npm/shepherd.js@8.2.3/dist/js/shepherd.min.js) for test purposes

[2021-04-09 11:57] gromen opened #1405 "How to hide specified steps in tour and show them on cancel event or after click on element (custom quit confirmation step)"
Like in question, I would like to show step when cancel event is fired or after clicking specified element. Initailly step should be hidden in tour. I have a problem to hide step element from tour and invoke it on event. I would like to create my own custom quit confirmation message/modal.

### Few steps from my tour config:

[code]

`step-quitConfirmation` - step to show only when event is fired.

[2021-04-09 15:00] gromen commented on #1405
Resolved. Adding step with `addStep()` method when event fires

[2021-04-09 15:00] #1405 closed

[2021-04-09 18:47] rwwagner90 commented on #895
@gromen you likely need to update your code then. It seems like your implementation is from many versions ago.

[2021-04-11 21:15] yonkov commented on #459
@rwwagner90 , is there an update for this? Can you provide some example how to add a simple progress bar in the tour? I see @chuckcarpenter added some code but i am not sure how this can be used? Thank you in advance!

[2021-04-12 08:05] gromen commented on #895
@rwwagner90 ahhh...yes, thank you - updated to v8.3.0, but still not highlighting...
![image](https://user-images.githubusercontent.com/14578910/114359583-66e92880-9b74-11eb-8780-b92a212ce2dd.png)

![image](https://user-images.githubusercontent.com/14578910/114360054-e545ca80-9b74-11eb-93e6-b37e4a714066.png)

I am using production, minified version of shepherd from  `dist`  location, attached via

[2021-04-12 09:23] gromen commented on #895
@rwwagner90  this solved my problem :smiley:  :confetti\_ball:  [https://github.com/shipshapecode/shepherd/issues/1340#issuecomment-815006163](https://github.com/shipshapecode/shepherd/issues/1340#issuecomment-815006163)

I have attached `smenatic-ui` library and `.pushable` element's height was the problem

[2021-04-12 22:05] gromen opened #1418 "Modal overlay not visible when adding dynamically new step via tour.show()"
How to manage modal overlay when changing steps via `tour.show()` ? e.g. I've got:

[code]

[code]

step `step-quitConfirmation` is showing without modal overlay. @rwwagner90 @bbttxu Could you tell me how should I manage  steps added on cancel event with modal overlay all together ? I am clicking `.shepherd-cancel-icon` to cancel tour, then step `step-quitConfirmation` is fired, but without modal

[2021-04-13 09:05] gromen commented on #1418
Ok, solved. Problem was adding new step on `cancel` event. I created custom `click` event and modal overlay is added

[2021-04-13 09:05] #1418 closed

[2021-04-14 16:09] rwwagner90 commented on #459
@yonkov popper is included already in Shepherd. Your example seems okay here. What's the issue?

[2021-04-18 20:56] yonkov commented on #459
Thank you guys, I successfully added a progress bar and wrote a simple tutorial how to it, I hope someone else might find it useful: [How to Add a Progress Bar in Shepherd.js](https://yonkov.github.io/post/progress-bar-in-shepherd/)

[2021-04-26 13:08] omairar opened #1423 "Question: i have defined some jquery in action method of button its working fine when clicking next but jwuery not working when -> arrow of key board is clicked"
![image](https://user-images.githubusercontent.com/45089614/116087445-7c0a9f00-a6be-11eb-90c9-e6b8a00a9e02.png)

as demonstrated in picture the jquery written in the action function is not working when key board next arrow is clicked

[2021-04-26 14:17] rwwagner90 commented on #1423
Yes, this is a known issue. I think we have an existing issue filed for this, but not sure where it is. We need to change the behavior of what the arrows do.

[2021-04-27 10:01] johngeoffrey opened #1424 "Safari ScrollTo does not scroll to center of viewport"
ScrollTo for Safari does not work as expected in other browsers. Having an element further down the page as the start of the tour, Safari will scroll that element to the top of the viewport but Chrome...etc will scroll to the center

*Expected Behaviour*
* Safari to scroll the same amount as other browsers

*Actual Behaviour*
* Safari scrolls to the top of the viewport when other browsers scroll t

[2021-04-27 10:06] johngeoffrey commented on #1424
I had to use scrollToHandler to create consistent scroll position for all browsers. This is bespoke as needed all to be 90 from the top and not centered but it works in all browsers.

`scrollToHandler: function(element) {

      let scrollTop = window.pageYOffset || element.scrollTop;

      const finalOffset = element.getBoundingClientRect().top + scrollTop - 90;

      window.parent.scrollTo({

[2021-04-28 08:12] yonkov opened #1435 "Change Shepherd element default margin"
When I create a step and inspect it with the dev tools, I can see some default inline styles are added to the `shepherd-element` classname:
![image](https://user-images.githubusercontent.com/26258032/116369822-7aea8680-a812-11eb-9a0f-bbe09a84450c.png)

I would like to change this margin to lets say 15px. Is there an option to do that. I know i can override this margin with `!important` but I prefe

[2021-04-28 19:27] sdraper69 opened #1437 "Stop it from dissapearing if it cant find element"
First off, great library, it does everything I want and it's pretty easy to use. Far better than others I tried before finding shepherd (your demo actually originally put me off due to its styling).

I have elements hidden in an off-canvas that appear when a button is clicked. So it is visually appealing the off-canvas div slides in (transition: transform 0.3s ease-out). I also have elements that

[2021-04-29 16:37] yonkov commented on #164
In case anyone needs more information on how to show the tour only one time, I wrote a short guide about how I implemented it in my app. I am using `localStorage`, as suggested by @pmocal, and I am also adding additional checks if the user has finished or dismissed the tour : [How to Display Shepherd.js Only Once](https://yonkov.github.io/post/display-shepherd-only-once)

[2021-04-29 17:20] rwwagner90 commented on #164
Thanks @yonkov! Please feel free to add some of these things to the official docs in the cookbook, if you'd like.

[2021-04-29 17:26] rwwagner90 commented on #1437
@sdraper69 `beforeShowPromise` should work for your use case. You can wait for your element to exist there, and then continue.

[2021-05-01 00:40] jadenguitarman opened #1442 ""right" not working as an attachTo direction"
I'm setting up a fairly simple installation of ShepherdJS. Just trying to create a tour and attach one of the steps to an element on the left edge of the screen. So I'd think that I was set the `on` property of the `attachTo` object to `right`, hoping that the popup would show up on the right side of the element I'm attaching it to. But it shows up over top of the element instead, with the arrow p

[2021-05-02 00:49] rwwagner90 commented on #1442
@jadenguitarman the default behavior is to flip to the other side if it doesn't fit in the space you are trying to put it in. My guess is that is what is happening here.

[2021-05-02 00:54] rwwagner90 commented on #1435
@yonkov why not do like `.my-class-name .shepherd-element` and add your own styles?

[2021-05-03 14:16] jadenguitarman commented on #1442
I have the tour in the <body>, so it definitely has all that space in the middle of the screen. Right now, though, it's covering up the element I'm trying to get the user to click on, which doesn't make sense in any situation. Is there any way to get around this problem and just get Shepherd to not override what I passed in?

[2021-05-04 12:37] rwwagner90 commented on #1442
@jadenguitarman it being in the body does not mean it has room. If there is not room on the right of your element, but there is on the left, it will flip to the left. Does that make sense?

[2021-05-04 15:30] jadenguitarman commented on #1442
There is less room on the left than on the right of the element.
If it's using the space around the element itself and not the space available to the popup, then why would it default to shoving itself in on the left instead of just doing what I told it to and showing up on the right? It can't be good practice to override input, even when both options are bad.
This needs to go to production soon, c

[2021-05-04 15:34] jadenguitarman commented on #1442
https://drive.google.com/file/d/1QR20vAbcp95yhhN_nhdGgug6KpdZIgd7/view

[2021-05-06 16:16] rwwagner90 commented on #1442
@jadenguitarman

We're just using popper here. We use `preventOverflow` here https://github.com/shipshapecode/shepherd/blob/695936b3b51442b2aa2cf9985a528cf4d0b959f7/src/js/utils/general.js#L98

Looking at our demo app, it looks like perhaps we have a broken `right` placement, as the left one is much more responsive.

[2021-05-06 19:09] jadenguitarman commented on #1442
OK, thanks for getting back to me. I know I can pass Popper options through Shepherd, but I'm not sure what option to use. Any chance you'd know what setting I need to temporarily fix this? Thanks @rwwagner90

[2021-05-06 22:48] chuckcarpenter commented on #1442
@jadenguitarman I have a fix in #1449, if you want to try it out. The option you could also try to pass in a modifier in your options to overwrite this: https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/general.js#L96

[code]
 setting `tether: false` is the fix.

[2021-05-06 22:50] #1442 closed

[2021-05-06 22:56] jadenguitarman commented on #1442
Fantastic, thank you! I'll get started with this and open a new bug report if needed.

[2021-05-07 09:07] stphntlbt commented on #1355
Hello. same problem on a responsive menu (some li hidden on mobile)...
Handled this by checking offsetwidth of element in parseAttach function then resetting the element if 0 (unvisible), resulting in  positionning the window in the middle, like there's no attachment:

works fine Chrome, Firefox.

`function parseAttachTo(step) {

    const options = step.options.attachTo || {};
	const returnOpts =

[2021-05-07 23:25] rwwagner90 commented on #1442
@jadenguitarman give 8.3.1 a try

[2021-05-08 02:18] jadenguitarman commented on #1442
@rwwagner90 I tried it and got it to work, but now I'm seeing another bug; I'll make a new report.

[2021-05-08 02:21] jadenguitarman opened #1450 "Tooltip not spacing correctly"
![image](https://user-images.githubusercontent.com/43829263/117522622-7cd6e700-af82-11eb-8a6e-df5f44ae5024.png)
I'm using 8.3.1, and it looks like the tooltip isn't giving enough space for the arrow to fit between the element it's attached to and the tooltip itself. Is there a spacing variable I can adjust? Thanks.

[2021-05-08 12:24] rwwagner90 commented on #1450
@jadenguitarman this is the same behavior as previous versions, correct? There are definitely options to spacing. Check out the docs on offset here https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2021-05-09 14:21] yonkov opened #1452 "Skip a step if element in attachTo is not visible"
My tour got stuck when I attached an element that is hidden on mobile. For example, this could be a menu item from collapsed menu on mobile. I need a way to detect if element is hidden from the screen (opacity:0 or display: none, etc.) and if it is hidden, either detach the step from the element or skip the step. Is there a way to do it? I read about the `beforeShowPromise` but not sure how to imp

[2021-05-13 09:22] sdraper69 commented on #1437
thanks, @rwwagner90 . I got round the use case above by putting in a delay as you suggested thanks.

However, due to the nature of my GUI the user can still do things that cause elements not to be visible (e.g. they change a tab). Of course, I can try to block behaviour with overlays, force things to show in the before show promise etc, however, it's impossible to catch them all.

The problem aris

[2021-05-14 19:11] ColinSather commented on #1143
Hello, I am interested in working on this. Please do not close this issue due to staleness.

[2021-05-18 16:14] zrpnr opened #1470 "Security Policy questions"
Hi,

The Drupal project is planning to add Shepherd as a dependency for one of its core modules, replacing jQuery Joyride.
https://www.drupal.org/project/drupal/issues/3051766

Before that can be approved by the maintainers we have to perform a standard stability review.
If you could answer these questions it would be very helpful for our due diligence!

Do you have any official policies with rega

[2021-05-18 22:21] rwwagner90 commented on #1470
Hi @zrpnr, thanks for reaching out! We don't really have formal policies for new releases. We stay up to date with security issues flagged by dependabot/GitHub and try to keep everything fixed.

We do not have any sort of LTS setup, but I don't think we have any major changes planned for the foreseeable future. Things should be relatively stable, at this point.

We're certainly open to working wit

[2021-05-18 22:36] zrpnr commented on #1470
That all sounds good, and thank you for the quick reply @rwwagner90 !

[2021-05-18 23:55] chuckcarpenter commented on #1452
@yonkov that looks like a good implementation.  You could probably use `getComputedStyle` on the element as well to check opacity:0 or display: none, etc, as you'd mentioned. Either way, using that hook for custom functionality is what we'd recommend and not something we'd implement in the library directly.

[2021-05-18 23:55] #1452 closed

[2021-05-19 00:26] chuckcarpenter commented on #1424
@johngeoffrey it does seem that support for https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView#browser_compatibility is experimental. There was a SO issue where this polyfill was suggested, https://github.com/magic-akari/seamless-scroll-polyfill#use-specific-polyfill. If you have a chance to try that and submit a PR, that'd be really helpful. Otherwise, I'll try it as soon as

[2021-05-19 14:53] rwwagner90 commented on #1437
@sdraper69 ah, I see your point. I think we probably need some logic to say if the element was not found, skip the call to `_setupModal`.

I am not sure what the best default behavior would be for this case. I could see some people preferring it to just center it, but others may want it to wait for the element to exist or end the tour entirely or even throw a warning to the user etc.

[2021-05-19 14:54] rwwagner90 commented on #1435
Closing this, since it can be solved by adding your own classes and/or `classPrefix`

[2021-05-19 14:54] #1376 closed

[2021-05-19 14:57] rwwagner90 commented on #1452
@chuckcarpenter we do need a sane default for when the element is not found. Right now, we do not show the step, but we do show the modal, so the user is stuck, which feels like a bug.

[2021-05-19 15:36] chuckcarpenter commented on #1452
@rwwagner90 not sure because what is that? Does the tour fail or do we go to the next step? Do we need to add a hook in to override that behavior as well?

[2021-05-20 07:28] sdraper69 commented on #1437
I think giving users options would be the best. Perhaps be able to specify an onFail event for steps, where you can choose to centre, close, wait and try again(with a time out/# of attempts) or pass a custom function.

[2021-05-20 07:34] sdraper69 opened #1472 "AdvanceOn enhancement - Pass expected Value"
The advance on is a really useful shortcut feature. It would be great if you could simply pass the value you are wanting to advanceOn, for situations where you are doing more than a click.

eg. You may advance on a change of a Select, but want it to only be when they pick a specific value.

[2021-05-20 11:51] rwwagner90 commented on #1472
@sdraper69 I personally prefer to do things the opposite way. I would make my select have an action that calls `tour.next()` when appropriate.

[2021-05-20 15:44] aaronscherbing opened #1473 "Popover is hidden whenever its attached to an element."
I want to use this library, but it seems just plain broken.

Every time I attach the popover to an element, `data-popper-reference-hidden` is set.  I tried versions 8.3.1, 8.3.0, 8.0.0, and 7.2.1.

<img width="1947" alt="Screen Shot 2021-05-20 at 10 37 38 AM" src="https://user-images.githubusercontent.com/11944082/119008273-a36c2900-b957-11eb-875d-280f7ddd025e.png">

[2021-05-20 20:54] aaronscherbing commented on #1473
I had to add this css hack to get it working:
[code]

[2021-05-20 21:36] rwwagner90 commented on #1473
@aaronscherbing our demo page does not have this issue, so it is definitely not broken. Have you included the css file?

[2021-05-20 21:45] aaronscherbing commented on #1473
I have included the css, yes.  And I am using the example steps on this page: https://shepherdjs.dev/

The demo page, when it's displaying a step, doesn't include the `data-popper-reference-hidden` attribute on the active step, but I'm seeing that on any step that attaches itself to an element.

Is it possible that there was a popper change in functionality?  I don't see popper being download on t

[2021-05-20 22:02] aaronscherbing commented on #1473
Poop.  It's working in a small project.  I'm not able to share my large project, and I don't have the bandwidth to dig any further (especially considering I found a workaround).  I'll close this ticket.  There's something lurking in there that is causing the `data-popper-reference-hidden` attribute to show up on the active step.

[2021-05-20 22:02] #1473 closed

[2021-05-21 15:29] rwwagner90 commented on #1473
@aaronscherbing can you share some info about how your project is setup? Are you using shadow DOM or is it possible there are some conflicting styles at play from another library? In theory `data-popper-reference-hidden` is added when you have scrolled the element the tooltip is pointing to out of the viewport, but it may have edge cases.

[2021-05-24 11:19] sdraper69 commented on #1472
That's ok when you have a small number of static GUI elements. But in a more complex dynamic environment, it would be a lot easier and convenient to be able to have shepherd do it. In my case, I am building up several tours to show off different functionality, and the tour may never actually be run, so I don't want to bind a load of functions that 99% of the time may sit there unused.

[2021-05-24 11:28] sdraper69 commented on #1437
For me personally, I would like it to go back until it finds a step it can attach to. Amongst other things, this would help me when restarting a tour (e.g. the user has exited and come back in - they could have exited in a situation that requires 5 previous steps to get to).

Is there a way I can intercept/detect when it fails to attach?

[2021-05-27 11:34] rwwagner90 commented on #1424
The problem here is `scrollIntoView` does not support options in Safari. I don't personally think it is the job of Shepherd to implement all the things the browsers have not. Libraries to handle this scrolling are very large and double the size of Shepherd if we use them.

[2021-06-04 16:28] alperenersoy commented on #1143
Disabling "focusAfterRender" from "popperOptions" in "defaultStepOptions" seems working for me.

`var startTour = new Shepherd.Tour({
defaultStepOptions: {
classes: 'shadow-md bg-purple-dark',
scrollTo: false,
 cancelIcon: {
 enabled: true
 },
popperOptions: {
 modifiers: [{ name: "focusAfterRender", enabled: false }]
}
},
useModalOverlay: true
});`

[2021-06-17 18:24] #1353 closed

[2021-06-23 11:21] #1310 closed

[2021-06-23 11:21] #1324 closed

[2021-06-23 11:21] #1252 closed

[2021-06-23 11:21] #1450 closed

[2021-06-24 12:17] #1435 closed

[2021-06-27 18:53] rwwagner90 commented on #1472
@sdraper69 you are doing basically the same bindings either way, it's just different syntax. If you would like to open a PR implementing what you are suggesting, we would be glad to review it, but I think it's out of scope and I personally think we should remove `advanceOn` and `when` in favor of defining explicit `tour.next()` where needed.

[2021-07-01 01:27] Eduardo-Julio opened #1529 "ES6 in dist"
As previously seen in this issue https://github.com/shipshapecode/shepherd/issues/626

The dist has ES6 which makes problems with a lot of stuff which are expecting ES5 in dists.

[2021-07-16 14:23] olee opened #1542 "Delay advanceOn to wait until next step attachTo is rendered"
I'm using shepherd in a react SPA and when I click a tour step which navigates, the tour tries to attach the next step to an element which will only be visible after the navigation finished.
Is there some way to either
- delay the advanceOn progression for just a few ms to give the page time to render or
- to run some code to make shepherd try detect the target again and reposition the overlay etc

[2021-07-16 15:04] olee opened #1543 "Tour .cancel() / .hide() does not trigger hide event"
When I call `tour.cancel()` or `tour.hide()`, the hide event listener on the tour (`newTour.on('hide', () => ...)`) does not fire for some reason.

Instead I found through the code the `inactive` event which is not mentioned in the docs which seems to catch at least cancel and done events, but not yet hide.

[2021-07-16 15:05] olee commented on #1542
For now I fixed it manually with this handler - don't know if something like this makes sense to integrate
[code]

[2021-07-21 05:21] #1355 closed

[2021-07-21 05:21] #1025 closed

[2021-07-21 05:21] #1368 closed

[2021-07-21 05:21] #1202 closed

[2021-07-23 00:43] chan-dev opened #1548 "doesn't follow positioned elements"
Seems like it doesn't work when the element you assigned as `attachedTo` is a positioned element (e.g position: fixed)

I've attached a demo here in this link:
https://codepen.io/chan-dev/pen/BaRwYMe

[2021-07-28 04:05] rwwagner90 commented on #1143
@ColinSather are you still interested in taking a look?

@alperenersoy yeah, we do need to keep it enabled though, as we need to focus the popper when it is rendered. See the discussion above.

[2021-07-30 03:13] claubel opened #1560 "Arrow not positioned properly when using top-end"
When using `on: 'top-end` or `on: 'top-start`. The default arrow element exceeds the area of the step making its corner visible.
Would it be possible to place the arrow at the center of the step element?

![Screenshot 2021-07-30 at 10 58 40 AM](https://user-images.githubusercontent.com/88174595/127594256-806085fa-2b4c-43b0-b971-bea41ddb1ed5.png)

[2021-08-02 08:38] jatinS-dev opened #1561 "Multi-Page Application functionality with saved data in the Back-end."
We have to use external functions if we want to make any tour Multipage, there can be a new feature where  {
      action() {
        return this.next();
      },
in this, you can add Multi-page functionality

[2021-08-04 14:36] katrinewi opened #1570 "Scroll bug when scrolling inside the active element"
There is some weird behaviour when scrolling inside the active element of the tour ..

To recreate:
1. Go to: [https://shipshapecode.github.io/react-shepherd/](https://shipshapecode.github.io/react-shepherd/)
2. Click start tour
3. Position the cursor inside the active area of the tour and scroll down, when the active step is outside of the screen it is impossible to do anything.

It would be nice

[2021-08-07 16:42] jatinS-dev opened #1571 "Text is not fitting in the Tour Box"
Expected behavior:

Result Getting:

[2021-08-14 12:34] jatinS-dev opened #1582 "Showing Black screen when use ModalOverlay = true"
I am creating a tour, but after using this code, when the tour starts the whole screen turns black, any solution for this?
code-
  const tour = new Shepherd.Tour({
            defaultStepOptions: {
                cancelIcon: {
                    enabled: true
                },
                classes: 'class-1 class-2 shepherd-theme-arrows',
                scrollTo: { behavior: 'smooth', block

[2021-08-15 07:19] #1582 closed

[2021-08-15 07:20] jatinS-dev commented on #1582
Updates: This can be solved with proper placing of Tout.start( ) API.

[2021-08-15 07:22] jatinS-dev commented on #1561
Updates: This can be done with making a wrapper around it and manually save the state of the tour somewhere (to localstorage for example). And also properly handle page refreshes to restart the tour on the page you are currenty on.

[2021-08-15 07:22] #1561 closed

[2021-08-15 17:35] Ragini2709 opened #1583 "step only appears when window is resized in angular-shepherd"
shepherd tour guide step only appears when window is resized in angular-shepherd.

[2021-08-16 13:54] rwwagner90 commented on #1561
@jatinS-dev can you explain what you mean? Multipage is definitely possible as long as both pages have access to the tour. You can call `tour.next()` when your next page loads, etc.

[2021-08-16 17:09] andresespinosapc opened #1588 "Autofocus input inside step element"
I want to autofocus an input that is inside a step element as soon as I get into that step. The problem is that Shepherd is focusing the whole element after I focus my input. I looked into the code and it happens 300 milliseconds after getting to that step, so as a workaround I focus my input 400 milliseconds after, but I think there should be a way of doing this in a better way.

[2021-08-17 00:05] rwwagner90 commented on #1588
@andresespinosapc focusing the tooltip is part of a11y and is required. Open to other suggestions if you have them.

[2021-08-17 03:15] rwwagner90 commented on #1571
@jatinS-dev can you please share a reproduction?

[2021-08-17 03:19] rwwagner90 commented on #1570
@katrinewi that is very odd. The problem does not seem to exist in the Shepherd demo, right? https://shepherdjs.dev/

[2021-08-17 05:44] katrinewi commented on #1570
@rwwagner90 No, it doesn't. 👍  Is it better if I open this issue in the React-Shepherd repository ?

[2021-08-17 11:23] michelAlexis commented on #1560
Hi!
I have the same problem so I might add some info to this issue.
`top-end` and `top-start` (or even `bottom-*`) are not the real issue.
It's the combination with Popper offset options that shift not properly the arrow element.

[2021-08-18 00:53] rwwagner90 commented on #1560
@claubel is it possible you have some styling on your tooltip that's making this more noticeable? We could potentially offset it some.

[2021-08-19 05:42] Shmacked opened #1589 "Unexpected token '.' in shepherd.css file:1"
So I imported the css - as per usual, and it threw this error in Firefox "Uncaught SyntaxError: Unexpected token '.' in shepherd.css:1". I can't confirm if there are any styles that are actually successfully being imported, but as of currently, I am seeing no change in style for buttons, the "backdrop", around the container, etc. Please let me know how I can make this post more helpful to you.

cs

[2021-08-19 06:00] Shmacked commented on #1589
Big oof - if you've made it here, make sure that your css is inside a <link> and not a <script>... I guess this was self imposed and what I get for coding at 1 a.m.

[2021-08-19 06:00] #1589 closed

[2021-08-24 02:42] rwwagner90 commented on #1570
@katrinewi have you experienced this issue in your app or is this just in the react demo? It seems our demo may have some incorrect CSS https://github.com/shipshapecode/react-shepherd/blob/af955e8d6707dc4d607b5f80b345b32fdf1dcd2b/packages/example/public/css/welcome.css#L134

[2021-08-24 02:48] rwwagner90 commented on #1542
Hi @olee sorry for the late reply! There are many issues like this about timing, the answer to most of them is to use `beforeShowPromise` to make sure your element exists before showing the step.

[2021-08-24 08:13] jatinS-dev opened #1596 "Multipage Functionality in Shepherd JS"
I'm working on a Guided Tour project, in which I am using Shepherd JS. But I'm not getting how to use multi-page functionality using Shepherd JS.

[2021-08-24 18:02] rwwagner90 commented on #1596
@jatinS-dev you opened an issue, emailed me, and started a discussion for the same question. My answer is still the same and please do not contact us three times for the same thing.

[2021-08-24 18:02] #1596 closed

[2021-08-25 08:53] #1571 closed

[2021-08-27 17:48] andresespinosapc opened #1597 "Popover showing completly blank when it doesn't fit the screen"
In small mobile devices, when the step doesn't fit the screen it sometimes shows completely blank. When scrolling it shows correctly at times.

<img width="320" alt="Screen Shot 2021-08-27 at 13 45 06" src="https://user-images.githubusercontent.com/8888934/131168283-ab9425fc-e204-4ce8-ac5f-06d00f390625.png">

[2021-08-31 23:06] andresespinosapc commented on #1597
I'm sorry, it seems it was a problem specific to my code, I couldn't reproduce with other components

[2021-08-31 23:06] #1597 closed

[2021-08-31 23:15] andresespinosapc commented on #1143
Even if I disable focus using `popperOptions`, I cannot see the input because it is covered by the popover. The keyboard does not close but I cannot see the input.

Maybe it should be possible to allow the popover to be out of the screen while an input is focused

[2021-08-31 23:46] alperenersoy commented on #1143
You can try to hide "shepherd-element" class on focus and show it on focusout if it is not important to keep it open while typing. You should also check the element and position in attachTo property of steps. If you give more information about your using we can better help you.

[2021-09-01 14:24] andresespinosapc commented on #1143
@alperenersoy I finally made a workaround using a modal for that step in mobile, but I think that this should be considered when fixing this issue. If I have some time to try your solution I'll share the result here.

[2021-09-01 14:45] rwwagner90 commented on #1143
@andresespinosapc could you not use `step.hide` and `step.show` for this?

[2021-09-06 10:06] jatinS-dev opened #1608 "[Question] Buttons Option"
There are two questions:
1) How should I give the option on the last step for buttons like 'end the Tour' and 'Start the Tour again'.This is for when I create the Tour Dynamically.

Here is the example of demo code:

[code]

2) the Second question is I just want to give the options for the buttons only when it is needed, like if there is no next step in my dynamic tour there shouldn't be next butt

[2021-09-06 10:07] jatinS-dev opened #1612 "[Question] Buttons Option"
There are two questions:
1) How should I give the option on the last step for buttons like 'end the Tour' and 'Start the Tour again'.This is for when I create the Tour Dynamically.

Here is the example of demo code:

`tour.addStep({
                    title: obj[mainID].steps[index].title,
                    text: obj[mainID].steps[index].description,
                    classes: 'intro-step she

[2021-09-06 10:08] #1612 closed

[2021-09-07 12:26] rwwagner90 commented on #1608
@jatinS-dev you can set all that via `buttons`. Just set your `action` to whatever you want it to be.

[code]

To leave out buttons, simply omit them from the config.

[2021-09-08 11:04] jatinS-dev commented on #1608
Is there any example that you can share regarding the same, that would be very helpful, @rwwagner90

[2021-09-08 13:00] AF1298 opened #1614 "HTML Object"
hiii sir, i want to ask, how can we put an a HTML object on tooltip. that shown to me a Text like "[OBJECT]".
any solutions, please

here part of my source
![image](https://user-images.githubusercontent.com/48938319/132513870-10357a30-b4b2-4902-bcf6-1e449c038381.png)

[2021-09-08 13:02] AF1298 commented on #1614
and it displayed to me like this

![image](https://user-images.githubusercontent.com/48938319/132514178-25ec3068-033a-470a-ba96-5c986ff14e0d.png)

[2021-09-08 19:53] rwwagner90 commented on #1614
@AF1298 make it a string. We support html, but you need to wrap it in quotes, so use `'<p>sdsd<p>'`

[2021-09-08 19:53] #1614 closed

[2021-09-08 19:55] rwwagner90 commented on #1608
@jatinS-dev I'm not sure what you mean by an example. The buttons you define in `buttons` are what show up. If you don't put a button in there, it won't show up, so you are in total control of what you put in there.

[2021-09-10 19:03] aripddev commented on #459
Thanks @yonkov, inspired by you. Below is the improved code for who wants to place progress in footer. Added `shepherd-progress` className and some scss.

[code]

[code]

Result

<img width="394" alt="Screen Shot 2021-09-10 at 21 55 42" src="https://user-images.githubusercontent.com/9448030/132904240-c27b0f82-dd92-4e4a-8411-cfeacda3898c.png">

[2021-09-10 19:29] rwwagner90 commented on #459
@yonkov @aripddev if either of you want to improve the cookbook on this, I would gladly accept a PR!

[2021-09-13 13:50] rwwagner90 commented on #1543
@olee `hide` is not a supported event. These are the events for a tour:

https://github.com/shipshapecode/shepherd/blob/master/src/js/tour.js#L55

[2021-09-13 17:50] rwwagner90 commented on #459
@aripddev I am not seeing a PR. Are you sure you opened one?

[2021-09-13 20:48] aripddev commented on #459
@rwwagner90 My mistake. Now I've created PR

[2021-09-13 20:50] chuckcarpenter commented on #459
@aripddev looks like that's into the fork. Can you chose this repo as the target? https://github.com/aripddev/shepherd/pull/1

[2021-09-16 12:46] rwwagner90 commented on #1529
@Eduardo-Julio can you please be more specific? What Shepherd version and what are you seeing?

[2021-09-21 19:28] IlyaSovenko opened #1631 "Arrow modifications as a function"
I have a lot of iframes in my case. that's why I'm using offset modifier, in case, when element, of the tour is inside iframe, the has non 0 offset. But in this case my arrows looks like this (I want to say something about this `Filter`, and arrow should point on this `Filter`)
<img width="421" alt="Screenshot 2021-09-21 at 22 23 28" src="https://user-images.githubusercontent.com/31532505/13423468

[2021-09-22 13:27] rwwagner90 commented on #1631
@IlyaSovenko can you please share a reproduction? It seems you are trying to target an element incorrectly perhaps. I would try wrapping it in a div and targeting that instead.

[2021-09-23 11:43] jatinS-dev commented on #1608
Got the solution, have to make a Global array to store the Buttons option.

[2021-09-23 13:55] #1608 closed

[2021-09-26 09:19] jatinS-dev opened #1633 "[Question] => Can we use `useModalOverlay` in each step instead of using it in default option of Tour?"

[2021-09-26 13:16] rwwagner90 commented on #1633
@jatinS-dev no, you cannot. We felt it was best to be all or none. What is the use case where you would want to mix and match?

[2021-09-26 13:34] jatinS-dev commented on #1633
@rwwagner90 the case is if user wants to use the step to indicate the whole page, overlay effect will create issues over there

[2021-09-27 12:17] rwwagner90 commented on #1633
@jatinS-dev you could make another tour to do that, I suppose.

[2021-09-28 16:38] shaifulborhan opened #1643 "Controlling moda overlay opening padding on individual sides"
Hi,

There is a property called `modalOverlayOpeningPadding` for Steps for controlling the modal overlay overall padding but can the padding be controlled individually by left, right, top and bottom?

Thank you.

[2021-09-28 17:34] rwwagner90 commented on #1643
@shaifulborhan we currently use just one number for all sides, as you can see here https://github.com/shipshapecode/shepherd/blob/0eda0762c30d373e4e4cac1910a3417f8764e554/src/js/components/shepherd-modal.svelte#L56-L59

I would be open to allowing specifying different amounts per side, if you have an idea how to implement it and would like to open a PR!

[2021-10-04 23:43] thejimbirch opened #1652 "Use "prefers-reduced-motion" media query to disable animations"
To turn animations off, you could write a `prefers-reduced-motion` media query.  Then anyone who wants to turn animations off can do so in thue browser/OS settings.

This is from WCAG 2.1 [Animations from interactions](https://www.w3.org/WAI/WCAG21/Understanding/animation-from-interactions.html) success criterion, level-AAA.

Discussed in [Drupal Issue 2312805 ](https://www.drupal.org/project/drup

[2021-10-04 23:56] rwwagner90 commented on #1652
@thejimbirch you can override `scrollTo` on the step to change the scrolling behavior if that's what you mean?

[2021-10-05 00:04] thejimbirch commented on #1652
Thanks for the quick reply!

I like the scrolling.  But some users do not.

Was reading the [doc at Mozilla ](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) about this type of media query is the best of both worlds.  Keeps it as a default, but lets users opt out if they so choose.

[2021-10-05 00:40] rwwagner90 commented on #1652
@thejimbirch do you know of a good way to use that with `scrollIntoView`?

[2021-10-05 00:55] thejimbirch commented on #1652
This article has a nice example for implementing in JavaScript.

'''

const mediaQuery = window.matchMedia('(prefers-reduced-motion: reduce)');
mediaQuery.addEventListener('change', () => {
  console.log(mediaQuery.media, mediaQuery.matches);
  // Stop JavaScript-based animations.
});
'''

https://web.dev/prefers-reduced-motion/

And a demo at the bottom of the article.

[2021-10-05 08:10] IlyaSovenko commented on #1631
no, it works fine, while I using this outside the iframe, and without offsets popper modifiers. And also works fine without arrow function modifier, using just like a constant value.
Btw, I'm using this like array of steps with `attachTo` property with `element: htmlElement` and `on: 'auto``

And here is my popper options for this

[code]

[2021-10-05 19:09] rwwagner90 commented on #1631
@IlyaSovenko again, from the image, it looks like you are targeting something outside of what Shepherd can target. You cannot reach into an iframe and target elements I don't think.

[2021-10-05 19:10] rwwagner90 commented on #1631
It does seem like you have some complex popper config in here. I believe perhaps you are overriding Shepherd's default positioning.

[2021-10-08 05:01] edenriquez commented on #1298
Is this issue still happening ? can I take it ?

[2021-10-09 12:41] rwwagner90 commented on #1298
@edenriquez sure thing, please feel free to take it!

[2021-10-26 16:00] amorimcode opened #1673 "Question - useModalOverlay: true not working"
I just set useModalOverlay true in my tour default options but didnt get the background dimmed

`const tour = new Shepherd.Tour({
  defaultStepOptions: {
    cancelIcon: {
      enabled: true
    },
    useModalOverlay: true,
    classes: 'class-1 class-2',
    scrollTo: { behavior: 'smooth', block: 'center' }
  }
});`

[2021-10-26 16:04] #1673 closed, assigned to nobody

[2021-10-26 17:55] amorimcode opened #1674 "Question - Title supports html?"

[2021-11-02 01:11] rwwagner90 commented on #1674
@amorimcode it has to be a string like `title: '<h1>Including</h1>',` I confirmed this definitely works.

[2021-11-02 01:11] #1674 closed

[2021-11-04 19:22] Emmanuella-Aninye opened #1683 "New tour instance is being created when calling tour.next()"
Hello team, I'm using the shepherd js library to do a walkthrough for a project.

I'm initializing and adding steps to the tour in my app.js file and I'm passing the the tour object as a prop down through out my app.

I start the tour with the tour object(this part works fine) and I am trying to go to the next step by calling tour.next() on an item click.  When I do this, it launches a new instanc

[2021-11-04 23:48] rwwagner90 commented on #1683
@Emmanuella-Aninye that sounds very strange. Would you be able to create a small reproduction for us to debug with? I'm not sure I am fully understanding the setup.

[2021-11-08 19:52] Emmanuella-Aninye commented on #1683
So I figured out what the issue is. Declaring tour inside of my main app function causes a new instance to be created when I manually tried to iterate through. The moment I declared it outside the main app, it worked fine

[2021-11-09 13:36] #1683 closed

[2021-11-10 10:08] ricardopresto opened #1688 "modal disappears on second step"
Using shepherd and vue-shepherd.  First run through the tour, everything works fine. But if I run it a second time, the modal appears on the first step only and then disappears on the second step. Tried with and without modalContainer param.

[2021-11-10 11:02] ricardopresto commented on #1688
Realised this is only happening when using

element.addEventListener('click', () => {
  tour.next();
});

to advance. Using this because advanceOn wasn't working.

[2021-11-10 13:18] rwwagner90 commented on #1688
@ricardopresto don't use `advanceOn`. You should ideally use the buttons in the steps and do next/previous, but `tour.next` should work fine too. Can you please provide a reproduction? Also, this should be on the `vue-shepherd` repo right?

[2021-11-10 17:14] rwwagner90 commented on #1583
@Ragini2709 is this still an issue? I am transferring it to angular-shepherd

[2021-11-19 06:04] wingy3181 opened #1692 "[Question] Does shepherd support highlighting elements within an iframe?"
Hi,

I tried to do a quick POC. See https://github.com/wingy3181/shepherd/commit/f5ed9dcc24269beae26334e60086c8d8c6fea7e7

But just wanted to know if Shepherd supports highlighting elements within an iframe?
e.g. via the step `attachTo.element` property with a value of for example `document.getElementById('iframeId').contentWindow.document.querySelector('h1'),`

I looked into the following issue h

[2021-11-19 14:56] rwwagner90 commented on #1692
Hi @wingy3181 I think by definition iframes are pretty locked down. I think you would have to have Shepherd running inside the app you have in the iframe and setup your tour steps for the iframe there. I don't think `document.querySelector('.foo')` will be able to find `foo` in an iframe.

[2021-11-19 23:52] wingy3181 commented on #1692
Hi @rwwagner90

Thanks for the reply.

Yea I thought so too around iframes being locked down.

I did look a bit deeper...

So you can grab the element within the iframe as long as its in the same domain (due to CORS restrictions).
e.g. via `document.getElementById('iframeId').contentWindow.document.querySelector('h1')`

But i think i see the calculation of the overlay/highlight here: https://githu

[2021-11-21 14:18] rwwagner90 commented on #1692
@wingy3181 you are not the first one to request this feature. If you want to spend some time trying to implement it, we would love to support it!

[2021-11-24 12:49] EthraZa opened #1700 "[Feature Request] Tour isOpen method"
As a new commer, took me an unecessary amount of time to realise 2 things:

1. Tour.isActive() method will always be True after you start a tour and does not metter if you hide() or cancel() it - isActive is true forever.
2. Tour.getCurrentStep().isOpen() is what I was expecting from the isActive method - that shows True if the tour is Open and False if it is Hidden.

### Feature Request:

[2021-11-25 06:01] yaakov123 commented on #1692
I don't know if this works for you, but if you can access an element within the iframe, you can also programatically append a script into the iFrame. Technically, you could add the ShepherdJS script into the the frame at this point.

[2021-11-26 03:32] rwwagner90 commented on #1700
@EthraZa that should not be the case. We set the active tour to null in `_done` here https://github.com/shipshapecode/shepherd/blob/master/src/js/tour.js#L297

Hidden tours I would expect to still be active, but cancelled or completed ones should be not active anymore.

[2021-11-26 13:14] ritesh-nitw commented on #1692
+1. This could be a great addition to the shepherds. As many web apps have iframe. @wingy3181 : Is there any work around?

Thanks

[2021-11-26 15:11] EthraZa commented on #1700
That´s true. Now I don´t know why I came to this conclusion.
Anyways Tour.isOpen is still a valid feature, if Tour.isActive() is true, Tour.isOpen() will tell if the Tour is actually hidden or visible to the user.

[2021-11-30 11:18] wingy3181 commented on #1692
FYI I hacked some changes together and got a POC semi-working......just to prove it is possible..... seems like it is..but most likely will have some bugs..moreover popper.js does not actually support iframes as well and i had to use popper options with an offset as per https://github.com/popperjs/popper-core/issues/791#issuecomment-727143848

Needs a lot more cleanup + tests, etc, etc...plus ther

[2021-11-30 15:07] rwwagner90 commented on #1692
@wingy3181 if we can get it working sometimes, that seems better than not supporting it at all.

[2021-11-30 16:09] ktranel commented on #1143
Are there any plans to address this issue or has a suitable work around been found? This makes any form input on mobile impossible.

[2021-12-02 03:05] rwwagner90 commented on #1560
Shepherd has not used tippy for awhile now. Are you all including the shepherd css?

[2021-12-04 09:26] jirikrepl commented on #400
I think it might be useful for some people, if we have some option to create modal padding independently, or somehow positon the modal cutoff.

In my case I have padding-bottom on the element where I want to create the step and it is not centered.

I took a look how modal cut is done, it's quite interesting how `<svg>` element with a hole is appended to the end of the `<body>`

<img width="790" al

[2021-12-05 13:08] rwwagner90 commented on #400
@jirikrepl the quick fix for your case would be to target the inner element, instead of the one with the padding. It could also be nice to make `modalOverlayOpeningPadding` more granular I suppose.

[2021-12-08 07:33] freakzlike opened #1717 "Touch scroll not possible on highlighted area"
It is not possible to scroll with touch on the highlighted area or on the modal. However touch scroll on the grayed area and mouse scroll is possible.

## Reproduce
This can be tested on [shepherdjs.dev](https://shepherdjs.dev/):
1. Open  [shepherdjs.dev](https://shepherdjs.dev/) on small mobile device or with dev-tools
2. Click through the first two steps till you reach the `02. Example` section

[2021-12-08 16:45] mgifford commented on #1652
This is an important accessibility issue for folks with VIMS. Nobody wants to become sick from browsing the web.

More links
- https://css-tricks.com/introduction-reduced-motion-media-query/
- https://scottvinkle.me/blogs/work/animation
- https://www.tpgi.com/short-note-on-prefers-reduced-motion-and-puzzled-windows-users/

[2022-01-07 22:20] EthraZa opened #1745 "[Feature Request] advanceOn needs to go forward or backward"
I used advanceOn to make a button that change tabbed divs on my interface to show the next step, now when I click the back button on this step I end up with a defunct step because the element in the attachTo of the previews step is hidden.

It would be really handy if it was possible to
[code]
or something like that.

[2022-01-08 18:51] rwwagner90 commented on #1745
@EthraZa I recommend to not use `advanceOn` it really takes away your control. I would add `tour.next` or `tour.back` to your button click handlers. You could also use `showOn` to skip steps and/or `beforeShowPromise` to decide what things need to happen before show.

[2022-01-08 18:51] #1745 closed

[2022-01-09 12:57] EthraZa commented on #1745
@rwwagner90  The problem with calling something on my UI button click means I need to modify the UI code, what I can´t or not want to. Shepherd is coming over it and must be independent.
I really want Shepherd to go next/back on some UI event without the need to modify the underlying code.

So, if I can´t use the "advanceOn" to stablich the event link, maybe I can use "when"?
[code]
* But now I ne

[2022-01-10 01:53] rwwagner90 commented on #1745
@EthraZa I have been telling everyone for years not to use `advanceOn`. It really is backwards and you should be handling these things in your app. It's all JavaScript though, so you can get as hacky as you want. You could do always setup a separate click handler that just calls `Shepherd.activeTour.back()`

[2022-01-10 12:42] EthraZa commented on #1745
I see. Thank you.

ps. Maybe add a "deprecated" notice to advanceOn docs will help users to keep distance.

[2022-01-10 19:58] EthraZa commented on #1745
For future reference:

Use **when** to mimic **advnceOn** and go from there:
[code]

[2022-01-10 21:18] EthraZa opened #1756 "Protect against attachTo an invisible element"
Today I got myself resorting to something like that:

[code]

This way, if something in a complex UI prevents the next step element from get visible, the tour would't get defunct.
I like the useModalOverlay option and if the step goes to an invisible element I end up with a fullscreen overlay that prevents me from do anything else.

We could have this kind of protection bultin in Shepherd.
What do

[2022-01-11 01:47] rwwagner90 commented on #1756
If we can find the time to land https://github.com/shipshapecode/shepherd/pull/1187 it will fix some of those issues.

[2022-01-11 12:36] ulken opened #1757 "TS type signature is off (pun unintented) for`Evented.off`"
[code]

should be

[code]

I.e., the `handler` parameter should be [optional](https://github.com/shipshapecode/shepherd/blob/master/src/js/evented.js#L25).

[2022-01-11 13:44] rwwagner90 commented on #1757
@ulken can you open a PR please?

[2022-01-11 13:45] rwwagner90 commented on #1757
Never mind, I see one is open. Thanks!

[2022-01-11 13:49] #1757 closed

[2022-01-11 18:34] ulken commented on #1757
Sure thing. Any chance you could release a patch version to npm?

[2022-01-11 21:27] #1633 closed

[2022-01-17 09:39] johngrimsey opened #1760 "feature request: enable/disable modal highlight per step"
Some steps in a tour benefit more than others from the modal highlight. After migrating from ngx-tour over to Shepherd.js (via angular-shepherd) I greatly miss the ability to set the highlight/modal mode on a per-step basis.

I find myself wanting to create tour largely free of modals, but to highlight a DOM element once or twice in the tour. Being able to enable modal/highlight per-step in this m

[2022-01-17 15:11] #1380 closed

[2022-01-17 15:11] #1529 closed

[2022-01-17 15:14] rwwagner90 commented on #1760
Hi @johngrimsey this has been asked before in https://github.com/shipshapecode/shepherd/issues/1633

Basically, I don't think it should be supported because it is jarring for the user and makes the animations and scrolling not work well together with the modal overlay svg appearing and disappearing. If you have ideas about how to make that transition, smooth, I would be open to this feature.

[2022-01-17 16:04] johngrimsey commented on #1760
Apols, I missed that ticket.

For applications with a fixed viewport area there's often no scrollable content applicable to a tour.

I find it beneficial to let the user see the whole screen. I believe users have a tendency to glance over the entire interface to become accustomed to the layout (header, sidenav, footer, main area). The ability to then tighten their focus, via the modal, is great fo

[2022-01-17 16:40] Eduardo-Julio commented on #1529
Sorry for the delay.

shepherd.js@8.3.1

shepherd.js\dist\js\shepherd.min.js

Copy the code and test it here https://eslint.org/demo
In "Rules Configuration" select ECMA Version 5, you can see that it fails to compile because it has ES6 features.

[2022-01-17 16:41] Eduardo-Julio commented on #1529
Other issues related to this one

https://github.com/shipshapecode/shepherd/issues/626
https://github.com/shipshapecode/shepherd/issues/210

[2022-01-17 18:02] rwwagner90 commented on #1529
@Eduardo-Julio we do not support internet explorer, and all other browsers have supported ES6 for many years.

[2022-01-17 18:08] Eduardo-Julio commented on #1529
We also don't support internet explorer, and your response doesn't address the issue I think.

This affects our build process in a part where we expect ES5 to finish the build, we use a lot of packages and this is the first one that gives a dist with ES6 and not ES5, that's why I created the issue.

But if you don't want to change it that's fine.

[2022-01-18 16:55] rwwagner90 commented on #1529
@Eduardo-Julio can you please help me understand the issue? If you are not supporting internet explorer, what's wrong with ES6 in the dist?

[2022-01-19 10:40] CharlotteArai commented on #1143
I'm having the same issue, is there a solution to this? Thanks!

[2022-01-19 17:10] rwwagner90 commented on #1143
We're certainly open to PRs to fix the issue, if anyone has any ideas!

[2022-01-25 10:45] Peter-AMD opened #1782 "[Feature Request]? Multiple Texts attach to different positions"
Is it a good idea to have an option like this? but I noticed `attachTo` and `text` on the `Step` class is separated(which should be on the same object if multiple texts is implemented).
Or is there any workaround to achieve a behaviour like this one using `Shepherd`?

[2022-01-27 02:14] peterDuot-stationfive commented on #1782
I was thinking of calling to instance of `shepherd` and each instance will have different text placements but same element attachTo(I'm still the OP, just using work email)

[2022-01-31 15:09] Suleiman700 opened #1791 "Tour step placement is not working properly"
When testing the tour on mobile the tour step placement is not working properly, I've tried these values:

`Possible string values: 'auto', 'auto-start', 'auto-end', 'top', 'top-start', 'top-end', 'bottom', 'bottom-start', 'bottom-end', 'right', 'right-start', 'right-end', 'left', 'left-start', 'left-end'`

Have a look at the attached image:
The step is at the bottom even if I use `on: 'top'` it w

[2022-02-01 06:31] peterDuot-stationfive commented on #1791
If there are not enough space, I think the `text` will move on its own.

[2022-02-01 13:53] rwwagner90 commented on #1791
@Suleiman700 yes, @peterDuot-stationfive is correct. If there is not space in the direction you choose, the tooltip will move to where it will fit.

[2022-02-04 14:45] LukeGarrigan opened #1793 "Setting a blur advanceOn listener skips the next input"
We've got an issue where we have a form with a few inputs. When I have a few steps configured like so:

[code]
It simply skips over the next input.

I've created this really simple Codepen to replicate the problem: https://codepen.io/codeheir/pen/mdqrBwg

Are there any workarounds for this?

[2022-02-07 18:28] peterDuot-stationfive commented on #1782
I think this is okay to be closed now?

[2022-02-08 12:31] #1782 closed

[2022-02-11 16:23] rwwagner90 commented on #1760
@johngrimsey another possible solution is to have a second tour to handle this or maybe target the entire body as your element or something.

[2022-02-11 16:23] #1760 closed

[2022-02-15 00:07] pachiraDIG commented on #400
I'm having trouble getting `modalOverlayOpeningPadding` and `modalOverlayOpeningRadius` to work in v9. Anyone experiencing this?

[2022-02-17 11:58] mikeCGrant opened #1814 "showOn not functioning as expected"
In the documentation the showOn property description is as follows:
A function that, when it returns true, will show the step. If it returns false, the step will be skipped.

I'm seeing that if a steps showOn method returns false, all following steps are not shown.
This can be seen from the following code:

[code]

Setting the return of showOn to false in the first step prevents rendering of any f

[2022-02-17 20:24] rwwagner90 commented on #1814
@mikeCGrant I wonder if this is an edge case or an off by one issue. If the next step is the last step, and it is skipped, we call `tour.complete()` https://github.com/shipshapecode/shepherd/blob/master/src/js/tour.js#L356

[2022-02-17 20:28] mikeCGrant commented on #1814
I tested it with 3 steps, setting the first to return false in the showOn method and still the subsequent steps didn't render.

[2022-02-23 00:06] Rayboris commented on #1056
In the tour I am building I want to use `useModalOverlay` only on the first step of the tour, not every step. Is there a way?

[2022-02-23 02:36] Rayboris commented on #1056
@rwwagner90 would animation make it better? fade-in/fade-out can make it smooth so it doesn't look too flashy

[2022-02-25 19:38] EthraZa opened #1823 "[Question] Step width"
There is a way to change the max width of a step?

[2022-02-25 20:38] rwwagner90 commented on #1823
@EthraZa can you be more specific? Of the tooltip? You can use CSS to style everything.

[2022-02-25 20:49] EthraZa commented on #1823
I have added to much **text** to a step and the window got too tall, since it change it's hight but not it's width based on the content.
I understand you are saying to use the step's classes propertie, right?
I'm just not sure what to add to this CSS to change the step width - I'm vary bad at styling.

[2022-03-01 19:08] wbobeirne commented on #1631
For what it's worth, I'm experiencing this in 9.0.0 with no popper modifications in my code:

<img width="400" alt="Screen Shot 2022-03-01 at 1 06 32 PM" src="https://user-images.githubusercontent.com/649992/156232707-4d6c4307-2cd8-484b-a55f-a02dd7d7c6de.png">

[code]

[2022-03-01 21:37] wbobeirne opened #1831 "Option function for customizing modal dimensions"
Hey there, loving Sheperd.js so far. I've got an element I want to highlight that has an unusual height calculation due to being a list of unknown size. I'd love to be able to have my own custom function for determining modal size. Ideally it'd be called right after [`openingProperties` is assigned](https://github.com/shipshapecode/shepherd/blob/master/src/js/components/shepherd-modal.svelte#L55-L

[2022-03-01 21:40] wbobeirne opened #1832 "Ability to specify corner radii"
Had another use case I'd like to see added, I have an element with top left and top right radii but not bottom left / right. It'd be cool if for radius, we could pass an object / array for individual radiuses, something like:

[code]

[2022-03-01 21:42] wbobeirne commented on #1832
Alternatively #1831 and this could be combined into an option that allows you to specify a custom path altogether for the most flexibility, if adding a bunch of new options is annoying.

[2022-03-01 21:57] rwwagner90 commented on #1831
@wbobeirne glad to hear you are loving Shepherd! Perhaps there is something I am missing here, but couldn't you just target the parent of your list of unknown size? Then you wouldn't need to know the size at all.