[2022-03-01 21:58] rwwagner90 commented on #1832
@wbobeirne there have been requests to set these things separately before. I would certainly be open to a PR if you would like to add this feature!

[2022-03-01 22:01] rwwagner90 commented on #1631
@wbobeirne what is the issue you are seeing? It's hard to tell from your image. Are you trying to use Shepherd in an iframe? It seems like the OP was using it in an iframe, which definitely won't work well.

[2022-03-02 02:39] wbobeirne commented on #1631
Yeah sorry for the less-than-stellar screenshot, the arrow is bottom-aligned to the tooltip instead of centered, to the point where it's clipping outside of the tooltip. The only way I was able to bring it to center was with a [popperOptions padding modification on the arrow](https://popper.js.org/docs/v2/modifiers/arrow/).

As you can see from the inline style I tried to include in the screenshot

[2022-03-02 02:46] wbobeirne commented on #1831
Made a quick diagram, hope this explains it:
![Frame 1 (14)](https://user-images.githubusercontent.com/649992/156284898-08de5655-1c5a-4784-b253-e916674dfe7a.png)

And in my case, I want it to be a subset of the items. It can be tricky to do that wrapping though without totally mangling my flexbox styles. I could probably hack around this by making a special absolute positioned element for the area

[2022-03-02 02:49] wbobeirne commented on #1832
I'll scope out a PR, thanks for the blessing!

[2022-03-02 19:49] timodwhit commented on #1692
It isn't ideal and doesn't solve all the complexities of the iframe, but here is a small PR to allow the sizing of the modal to be correct: https://github.com/shipshapecode/shepherd/pull/1833

[2022-03-03 17:20] rwwagner90 commented on #1631
@wbobeirne would you be able to create a StackBlitz or something for us to reproduce the issue?

[2022-03-03 20:56] wbobeirne commented on #1631
I apologize, mine was an issue of not understanding how Popper positions arrows. It will always try to target the center of the the element it's attached to, so using `left-start` or `right-start` on a tall element will align it to the bottom since that's "towards the center". I need to make my own modifications to popper to get the behavior I want. Ignore me!

[2022-03-03 21:10] wbobeirne opened #1836 "Separate selectors for modal cutout target and popper target"
I'm using the modal overlay in my Shepherd tour, but I'd like to point the tooltip at a specific element that's inside the cutout area. Here's an example, I'd like the tooltip to point directly at the orange button. I tried using `left-start` to move it to the top, but unfortunately no amount of configuration will get the arrow to point directly at the button:

<img width="300" alt="Screen Shot 20

[2022-03-04 19:59] rwwagner90 commented on #1836
@wbobeirne I would certainly be open to this. Would you like to give implementing it a try?

[2022-03-04 20:15] wbobeirne commented on #1836
Sounds good, given that the modal overaly is optional I think that it's the one that should get a separate selector option. Would you prefer it to be nested under `attachTo`, or its own top-level config?

[2022-03-10 01:22] #1631 closed

[2022-03-10 01:24] rwwagner90 commented on #1831
@wbobeirne thanks for the explanation! I think it is reasonable to support what you are asking about. Would you be interested in opening a PR?

[2022-03-20 07:20] nh916 opened #1847 "Any chance we can allow for multiple themes?"
I want to use it in my projects but it looks very cartoony, which is hard to put in a serious project. Any chance we can have some premade themes to use with it?

[2022-03-20 14:09] rwwagner90 commented on #1847
@nh916 we ship very minimal styles on purpose. You can style things however you would like. Our demo site customizes the styles a lot as an example https://shepherdjs.dev/

[2022-03-23 14:47] shanti2530 opened #1856 "Default css overriding custom button css for on hover"
I have the following button configuration in my steps. The normal button state is being styled correctly, however when I hover over the buttons the shepherd default styling is being used.

Note: I am using bootstrap for styling.

[code]
<img width="326" alt="Screenshot 2022-03-23 at 15 45 14" src="https://user-images.githubusercontent.com/1586946/159726330-a78a1b96-2606-4812-a937-16d02036a336.png"

[2022-03-25 17:48] Kilbourne opened #1857 "Provide a build without popper.js"
Hi!
We are using Popper.js for other things beyond Shepherd. In our case the bundle of Shepherd could be reduce: would be great to have a build of Shepherd, which expects a createPopper function on window object
Sth like:
[code]

[2022-03-25 23:07] sebrojas14 opened #1858 "StepOptionsButton 'type' property missing in types"
![image](https://user-images.githubusercontent.com/1771574/160212999-e32f8496-b00b-48eb-b1bf-df3df1e95b81.png)

Type '{ text: string; classes: string; type: string; }' is not assignable to type 'StepOptionsButton'.
  Object literal may only specify known properties, and 'type' does not exist in type 'StepOptionsButton'.

https://github.com/shipshapecode/shepherd/blob/master/src/types/step.d.ts#L24

[2022-03-26 02:36] #1858 closed

[2022-03-26 02:37] sebrojas14 commented on #1858
The problem was in angular-sheperd documentation. Same problem in react-shepaerd. Instead of type we have to use action.

[2022-03-27 18:31] rwwagner90 commented on #1858
@sebrojas14 that's incorrect, the wrapper libraries are where `type` is defined.

[2022-03-27 18:44] rwwagner90 commented on #1857
@Kilbourne we could look at making it a `peerDependency` instead perhaps. I think we used to do that, but found that bundling it was easier.

[2022-03-28 23:24] thomhines opened #1865 "Smooth scrolling issues with smoothscroll polyfill (Safari)"
First of all, this tool is fantastic; you've done such great work on it. My favorite of these tools by far.

I've found a few related issues that I wanted to bring up. I've managed to tweak the shepherd.js to make it work for my needs, but figured you might want to get these things to work for others using Safari as well.

1) In Safari, for any step that uses an attached element, shepherd (or rath

[2022-03-28 23:33] thomhines commented on #1865
Shoot! I just realized that I was accidentally using an older version of the library. I just tested it again with v.9.0.0 and the problem is gone. Nevermind! Again, great work! :)

[2022-03-28 23:33] #1865 closed

[2022-03-29 11:30] Kilbourne commented on #1857
@rwwagner90  do you know when an unbundled version will be available?

[2022-03-29 12:15] rwwagner90 commented on #1856
Hi @shanti2530, you will have to override the styles instead of just adding classes. You could also not include the CSS we provide and add your own styles if you would like. We heavily customize styles on our demo app, if you would like to see how we do it https://shepherdjs.dev/

[2022-03-29 12:15] #1856 closed

[2022-04-06 10:41] trish1400 opened #1873 "Keyboard navigation triggers next rather than action button"
This is something we intended to look at as part of our project but we've run out of time / budget - so I'm raising it, in case anyone else is able to.

I've set up a number of tour steps, most of which have Back and Next buttons but for some steps I've replaced the 'Next' button with a custom action (mostly basic stuff - e.g. click a menu link and then call next).

This works fine when navigating

[2022-04-07 16:44] #1423 closed

[2022-04-21 14:24] michaelrampl opened #1890 "Unable to preventDefault inside passive event listener due to target being treated as passive."
Simple steps like
[code]

trigger the following error
[code]
on mobile systems. This ends in the user not being able to touch/scroll.

[2022-04-23 07:14] etiennebacher opened #1891 "`getTarget()` not working after `getById()`"
Hello, I noticed that `getTarget()` correctly returns the target element if it is after `getCurrentStep()` but it returns `undefined` if it is after `getById()`. Is this a bug or am I missing something?

Example:
[code]

[2022-04-24 13:44] rwwagner90 commented on #1891
@etiennebacher I suspect the step has never been shown? The target will be `undefined` if the step has never been shown. https://github.com/shipshapecode/shepherd/blob/master/src/js/step.js#L247

[2022-04-24 14:36] rwwagner90 commented on #1890
@michaelrampl I am able to scroll the page just fine on iOS on https://shepherdjs.dev/

The part that is not scrollable is the highlighted target. Do you have a target that takes up most of the screen and breaks scrolling or something? We could perhaps just remove the touch scroll blocking. I do not recall what we needed it for.

[2022-04-24 16:52] etiennebacher commented on #1891
Thank you, to be honest I forgot what was my usecase for this but at least I know it's not a bug

[2022-04-24 16:52] #1891 closed

[2022-04-25 04:21] michaelrampl commented on #1890
I face the issue 2 times within my application. Both times, the highlighted area stretches widely among the screen thus needs most of the space and breaks scrolling exactly as you mentioned. Additionally, both times I hide the message box "display: none" Because the user wouldn't see what to do otherwise. The workaround from #1717 also works for me thus I think we face the same issue

[2022-05-04 10:26] do-me opened #1906 "Any way of navigating to a new page and keeping shepherd open?"
My aim is simple:

1.  I'm on my homepage under `homepage.com/welcome` where I start shepherd with it's first step: `tour1.start()`.
2.  Then I would like to navigate to `homepage.com/start` (same tab) continuing with the second step, e.g. `window.location.replace("start")`.

There are similar issues around but not exactly reflecting my use case (e.g. #194, #343). I would like to do it in pure JS/

[2022-05-04 13:25] rwwagner90 commented on #1906
@do-me there are several ways to accomplish this. It sounds like you have figured one out. Another would be to create separate tours with the steps you want to show on those pages. It really all depends on what framework you are using and how your app is structured.

[2022-05-04 20:03] do-me commented on #1906
Before posting this issue I wasn't quite sure whether this would be out of scope for shepherd but now I think it is in fact and more of a general app decision.

In my case it's one app but I would like to show all functionality of the entire app across several routes. Let's say e.g.:

1. `homepage.com/welcome` greeting you
2. `homepage.com/start` prompting some action
3. `homepage.com/upload` load

[2022-05-05 01:39] rwwagner90 commented on #1906
@do-me again, it depends on how your app is setup, what framework you are using, etc. If you have a framework or an app that supports a global service or something similar, that is not tied to which route you are currently viewing, you can make one tour there, then use `beforeShowPromise` to make sure the elements you want on the next page exist before continuing the tour.

[2022-05-05 06:56] do-me commented on #1906
Using rails in my case. My idea was to interfere as little as possible with the app and create something like a plug'n'play shepherd JS I could easily transfer as a template to other apps including multi-page functionality. As I keep everything in one JS file (shepherd.js, initial call checking for params, tours) it now has become exactly what I wanted (+CSS of course). 

Instead of using URL para

[2022-05-05 06:56] #1906 closed

[2022-05-06 09:02] do-me commented on #1873
Easy to implement.

1.  In Tour options set `keyboardNavigation: false` to deactivate default navigation.
2.  Add classes `shepherd-left-arrow` and `shepherd-right-arrow` to buttons by setting e.g.  
[code]
3. Add custom key listeners.
[code]
Note that the function executes only when a tour is active. I added `.eq(-1)` as there appears to be some kind of bug or logic of a doubled invisible div. Th

[2022-05-06 09:36] trish1400 commented on #1873
Thanks for sharing @do-me 👍

[2022-05-10 14:19] rwwagner90 commented on #1873
We should probably make `next` and `previous` buttons special cases, instead of allowing custom logic for all buttons. Then we could handle this in the library.

[2022-05-11 11:51] doug0102 opened #1914 "Request: an option to tab index -1 and aria hide non-targeted elements."
I'm using shepherd for a project at work. One of our hard requirements is accessibility. I came into an issue where tab indexing, and with it aria labels, took precedence over the shepherd tour modal. It would be nice if we could optionally have shepherd set everything that's not the target or itself to aria hidden and tab index -1. When the tour exits or ends set it back to what it was before.

[2022-05-12 18:22] rwwagner90 commented on #1914
@doug0102 I am not sure I understand what you mean here. We have a11y baked into Shepherd and force tab to only do the Shepherd elements so you are focus trapped to the tour. After the tour completes, this goes away.

[2022-05-12 18:31] doug0102 commented on #1914
@rwwagner90 Oh my mistake, you do have the tabbing built in. There's still an issue with screen readers though. On your demo page if you use a screen reader the background page is taking precedence over the tour modal. I'm using the edge browsers built in screen reader btw.

[2022-05-12 18:39] rwwagner90 commented on #1914
@doug0102 we definitely want to make things correct for all a11y cases. If you have some guidance on what is wrong and how to fix it or would like to open a PR, that would be great!

[2022-05-12 18:52] doug0102 commented on #1914
I solved the issue in my project by finding the base element for the page in the background and setting aria-hidden="true". On the shepherd 'cancel' and 'complete' events I set it back to false. I'm not sure how you guys are ignoring the background page tabbing, but I assume you're doing something similar with tabindex. So the solution could be simply adding aria-hidden="true" in those places.

[2022-05-16 13:50] rwwagner90 commented on #1914
@doug0102 would you like to submit a PR with the fix? It looks like we do the tab focus trapping in the `onMount` of the modal, so you could do other changes there too https://github.com/shipshapecode/shepherd/blob/695936b3b51442b2aa2cf9985a528cf4d0b959f7/src/js/components/shepherd-element.svelte#L23

[2022-05-17 23:54] erickjrp opened #1921 ""Shown" event for steps needed"
Hi! I see that we have these events for the steps:

- before-show
- show
- before-hide
- hide
- complete
- cancel
- destroy

But I don't see the way of hooking to a "shown" event, that fires when the step is already visible.

The "show" event fires before the element is fully shown on the screen.

Is there a workaround or something that I'm missing?

Thank you.

[2022-05-18 20:06] rwwagner90 commented on #1921
@erickjrp can you say more? Are you wanting to check which step is currently shown or are you wanting to check if a step has been shown in the past >= 1 times?

[2022-05-18 21:35] erickjrp commented on #1921
I want to listen to a not-yet-implemented event named "shown" that fires immediately after the step is shown to the user.

I have this:

[code]

This event is fired correctly:

[code]

But this one is fired before the step is shown to the user:

[code]

The idea is to have a "shown" event that fires when the element is actually shown (meaning, after the scrolling and immediately after the step is

[2022-05-22 23:18] NickSutton opened #1922 "Alter position of modal when no attachTo"
Presently, Shepherd looks to center the modal in the window when no 'attachTo' option is specified.
I can't see the CSS that dictates this setting so was wondering how it might be over-ridden, to say top:15% instead?

[2022-05-23 17:03] rwwagner90 commented on #1922
The centered stuff is here https://github.com/shipshapecode/shepherd/blob/695936b3b51442b2aa2cf9985a528cf4d0b959f7/src/js/utils/popper-options.js

I think you would have to provide a popper modifier to move it. Perhaps you could try the offset modifier mentioned in the cookbook https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2022-05-24 04:04] NickSutton commented on #1922
Thanks for the pointers!

[2022-05-24 04:04] #1922 closed

[2022-05-25 22:20] Steven-Wagner commented on #563
I know this was from a while ago but does anyone know if this fix will have an effect on updating popperOptions? I have a shepherd modal inside an iframe and need to force the modal to change its popper offset after a scrolling event outside the iframe. I have tried using updateStepOptions() and it seems to be updating the step in theory, but it's not rendering the changes to the screen. I am able

[2022-05-25 22:20] liam-jones-lucout commented on #1814
I have this issue. The issue seems to be in this logic:

[code]

I have created a pull request that I believe resolves it: https://github.com/shipshapecode/shepherd/pull/1931

[2022-05-26 03:44] rwwagner90 commented on #1814
Merged the PR and released 9.1.1, please let me know if the issue is fixed!

[2022-05-26 03:44] #1823 closed

[2022-05-26 08:38] liam-jones-lucout commented on #1814
Thanks for jumping on this so quickly! Will try it out shortly and let you know

[2022-06-01 14:35] rwwagner90 commented on #1914
@doug0102 just wanted to follow up here. Would you be interested in opening a PR?

[2022-06-02 02:47] rwwagner90 commented on #1177
Closed by #1930

[2022-06-02 02:47] #1177 closed

[2022-06-03 12:22] kuriangrg opened #1941 "Background is opaque while popup is shown"
Hi
We are able to see opaque backgrounds occasionally while implementing shepherd tour in our project. We are able to get similar scenarios in the demo projects as well. The issue gets automatically fixed after a scroll is done.
Attaching the video of the issue. The issue is happening in chrome.

Any ideas on how to solve this problem?

https://user-images.githubusercontent.com/23118039/171850337-

[2022-06-03 12:41] gsjuradog commented on #1941
Hi, is nice to find this was already reported, we are also experiencing it.

[2022-06-03 13:49] rwwagner90 commented on #1941
@monshan can you take a look at this please? It seems the CSS is not applied to the svg. Feels like maybe a Chrome bug?

[2022-06-03 21:02] monshan commented on #1941
#1942 ready for review

[2022-06-03 22:24] doug0102 commented on #1914
@rwwagner90 I can take a crack at it when I have some time, but I am pretty busy so it might be a little while.

[2022-06-06 14:45] #1941 closed

[2022-06-07 08:29] eneadm opened #1951 "On tour start background renders black with latest Chrome"
When starting the tour the background appears black instead of transparent gray, even in the official website https://shepherdjs.dev.
This only happens with the latest Chrome Version 102.0.5005.61 (Official Build) (arm64).

I removed all chrome extensions just to be sure and still the same issue.

<img width="958" alt="Screen Shot 2022-06-07 at 10 28 17 AM" src="https://user-images.githubuserconte

[2022-06-07 11:34] #1951 closed

[2022-06-09 15:26] elizavetaRa opened #1952 "onCancel, onClomplete callbacks"
Hello,

It would be nice to have callbacks like onCancel or onComplete, onStart etc.

[2022-06-09 16:31] rwwagner90 commented on #1952
We do have events already. You can read more about them in the docs here https://shepherdjs.dev/docs/tutorial-02-usage.html

[2022-06-09 16:31] #1952 closed

[2022-06-09 16:53] elizavetaRa commented on #1952
Thanks, I suggest to include the descriptions in https://shepherdjs.dev/docs/Tour.html

[2022-06-16 15:41] rwwagner90 commented on #1921
@erickjrp can you please try Shepherd 10 and see if the timing is closer to what you need?

[2022-06-21 08:59] ITBDarky commented on #40
Is this still the way going forward from 2022? I have tried it and my steps are not destroyed...

[2022-06-22 04:02] ITBDarky commented on #40
@rwwagner90 Sorry, maybe I asked the wrong question. How do you check if a step is destroy?

Reason that I hypothesize that my steps are not destroy because `console.log(tour.steps)` are not empty.

My code sample
[code]

The reason I need to destroy everything because I want to remove tour that ran only once and avoid memory leak. (I am also on the side of `tour.destroy`)

Vue actually encourage

[2022-06-22 13:04] rwwagner90 commented on #40
@ITBDarky vue-shepherd is using Shepherd 10 now.

It looks like `destroy` does not delete the step object, but it does destroy `step.tooltip` and removes `step.el` from the DOM. I would check those things before and after to confirm destroyed. Probably would make sense to destroy the step object and remove from the tour as well, but I personally never destroy these things. Just a little extra DOM

[2022-06-22 19:23] henrikr opened #1966 "How to include focusable elements of a step's target in focus trap"
I'm using `react-shepherd` and would love to be able to extend the focus trap of a step element to include the target.

As an example, on the final "Learn more" step of [the demo page](https://shepherdjs.dev), an additional tab stop would include the "Star on Github" and "View docs" buttons that are in the target, so folks using a keyboard can access the content similar to folks using a mouse.

An

[2022-06-24 07:14] whatthecole opened #1967 "trigger event 'destroy' after 'before-show'"
Step instance listen 'destroy' event, it will be trigger after 'before-show' when start tour again.

https://codesandbox.io/s/kind-moore-z3nt1g?file=/src/index.js

https://github.com/shipshapecode/shepherd/blob/master/src/js/step.js#L382

[2022-06-25 21:23] rwwagner90 commented on #1966
@henrikr I think that is a reasonable request. I would be concerned about people pressing buttons and the app updating and breaking the tour though. Would this be something you would be interested in opening a PR for? I would love to know what the correct thing to do for a11y is here.

[2022-06-26 16:29] rwwagner90 commented on #1967
@chenjunkai-ones this is intentional, I believe. We want to start fresh when showing the steps again.

[2022-06-27 08:31] AliKholmatov commented on #304
Hi! I think he meant like this behaviour  https://introjs.com/

[2022-06-27 13:30] rwwagner90 commented on #304
@AliKholmatov would you like to implement this?

[2022-07-11 13:27] cmazereau opened #1984 "Overlay path covering element to highlight outside of the initial window"
When an element to highlight is outside of the initial window (and needs to be scrolled to), the overlay covers this element.

It appears that the svg path of the overlay is calculated using `_getVisibleHeight()`, which returns 0 in that case.
This seems to be due to the fact that `_getVisibleHeight()` uses `scrollParent.getBoundingClientRect()`, without taking `window.scrollY` into account. The m

[2022-07-11 15:01] rwwagner90 commented on #1984
@cmazereau do you have a reproduction? I am not seeing this issue on https://shepherdjs.dev/

[2022-07-11 15:41] cmazereau commented on #1984
On https://shepherdjs.dev/, it seems that the issue does not reproduce because no `scrollParent` is found.
But by setting the css property `overflow` of the `body` element to "auto", I could reproduce the issue on https://shepherdjs.dev/.

[2022-07-12 14:00] KBGeo opened #1985 "Tour broken after opening a dropdown"
When I have a dropdown as the target element and open it, the next step will be invisible and the overlay is still there, same thing goes if you open the drop down and close it again then click next and the tour is broken.

How can I fix this? I do want to enable my users to click on the elements.

If this is unfixable, I will add canClickTarget: false.

[2022-07-12 17:22] rwwagner90 commented on #1985
@KBGeo it is extremely hard to tell. It sounds like whatever you are using for your dropdown is messing with the tour.

[2022-07-12 17:27] rwwagner90 commented on #1984
@cmazereau gotcha, if you have a fix in mind, would you mind opening a PR?

[2022-07-13 11:22] KBGeo commented on #1985
@rwwagner90 that might be true. I tested it again on a different dropdown and this one opens over the tour speechbubble element and not below it. Here it worked fine. so I will see if that might already be a reason.

[2022-07-19 10:08] msteel9999 commented on #50
Use step/ options/ showon to skip the step.

See https://shepherdjs.dev/docs/Step.html:

![image](https://user-images.githubusercontent.com/4092238/179725746-88b70218-9d39-4391-8adf-e9f2bf146783.png)

[2022-07-21 23:10] henrikr commented on #1966
@rwwagner90 Sorry for the delay! Yes, more than happy to open a PR to support this. We're pondering what the best approach and design pattern could be with regards to a11y. Would also welcome (and very much appreciate!) any guidance or feedback from the Shepherd team and community should folks have any ideas 😊

[2022-07-22 21:00] cesartagplus opened #1998 "Prevent click on the overlay"
Is it possible to prevent clicks on the overlay ?

In my tour i need to show some dropdown menus, but if the user clicks in the overlay the menu shrinks, and the next step loses its target element.

[2022-07-24 15:24] rwwagner90 commented on #1998
@cesartagplus not sure what you mean. Sounds like you would need to handle this in your app.

[2022-07-28 14:14] cesartagplus commented on #1998
Hi! thanks!

For dropdown menus a click on the overlay makes them to shrink (at least in vue + popper).

Handled it by cloning the node and replacing it with its clone, looks like clones "forgets" about all the associated eventListeners.

Example:
[code]

[2022-07-28 14:14] #1998 closed

[2022-07-28 14:26] cesartagplus commented on #1560
I think the example below will do the trick.

[code]

[2022-07-28 14:38] rwwagner90 commented on #1998
Sounds like a bug with whatever dropdown library you are using. Could be that it is using popper, which we also use.

[2022-07-28 14:41] rwwagner90 commented on #1560
@cesartagplus is this still an issue for you in latest Shepherd?

[2022-07-28 14:55] cesartagplus commented on #1560
I'm using shepherd.js 10.0.0 (vue-shepherd: 0.3.0).

Faced the same issue, got around with the example in the alst post.

Just saw this issue open and decided to share the way i "fixed" it in my project.

[2022-07-29 16:18] udit99 opened #2003 "Lazy Evaluation not working"
Hey all,
I'm trying to attach a tour step to an element that doesnt exist yet at the time of tour initiation. I read the docs and find this relevant snippet:
[code]
I've tried supplying a function and doing a few different things but none seem to work. Can someone spell out exactly what is supposed to be in the method? I've tried checking for the presence of the element using something [like this]

[2022-07-29 20:40] julioprotera commented on #50
If you are using [React Shepherd](https://github.com/shipshapecode/react-shepherd), you can put this on your `defaultStepOptions`

[code]

[2022-07-30 10:45] NickSutton opened #2004 "Feature Request: Draggable"
Hi,

Apologies if I've missed this, but is there a way to be able to make the title draggable in order to reposition the modal?

[2022-07-31 22:32] rwwagner90 commented on #50
@julioprotera that doesn't look React specific to me. Perhaps it works in all cases?

[2022-08-01 11:25] #2004 closed

[2022-08-01 11:40] rwwagner90 commented on #2003
@udit99 whatever you return from the function will be your element. So if you make the function wait for the element to exist, then return it, you should be good.

Separately, do not use `advanceOn`. You should call `tour.next()` in your code when you want the tour to advance.

[2022-08-01 11:40] #1985 closed

[2022-08-01 11:41] rwwagner90 commented on #1921
I'm assuming Shepherd 10 fixes this. If it does not, let me know.

[2022-08-01 11:41] #1921 closed

[2022-08-01 14:38] udit99 opened #2010 "How do I render the "Close Tour" shepherd cancel icon on the top right?"
Havent found anything in the API. Adding a button wont work because it will add the button at the bottom instead of in the top header

<img width="400" alt="image" src="https://user-images.githubusercontent.com/77560/182174814-88c76e2b-4032-41c8-9243-378737147a22.png">

[2022-08-01 16:41] rwwagner90 commented on #2010
@udit99 you are looking for `cancelIcon` See https://shepherdjs.dev/docs/Step.html

[2022-08-01 16:41] #2010 closed

[2022-08-01 16:41] #1847 closed

[2022-08-01 16:42] #1542 closed

[2022-08-01 16:42] #1470 closed

[2022-08-03 15:37] EmNicholson93 commented on #1188
No discussion for over a year, closing this issue.

[2022-08-03 15:38] EmNicholson93 commented on #1143
I'm unable to replicate this issue currently. I have an Iphone 12 and M1pro macbook, no immediate access to an Android device to test on. I ended up pulling out my old Iphone SE running on iOS 14.2 and also could not replicate this issue.

I'm wondering if the latest iOS has resolved this type resizing issue. I don't see any changes in Popper.js git history that would lead to a resolution.

Seems

[2022-08-03 15:40] EmNicholson93 commented on #961
@rwwagner90 Is this still something worth looking into? No movement for almost a year.

[2022-08-03 16:25] rwwagner90 commented on #961
@EmNicholson93 yeah, I just didn't know exactly how to implement it, but we should figure out a way to have this library do nothing when running server side, since it needs `window` etc to work.

[2022-08-03 17:06] cmazereau commented on #1984
I had a little bit of time to look into this today, and found out that the problematic behavior happens when :
  - the css property "height" of the `scrollParent` is expressed in percentage
  - and the `scrollParent`'s parent has no explicitly specified height, and has a position different from "absolute" or "fixed"

In this case, the height property should, from my understanding, behave as "auto"

[2022-08-03 19:24] rwwagner90 commented on #1188
@EmNicholson93 we should make sure our docs are correct here. This issue is saying we are not setting `data-shepherd-active-tour` like we say we are in the docs. Can we confirm?

[2022-08-03 21:08] EmNicholson93 commented on #1188
The code and tests for this feature were removed as part of launching v10.0.1. So assuming that was intentional, I can pull mentions of tourName from all the docs?

[2022-08-03 21:14] EmNicholson93 commented on #961
@rwwagner90 yeah, I figured this was a keeper. I spent some time trying to research but didn't come up with any fruitful info. Using window to determine whether its on the client or not might be the ticket, I'll do a bit more research and see if anything comes up.

[2022-08-04 01:28] rwwagner90 commented on #1984
@cmazereau sounds like a possible browser limitation or bug?

[2022-08-04 01:36] rwwagner90 commented on #1143
@EmNicholson93 sounds good to me. @ktranel @CharlotteArai @andresespinosapc @alperenersoy can any of you confirm if this issue is gone as of Shepherd 10.0.1 please?

[2022-08-04 09:56] Obermair opened #2012 "modelOverlay do not fully highlight the specified div"
Hi, i have an issue with an element that is not fully highlighted as i specified.

![image](https://user-images.githubusercontent.com/46714163/182819119-862333be-35d1-4f63-b2b4-35aeb09da0da.png)

As you can see my dropdown menu is not highlighted correctly. All other steps I highlighted are working fine. There is a property called modalOverlayOpeningPadding for Steps for controlling the modal over

[2022-08-04 17:22] EmNicholson93 commented on #1188
@rwwagner90
[Here is the PR](https://github.com/shipshapecode/shepherd/commit/05942781c17bbd3f2d06e896dd4621c7579097f7) when the _addBodyAttrs and _removeBodyAttrs were removed

[2022-08-04 19:46] rwwagner90 commented on #1188
@EmNicholson93 yes, it appears we did remove all that. I think to close this ticket then we should remove all that from the docs.

[2022-08-05 07:56] Obermair commented on #2012
G2K: the dropdown has a position absolute property - when removing that it is working properly. But I don't want to do without it because otherwise the positioning isn't working how it should.

[2022-08-05 08:41] theodoreb opened #2013 "Upgrade from popperjs to floating-ui"
Hello,

The popperjs library kinda "rebranded" to https://github.com/floating-ui/floating-ui, are there any plan to make the switch for shepherd?

In Drupal and we're going to [update our code to use floating-ui instead of popperjs](https://www.drupal.org/project/drupal/issues/3301545). And since we use shepherd and shepherd uses popperjs it'd be great to not have two different libraries for that.

[2022-08-05 13:32] rwwagner90 commented on #2013
@theodoreb we are always interested in staying current, so yes we would fully support this. If you could sync up with @EmNicholson93 he should be able to help with this effort.

[2022-08-05 16:55] cmazereau commented on #1984
@rwwagner90 I'm not sure it's a bug or a browser limitation, since I have the same behavior on 3 different browsers:
- Chrome (version 104.0.5112.81)
- Firefox (version 103.0.1)
- Edge (version 103.0.1264.77)

[2022-08-06 16:47] Zacherl commented on #1143
@rwwagner90 Just stumbled on this thread by accident since I had exactly this issue (focusing an input makes it lose it immediately). The device is a Google Pixel 5, Shepherd is on version 10.0.1. For me the fix with the popperOptions given above is working fine, but since you just talked about if it is still happening on Android - it seems it is.

[2022-08-08 18:13] Zacherl opened #2023 "Mask moving when scrolling on iOS (keyboard visible)"
On an iPhone, the mask is moving away from the element it should highlight when the keyboard is visible (the body scrolls away). I noticed that the path of the element is recomputed on scroll. Is this a known issue, did I miss some config option? I attached a screenshot - if I scroll the body to the top, the mask aligns with the visible dialog. I would rather not disable scrolling, but I'd like th

[2022-08-09 11:43] rwwagner90 commented on #2023
@EmNicholson93 can you investigate this?

[2022-08-15 18:39] EmNicholson93 commented on #1548
@chan-dev Having reviewed the codepen supplied, removing position and right from the step-4 class css was still not allowing the step to move from 3 to 4. Digging in a touch more, I notice that the step 3 addStep has a `buttons` action of `tour.complete` instead of `tour.next' to cause it to head to the next and final step 4 in this example.

I realize this was quite some time ago, hopefully you w

[2022-08-16 23:21] EmNicholson93 commented on #1831
#1837

[2022-08-17 00:28] EmNicholson93 commented on #1914
@doug0102 Is this still a task you are interested in taking a crack it?

[2022-08-17 18:51] chuckcarpenter commented on #961
Seems like something as simple as `const isServerSide = typeof window === 'undefined'` and then a noop return if true.

[2022-08-17 19:10] rwwagner90 commented on #961
@chuckcarpenter I don't think that's necessarily reliable. I think `window` exists in jsdom and some things that are not _real_ clients. I'm also not sure at what place in Shepherd we would do this check.

[2022-08-17 21:12] #1588 closed

[2022-08-18 00:02] EmNicholson93 commented on #2003
@udit99 I'm assuming the 👍 reaction indicates rwwagner90 response helped to resolve this issue for you. With that in mind, I am going to close the issue, if I am wrong feel free to reopen this

[2022-08-18 00:02] #2003 closed

[2022-08-18 15:19] #1188 closed

[2022-08-18 22:42] chuckcarpenter commented on #961
@rwwagner90 that's how Next.js does the SSR check, seems to work for them.

[2022-08-18 22:54] #1543 closed

[2022-08-18 22:54] #1791 closed

[2022-08-18 23:04] #1548 closed

[2022-08-20 13:52] rwwagner90 commented on #961
Fair enough. Any thoughts on where that check would go in Shepherd?

[2022-08-22 14:44] theodoreb commented on #2013
For planning purpose on our side, do you think switching the helper library will translate to a major version bump for shepherd ?

[2022-08-22 19:51] rwwagner90 commented on #2013
@theodoreb only if the public Shepherd API changes. I'm not afraid of a major version bump, but if we don't need it, we could just do a minor.

[2022-08-23 15:45] theodoreb commented on #2013
The public API seems to imply the popper API is part of shepherd since there is a `popperOptions: Extra options to pass to [Popper](https://popper.js.org/docs/v2/constructors/#options)`

Which would mean deprecating/removing that option => so major bump seems likely

[2022-08-24 07:01] didaquis opened #2036 "How to add data attributes on cancel Icon?"
Hello.

I would like to know if there is a way to add a data attribute on the cancel tour icon.

In the documentation, it indicates that these are the only possible options:

![Captura de pantalla 2022-08-24 a las 8 54 01](https://user-images.githubusercontent.com/6883041/186350939-3f535a1d-6b1c-44e0-9322-052ef2a87447.png)

Using this options...
[code]

... you will get this:
[code]

But I would l

[2022-08-24 12:31] rwwagner90 commented on #2036
Currently, no. This is the component for it https://github.com/shipshapecode/shepherd/blob/master/src/js/components/shepherd-cancel-icon.svelte

I suppose we could add the ability to pass any arbitrary attributes down to components. Not sure if that would be good to do or not.

[2022-08-24 14:55] theodoreb commented on #2013
I have time to work on this tomorrow FYI

[2022-08-25 00:07] didaquis commented on #2036
Adding those attributes can be useful for selectors. For example: https://docs.cypress.io/guides/references/best-practices#Selecting-Elements

This is useful in cases where the value of the “aria-label” changes dynamically. Adding a non-dynamic attribute can help you get a proper selector for e2e testing.

[2022-08-26 11:59] didaquis opened #2038 "issue with i18n and the aria label of cancel icon"
Is it possible to translate the aria-label text of the icon to cancel the tour?

I have been able to translate the texts of the buttons, the header and the body of the tour steps. However, I can't translate that aria-label.

![Captura de pantalla 2022-08-26 a las 13 41 05](https://user-images.githubusercontent.com/6883041/186896138-fcff0dac-68ca-4736-9f77-66c57d5473ca.png)

<img width="827" alt="C

[2022-08-26 12:04] didaquis commented on #2038
Reading the documentation I see that for both the buttons and the cancel icon it supports a `string`. However, they behave differently when the tour is displayed.

![Captura de pantalla 2022-08-26 a las 14 02 28](https://user-images.githubusercontent.com/6883041/186899301-84d9fecc-3b32-4dc2-a480-5fe36623161a.png)

[2022-08-28 13:30] rwwagner90 commented on #2038
@didaquis it appears as if your `i18n.t` function is not returning the value you expect. Please ensure that value is there and correct before passing to the label.

[2022-08-29 00:48] didaquis commented on #2038
I already checked that the function returned a valid translated text. The problem is not there.

The problem is that the "label" property only supports a string, when it should also handle a function that returns a string (in the same way that the “text” or “title” property does).

[2022-08-29 07:25] didaquis commented on #2038
Let me give another example to see if I can explain myself better.

Imagine that my application is initialized with this locale "en_US". I generate the steps of my tour, but I don't call the "start" method yet because I don't want to show the tour until a condition is met.
Now the user decides to change the interface language to "fr_CH".
If I now call the "start" method of the tour what will happe

[2022-08-29 19:19] rwwagner90 commented on #2038
@didaquis you should be able to control all this in your app. You can create a new tour each time the language is changed. If `i18n.t('accessibility.close_tour')` does not have the value yet, you'll have to wait for it to exist, then create the new tour. That being said, if you think a small change to our API here could support what you want, we would gladly accept a PR!

[2022-08-29 19:41] chuckcarpenter commented on #961
@rwwagner90 perhaps just in the Tour constructor?

[2022-08-30 00:49] rwwagner90 commented on #961
Seems logical

[2022-08-30 13:17] rwwagner90 commented on #2036
@didaquis if you have a solution in mind that works for your use case, could you please open a PR?

[2022-08-30 13:19] rwwagner90 commented on #2036
This was requested for buttons here as well https://github.com/shipshapecode/angular-shepherd/issues/623 so perhaps we could make the components pass any arbitrary attributes down to the elements?

[2022-08-30 14:49] didaquis commented on #2036
In my opinion, will be cool something like this:

This code...
[code]

... will produce this
[code]

[2022-08-30 14:51] didaquis commented on #2036
To be honest, I don't have enough time right now to investigate how the library works inside and implement the functionality. Sorry

[2022-08-30 15:00] didaquis commented on #2038
This comment is interesting and is giving me food for thought.

Since I started using the library, I thought that the right way to design my implementation was to create a tour and adapt it as needed. However, you suggest that I should create a new tour each time.

My point of view is based on the existence of methods like "addStep" or "removeStep". But I see that maybe I am misunderstanding the a

[2022-08-30 16:17] chuckcarpenter commented on #961
@EmNicholson93 anything else you'd need to start this one?

[2022-08-30 16:24] EmNicholson93 commented on #961
@chuckcarpenter I think this gives me plenty of direction to knock this out

[2022-08-31 02:54] rwwagner90 commented on #2038
@didaquis either way is valid, but I tend to create a new tour when I need one.

[2022-08-31 18:30] rwwagner90 commented on #2036
I would suggest allowing passing any arbitrary attributes. Something like:

[code]

@EmNicholson93 could you work on supporting this please?

[2022-08-31 18:55] EmNicholson93 commented on #2036
@rwwagner90 happy to, I was already thinking it'd be a good one to tackle as I think it'll apply to a few existing issues or at least point me in the same direction as a few other issues.

[2022-08-31 20:50] #1269 closed

[2022-09-02 07:09] didaquis commented on #2012
Same situation for me

[2022-09-06 00:49] rwwagner90 commented on #2012
Perhaps try wrapping in a position relative div or putting one inside? I'm not sure what causes this, but my guess is there are workarounds.

[2022-09-15 09:04] albo02 commented on #961
@rwwagner90 Hello, we are currently trying to use this lib into our angular app. I see there is a PR to avoid SSR errors in the future, but is there a solution for the time being until that PR is merged?, as I can't seem to find anything related to this. As you know the dependency to the window object is executed as soon as you call import which is blocking us from using this lib.

[2022-09-17 12:39] WillooWisp opened #2070 "Why do I end up with the shepherd dialog being hidden for certain targeted elements?"
The element specified as "attach to" gets highlighted, but no shepherd dialog is visible and that's caused by this attribute being added 'data-popper-reference-hidden' to the shepherd root div with role 'dialog'.

Style causing element to be hidden for this attribute:
`.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered)`

[2022-09-17 12:54] rwwagner90 commented on #2070
@WillooWisp sounds like your app does not have room to display the tooltip or you have scrolled too far away from the element for it to show.

[2022-09-17 19:04] WillooWisp commented on #2070
No scrolling and absolutely room för the dialog. If I manually remove the hidden attribute it renders as expected, but why it gets hidden remains very strange.

[2022-09-17 22:58] rwwagner90 commented on #2070
@WillooWisp it's hidden when you scroll away from it or it doesn't have room to display on any side. Check out our demo app and notice the tooltips change sides when there is not room on one side and if you scroll to where the element is not in the screen, they hide completely. https://shepherdjs.dev/

[2022-09-19 15:55] WillooWisp commented on #2070
This is not my issue, is gets hidden upon load. The only way for me to get around this for now is to add a global style forcing it to become visible, i.e. reverting what the ".shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered)" is adding.

`.shepherd-visible {
    opacity: 1 !important;
    pointer-events: inherit !important;
    visibility: visible !important;
}
`

`
guide.tou

[2022-09-19 17:58] rwwagner90 commented on #2070
@WillooWisp I don't know how many times I can say it, but I am pretty sure this is your issue 😉. The only way things get hidden is if you have scrolled far enough away, there is not room to show the tooltip, etc. If you create a reproduction, I would be happy to take a look.

[2022-09-20 12:53] WillooWisp commented on #2070
Okay, I see your point :), when I meant there is enough space for the dialog, that was looking at the space available for the entire body, but there was a height constraint looking up the parent chain of elements (from the attachTo element). So having a css class like the one I made above, forcing the visibility, might be useful after all, when we can guarantee there is enough space for the dialog

[2022-09-20 12:53] #2070 closed

[2022-09-20 21:22] #961 closed

[2022-09-21 17:12] rwwagner90 commented on #2070
@WillooWisp I think you can turn off the behavior with popper modifiers as well.

[2022-10-20 03:53] no-1ne opened #2104 "Mobile screen behavior"
step 3 and 4 in demo on the landing page looks wierd on mobile screen, with arrow pointing in the wrong direction.

![Screenshot_20221020-091330457 (1)](https://user-images.githubusercontent.com/11027129/196851594-810c68d1-7561-479e-93ea-12f44d1d1062.jpg)

![Screenshot_20221020-091315000 (1)](https://user-images.githubusercontent.com/11027129/196851596-2d4b5435-5a84-4647-9678-4c507b5109cb.jpg)

St

[2022-10-21 00:35] cuartas15 opened #2105 "ScrollTo with smooth behaviour doesn't work fine with Perfect-Scrollbar"
`scrollTo: {
    behavior: 'smooth',
    block: 'center'
}`

As long as we take out behavior: 'smooth' it works fine but we kinda want to still have the scrolling transition.
We confirmed it's because of Perfect-Scrollbar because the moment we took the library js files out, behavior: 'smooth' worked just fine, so it seems like this scrollTo configuration and the other library don't get along toget

[2022-10-22 00:01] rwwagner90 commented on #2105
`behavior` is a built in param of `window.scrollTo`. https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollTo

It sounds like Perfect-Scrollbar is breaking that native browser API somehow.

[2022-10-22 00:19] #2104 closed

[2022-10-22 00:23] #2013 closed

[2022-10-24 10:26] simoneb commented on #1832
I've added support for this in #2116

[2022-10-24 12:25] DaDom opened #2117 "Disable autofocus of step content via step options"
Hey there!

I'd like to "re-discuss" #1588 - I have the same use case, in which I would like to keep an input in the highlighted app part focused, and not have the step popup take focus away. Currently, you use `floating-ui` to focus the step element after 300ms timeout [see here](https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/floating-ui.js#L94-L105).

I understand that this i

[2022-10-24 15:29] #1832 closed

[2022-10-24 16:51] simoneb commented on #2012
@Obermair @didaquis can you provide a repro? Applying absolute positioning to the demo, apart from the weird positioning of elements, doesn't have any issues with the sizing of the overlay.

[2022-10-24 17:31] rwwagner90 commented on #2117
@DaDom I think we should find a way to add arbitrary elements into the focus trap that we implement. That way, we can keep what we have, but also allow adding more possible focus targets into the mix.

[2022-10-24 21:46] DaDom commented on #2117
Great, that makes sense.
So, equivalent to `StepOptionsAttachTo.element` it might be a new step option like this - assuming that you may provide more than one selector/element:
[code]

Providing a value for this option will:
- Include all matching elements into the focus trap
- Auto-focus the first matching element when the step is shown

Is that what you had in mind?
Btw., am I correct that you h

[2022-10-24 21:53] DaDom commented on #2117
Alternatively, following your existing approach of finding all focusable elements [here](https://github.com/shipshapecode/shepherd/blob/master/src/js/components/shepherd-element.svelte#L23-L29), we might also do the same inside of the resulting HTMLElement of `StepOptionsAttachTo.element`.
This could then be toggled with a simple boolean flag like this:
[code]

Let me know what you think!

[2022-10-25 14:46] theodoreb opened #2118 "Update doc to use floatingUI instead of PopperJS"
After #2037 PopperJS references needs to be removed and the docs updated to show how to use it.

[2022-10-26 14:11] sdraper69 commented on #1437
It's a shame this has never gotten any traction as I thought it would be quite a common occurrence, especially if people use media queries to hide things on mobiles etc. Is there anything that can be done to reopen this and push it along?

[2022-10-28 02:18] RazeiXello opened #2119 "Direction bias when using `auto`"
To add on to this [closed issue](https://github.com/shipshapecode/shepherd/issues/2104#issue-1415896995), would it be possible to specify a direction bias for the `auto` property?

Something like `auto-left` `auto-left-end` etc.

Currently Shepherd seems to have a bias for the right side in `auto` mode when there is enough space for it to be anywhere.

![Screen Shot 2022-10-27 at 10 12 52 PM](http

[2022-11-05 03:13] rwwagner90 commented on #1437
@sdraper69 the `attachTo` element now can take a function, which might support more complex use cases. Have you given that a try?

[2022-11-07 12:09] sdraper69 commented on #1437
Thanks for the suggestion, what version was that added in? Whilst I think I can probably work with that, e.g. if nothing is returned I could turn the overlay off, but then I will have to always set the overlay to on in the next step. I still think there could be a better/global way to handle default behavior that essentially locks the user out

[2022-11-07 14:20] rwwagner90 commented on #1437
@sdraper69 I am not sure, would have to check the changelog, but it's been relatively recently. The main idea here, is as the developer of your app, you need to be able to control this and wait for the elements to exist before showing the tour step. `beforeShowPromise` was the best option before, but now with `attachTo.element` taking a function, it can be used similarly.

[2022-11-07 14:23] #2118 closed

[2022-11-07 14:23] rwwagner90 commented on #2118
@theodoreb this is completed, correct?

[2022-11-07 14:53] sdraper69 commented on #1437
I think it's the fact that the default behavior can literally lock the user out which I find to be the issue. I appreciate it's my job to ensure elements are there, but it's an easy thing to miss/go wrong and completely preventing any further interaction with the page because the overlay is in the way seems like it should not be the default to me.

Anyway, thanks for the suggestion, it will take s

[2022-11-08 21:10] skjbulcher opened #2138 "Uncaught ReferenceError: must call super constructor before using 'this' in derived class constructor"
I've installed shepherd.js as a node module using npm (version 10.0.1), and I'm getting this message when attempting to create a tour:

`Uncaught ReferenceError: must call super constructor before using 'this' in derived class constructor`

<hr>

My code is the following:

`import Shepherd from 'shepherd.js';`

[code]

<hr>

The debugger points to this line of code:
[code]

<hr>

When I download a

[2022-11-18 14:47] levipadre opened #2150 "Default classes for buttons"
Hi,

Is there a default classes for buttons? Like
[code]

Thanks!

[2022-11-18 18:22] hosanabarcelos opened #2151 "canClickTarget"
Hi!
I set canClickTarget to false, but the content is still clickable...

[2022-11-20 15:54] rwwagner90 commented on #2151
@hosanabarcelos do you have a reproduction?

[2022-11-21 12:49] #2151 closed

[2022-11-30 00:01] theodorejb opened #2163 "Arrow position is broken in v11.0.0"
In v10.0.1 it looked correct:
![v10 0 1](https://user-images.githubusercontent.com/3053271/204674851-9e10352d-4422-4220-a6e2-ccbe3fb3c3fa.png)

But now in v11.0.0 the arrow is positioned too high and just appears as a square:
![v11 0 0](https://user-images.githubusercontent.com/3053271/204674930-808044c3-4455-4836-a179-5f0195272d46.png)

[2022-11-30 11:17] albo02 opened #2164 "Advance to the next step when cancel icon is clicked"
Hi, in our app we don't want to show any buttons when the user clicks the cancel icon we want to go to the next step? the advanceOn below does not work as the cancel click will cancel the tour, is there any way to achieve this?

`step.advanceOn = { selector: ".shepherd-cancel-icon", event: "click" }`

![image](https://user-images.githubusercontent.com/68646577/204782132-0418fab3-546e-494a-b1db-46c

[2022-11-30 14:32] #2164 closed

[2022-11-30 14:53] Agular commented on #2163
Can confirm, I noticed this too when updating the version

[2022-11-30 15:49] rwwagner90 commented on #2164
@albo02 did you figure it out?

[2022-11-30 15:50] rwwagner90 commented on #2163
@theodorejb thanks for reporting. Could you please let me know the values you tried for the position?

[2022-11-30 16:08] theodorejb commented on #2163
@rwwagner90 All I set on the step is:

[code]

I changed/customized anything else related to position.

[2022-11-30 18:02] rwwagner90 commented on #2163
@theodorejb I just checked our demo app and it does seem to be broken in a couple ways.

@theodoreb It seems like the auto flipping to the other side when there isn't room behavior has changed since switching to floating UI. Perhaps we missed some configuration around these things?

[2022-11-30 18:13] rwwagner90 commented on #2163
@monshan would you be able to help debug this perhaps?

[2022-11-30 19:53] theodoreb commented on #2163
Not sure I'll have time this week to check it out, i'll try to.

[2022-11-30 21:51] albo02 commented on #2163
@theodoreb @rwwagner90  don't know if this line https://github.com/shipshapecode/shepherd/pull/2037/files#r959704219 has any actual purpose, but seems like the issue was introduced here. I overridden the value set by the `[staticSide]: '-35px'` through CSS to get around this bug