[2014-01-14 03:05] adamschwartz opened #1 "Automatically use theme if styles are included"

[2014-02-17 16:44] commadelimited opened #2 "Demo snippets throw "tour is not defined" error when clicking Run button"
On the [Shepherd API page](http://github.hubspot.com/shepherd/) when clicking the `run` button above each code snippet, a `tour is not defined` error is thrown. This happens when snippets are run in either Coffee or JS mode. The errors begin with the second snippet.

Here's the stack trace.

[code]

And my browser.

[code]

[2014-02-17 16:49] commadelimited opened #3 "Use compiled template string in place of text option in Tour step"
Our company uses Handlebars templates for our client side code. It would be pretty sweet if instead of a string of text we could pass in a compiled Handlebars template which would render inside the Tour container. Just a thought.

[2014-02-17 19:19] commadelimited opened #4 "Specify placement of Shepherd modal relative to DOM element"
A number of other tour libraries offer the ability to specify where the modal window loads in relation to the targeted element. It would be awesome if this were built into the library. Is this on the roadmap?

[2014-02-17 20:08] #4 closed, assigned to nobody

[2014-03-13 22:27] cmalven opened #6 "Direct Access to Tether options through Shepherd"
It's great that Shepherd uses Tether in a way that is so "set it and forget it", but the downside is that Tether has lots of options that would be nice to modify in some situations. We'd really like, for instance, to be able to override the default Shepherd behavior of pinning steps to the edges of the viewport when they are scrolled out of view.

Would be really nice to be able to pass a tether o

[2014-03-13 22:35] #6 closed, assigned to nobody

[2014-04-01 12:23] daniyyelm opened #7 "tour div positioning issue"
Shepherd works normally for a drop down selected list. But including Select.js to style a select option results in shepherd sticking to the left-top most corner.

[2014-05-12 12:20] Gregoire-M opened #11 "Make the step modal"
Is it possible to make the step tips modal? As shown on the demo page http://github.hubspot.com/shepherd/docs/welcome/

I can't find this parameter in the documentation.

[2014-05-13 13:39] phill2mj opened #12 "drop-shadow Artifacts on latest Chrome"
It seems like the drop-shadow property is not behaving in Chrome.

ex: http://imgur.com/TbdoWNr

Maybe the way the window is placed is causing a collision? It happens a lot in my application.

[2014-05-29 15:55] eipark opened #13 "Option to disable background"
It'd be nice to have an option that disables the dimming of the background and the overlay div.

[2014-06-26 10:07] yairEO opened #14 "demo page doesn't work"
`ReferenceError: tour is not defined`

This is what I get when i hit the `run` button here:

http://github.hubspot.com/shepherd/

using FF30 on win7

[2014-06-27 15:31] jbonney opened #15 "Drop-shadow not recognized in Firefox"
Latest version of Firefox does not support the `-moz-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));` style.

As a results, the `.shepherd-content` appears not to have any border and is difficult to see on pages with light background.

As seen under Firefox:
![Firefox](https://cloud.githubusercontent.com/assets/1498014/3413855/7973ada4-fe0f-11e3-8fad-5fe540ec2d52.png)

As seen under Chrome:
![G

[2014-08-03 16:52] vhabhsrosed opened #16 "Example code doesn't work for me?"
what am i Missing here?  I can't get this or the code example in the zip to function.
my script editor shows an error at the line :  tour.addStep 'example',

<link rel="stylesheet" href="../../css/shepherd-theme-arrows.css" />
<script type="text/javascript" src="../../js/shepherd.js"></script>

<script>

tour = new Shepherd.tour
  defaults:
    classes: 'shepherd-theme-arrows'

tour.addStep 'examp

[2014-08-11 20:58] ilanbiala opened #17 "Buttons behind tour shouldn't be clickable?"
On the GitHub demo page, shouldn't I be disallowed from clicking on buttons outside of the tour unless I exit the tour or the tour specifically tells me to press a button?

[2014-09-03 19:05] pwgustafson opened #20 "Uncaught TypeError: Cannot read property 'classList' of null"
I get this error when trying tour.start(), can't figure out what the issue is...has anybody else see this?

[code]

[2014-09-17 06:53] jd327 opened #21 "Documentation page update: there are dependencies"
This page: http://github.hubspot.com/shepherd/ says there's no dependencies - looks like https://github.com/HubSpot/tether is a dependency.

[2014-10-16 18:05] prestonvanloon opened #23 "matchesSelector doesn't support IE 9+"
msMatchesSelector is not part of the matchesSelector!

Here is the corrected function:

[code]

Matches will be null and fail on IE 9+ until this is fixed

[2014-11-20 03:43] natashad opened #26 "Not accessibility friendly"
Doesn't work well with screen readers, nor can you really tab between the buttons

[2014-12-15 17:25] yairEO opened #27 "multiple events"
seems I can't do this

[code]

in jQuery you can do that :)

Also `shepherd` is not chainable, so I can't even do this:

[code]

[2014-12-15 17:54] yairEO opened #28 "cleanup the "tether-element-attached-" classes on each step"
it's very annoying these classes gather up and clash with each other potentially. why not just put the one you really use and that's it?

[2014-12-16 09:55] yairEO opened #29 "Add a class to the body/html which represents each step"
I need to know in my CSS which step i'm at, to hide certain elements and show others on each step. right now shepherd doesn't seem to do that. it only adds the `shepherd-active`.

[2014-12-16 15:54] acoard opened #30 "Tether Dependency? Uncaught ReferenceError: Tether is not defined"
I recently downloaded Shepard 0.5.1-zip from the website.

Including it in my file, I get the following error: ![image](https://cloud.githubusercontent.com/assets/4187478/5456458/8318f7d6-84f8-11e4-8842-63a4903c4d9e.png)

I see according to [this issue](https://github.com/HubSpot/shepherd/issues/21) that tether should be included, and the site likewise says there are no dependencies.

Any help wou

[2014-12-16 16:04] #30 closed, assigned to nobody

[2014-12-16 16:52] #21 closed, assigned to nobody

[2014-12-16 16:53] #23 closed, assigned to nobody

[2014-12-17 03:07] #12 closed, assigned to nobody

[2014-12-22 08:57] gapipro opened #32 "Arrows disapear when attach element is near corner of the screen"
So when attaching to element that is in corner of screen and is smaller then "step" element arrow just disappears.

Can this be fixed?

Can arrow appear in top right corner too instead of just in middle?

[2014-12-30 12:25] abeleev opened #33 "Step events"
Hallo.
I catch a trouble with step events in new version:
— If i try to bind one step to event 'show', all other steps binds to this event too
— And the same thing - if i set in Step a new parameter (like step.newvar = 5), all other steps get it.

That bug wasn't in old version (shepherd 0.5.1 and tether 0.6.5)

[2015-01-02 21:28] hopkinschris commented on #20
@pwgustafson I think your issue is related to drop.js. See this [pull request](https://github.com/HubSpot/drop/pull/34) :)

[2015-01-07 15:39] kevinhikaruevans commented on #12
I'm still seeing it on the hubspot page

![http://i.imgur.com/ewUXKm3.png](http://i.imgur.com/ewUXKm3.png)

[2015-01-07 15:42] b-ash commented on #12
What version of chrome are you seeing that on? I'm using `Version 39.0.2171.95 (64-bit)` (latest stable).

[2015-01-07 15:49] kevinhikaruevans commented on #12
I'm currently using `Version 39.0.2171.95 m` on Windows 8.1

[2015-01-12 05:37] abeleev commented on #33
Hi
Code like this:

this.shepherdTour.addStep(i++, {
	title: 'Resume',
	text: 'Palindromes often consist of a sentence or phrase.',
	attachTo: '#main-content bottom',
	buttons: buttons
});

var step = this.shepherdTour.addStep(i++, {
	title: 'Tools',
	text: 'It is believed that palindromes frequently are also found in proteins',
	attachTo: '.panel-main-menu-container bottom',
	buttons: buttons
});

[2015-01-13 12:56] davidhund commented on #17
It's not only adding a backdrop though...

One thing this solution fails to address is that it's preferable, with an overlay, to 'highlight' the current target element. I've programmatically added a 'backdrop' element but this (obviously) means that the element my Step is attached to is hidden from view.

I find it difficult to a) find the target DOM node and b) 'highlight' is (e.g. position it ab

[2015-01-14 09:22] abeleev opened #34 "Box-shadow render bug and margin breaks"
Hi!
In the latest versions of Opera and Chrome I catch bug of box-shadow render in steps more than 3. Shadow makes distant out of popup box and if i resize browser window, shadow places correctly.

Other bug is there: tour sometimes kill margins of div and align it to the side of tour popup shows.

![screen_tour](https://cloud.githubusercontent.com/assets/7813624/5736488/ff2414ec-9c08-11e4-9844-37

[2015-01-14 09:27] abeleev commented on #34
Styles of divs:

[code]

[2015-01-14 09:35] abeleev commented on #34
UPD: Second bug not arises if remove overflow from .footer-content

[2015-01-15 07:16] gapipro opened #35 "Hide event?"
Why is Tour hide event not triggered when step is closing?

It should trigger every time step closes: on next, hide, cancel, completed actions.

Right now only Step hide event is triggered.

[2015-01-15 07:19] gapipro opened #36 "Step class cleanup"
Right now when step is triggered attached element gets all "shepherd-*" classes but when step is closed this classes should be cleaned up.

Any particular reason this is not happening?

[2015-01-15 07:41] gapipro opened #37 "Step option "when" is not documented"
This is a very usefull option to have and it is not documented in your docs right now (Or Im blind =)).

Also it would be cool to have same thing on Tour object.

[2015-01-15 07:48] gapipro commented on #32
I am currently solving this with tetherOptions property:

[code]

This moves arrow to the corner instead of being in the middle of dialog.

[2015-01-19 10:48] davidhund commented on #34
I also ran into this bug. Removing the `translateZ(0)` transform value for Webkit fixed it for me:

[code]

I *assume* this property was used to force GPU acceleration, a workaround (if needed) might be to use `-webkit-transform: translate3d(0,0,0);` instead but YMMV...

[2015-02-06 17:56] vram1980 opened #40 "On complete destroy shepherd"
When I fire the complete event is there a way to destroy the plugin and remove all classes and dom elements from the page? Im getting some issues where when I complete the tour and want to show the tour again I get double tour panes.

[2015-02-10 16:56] chanksheadspin opened #43 "Positioning not working if scrollTo is set to true?"
When tour scrollTo is set to true and attachTo is set to top the page scrolls so that the element the step is attached to is at the very top and the tour step is automatically relocated to the bottom. Is there a a way to use scrollTo: true and still have the tour step appear on top of the element?

[2015-02-10 18:55] jezstephens opened #44 "Should the default build be UMD-wrapped?"
Hi there

Thanks for providing a UMD-wrapped build. I'm using this version with RequireJS and it works well.

Looking at the other Tether-based projects [Drop](https://github.com/HubSpot/drop) and [Tooltip](https://github.com/HubSpot/tooltip) I noticed they do not offer such a build, so my first thought was to add to those projects' gulpfile's something similar to what is done in Shepherd's.

Thin

[2015-02-10 18:57] jezstephens commented on #44
By the way, I'm happy to work on a PR to implement this if the owners approve.

[2015-02-12 01:03] zackbloom commented on #44
Thanks for the analysis @jezstephens.  I think you're correct on all points.  The only change I would make is to continue offering a bundled build of Shepherd, Drop, etc. for users who are installing the file manually and don't want to track down dependencies (less technical users).  That said, we should also offer a build which includes just the appropriate files for more advanced users.  We woul

[2015-02-12 07:31] suriyagp opened #45 "In action tour.show() is not working"
in a step i want to change the flow of the tour for that i have used tour.show('step'); but it is not working. how to solve that????

[2015-02-12 19:38] quasipickle opened #46 "More universally applicable documentation"
I don't use Eager or Coffeescript, so in order to use shepherd I'd have to either change my development method, or learn Coffeescript to know how to translate your examples.  As it is I just used a different library.

[2015-02-12 20:26] geekjuice commented on #46
Are you looking to contribute or just use the library? If the former, then you are correct in the sense that it can be a difficult to contribute since the library is written in Coffeescript. However, if you are looking to just use the library, you should be able to just grab the `shepherd[variant].js` file along with any stylesheets in the __css__ directory you wish to use. You can also install th

[2015-02-12 20:33] geekjuice commented on #46
Ah, re-reading your comment, I can see that you may have been just referring to the current documentation which is also in `coffee-script` :sweat_smile:. We usually have `javascript` variants in the documentation, but it seems to be absent in the current documentations for `shepherd`. For the time being, I suggest just copy-pasting the `coffee-script` into __[js2.coffee](http://js2.coffee)__. [[ex

[2015-02-18 17:48] wavded opened #47 "Browserify/Node Support"
Any plans?  Currently the `shepherd.js` build is putting Shepherd directly on the `window` object, and there isn't a `main` or `browser` defined in the package.json.  In addition, the package name `shepherd` is already taken in NPM.

[2015-02-25 21:34] brandonkboswell commented on #40
I am also running in this. +1

[2015-02-25 21:50] ItsMeAra commented on #40
Me as well. +1

[2015-03-04 02:21] sir-dunxalot opened #49 "bower.json name"
The name in the `bower.json` file is listed as `shepherd` but one installs the package with `bower install shepherd.js`. Should they not be the same? it's certainly confusing with no bower install instructions documented.

[2015-03-07 06:06] mcometa commented on #30
I have encountered this one too. The last line says that it is located in the /js directory. :D

[2015-03-07 14:48] b-ash commented on #30
Those docs mention that the standalone Shepherd script is located in the `/js` directory, in the case that you are including multiple Tether-based projects. Otherwise, there's the built script in the root of the repo.

[2015-03-07 14:57] mcometa commented on #30
Oh god. After reading it for the nth time, I think I got it. The one in the `/js` dir does not contain Tether.

Sorry man, I'm kind of slow with these things.

[2015-03-07 14:58] b-ash commented on #30
Ha, not a problem. If it's that confusing, we should revisit the verbiage there :wink:

[2015-03-10 19:49] andru commented on #47
+1 same issue for Webpack

[2015-03-11 18:51] gitjeff05 opened #50 "Skip step if element in attachTo is not found"
When shepherd tries to go to the next step, and that step's ``attachTo`` element is missing, Shepherd should just advance to the next step. Likewise, when going through the steps in reverse and an ``attachTo`` element is missing, it should just behave as if the step were not there. Currently, I have a workaround where I cache the previous step in the ``.on('show' function() ...`` on the tour and s

[2015-03-11 21:11] brandonkboswell commented on #50
Interesting Idea. Perhaps there can be a config setting that determines this behavior? I definitely think there are scenarios where I would want to know that the element wasn't there rather than skipping, and vice versa.

[2015-03-12 16:54] gitjeff05 commented on #50
Exactly, @brandonkboswell. When initializing a tour, I was thinking of something like this:

    tour = new Shepherd.Tour
        defaults:
            classes: 'shepherd-theme-arrows'
            scrollTo: true
            allowSkipSteps: true

``allowSkipSteps`` would always default to ``false`` unless otherwise specified.

[2015-03-12 19:00] brandonkboswell commented on #50
Sounds good to me.

[2015-03-16 19:30] rwwagner90 commented on #17
I agree with @davidhund. There should be an option to grey out and disable clicking of the background, and add a non-greyed out box around the element you are pointing to. Of course, we can implement these things ourselves, but most tour libraries include these options. Would be very nice to have.

[2015-03-16 19:59] rwwagner90 commented on #17
Is there a way to get the current element that each step points to?

[2015-03-16 20:03] rwwagner90 commented on #17
Right now, I have to do something like this just to get the element that it's attached to:
[code]

[2015-03-17 06:52] woble commented on #29
Don't think it has to be built in as it should be fairly simple to achieve using some of the provided methods.

[2015-03-17 13:54] nassimbenkirane commented on #32
Thanks for the tip @gapipro ! Having the same issue and your fix helps !

[2015-03-17 19:02] gitjeff05 opened #52 "Refactor css in shepherd-theme-arrows theme"
The theme `shepherd-theme-arrows` has a high level of specificity which makes it really difficult to override styles within another project. For example, if one wants to override the `header` in a shepherd step, they have to compete with this:

[code]

Than means if I want to change the background color, I have to get more specific than that rule above. Then best way might be to add my own class w

[2015-03-17 19:06] gitjeff05 commented on #45
What does your code look like?

[2015-03-17 19:09] gitjeff05 commented on #40
Shepherd doesn't clean up after itself on complete. On ``complete`` and ``cancel`` I run this:

    _.each(Shepherd.activeTour.steps, function(step) {
        step.destroy();
    });

[2015-03-17 19:56] vram1980 commented on #40
@gitjeff05 Worked perfectly thank you. Closing.

[2015-03-17 19:56] #40 closed

[2015-03-17 21:36] rwwagner90 commented on #17
I've been working on implementing modal functionality in an ember addon. If anyone else is using ember, and/or is interested in building upon this modal functionality, feel free to check it out. https://github.com/rwwagner90/ember-shepherd

[2015-03-18 19:46] rwwagner90 commented on #50
I also require this functionality. Is someone working on it currently?

[2015-03-18 19:47] rwwagner90 commented on #37
@gapipro what is the when option?

[2015-03-18 19:48] rwwagner90 commented on #33
I also have this issue. The show events fire for every step each time one is shown.

[2015-03-18 19:53] rwwagner90 opened #53 "Step events fire for every step"
If I attach an event listener to 'show' for a step, it fires once for every step, instead of just once for the current step. I have 6 steps, and I do the following:
[code]

The console.log is called 6 times, once for each step, instead of just once. I saw another issue mentioning this quite awhile ago. Is it being worked on?

[2015-03-18 20:16] gapipro commented on #37
Instead of writing something like:
[code]

you can get same result with:

[code]

[2015-03-18 20:27] rwwagner90 commented on #37
In the current version, addStep actually doesn't return a reference to the step, so I will try the when option instead. Would be awesome if it works!

[2015-03-18 20:38] rwwagner90 commented on #53
It appears that the cause of this is the addStep method returns the tour, not the step object. It should return the step, as per the docs.

[2015-03-19 17:56] rwwagner90 commented on #50
I saw there was a pull request for a before show hook for steps. We could use that to do this functionality manually, if there are no plans for it to be implemented. Does anyone plan to implement this?

[2015-03-20 19:31] johnbacon commented on #52
+1

[2015-03-22 23:26] jasondavis opened #54 "Multi-Page Tour Capabilities?"
Is it currently possible to create an application Tour that spans across different Page URL's?

For example the WOrdPress Admin panel has a similar Tour functionality which can go to different pages in your website/app and continue on with the Tour once the new URL is loaded.

I confess I haven't dug into the code yet or built anything with this library.  I just didn't see this functionality in th

[2015-03-22 23:32] jasondavis commented on #54
UPDATES.

I might of prematurely made this post as now I see it looks rather simple to do this with the current codebase!

I see this code...

    buttons: [
        text: 'Next'
        action: tour.next
      ]

I have been looking at many Tour type libraries today so I was thinking that each Step in the Tour had a Number like many do... (Step 3 of 17) but it turns out this library does not!

So

[2015-04-01 18:44] rwwagner90 commented on #53
Should be a pretty simple fix here. Can someone acknowledge this issue please?

[2015-04-01 18:49] rwwagner90 opened #55 "Show does not wait on before-show to complete"
The rendering of the step does not wait for before-show to complete. It should be a promise, and only continue calling render and show and getAttachTo and all of that, after before-show is completed. This allows before-show to do things with the app and show certain elements that you may want for the tour.

Doesn't really make sense to have before-show, if it isn't guaranteed to all happen before-

[2015-04-01 19:24] b-ash commented on #53
Sorry for the confusion there. That change was introduced [here](https://github.com/HubSpot/shepherd/commit/b604d3e9d8e6f68281e9906e77e5d17477771de2) and is current as of v0.6.0. The docs in this case aren't correct.

[2015-04-01 19:28] rwwagner90 commented on #53
Why would you not want addStep to return the step it just added? Seems like it should.

[2015-04-01 19:36] b-ash commented on #55
I think that would be pretty slick. I'd be happy to take a look at a PR for it :smile_cat:

[2015-04-01 19:44] b-ash commented on #53
The idea was that `addStep` would be used when creating a tour that would normally have more than 1 step. That makes something like this convenient:

[code]

We found it was less frequent that you needed the `Step` object explicitly. In that case, you can create a `Step` object and add the needed handlers there.

[2015-04-01 19:46] b-ash commented on #53
Articulated this a bit better in the docs. https://github.com/HubSpot/shepherd/commit/9fc8dadb21285f9c8127636a3f909dbd8fb865e9

[2015-04-01 19:46] #53 closed

[2015-04-01 20:00] rwwagner90 commented on #53
@b-ash shouldn't it return the step though? If you call tour.addStep, you already have the tour, so it would be more helpful to get the step back.

[2015-04-01 20:02] rwwagner90 commented on #55
Okay, I'll see what I can throw together. I assume I have to use CoffeeScript? I see you have both a coffee and js folder in the source.

[2015-04-01 20:03] b-ash commented on #55
Yup. The CoffeeScript setup uses gulp to compile to the JS source - that shouldn't be updated explicitly.

[2015-04-01 20:19] b-ash commented on #53
It alleviates the need to do `tour.addStep() ... tour.addStep() ...` for each step you have, and allows you to write `tour.addStep().addStep()...` instead.

[2015-04-01 20:23] rwwagner90 commented on #53
I'd rather write ```tour.``` instead of having to do this to get the step:
[code]

[2015-04-01 20:29] b-ash commented on #53
The question would be what you needed `currentStep` for. If there were some options you needed the step for, you could write

[code]

We're just not optimizing for needing the step after adding them to the tour.

[2015-04-01 20:32] rwwagner90 commented on #53
The docs don't mention that you can create steps in that way. The only method listed is using ```tour.addStep```. I can definitely do it that way, just didn't know I could.

[2015-04-01 20:35] b-ash commented on #53
That being said, the docs don't say `new Shepherd.Step` explicitly. One would have to take a peek at the source to get that info. Glad to hear that'll work for you though.

[2015-04-01 21:54] rwwagner90 commented on #55
@b-ash what is this loop for?

[code]

Shouldn't triggering an event just call one event handler? If I do ```trigger('before-show')``` I would expect that to just call the function I defined for before-show.

Is this because before-show can be defined on the Tour object and individual step objects or something?

I'd like to do some sort of async callback, that would do something like:

[code]

[2015-04-02 14:22] rwwagner90 commented on #55
@b-ash is there a reason the trigger function does not take parameters and uses arguments instead?

[2015-04-02 14:55] rwwagner90 commented on #55
@b-ash is Evented part of Tether and not Shepherd?

I was able to adapt the show function to wait on before-show to complete, by using a callback:

[code]

However, I need to be able to execute this callback in the ```trigger``` method, and it doesn't appear to be in shepherd.coffee.

[2015-04-02 15:44] rwwagner90 commented on #55
I think I might have a working trigger function as well:

[code]

@b-ash Please let me know your thoughts on each of these changes, and if you agree, I'll submit PRs to both Shepherd and Tether.

Shepherd would then be required to use the new version of Tether though, or it would break.

[2015-04-02 15:54] rwwagner90 commented on #55
Went ahead and created PRs, please give feedback!

https://github.com/HubSpot/tether/pull/74
https://github.com/HubSpot/shepherd/pull/56

[2015-04-02 16:26] rwwagner90 commented on #55
Realized that we need to pass the callback to the handler instead, so will work on doing that now.

[2015-04-09 09:47] alan-unravel commented on #49
Agreed, this was a cause for confusion!

[2015-04-20 19:48] tnrich opened #58 "Is there a way to add an image to a shepherd step?"
It would be nice to have an embedded image in some of the shepherd steps. Do you know if there is an easy way to do that?

Thanks!

[2015-04-21 20:02] bryanaka commented on #50
@rwwagner90 in the `beforeShowPromise` hook, you can look for the element and if the element is not found, you can do:

[code]
to mimic `next` without the `hide` step. You also need to return a rejected promise to make sure `Step#_show` is not called.

[2015-04-22 17:56] rwwagner90 commented on #50
@bryanaka thanks for that. I am aware of this, as I wrote ```beforeShowPromise``` :wink: . That was part of my reasoning for implementing it. Thanks for documenting this use case for everyone! Maybe we could have a flag for skipping missing steps or not, using this method. @b-ash thoughts?

[2015-04-22 18:26] bryanaka commented on #50
ah, thanks for that @rwwagner90. `beforeShowPromise` has been very helpful the last few days. :+1:

I agree that it would be nice to have some sort of skip flag that will skip the missing step if the element is not found after the beforeShowPromise resolves. I also think though calling `next` should be safe to call in all parts of the step lifecycle.

[2015-04-22 18:44] rwwagner90 commented on #50
You're quite welcome @bryanaka :smiley:

@b-ash let me know what sort of flag for skipping missing steps you guys would support a PR for, and I can work on it.

[2015-04-22 18:51] b-ash commented on #50
It seems like that's a little beyond the scope of what the library should really know about. From my perspective, if the code is supplying an element / the promise of an element then I'd say the implementer should be the one to special-case if the element still isn't there.

Not to mention, skipping steps *sometimes* will likely lead to confusion and be difficult for someone without this backgroun

[2015-04-22 18:51] #50 closed

[2015-04-22 21:48] mberhorst commented on #30
Sorry to comment on this, but I got the dependency issue with the current 0.7.1 release. I used the shepherd.js from the root and it still says: Uncaught ReferenceError: Tether is not defined

I use require.js if this helps...

[2015-04-23 21:27] mattrw89 commented on #33
I have this same problem also. I had to throw in an if statement checking if the event.step.id was equal to the name of the step I had just assigned.

[2015-04-23 21:30] b-ash commented on #33
This is because `addStep` returns the tour, not the step. If you want to attach an event to a step, define a separate `new Step` first, and then add that to the tour after you've done what you need with it. `addStep` returns the tour so it can easily be chained, a la `tour.addStep( ... ).addStep( ... )`

[2015-04-23 21:30] #33 closed

[2015-04-23 21:32] b-ash commented on #33
See https://github.com/HubSpot/shepherd/issues/53 for a similar conversation.

[2015-04-30 05:55] leomelin commented on #15
In firefox the css filters work only when "layout.css.filters.enabled" flag is set to true. But it's not enabled by default - it also doesn't work on older android browser or any IE version. IMO Css filters are not production ready because lack of IE support. Some kind of workaround should be implemented. http://caniuse.com/#feat=css-filters

[2015-05-08 02:55] look416 commented on #58
You can just put the `<img>` tag inside `text` option of the addSteps method.

[2015-05-19 09:45] afoda opened #62 "Leftover event handlers when tour has ended"
In `Step.prototype._show`, when `this.el == null` a call is made to `render` which calls `setupTether`. Then, `_show` calls `setupTether` again.

Both calls to `setupTether` add event handlers to the scrollParent, but only the second copies are removed when the step is destroyed. Therefore there are leftover event handlers when the tour has ended.

I think modifying `_show` so that `setupTether` i

[2015-05-22 18:09] Mayank1791989 opened #63 "Cannot call destroy of null in v1.0.0"
[code]
javascript type of null is object not undefined which is causing the error.

[2015-05-22 18:35] #63 closed

[2015-05-22 18:38] geekjuice commented on #44
@jezstephens From `v1.0.0`, the default (and currently only) distribution of `shepherd` is UMD wrapped. We are working on getting bundled distributions back into the mix since removing them completely is less than ideal as well. :smile_cat:

[2015-05-22 18:38] #44 closed

[2015-05-22 18:40] geekjuice commented on #49
Since `v1.0.0`, we've decided to prefix all `Tether` based projects with `tether-`. So you should now be able to install `shepherd` via `tether-shepherd` on `npm` and `bower` and the names in the `*.json` should be correct as well.

[2015-05-22 18:40] #49 closed

[2015-05-22 18:42] #32 closed

[2015-05-22 18:44] geekjuice commented on #47
Since `v1.0.0`, `shepherd` is UMD wrapped so it should support Browserify, Common.JS, AMD, global, etc. In regards to the name `shepherd`, while the project on GitHub will continued to be called `shepherd`, all `Tether` based projects are now prefixed with `tether-`, so if you check the `package.json` and `bower.json`, the new name for this project on `npm` and `bower` is `tether-shepherd` :smiley

[2015-05-22 18:44] #47 closed

[2015-05-22 18:46] geekjuice commented on #46
The project has been updated to use ES6 via Babel (no more CoffeeScript). Hope that helps now.

[2015-05-22 18:46] #46 closed

[2015-05-22 18:57] geekjuice commented on #54
I believe I tried something in the past where I wanted to continue a Tour on multiple pages. You are correct in that you can just bind the `next` action to load a new page and continue on. However, there are two scenarios to consider:

1. Single Page App (No hard reload) - In this case, it may just be a matter of waiting for selector to check whether to continue the tour.

2. Not SPA (Hard reload

[2015-05-22 18:57] #54 closed

[2015-05-22 19:19] sir-dunxalot commented on #49
Thanks for the update :+1:

[2015-05-22 19:43] wavded commented on #47
@geekjuice pulled it earlier and seems to be working, thx!

[2015-05-26 21:25] wattsbn opened #65 "Automatically skip missing steps"
It would be very convenient for me if shepherd would automatically skip a step if the element/selector specified was not found. Currently an error is thrown and the html is just appended to the body without using tether. At the very least I would expect a way for me to implement this myself through the event system, but that doesn't seem to work either. I tried cancelling a step in the 'before-sho

[2015-05-27 17:43] geekjuice commented on #65
I'm actually not comfortable just skipping a step if a selector is not found. However, I do think it would be cool if we could conditional determine whether to show a step or not. For example:

[code]

In this case, if the selector `.king-claudius` exists, we do show the step, otherwise, return `false` which would trigger `Shepherd` to skip this step. If you would like to open a PR, I'd be more th

[2015-06-02 10:42] mechkg opened #66 "Step divs remain after tour has ended"
I am trying to use Shepherd in a single-page app, and I just noticed that divs that Shepherd creates to display step content remain in the document when the tour ends. If the page is not refreshed and multiple tours are started the number of those divs grows indefinitely.

Is there any way to clean them up? I mean I can always just remove '.shepherd-step' divs, but why are they kept around?

[2015-06-05 01:59] evitolins opened #67 "Add support for all Tether attachment positions"
Unless I'm missing something, it seems that Shepherd only supports "top, bottom, left, right" as options within the `attachTo` option.

It would be nice to add the ability to position items using "top left" or "bottom middle", etc.

http://github.hubspot.com/tether/#attachment

[2015-06-05 05:47] sonnylegreat opened #68 "Created NuGet package"
Created a NuGet package for your project, let me know if you'd like anything changed.

https://www.nuget.org/packages/HubSpot.Shepherd/

[2015-06-05 06:35] evitolins commented on #67
Okay, I think I've realized this is possible, but the documentation could be clearer.  A Step's `tetherOptions` option allows use of these additional position behaviors.

It's arguable that the `attachTo` option should support them directly.  Thoughts?

[2015-06-05 22:03] evitolins opened #69 "Arrows partially obscure click events to elements in the background"
Shepherd UI arrows have a partially-invisible footprint that can obscure items behind it from click events.

Adding `pointer-events: none;` to the arrow class would take care of the issue, and should cause no issues to the expected functionality.

[2015-06-08 00:04] geekjuice commented on #69
I've updated the `tether` arrow mixin to configure the arrow's pointer event and set it to `none` for `shepherd` tours. Hopefully, no one actually expects the current behavior where the transparent area is actually block their click so I agree this should be the default behavior. :smile_cat:

You will probably need to update `shepherd` to version `v1.1.1` which includes the `tether v1`, but it sho

[2015-06-08 00:04] #69 closed

[2015-06-08 00:08] geekjuice commented on #68
Not quite sure how `NuGet` works and it seems like you are currently the "owner" of the package, so I can't guarantee that the package will be up-to-date with `npm` or `bower` which is in our control.

[2015-06-08 00:08] #68 closed

[2015-06-11 19:20] geekjuice commented on #67
I completely agree that `attachTo` should take `tether` attachment positions as well. However, I would actually argue that the current string shorthand for `attachTo` should remain the same - `attachTo: 'selector position'` - and update the method to handle the object format better since it only allows `top | bottom | left | right` at the moment.

[code]

Does that sound reasonable to allow the sh

[2015-06-15 06:50] opusonline opened #73 "Memory leak due to one lost tether instance"
In `setupTether()` a new instance of Tether is created (src/js/shepherd.js:191). But `setupTether()` is called twice: in `_show()` (line: 215) and in `render()` (line 348).

In my case of testing, after a Tether instance is created, a second new instance overwrites `this.tether`.

Now, when there are event listeners (for example: `scroll` on `scrollParent`), there are 2 times addEventListener but

[2015-06-15 17:09] geekjuice commented on #73
Good catch and I think that's a valid solution to the issue. Would you like to submit a Pull Request so me to look at? :+1:

[2015-06-15 17:36] opusonline commented on #73
@geekjuice Thanks a lot for your answer!

After posting this, I discovered another issue regarding the same concern.
[Leftover event handlers when tour has ended #62](https://github.com/HubSpot/shepherd/issues/62)

To be honest, the possible solution above was just a quick hack to avoid memory leaks due to leftover event listeners.

As @afoda already mentioned, `setupTether()` should only be calle

[2015-06-15 17:41] geekjuice commented on #73
@opusonline Ah, I haven't had time to go through the issues and pull requests in the project yet and missed that thread.

I'll be more than happy to take a look into the issue and see if I can come up with a better solution. If you happen to get to it before me though, I'd be more than happy to chime in and work together on a solution.

Since the previous thread exists, I'll close this one for now

[2015-06-15 17:41] #73 closed

[2015-06-16 08:09] opusonline commented on #62
I created a pull request for that issue.
[Avoid memory leaks due to double tether instance #74](https://github.com/HubSpot/shepherd/pull/74)
@geekjuice Please have a look.

[2015-06-16 12:31] Mayank1791989 commented on #62
it's better to just remove this.setupTether() call from render function

[2015-06-17 07:04] opusonline commented on #62
@geekjuice Thanks for the merge!

I'm sorry, but I discovered a strange behaviour in the updated version.
Tour steps, presented on the left side of the element, have no correct margin to the element. If an arrow is shown, the arrow is above the element and the popup is directly next to the element, there's no offset between.
When I use both calls of `setupTether()` everything works fine. So for me

[2015-06-17 15:35] geekjuice commented on #62
@opusonline Can you provide a jsFiddle or similar with that behavior when you have the time? I'm not able to reproduce that issue with the current version and actually works as expected still.

[2015-06-17 15:35] #62 closed

[2015-06-17 16:55] opusonline commented on #62
@geekjuice
Here's the fiddle:
https://jsfiddle.net/u28bv7uy/1/

(Sorry, I had to add the complete js and css source, because I had no appropriate server for loading thos needed libraries - written code is at the end)

[2015-06-17 16:58] opusonline commented on #62
@geekjuice
You can try to uncomment the `setupTether` call in line 2338 to see that shepherd is working correctly with a second call of `setupTether`.
This behaviour is because I use `tetherOptions` in tour initiation.

[2015-06-17 17:49] geekjuice commented on #62
Thanks for the update. In the meantime, I'm going to re-add that function call to `setupTether` in the `render` method. I dig around the `shepherd` code as well as `tether` to see what's going on.

[2015-06-20 19:10] aarr0n commented on #40
:+1: for this.

[2015-06-22 01:57] geekjuice commented on #2
Sorry for the delayed response. While it does say `run`, it's primarily because it is utilizing a library called [executr](https://github.com/HubSpot/executr) which automatically turns code blocks into 'executable` blocks. While it works well for libraries like [messenger](http://github.hubspot.com/messenger/), it may not always work for certain examples like this library. For an example of the li

[2015-06-22 01:57] #2 closed

[2015-06-22 02:05] geekjuice commented on #3
Do you mean using HTML within the `text` field? e.g.

[code]

If so, this is already supported and should work. Or is your thought a little different?

[2015-06-22 02:07] geekjuice commented on #7
Sorry for the delayed response. I'm not quite sure what you mean, so do you think it would be possible to supply a jsFiddle with an example of what you are observing?

[2015-06-22 02:28] geekjuice commented on #11
By modal, do you mean a step that isn't tethered to any target? If so, you can just omit the `attachTo` field in the step to make it centered on screen.

Regarding the step focus, I believe the reason the authors left out that feature was there are a lot of factors that would make it difficult to determine which elements to fade. However, if you know of a robust way to create that effect, we would

[2015-06-22 02:28] #11 closed

[2015-06-22 02:51] geekjuice commented on #14
Duplicate of https://github.com/HubSpot/shepherd/issues/2

[2015-06-22 02:51] #14 closed

[2015-06-22 03:00] geekjuice commented on #15
One workaround is to use `box-shadow`. However, it will not add the shadow to the arrow like `drop-shadow` provides. Another option is to use a library like https://github.com/Schepp/CSS-Filters-Polyfill that will provide a polyfill for many browsers.

[2015-06-22 03:01] geekjuice commented on #16
Can you provide the entire code and/or a jsFiddle?

[2015-06-22 03:13] geekjuice commented on #17
I would be more than happy to review pull-requests if there is a robust, reliable way to provide this functionality, but I also believe that it should up to the implementer to supply this function if they need it. The main issue being highlighting the current tethered target and tour step while greying everything else out is quite dependent on a projects' styles and layout.

[2015-06-22 03:14] geekjuice commented on #20
Mind providing a jsFiddle of this issue?

[2015-06-22 03:24] geekjuice commented on #27
This should be a fairly easy feature to add. The first part could be handled in the `Shepherd` code while the latter can be added in the `Evented` class in the `Tether` library. If you'd like to help out an create a pull request, I'll be more than happy to take a look, otherwise I'll try look into adding this in a future release :smile_cat:

[2015-06-22 03:26] geekjuice commented on #28
This is not exactly `shepherd` specific and should be addressed in the [`tether`](https://github.com/hubspot/tether) library

[2015-06-22 03:26] #28 closed

[2015-06-22 03:34] geekjuice commented on #29
My guess to why the current step is not added as a class on the body or html element is that more than one tour could potentially run concurrently. In that situation, the current step is ambiguous. Like @woble, it should be possible to do this with the current API. One way could be to add classes on the elements you want to hide/show and hook into the tour events to show/hide the elements accordin

[2015-06-22 03:34] #29 closed

[2015-06-22 03:36] geekjuice commented on #34
If you can provide a jsFiddle which this issue, I'll be happy to help out as I'm unable to reproduce this issue (and it may not be issue anymore if it was a Chromium issue)

[2015-06-22 03:45] geekjuice commented on #35
Not sure that's true. The tour `hide` and step `hide` events are slightly different, so hooking onto the global `hide` event will only trigger when tour instances trigger that event and not steps.

[2015-06-22 03:45] #35 closed

[2015-06-22 03:49] geekjuice commented on #37
Looks like it's documented [here](http://github.hubspot.com/shepherd/#step-options) :smiley_cat:

[2015-06-22 03:49] #37 closed

[2015-06-22 03:51] #58 closed

[2015-06-22 03:57] geekjuice commented on #66
Hmm, this seems like a bug. I would at least expect subsequent tours to reuse the existing DOM elements from the previous tour, but it seems to just recreate them. I'll take a look into this and hopefully have it fixed for the next release. Thanks for the catch!

[2015-06-22 14:14] rwwagner90 commented on #17
I have some solutions in ember-shepherd for this, but you are right, it's very hard to handle all cases, as you cannot rely on styles to be the same in every app. Perhaps we could get some of the functionality ported over, and just have a disclaimer that it won't work for all cases @geekjuice? I did put in a copyStyles option that will copy the position and styles of the element, create a new one

[2015-06-22 14:24] geekjuice commented on #17
As much as I also wish this could be a core feature of this library, I'm still a bit wary of including it as one if it cannot handle most situations safely. One solution though could be including it as an extension to `Shepherd` while keeping the original library untouched e.g. separate `extension` directory with a collection of features like this one.

Regarding the `copyStyles`, would it just co

[2015-06-22 14:29] rwwagner90 commented on #17
An extension could work.

Yes, you are correct. We could add some functionality to copy all the events as well, if that was needed.

[2015-06-22 14:50] geekjuice commented on #17
Awesome. If you'd like create a pull request with some of the features you implemented ported over, I'll be happy to take a look and possibly include some feedback to how I implemented similar features in projects I've worked on. Again, it will probably need a __big__ disclaimer on how it would work since it's not quite a trivial issue :cry:

Regarding the original question, the UI does hint that

[2015-06-22 14:50] #17 closed

[2015-06-22 14:59] geekjuice commented on #52
I've felt the same way for a lot of these `tether`-based projects which have very high specificity. I believe the original intent was so you create `themes` like we have in the [here](https://github.com/HubSpot/shepherd/tree/master/src/css). However, I'll take a look at flattening these styles since they are unnecessarily specific.

[2015-07-02 18:47] JSMike commented on #67
I've attached a pull request that will allow this:
https://github.com/HubSpot/shepherd/pull/75

[2015-07-13 18:12] Kerrick commented on #36
:+1: I agree, this functionality would be great to have.

[2015-07-17 16:08] alpengeist opened #76 "addStep does not return the Step instance"
The documentation says that Tour::addStep returns the new created Step instance. Instead it returns the Tour object.

[2015-07-21 22:20] evitolins commented on #55
Any progress on this... i'm having some issues with hidden UI elements in my tour.  I might take a crack at this.

[2015-07-21 22:46] rwwagner90 commented on #55
@evitolins I implemented beforeShowPromise to handle things that need to be done before show.

[2015-08-05 13:46] DragosDumitrache commented on #16
I seem to be having the same problem on OS X Yosemite. I've installed tether-shephered via npm, so it's currently residing in my node_modules.

The dependencies are loaded into the html as such:
[code]

I tried using both the minimised version and the regular ones, but neither one works.

The example code is added straight into my document.ready function like so:
[code]

However, that freezes the

[2015-08-05 14:14] geekjuice commented on #16
Could you also provide a jsFiddle and/or the rest of the JS/HTML code?

If I had to guess though from what you provided, you need to require `tether` before `shepherd`, add steps for the tour, and make sure the appropriate targets exist on the page.

Let me know if either of those fix the issue :smile:

[2015-08-05 14:27] DragosDumitrache commented on #16
Oh, you were right, that was a stupid mistake on my part, requiring tether after shepherd. That fixed it, thank you :)

[2015-08-05 14:28] geekjuice commented on #16
No worries. Happens to the best of us :sweat_smile:

[2015-08-05 14:29] #16 closed

[2015-08-11 18:43] yeban opened #77 "How to add animations to the steps?"
Neither shepherd's, nor tether's documentation talk about adding animation and googling around didn't help either. I tried adding 'animate' class and some effect classes from [animate.css](https://github.com/daneden/animate.css) to the steps, but doesn't work.

I will appreciated any help regarding this.

[2015-08-11 19:58] yeban commented on #77
Ok, can be done by calling jquery ui's `effect` method on `.shepherd-content` in `when.show`.

Sorry about the noise. I should have given this more thought before posting.

[2015-08-11 19:58] #77 closed

[2015-08-17 21:56] awwester commented on #66
It is the same thing for the `style="pointer-events: none;"` which gets applied to the target element. If you exit the tour on a button or some other element that has a click action attached to it the element stays inactive.

[2015-08-20 22:52] tannermares commented on #7
@daniyyelm Select.js doesn't just style a select option. It hides the original select and replaces it with other styled nodes. Because the original select is now `display: 'none'`, tether attaches to the top left of the screen since the node is technically present on the page, though not visible.

I am investigating a similar issue regarding hidden dom nodes. I'm trying to skip nodes that are hidd

[2015-08-24 13:38] mtgibbs commented on #76
I recently just built out the typing file and the documentation seems to have been updated to reflect that addStep returns the Tour object for easy method chaining.

[2015-08-24 17:18] mtgibbs commented on #65
@geekjuice

https://github.com/HubSpot/shepherd/pull/78

Take a look at this implementation of the idea.  We were doing something similar and I took your comments into consideration.

[2015-08-24 17:23] geekjuice commented on #65
@mtgibbs Awesome! I'll do my best to take a look as soon as I can (been fairly busy and behind on PR reviews :sweat:)

[2015-09-01 23:35] tannermares opened #79 "Shepherd might need jQuery..."
### First

I'd like to say I love this library. It's combo with tether make it super powerful. It's also mostly not very opinionated. You leave it up to the developer to implement any uncommon or specific features. Like skipping missing steps or highlighting the current step. Which, up until now, I have been totally fine with. I do think there is one thing Shepherd might need to be opinionated abo

[2015-09-02 00:43] geekjuice commented on #79
Thanks again for using Shepherd!

While I completely understand the possible ease of use with including `jQuery`, I'm also in favor of keeping the dependencies for the library as few as possible.

For your use case, would it be possible to adjust how `getAttachTo` works by allowing arrays (nodes and selectors), selector, and nodes?

Another option could be to invert control on the step target and

[2015-09-05 03:26] tannermares commented on #79
@geekjuice: The second option you mention would be perfect. It also maintains the theme of letting the end user implement the details. If it used `document.querySelector()` as a sensible default or let you use the method to include the library of your choice, I would say that is a win win. There are just too many awesome convenience and otherwise impossible selectors jQuery adds. Makes the tours t

[2015-09-15 01:24] c3pipes opened #80 "Long selectors for attachTo cause 'Tether Error: You must provide an attachment'"
Example: {attachTo: "table tbody tr:nth-of-type(1) td:nth-of-type(2) top"} will throw the following error: 'Tehter Error: You must provide an attachment'

Code:
function parseShorthand(obj, props) {
...
vals.splice(1, (valsLen, propsLen));
....

Change to:
vals.splice(1, (valsLen - propsLen));

[2015-09-20 15:39] sdaitzman commented on #1
:+1:

[2015-09-23 01:01] mtgibbs commented on #65
@geekjuice

Just a bump on this thread.  The PR is still in need of review.  I'm sure there's some work that needs to be done to it (versioning, alignment with your standards, etc).  It's going on 30 days now.

[2015-09-23 14:18] geekjuice commented on #65
Thanks for the heads up and reminding me about this. I'll take a look a today and get back to hopefully by the end of the day or early tomorrow. Sorry again for the delay

[2015-10-02 07:52] gcanu opened #81 "Destroy a tour"
Is there a way (a method ?) to destroy properly a tour and not only steps ? Right now, I remove the HTML object manually...

[2015-10-02 08:23] #81 closed

[2015-10-06 13:21] kentmw commented on #67
+1

[2015-10-07 13:07] mtgibbs commented on #65
Suggesting that this issue be closed now that the PR has been accepted.

[2015-10-07 13:12] geekjuice commented on #65
:+1: Good call. Thanks!

[2015-10-07 13:12] #65 closed

[2015-10-07 13:31] mtgibbs commented on #79
@tannermares Have you made any progress with this implementation idea?

I'm not sure exactly what your goals are, but this change may help you hack a solution in until someone implements this idea.

https://github.com/HubSpot/shepherd/pull/78

[2015-10-28 17:37] adamschwartz opened #82 "Animate from one step position to another"
See https://gist.github.com/zackbloom/a4f0f071bffee59d0218 for an initial implementation.

[2015-11-01 13:59] matteodesanti commented on #67
+1

[2015-11-03 09:16] kspiteri commented on #80
Hi c3pipes,

Use:

attachTo: {
    element: 'table tbody tr:nth-of-type(1) td:nth-of-type(2)',
    on: 'top'
}

when targeting long elements.

[2015-11-06 21:56] leonexis commented on #76
The documentation here: http://github.hubspot.com/shepherd/

[code]

Under the section "Advancing on Actions" is still there. Docs need to be made consistent as this took me a while to figure out why this wasn't working... But the workaround is simple, if ugly:

[code]

[2015-11-09 04:34] adamschwartz opened #83 "Support live updating installs"
Through the `preview` install property.

e.g. https://github.com/EagerApps/CornerRibbon/blob/2084470cb1ba065904bb495e25fcbc7a01f682da/install.json#L14-L21

cc: @zackbloom @akanshmurthy

[2015-11-10 14:09] natepers commented on #67
+1

[2015-11-10 21:41] dmackerman opened #84 "Inherit animation styles from Drop"
Since Shepherd uses Drop internally, why doesn't it support the animation classes that Drop supports? Would be a nice addition. :)

[2015-11-10 21:50] geekjuice commented on #84
Shepherd actually doesn't use Drop, rather Tether (which powers Drop and Shepherd). That being said, we should/could make the styles for Drop usable with Shepherd or at least bring those styles here.

[2015-11-10 21:54] dmackerman commented on #84
Sorry, that's what I meant! And yes, that'd be great.

[2015-11-10 21:56] geekjuice commented on #84
Heh I figured, just wanted to make sure. Unfortunately, I'm a bit limited on bandwidth to take a look at this very soon, but if you'd like to take a swing at this the place to look would be one of the animated Drop themes and carrying over the transitions and creating a new theme out of them. Otherwise, I'll do my best to implement at least one of the Drop styles in the near future :beers:

[2015-11-11 16:20] natepers commented on #52
+1

[2015-11-15 12:47] arshtepe opened #85 "It's wrong position of prompting"
It is problem when use document.querySelector
demo
http://jsfiddle.net/wkbckrp6/2/

[2015-11-18 16:12] hccampos commented on #67
+1

[2015-11-18 21:44] shaneparsons opened #86 "Vertical alignment off centre"
The horizontal alignment is always spot on in the centre, but for some reason the vertical alignment is always off.

Below is a picture of what I'm talking about:
![screen shot 2015-11-18 at 4 36 53 pm](https://cloud.githubusercontent.com/assets/5495493/11255192/d5de1d38-8e12-11e5-926a-d77d1c5d4133.png)

If the element is much smaller than that button the arrow doesn't even touch it.

Sample files

[2015-11-19 05:36] #20 closed

[2015-11-19 14:44] shaneparsons commented on #86
Adding  the following seems to have fixed it.. not sure why I had to add it in the first place though.

[code]

[2015-11-26 01:24] kujian opened #87 "what browser this Plugin support？"
please mark what browser it support ？ thanks

[2015-11-26 03:03] geekjuice commented on #87
Browser support is listed in the documentation [here](http://github.hubspot.com/shepherd/#browser-support).

[2015-11-26 03:03] #87 closed

[2015-11-27 02:16] kujian commented on #87
ok, maybe it better use in modern browser, but unhappy for IE8 and the lower. thanks again for you nice work.

[2015-12-07 21:39] alecortega commented on #67
+1

[2015-12-22 18:20] zackbloom commented on #67
https://github.com/HubSpot/shepherd/commit/c551131ae635b0d7f99f3bbbeb778ec64cf48701 adds support for a new syntax which allows you to specify any attachment inside square braces:

[code]

Be advised though that the Shepherd CSS themes do not support any additional attachments, meaning the arrows will not appear in the correct places.  I recommend you only use this feature if you intend on restylin

[2015-12-22 18:20] #67 closed

[2015-12-22 18:21] zackbloom commented on #80
This is fixed by https://github.com/HubSpot/shepherd/commit/c551131ae635b0d7f99f3bbbeb778ec64cf48701

[2015-12-22 18:21] #80 closed

[2015-12-22 18:49] alecortega commented on #67
@zackbloom This is awesome, thanks!

[2015-12-23 07:12] jjwilliams opened #89 "advanceOn blur?"
Is this not supported? Simple step:

tour.addStep('title', {
                text: 'Enter the title',
                title: 'Title',
                attachTo: '#Title top',
                advanceOn: {
                    selector: '#Title',
                    event: 'blur'
                },
                buttons: [
                    {
                        text: 'Prev',

[2015-12-31 22:19] jjwilliams commented on #89
Anyone?

[2016-01-19 14:45] rwwagner90 opened #90 "addStep defaults"
I'm not sure if I am doing something wrong here or if I misunderstand the library, but from reading the docs, it appears that I should be able to define some defaults like:

[code]

Then I would assume calling `addStep` and passing a step something like:

[code]

I would assume it would apply the classes from my defaults, then also add the extra ones I define per step by merging them and using the

[2016-01-22 09:20] BaTbAbYDeV opened #91 "Positioning syntax improvements breaks passing an object in attachTo option"
getAttachTo parsePosition function now assumes that attachTo is a string in the format "element position"

If the attachTo option is already an object the parsePosition function returns null and the step appears in unattached in the middle of the screen.

[2016-01-22 13:15] #91 closed

[2016-01-30 23:21] ryanjm opened #93 "advanceOn doesn't complete tour"
My last step has an `advanceOn` option on it but the `complete` event doesn't get called like it does when I tap the "Next" button.

I'd expect the `advanceOn` to behave the same was `next` would. If it is the end of the tour that would mark the tour as completed and call the `complete` event.

[2016-02-03 20:37] chrisvfritz opened #94 "Setting buttons to false doesn't work"
From [the docs](http://github.hubspot.com/shepherd/):

Setting `buttons: false` does nothing though.

As a workaround, setting `buttons: []` works, but then the footer is still rendered, adding unnecessary extra space to the bottom of steps.

[2016-02-05 06:17] OzBob opened #96 "Positioning 'left' or 'right' has no arrow"
In attempting to position a Step to the 'bottom left' of the target ....

See here to see the 'arrow' issue:  http://plnkr.co/edit/GTCoLZ?p=preview

Trying attachment options of: 'top','left','right','center','bottom' do move the Step, but the arrows are not present for anything not top or bottom.

The options could be better documented as the 'shortcut' Tether attachment options. Here is a list o

[2016-02-05 15:51] lwrbakro opened #97 "v1.6.1 release is actually 1.5.1"
See this:
https://github.com/HubSpot/shepherd/blob/v1.6.1/bower.json

[2016-02-05 15:55] geekjuice commented on #97
Bower doesn't honor the `version` field and that field is primarily there for reference. It actually just looks up git tags so `tether-shepherd@1.6.1` seems to be pointing at [this sha](https://github.com/HubSpot/shepherd/tree/v1.6.1).

[2016-02-05 15:55] #97 closed

[2016-02-09 12:44] vilmosioo opened #98 "API to add step should allow passing the element, not just a selector string"

[2016-02-11 12:52] arshtepe commented on #85
up

[2016-02-17 13:36] rwwagner90 opened #101 "Adding Ember-Shepherd to docs"
What's up guys? What would you think about adding Ember-Shepherd officially to the README or docs to link people to using the addon I created?

https://github.com/shipshapecode/ember-shepherd

[2016-02-18 16:30] yairEO commented on #96
@OzBob - I think you should ask this in the tether.js github project and not here, it's not related to the "tour" plugin

[2016-02-21 20:11] rwwagner90 commented on #101
@b-ash could we make this happen? I'd like to really make Ember-Shepherd top notch and endorsed by you guys.

[2016-02-21 20:28] geekjuice commented on #101
Hey @rwwagner90, would something similar to [this](http://github.hubspot.com/tether/examples/projects_using_tether/) on our `tether` docs be okay?

[2016-02-21 20:31] rwwagner90 commented on #101
@geekjuice yeah, that would be fine. Wherever you guys would normally put links like this. I see you have ember-tether on there, so ember-shepherd being on the Shepherd docs in the same capacity would be great!

[2016-02-21 20:45] #101 closed

[2016-02-21 20:47] geekjuice commented on #101
[Link to reference.](http://github.hubspot.com/shepherd/examples/projects_using_shepherd/)

[2016-02-21 20:47] rwwagner90 commented on #101
Awesome. Thanks @geekjuice!

[2016-02-25 19:19] thinkloop opened #103 "Does shepherd have a built-in facility to add a background dimming overlay to cover the site while the tour goes on?"

[2016-03-04 05:55] OzBob commented on #96
@yairEO There is no error in tether.js.  Shepherd has a limitation with arrows.

I believe Shepherd has no arrow styles for 'left'.

I've fixed the Plunkr to demo the lack of arrows on 'left', 'right'

[2016-03-07 21:13] geoffdaigle commented on #103
Hey there @thinkloop. Sorry for the delay on this answer (and I'm going to add a better way to submit questions than via github issues, because __this isn't really an issue__).

At the moment, shepherd doesn't have an overlay utility. It may appear that the [demo site](http://github.hubspot.com/shepherd/docs/welcome/) is overlaying a dimmer on top of the elements, but __instead it's using css clas

[2016-03-07 21:13] #103 closed

[2016-03-07 21:21] geoffdaigle commented on #98
Hey there @vilmosioo, Sorry for the huge delay on this. I took a look in the code and docs and it seems you can do that:

__From: Step Options / "attachTo"__
[code]

Something to keep in mind is that if the element leaves the page, __the reference won't be destroyed__ and your additional attempts to show a tour step on that element will result in the wrong positioning.

For that reason, I recommen

[2016-03-07 21:21] #98 closed

[2016-03-07 21:22] #94 closed

[2016-03-07 21:28] geoffdaigle commented on #90
Hi @rwwagner90, sorry about the massive delay on this response:

You're right about the class override https://github.com/HubSpot/shepherd/blob/master/src/js/shepherd.js#L510

I can see a reason why appending classes would be useful, though. I'll add this to the list of things to consider in the next set of improvements.

[2016-03-07 21:31] geoffdaigle commented on #93
Hi @ryanjm, sorry for the delay on this response.

What's interesting is that, under the hood, shepherd _does_ call `next()`:
https://github.com/HubSpot/shepherd/blob/master/src/js/shepherd.js#L201-L208

I'll look into this, it might be a bug if I or someone else can reproduce the same problem you're having.

[2016-03-07 21:31] rwwagner90 commented on #90
Thanks @geoffdaigle!

[2016-03-07 21:45] geoffdaigle commented on #89
Hi @jjwilliams, really sorry for the massive delay in response. I'm combing through these issues now that I have publish access.

Looks like that would work https://github.com/HubSpot/shepherd/blob/master/src/js/shepherd.js#L212-L217 because the event is being bound to `document.body` (which assumes event bubbling) using `addEventListener`.

Are you able to get it working in any other contexts or

[2016-03-07 22:07] alecortega commented on #52
This was definitely an issue for me too. If no one's taken care of this already I'd be more than happy to tackle it!

[2016-03-17 22:05] zackbloom opened #104 "[Eager App] Changing the position property doesn't properly update using live reload"

[2016-03-19 00:19] chicoxyzzy commented on #103
Are there any plans for adding this to shepherd?

[2016-03-24 09:22] DeXTeD opened #107 "Undocumented `scrollToHandler` option"
Very usefull option `scrollToHandler`, but here is no information about this.

[2016-03-24 09:23] BaTbAbYDeV opened #108 "Tour does not advance when a button is clicked"
When setting an element to advance on a button e.g. `button[data-id="myId"]`, when the button is clicked, it is possible that the click event target in the MouseEvent is reported as a child element of that button (e.g. `<span>Submit</span>`).  When this happens, the advanceOn matching function returns false and  the tour is not moved forward.

Does anybody have a suggestion on how this case should

[2016-04-18 08:54] KristiyanHristov opened #109 "remove shepherd-target class on tour.next()/tour.back()"
## Expected behavior

remove the `.shepherd-target` class when tour is advanced (next step). There should be only one `.shepherd-target` class for the current step.
## Actual behavior

The class is not removed when next step is shown. This causes multiple `.shepherd-target` classes in the page.
## Steps to reproduce
1. go to http://github.hubspot.com/shepherd/docs/welcome/
2. Click Next
3. inspect

[2016-04-18 20:06] wumpeth opened #110 "Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
the Shepherd tour works great when i'm on my own computer, but when I try it on a different one I get this error!

As far as I understand it doesn't understand the "let" in "let tour = new Shepherd.Tour({"

[2016-04-18 20:09] geekjuice commented on #110
It sounds like you may be using the un-compiled versions. The files you probably want are in the [dist](https://github.com/HubSpot/shepherd/tree/master/dist) directory.

[2016-04-18 20:09] #110 closed

[2016-04-18 21:10] wumpeth opened #111 "Still getting "Block-scoped declarations (let, const, function, class) not yet supported outside strict mode""
the Shepherd tour works great when i'm on my own computer, but when I try it on a different one I get this error!

As far as I understand it doesn't understand the "let" in "let tour = new Shepherd.Tour({"

I was told I may have been using un-compiled versions of the necessary files, so I switched out what I had with what was in the dist folder. However, it still didn't work.

There is no tether.m

[2016-04-18 21:17] geekjuice commented on #111
[tether](https://github.com/HubSpot/shepherd/blob/master/dist/js/tether.js), which is a dependency of shepherd, is included in the [dist](https://github.com/HubSpot/shepherd/tree/master/dist/js) and you can get the minified version of tether [here](https://github.com/HubSpot/tether/tree/master/dist/js). Just need to ensure it loaded before shepherd. If you are still getting the `let` error, it pro

[2016-04-18 21:17] #111 closed

[2016-04-18 21:22] wumpeth commented on #111
I'm still getting the error, and using only the compiled versions from the dist folder, as well as the separate tether.min.js from the link you just included.

the only place I'm getting this error is on the school computers at my college, could their network or something be part of the issue?

[2016-04-18 21:24] wumpeth commented on #111
I read online that maybe putting "use strict"; at the beginning of all my .js files would help?

(it didn't, it just gave me different errors)

[2016-04-18 21:25] geekjuice commented on #111
Could you provide a code snippet of how you are including the files? Also, unless you are transpiling your own code, you be making sure you are not using `let` in your own code and using `var` instead.

[2016-04-18 21:34] wumpeth commented on #111
here is my shepherd code:

//Shepherd guided tour
let tour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-theme-default'
  }
});

tour.addStep('start', {
  title: 'Take A Tour?',
  attachTo: '.fullscreen top',
  advanceOn: '.docs-link click',
  buttons: [
    {
        text:'Yes',
        action: tour.next,

    },  {
      text: 'No',
      action: tour.cancel,
    }]
});

tour.addSte

[2016-04-18 21:36] wumpeth commented on #111
I changed it to var instead of let and it still works on my computer which is a good sign, but if i remember correctly the other computer then told me that "tour" was undefined when i tried that. i'll check again

[2016-04-20 10:02] KristiyanHristov opened #112 "Rethethering issue when target element is re-rendered."
### Actual behavior

When the target element gets removed and added again, the current step stays attached to the last known target position. After scrolling the step gets attached to (0,0). This seems somewhat similar to #95.
### Expected behavior

The step should stay attached to the target element even when it gets re-rendered (marionette.js view). It should try to reattach itself to an element

[2016-04-20 10:10] KristiyanHristov opened #113 "attach steps to their targeted elements onBeforeShow"
Currently they are attached when the tour is started. Changing this behavior will allow for more dynamic tours (where elements are not present at tour start).

[2016-04-26 13:57] KristiyanHristov commented on #112
i managed to find a dumb solution
[code]

[2016-04-26 16:58] jspeaks opened #114 "Shepherd.Tour constructor definition of steps errors with showOn being undefined"
When trying to define Shepherd Tour via a steps property passed to the constructor I receive an error "cannot read property showOn of undefined".  The steps are very primitive and work with the addStep method:

[code]

[2016-05-06 08:13] BaTbAbYDeV commented on #108
Can anybody offer any comments / advice on this? .. thanks!

[2016-05-09 21:36] rwwagner90 commented on #90
@geoffdaigle is this still being considered? I could potentially help out

[2016-05-10 22:19] mattdh666 commented on #89
It works for me (in modern browsers), if I set the `useCapture` parameter to **true** in the call to `addEventListener()`.

[code]

https://github.com/HubSpot/shepherd/blob/master/src/js/shepherd.js#L213

[2016-05-11 00:01] rwwagner90 commented on #55
Since we have beforeShowPromise, I will go ahead and close this issue.

[2016-05-11 00:01] #55 closed

[2016-05-11 09:30] heruan commented on #103
I hope so. In my opinion what is shown in the demo site should be easily doable, since the highlight of the step target element and the dim of everything else is an important user experience feature to guide users through the tour.

[2016-05-13 05:05] nvaken commented on #32
Adding these options to my step does not seem to make any difference? Am I doing anything wrong?

[code]

[2016-05-16 14:28] blaaaaaaah commented on #11
I was having the same issue/expectation, however, the technique used in the demo wasn't optimal for me since we have a complex web-app and can't just use someNode > * to apply opacity.

Thanks to this : https://blog.gospodarets.com/highlight_element_with_page_fading I was able to highlight only the targeted element.

    body.shepherd-active .shepherd-target.shepherd-enabled {
        padding: 1em

[2016-05-17 17:26] Steve-Mc opened #115 "Steps not rendering correctly."
When my second step is rendered the bottom border is invisible.

![image](https://cloud.githubusercontent.com/assets/14161690/15332222/acea39e2-1c5c-11e6-9643-0d5c672ad993.png)

If I mouse over or double click the step then the border will appear.
Has anyone seen a similar issue?

[2016-05-18 15:07] zeg-io opened #116 "Anchoring Issues / Scrolling Issues"
### Anchoring Issues

I have an element that is say, 90% of the screen width.  I try to put a tour element above it on the left side like this:

[code]

However, while the element appears on the left side it is _not_ on top of the element, nor are there any arrows pointing at the element.

_How can I achieve the desired result?_
### Scrolling Issues

While I can use the `scrollTo: true' property t

[2016-05-18 17:08] steve-mcqs commented on #66
Quick fix:

[code]

[2016-05-19 20:11] zeg-io opened #117 "showCancelLink yields weird characters"
When I enable this option for my defaults by setting it to true instead of an `X` to close the pop-up I get a series of characters: `âœ•` like it is trying to use a font I don't have or something

[2016-05-23 17:21] steve-mcqs commented on #115
Seems to only happen in Chrome. Firefox works as expected.

[2016-05-26 07:58] danhowelldev opened #119 "Triggering click of an page element on tour step "show""
Hey there,

I feel like I might be doing something wrong, but I can't figure this out... I am trying to trigger a click of an item on the page when one of my tour steps starts.

Here is my code:

`var menuStep = new Shepherd.Step('menu',
{
    text: '<p>Open the menu</p>',
    attachTo: 'h2#nav right',
    buttons: [{ text: 'Next', action: tour.next }, { text: "Close", action: tour.cancel }],

[2016-05-27 03:26] rwwagner90 commented on #90
Closing this due to lack of activity

[2016-05-27 03:26] #90 closed

[2016-05-27 12:28] Steve-Mc opened #120 "complete() function does not remove shepherd elements from the DOM"
When the complete function runs the Shepherd elements are still on the DOM. The step.destroy method is not available after running complete() and complete() cannot be run after manually destroying the Shepherd elements.

[2016-06-07 22:27] zackbloom commented on #114
This is not a feature as far as I know.  You should create steps using the `addStep` method.

[2016-06-17 09:27] menor opened #122 "attachTo is not working when passing a string"
First of all, thanks for the awesome work on the library.

And now the issue:

The documentation specifies that we need to pass a string to the attachTo key
![image](https://cloud.githubusercontent.com/assets/1360794/16146282/8d05db7a-347d-11e6-9100-f8d9d7f784d8.png)

But this wasn't working for me, I had to pass an object like this
```  attachTo: {element: '.add', on: true} ```
To make it work, I

[2016-06-21 10:25] j-groeneveld opened #124 "Trouble loading resources in your docs"
Documentation link: http://github.hubspot.com/shepherd/
I'm getting a whole host of 404s when loading this page. So I couldn't run your example code etc. Just thought I'd let you know.. :-)

![shepherd-docs-errors](https://cloud.githubusercontent.com/assets/504721/16226259/f357a160-37ed-11e6-9776-138f353d4bf7.png)

[2016-06-21 19:23] #3 closed

[2016-06-21 20:39] MtheCastro opened #125 "How can I use Sheperd with Ionic Framework?"
How can I use Sheperd with Ionic Framework?

[2016-06-23 12:58] Geczy commented on #11
Thanks Thomas. That helped. But why are setting pointer events to none? That removes the ability to click "next"

[2016-07-04 16:48] Voziv commented on #11
This worked really well for me. I just added `pointer-events:  auto;` to the `body.shepherd-active .shepherd-step` rule.

[code]

[2016-07-05 16:15] asermauricio opened #127 "Can I use shepherd tour on Angular?"

[2016-07-12 01:32] danhowell15 commented on #119
Bounce - could still use some help with this.

[2016-07-12 15:48] CuddleBunny commented on #117
+1

[2016-07-14 07:05] ashishmodifi commented on #127
I just started playing with this library. Thank you to the developers for making it available. In a very basic test project on Angular, I did the following and that seemed to do the trick:

1. Wrap the global Shepherd object in a factory
2. Inject that in your controller
3. Use it as normal

Sample below:
**Angular Service / Factory:**

[code]

**Once you inject it in the controller, you can use i

[2016-07-18 04:09] TylerLafayette opened #129 "Shepherd not tethered, centered instead."
Hi, I am using shepherd to tether to my objects, and it seems to want to stay centered instead of tethering.
Here is a Plunker: http://plnkr.co/edit/00y1F2rabnINIFGhWXnB?p=preview
As you can see it doesn't even have an arrow, and is centered.

[2016-07-18 12:25] dirtycoder commented on #119
@danhowell15 it's a ugly workaround but the way I "solved" this was by using a small timeout to trigger the click event.

As far as I can tell, looking at my own application, the event is called but after this there's more code ran by Shepherd/Tether that overwrite my changes..
I can't provide more information because I haven't got the time to investigate further, but I hope this could help you fo

[2016-07-21 12:48] siddharthpolisiti opened #130 "shepherd-step not placed in proper position"
**Below is my code:**

[code]

Here is the link to jsbin :   http://jsbin.com/quhuku/edit?html,js,output

[2016-07-21 20:41] Keeady commented on #129
your issue seems to be explained in https://github.com/HubSpot/shepherd/issues/122

[2016-07-23 17:45] awwester commented on #109
+1

[2016-07-28 13:12] Kobzol commented on #125
Ionic applications are inside just HTML websites, so it should not be a problem to use Shepherd with them as you would on a normal website.

[2016-07-29 14:35] mister-walter commented on #130
You need to provide a 'direction' in attachTo. i.e. '#date1 bottom'.

You can also use an object instead of a string for attachTo to make this more clear:
attachTo: {element: '#date1', on: 'bottom'}

[2016-07-29 14:39] mister-walter commented on #129
This is the same issue as #130 . You need to provide a direction in the attachTo string, i.e. attachTo: '.name bottom' instead of just '.name'.

Fixed plunker: http://plnkr.co/edit/aksqiOewVoMvq7zMLOs9?p=preview

[2016-07-29 14:47] mister-walter opened #131 "Clarify attachTo documentation/add default direction"
Both #129 and #130 are related to users not realizing that a direction is required in an attachTo string. I also ran into this issue, though I eventually realized that this was a requirement after going through the javascript on the demo page.

The documentation does state that the attachTo string must be 'of the form "element on"', but I think that it would be of benefit to the users to add a not

[2016-08-01 07:20] siddharthpolisiti commented on #130
@mister-walter  Thanks for the clarification. That works.

[2016-08-02 10:55] Joe-Withey commented on #127
I've been having a problem using Shepherd in a controller when attaching to items in an ng-repeat. It'd be better implemented in a directive so as to utilise the post link functionality. I think this is my problem, third party libraries that perform DOM manipulation are sketchy when initialised in Angular controllers.

[2016-08-03 00:01] TroutZen opened #132 "Incorrect step position when anchored to target within position fixed container"
## Description

I have an app that has a sidebar with a fixed position and a main content div that has a margin-left equal to width of sidebar. I am attempting to position my steps to the 'right' of the links in the sidebar. Upon scroll within the main content area, the step jumps incorrectly and its positioning toggles between fixed and absolute (most like tether api)
## Actual

Position is incor

[2016-08-15 20:33] djsegal opened #133 "Way to get user to confirm quitting a tutorial"
As discussed here: https://github.com/shipshapecode/ember-shepherd/issues/56,

I'd like a way to add a browser-native confirm popup to the cancel button (the one from `showCancelButton`)

[2016-08-17 16:04] djsegal opened #135 "Arrows not being added to pinned tethers (ones where they are successfully attached)"
- Arrows are only applied to correctly attached tethers. Is there a way to get it to work for pinned arrows too? [see tether-theme-arrows.sass](https://github.com/HubSpot/tether/blob/5c51f9dbb7a0505840fc0718281f5df853a2a95a/src/css/helpers/_tether-theme-arrows.sass)
- For example, being pinned in the x direction (i.e pinned right) shouldn't prevent arrows being added to tethers attached successful

[2016-08-17 16:05] djsegal commented on #135
### Example

note that:
+ `attachedTo`: `bottom`
+ `pinned`: `right`

-----------

#### pinned shepherd element:

  + ![screen shot 2016-08-17 at 11 49 21 am](https://cloud.githubusercontent.com/assets/3156114/17743258/12d995ac-6471-11e6-8b08-397c8bbaa847.png)

  + class:
   - `shepherd-step shepherd-element shepherd-open shepherd-theme-arrows shepherd-has-title shepherd-has-cancel-link shepherd-e

[2016-08-17 21:18] analog-nico commented on #82
+1 Would be a really helpful feature from the user's point of view.

[2016-08-19 09:43] adouglas commented on #114
This should be reopened as it is a feature in the docs:

https://github.com/HubSpot/shepherd/blob/ecc84623df9eb21e6935e01240c4e7d078552bdd/docs/intro.md#tour-options

`Cannot read property 'showOn' of undefined
    at Tour.show (shepherd.js:708)
    at Tour.next (shepherd.js:641)
    at Tour.start (shepherd.js:733)`

[2016-08-19 12:59] ianchouinard opened #136 "Console warning in firefox "mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create""
I'm seeing this in the console in firefox: "mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create".
This can be observed in the Shepherd demo http://github.hubspot.com/shepherd/docs/welcome/
Firefox version: 47.0
OS: Windows 8.1
![capture](https://cloud.githubusercontent.com/assets

[2016-08-19 14:18] ianchouinard commented on #136
Note, this doesn't happen after updating firefox to 48.0.1

[2016-09-06 03:31] FallingSnow commented on #114
I just tried this too as it is in the docs. Got the same error.

[2016-09-23 10:37] steve-mcqs commented on #119
You can just andd an onclick to the elment that will call `Shepherd.mediator.trigger('some-trigger-here)`.

Then simply wait for that trigger and do something `Shepherd.mediator.on('some-trigger-here', () => { //do something })`

[2016-10-02 20:59] kubilaykarpat commented on #45
I'm also having this issue right now. Double-checked documentation and had a peek to code but no help. Here is my code:

[code]

[2016-10-10 18:34] itsjoesullivan opened #138 "Seeming contradiction in documentation"
It took me a bit to identify that `addStep` is returning a `Tour`, and not a `Step`, due to the following in the documentation:

![image](https://cloud.githubusercontent.com/assets/964151/19246720/b9da4870-8ef5-11e6-9c65-7338566744cb.png)

and

![image](https://cloud.githubusercontent.com/assets/964151/19246708/ad16ac6e-8ef5-11e6-929a-36d66838d8fd.png)

I would submit a PR correcting the documenta

[2016-10-12 13:19] giorgiobeggiora opened #139 "Arrows not added when step's text contains newlines"
examples:

`text: 'my<br>content'`
`text: ['my','content']`
`text: '<div>my</div><div>content</div>'`

[2016-10-24 07:25] menor commented on #122
closed  by #131
Thank you!

[2016-10-24 07:25] #122 closed

[2016-10-28 05:47] crabmusket commented on #93
I've got the same issue going on. Will look into it at some point but I don't have the time for now, so I've worked around it using manual event listeners and a [mediator](http://github.hubspot.com/shepherd/#advancing-on-actions).

[2016-10-30 22:12] mjmayhew opened #140 "unnecessary empty space at bottom of step panel"
I don't want all this empty space after the last para of text in a Step. How can it be removed? CSS? something in the js files?
![space-after-bubble](https://cloud.githubusercontent.com/assets/22059201/19840443/1cec298e-9eb3-11e6-94ba-9a3e42fcb86b.JPG)

[2016-10-31 05:23] paulocheque opened #141 "cancelling the tour when clicking outside the element"
Do we have any native option for that? Using Shepherd or `tetherOptions`?

What about typing the `Esc` key for that?

Thanks in advance

[2016-11-17 17:59] catherineomega commented on #141
This is what I did to allow:
* arrow key navigation to handle next/back steps on the tour
* using escape key to cancel the tour
* clicking outside the tour step popup to close the tour
* highlighting the currently targeted tour step to isolate it from the rest of the page

First, I add a div to the page, the same size as the window:
[code]

I style it like this:
[code]

This uses the CSS `box-shad

[2016-11-18 17:16] ianforsyth opened #142 "`attachment: together` does not work as expected if attachment width greater than target width"
If the attachment width is greater than the target width the `attachment: together` constraint doesn't act as expected. It should essentially have the opposite behavior.

Video example:
https://vts-monosnap.s3.amazonaws.com/screencast_2016-11-18_12-12-42.mp4

[2016-11-18 18:45] #142 closed

[2016-11-18 18:45] ianforsyth commented on #142
Sorry, this was for the wrong project

[2016-11-20 00:46] cmawhorter commented on #135
Wish I would've known about this behavior before I started today...

This is especially bad on small screens (mobile) and there doesn't seem to be a universal fix here.   I was able to get something acceptable using a mix of css and a steps `tetherOptions`.

[code]

[code]

[2016-12-06 03:59] #119 closed

[2016-12-30 02:58] aaronxdd opened #145 "Arrow problem"
When the page is smaller enough,the arrow can not be showed

[2017-01-06 15:14] bm2u commented on #117
@zeg-io please make sure your `<head>` contains `<meta charset="UTF-8">` as follows:

[code]

[2017-01-09 13:53] darrynten commented on #79
A million times NO

Please do not add jQuery as a dependency there are so many outer plugins like this that have a hard dep on jQuery and it's really no longer needed in this day and age.

This is nice and fast on mobile w/o jQuery, and adding it will do way more harm than good.

[2017-01-11 17:16] wookoouk opened #150 "Get the AttachTo object"
from tour.on('show') it does not seem to give any info about the element that was given for its 'attachTo' el, is there a way to get that info? (without writing custom logic for each 'addStep'?
Thanks

[2017-01-12 10:05] bm2u commented on #150
Hi @wookoouk , I've struggled with exactly the same issue a view days ago. The answer lies in the public API of shepherd.

[code]

[2017-01-12 10:10] wookoouk commented on #150
@bm2u That is perfect! thank you!

[2017-01-12 10:15] wookoouk commented on #150
I just noticed, I overlooked the prototype getAttachTo(), is is also available from `tour.on('show')`

so you can do:
[code]

[2017-01-12 10:15] #150 closed

[2017-01-19 18:42] chadsaun commented on #107
This is how I used it...

[code]

[2017-01-19 18:45] chadsaun commented on #116
Regarding the scrollTo issue, this is how I fixed it.

[code]

[2017-01-23 15:46] zeg-io commented on #117
I did not, so I added it @bm2u.

This fixed it in Safari and Firefox but **not on Chrome!**

However, adding it did take the garble'd text and turned it into a square with a question mark in it.  If I copy-paste it here it IS the ✕ (X mark), so I'm wondering what the issue might be...

[2017-01-23 15:52] zeg-io commented on #117
Oddly, adding CSS as follows resolved the issue on Chrome.

[code]

setting it to `initial` also worked.

Very odd.

[2017-01-31 15:55] arshtepe opened #151 "Module gulp-wrap-umd break webpack 2"
Problem description in this issue https://github.com/webpack/webpack/issues/4152

**Feature request:**
Change gulp concat to es6 import with wepback .

[2017-01-31 19:52] clin407 commented on #120
+1

[2017-02-06 14:47] AronDavis opened #152 "attachTo should be able to take in a function to be run when the step is shown."
attachTo should be able to take in a function to be run when the step is shown.

attachTo: function()
{
    return [$("#myElement"), "top"];
}

[2017-02-16 18:52] giovanniorigins commented on #114
+1

[2017-03-02 06:31] Juchar opened #153 "Use frame safe way for isArray() & isObject()"
I am in a situation where I have to create the buttons array in another frame.
In this case the buttons will not be created, as the method `isArray()` will return false.

This is due to the fact that the `obj.constructor === Array` check will not work across frames.

For reference see here:
[StackOverflow Answer](http://stackoverflow.com/a/6473338/1342006)

[2017-03-02 07:14] Juchar opened #154 "Add "when" option to tour constructor"
It would be useful to have the "when" option when constructing a new tour (analogue to the step).

[2017-03-06 18:12] newscloud opened #156 "Arrows don't appear on some boxes randomly (video)"
I had to shrink the browser window to record the video to show this ... but it repros when the window is large.
[Video demo on Youtube](https://www.youtube.com/watch?v=agE7YNWUnLk)

Some boxes in the tour don't show arrows to their attached objects...randomly.

You can try it in action at [Simple Planner](https://simpleplanner.io). Just create a meeting to see the tour.

[2017-03-08 10:00] fippu82 commented on #45
Same problem here. Is there really no solution to this?

[2017-03-09 05:51] fippu82 commented on #45
I found out that the action property can only handle a reference to a function. It must not be an actual function call. Thus, `show() `doesn't work, but `next` (without parenthesis) does. I am not able to rewrite the script to change this. I guess it would be a major change. However, I have developed a workaround via a global function that takes a CSS class of a button to determine the next step i

[2017-03-19 19:44] etyp commented on #156
Experiencing the same thing. It seems to happen when a box is close to the edge of the window.

[2017-03-23 21:10] shonin commented on #26
better late than never...

in my steps I'm doing:
[code]

And I have a `makeAccessible` function that inserts basic aria attrs
[code]

and scss styling helps give it focus
[code]

we chose this library specifically because we thought it was the most accessible friendly option

[2017-03-24 08:10] FranDias commented on #26
Hey, really interested in this—

I think the original qualm was being able to tab through the buttons on a Shepard element.  I have a question about how someone gets to that situation (asking the question in a very basic way).

I am curious about being taken through what the ideal user experience would be for someone who is using an assistive device. Are they tabbing through elements? Does it take

[2017-03-25 08:55] fippu82 commented on #45
I have found a better and very simple way to advance to a specific step on button click, using the Shepherd API properly: Simply bind the show() method to the button via a click event:

`events: {'click': -> Shepherd.activeTour.show('some_step_name')}`

So the whole Button definition would e.g. look something like this:
[code]

[2017-03-26 17:54] jasongrishkoff commented on #156
Same issue here -- seems to mostly happen on mobile, when objects are touching the edge.

[2017-04-03 04:03] siddharthpolisiti commented on #130
Closing this as the solution provided by @mister-walter works perfectly.

[2017-04-03 04:03] #130 closed

[2017-04-05 12:45] natterstefan commented on #127
@Joe-Withey Were you able to attach the Shepherd Steps to an element, when it was added inside a directive? I am currently not able to.

[2017-04-17 20:15] kubilaykarpat commented on #45
@fippu82  Thank you so much it worked for us too. Here is the JavaScript notation that we used:

`
buttons: [{
    text: 'text',
    events: {
        'click': function() {
            return Shepherd.activeTour.show('some_step_name');
        }
    }
}]`

[2017-04-22 21:39] MarkusBordihn opened #157 "Attach shepherd-step to "custom" element / supporting dialog elements."
In some cases the shepherd-step element is invisible because it is only attached to the document.body element.

But if you are using more modern elements like dialog, the shepherd-step element needs to be inside this dialog element instead of the document.body.

I already tried to attach the shepherd-step element to the dialog instead of the document.body, but it seems that Tether is moving the el

[2017-04-22 22:06] MarkusBordihn commented on #157
Seems already be implemented in the latest version of Tether https://github.com/HubSpot/tether/pull/204

[2017-05-12 08:24] arshtepe opened #159 "Doesn`t work attachTo: "element" syntax"
If it is feature and not bug. This code doesn't make sense
https://github.com/HubSpot/shepherd/blob/master/src/js/shepherd.js#L251
Because opt.on can`t be empty.
Is it bug?

[2017-05-17 20:10] newscloud opened #161 "New Shepherd Tour Demo Site and Tutorial not added"
See https://github.com/HubSpot/shepherd/pull/155

[2017-05-20 14:19] mTorkaman opened #162 "show just for one time"
how can i show this messages just for one time in my pages ?
when users past or close a tour , not showing again .

thank you

[2017-05-22 17:25] davidashman opened #163 "Tether EOL implications"
Are there plans to continue support for Shepherd with Techer EOLed?  Will Shepherd transition to Popper.js?

[2017-05-26 16:40] eriedl-kiban commented on #117
This is the Unicode character "Modifier Letter Small X". It is probably best in general to use HTML entities instead of the actual character. The HTML entity for this character is `&#739`. More info here: http://www.fileformat.info/info/unicode/char/02e3/index.htm

[2017-05-28 22:02] sSwiergosz opened #164 "Display Shepherd only during first visit"
Hi! How to make Shepherd display tour only during the first visit on the site or until the user press close button?

[2017-05-30 17:41] pmocal commented on #164
use localStorage to record the most recent visit and encase tour deployment in if-else conditional that checks contents of localStorage

[2017-05-30 23:23] sSwiergosz commented on #164
But when user changes browser or device it won't work...

[2017-06-05 22:28] Brikky commented on #164
Set a boolean value on the user to check if they're a new user or not.

[2017-06-06 19:10] FidelisClayton commented on #156
Any workaround? I'm facing this problem too.

[2017-06-16 05:40] patmifsud commented on #34
just flagging that this is still an issue

[2017-06-19 15:40] oom- opened #165 "addStep not return step instance"
![image](https://user-images.githubusercontent.com/11071671/27293054-990fbd64-5515-11e7-9368-4a5f4375c200.png)

[Here](https://github.com/HubSpot/shepherd/blob/master/dist/js/shepherd.js#L593)

Like the issue #76

A quick fix was exist for an older version #88
![image](https://user-images.githubusercontent.com/11071671/27293116-c43bc046-5515-11e7-8664-c7b4e74f719e.png)

[2017-06-19 21:09] oom- commented on #156
Me too

[2017-06-20 21:39] #79 closed

[2017-06-23 07:39] ysrinivasreddy commented on #164
use parameters in url
**www.example.com/?tour**

Javascript
[code]

java code to load Scripts
[code]

[2017-06-29 02:14] #145 closed

[2017-06-30 19:43] shonin opened #166 "CSS should not be required to use this library"
When the shepherd css is not included in the DOM, previous steps do not go away.

The css has something along the lines of

[code]

This is a pretty simple amount of functionality that would be ideal to have the javascript handle.

[2017-07-07 02:06] pedroceles opened #167 "Hide events being triggered twice when there is another step"
sample code
[code]

'before-hide1' will be logged twice. That is because the `show` method for the `Tour` class calls `this.currentStep.hide()` twice when there is a next step (on lines 617 and 644).

[2017-07-10 19:52] weavermedia commented on #163
With the amount of open issues and little commit activity in the last 12 months it kinda looks like Shepherd might be EOL too :(

[2017-07-13 06:55] fabianfrz opened #169 "Library does crash in case the element in the selector resolves to null"
In the case the selector returns null, the tour does crash.

# Expected behavior:

The tour should not crash but a log message that the element does not exist in the console would be good (for debugging reasons).

# Current behavior:

The tour crashes and the console shows a stack trace (error happens uncaught in the tether library when starting the tour too early).

[2017-07-26 09:51] ajsoriar commented on #156
Same issue, when a box is close to the edge of the browser.

[2017-08-07 08:05] DennisBaekgaard commented on #162
This is not really a shepherd thing, but you could do something with localstorage, og alternatively cookies if that isn't available.

`if (typeof(Storage) !== "undefined") {
    localStorage.myTourCompleted = true;
} else {
    // No localstorage, do some cookie stuff
}`

Then in your app check for that key:

`
if(localStorage.myTourCompleted){
    //Show tour
}
`

[2017-08-07 09:03] DennisBaekgaard opened #170 "Step triggers "before-hide" twice on every transition"
I've been playing around with Shepherd for a bit, and modified it for my own purposes (including adding some additional steps which seems odd aren't already in the source such as Tour.on("next",..) and "back" depending on if you're going forwards or backwards in the tour). Anywho, I thought it was a mistake on my part and binding the before-show event twice, but it seems that the native code fires

[2017-08-08 11:03] sensibleandy commented on #156
and me

[2017-08-14 04:42] crabmusket commented on #165
We just ran into this. Disappointing it's been ignored for so long!

[2017-08-24 14:01] hipkiss91 opened #171 "ES6 import from NPM failed."
Did `npm install --save-dev tether-sheperd` and it doesn't seem to import correctly?

My import code:
`import Sheperd from 'tether-sheperd'`;
And I get an error about tether-sheperd not being a module?

[2017-08-24 14:06] #171 closed

[2017-08-24 14:06] hipkiss91 commented on #171
Me being stupid. Sorry.

[2017-08-31 08:56] MarczykFireUp commented on #156
++, tried to solve it through css, but failed

[2017-09-06 08:02] jithureddy opened #172 "When repeated css class is used to attach tour step is not working"
Hello Guys...
I am trying to implement Sheperd in my angular js application, where I had to show one step which is attached to repeated element. If I specify the class name, that particular step is displaying but not the the place where it was attached.

Example.
<div ng-repeat="item in items">
<div class="sheperd-tour-step">
 Show toot for the {{item.name}}
</div>
</div>

In the below image, we c

[2017-09-07 11:46] sunitha-premakumaran opened #173 "cannot get node_modules/tether-shepherd/dist/js/shepherd.min.js"
I cannot include  node_modules/tether-shepherd/dist/js/shepherd.min.js   js..it throws exception
i ve included "../node_modules/tether-shepherd/dist/css/shepherd-theme-arrows.css"

[2017-09-08 07:07] #173 closed

[2017-10-13 05:33] mdaleem opened #174 "How can i use it with ionic 2 typescript?"

[2017-10-27 11:46] AmitMY opened #175 "Backdrop?"
Is there a way to create a backdrop?

[2017-10-30 02:36] adelriosantiago commented on #103
I feel demobaited!

[2017-10-30 18:08] adamdport commented on #171
I'm stupid too. How did you resolve this? The only typings file I can find is many versions outdated.

[2017-10-31 11:50] corvuscornix commented on #156
++ same problem here

[2017-11-13 16:13] Pamblam commented on #114
What it says in the docs is [`An array of **Step instances**`](https://github.com/HubSpot/shepherd/blob/ecc84623df9eb21e6935e01240c4e7d078552bdd/docs/intro.md#tour-options)

What it doesn't say in the docs is how to create a Step instance manually.

The signature is [`new Shepherd.Step(tour_instance, options);`](https://github.com/HubSpot/shepherd/blob/ecc84623df9eb21e6935e01240c4e7d078552bdd/src/

[2017-11-14 17:14] hipkiss91 commented on #171
@adamdport I spelt it incorrectly. I spelt it `sheperd` instead of `shepherd`. Missed the `h` out lol.

[2017-11-21 15:23] goce-cz commented on #103
I agree with @adelriosantiago ...

Being excited about the clean API of the library I have prepared a TypeScript definition for it in order to integrate it into our project. All that just to find out that the basic functionality I've expected is not present at all.

[2017-11-27 15:11] lancegliser commented on #175
The documentation site uses a more site specific approach;
http://github.hubspot.com/shepherd/docs/welcome/

[code]
Not the most reproducible approach on a large scale, but it does give a means to reproduce if you required it. I'd like to have this feature soon myself.

[2017-12-01 19:58] #26 closed

[2017-12-06 10:00] zakdey commented on #103
Try this css trick. Tweak it as you like

body::after {
  opacity: 0;
}

body.shepherd-active::after {
  content: "";
  display: block;
  background-color: #fff;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000; }

.shepherd-element.shepherd-open, .shepherd-target.shepherd-enabled {
  z-index: 10000000;
  position: relative;
}

[2017-12-06 20:22] adelriosantiago commented on #103
@zakdey I haven't tested it but in case it works. Have you considered doing a Pull Request?

[2017-12-06 20:52] Jujunol opened #177 "Shepherd-theme-arrows theme depends on bower install"
## Brief

In order to use the theme via sass/scss, the imports specifically call `bower_components` as opposed to `node_modules` resulting in an error if you used npm

[2017-12-22 08:38] rtcimi commented on #174
I've manage to get it to work with:
npm install tether-shepherd --save
npm install @ryancavanaugh/tether-shepherd --save (types)

Then inside component:
import * as Shepherd from "tether-shepherd";

[2017-12-26 21:08] claysquareninety commented on #108
What did you end up doing here? Running into the same thing.

[2018-01-14 00:52] valpet commented on #156
I have the problem too and in my case it is also when the box is near the edge

[2018-01-16 18:54] buttim commented on #156
Same here. The problem seems to disappeat if i wait a long time (a few seconds) with setTimeout before starting the tour. Can anyone confirm the same behaviour?

[2018-01-19 01:44] hottmanmichael commented on #108
@claysquareninety If you're still dealing with this, I just ran into a similar issue and ended up using `when: {show: function() {}}`
[code]

[2018-01-19 05:04] claysquareninety commented on #108
@hottmanmichael Thanks I ended up doing something similar.

[2018-01-19 13:32] miku86 commented on #156
I coded a half-baked workaround for my specific case by adding `shepherd-element-attached-center` to the relevant box.

[2018-01-19 20:09] codedoll commented on #174
Can confirm that this works quite well with Ionic.

[2018-02-06 03:02] cfsilence opened #178 "Angular 4 Positioning Issue"
When using shepherd with an angular I'm seeing an odd positioning issue when I navigate between routes.

The first time I start a tour everything works fine, but when I navigate to a different view and return to the previous view and start a tour the steps are all positioned in the top left corner of the browser.  If I loop over the steps and look at the attachTo element it's as if that element is

[2018-02-06 03:13] cfsilence commented on #178
To follow up - if i specified attachTo as a DOM element (via document.querySelectorAll()) I see this issue - but switching to an id selector results in the expected behavior.

[2018-02-08 04:27] cjbeery24 commented on #103
If you're using Twitter Bootstrap, you could also open an modal with no content just before you start the shepherd tour and then hide the modal when the tour is over.

`<div class="modal fade tour-modal-fade" tabindex="-1" role="dialog">
</div>`

`$('.tour-modal-fade').modal({
   backdrop: 'static',
   show: true
});
shepherd.on('complete', () => {
   $('.tour-modal-fade').modal('hide');
});
sheph

[2018-02-24 06:10] omkarkhalipe commented on #174
I get "cannot read property 'jquery' of null" error, please help

[2018-02-24 14:54] rtcimi commented on #174
@omkarkhalipe do you get this error when trying to initialise tour, addStep or showing individual step?

[2018-03-01 16:59] stof opened #179 "The install doc is not working"
The documentation says to use Eager to install sheperd and includes an iframe for that. But this iframe does not work as the Eager.io website has been shutdown due to the migration to Clooudflare apps. so there is no install instructions at all.

[2018-03-20 14:35] robotmonkey opened #180 "Tours fail to load on Chrome 65"
As per the screenshot below, tours are failing to load on Chrome 65 for many users. Only a sliver of the tour is loaded.

![Tours](https://dha4w82d62smt.cloudfront.net/items/0M2Z102g20162L1s1y1R/Image%202018-03-20%20at%209.57.56%20AM.png?X-CloudApp-Visitor-Id=2665712&v=614ad2ce)

[2018-03-22 06:26] Balaji-Gopal commented on #174
@omkarkhalipe  start your tour in the life cycle events, once dom has been loaded then start the tour. Use it in ionViewDidLoad method.

[2018-03-26 09:47] psnmissaka commented on #127
Have anyone tried integrating Shepherd with Angular 4?

[2018-04-02 09:10] alisey123 commented on #175
+1

[2018-04-26 00:34] TakahiRoyte commented on #103
@zakdey Thanks for the nice piece of code, works like magic.
This needs to go inside the document.
I'm sure there are people who expects Shepherd to work like its doc page.
http://github.hubspot.com/shepherd/docs/welcome/

[2018-04-26 05:46] TakahiRoyte commented on #108
I had similar problem and I ended up coding like below:

[code]

the reason why I needed `setTimeout` is because the target element was not prepared inside the DOM of my SPA.  I know it is not the best way, but it works ok.

[2018-05-24 04:45] djdd1203 opened #182 "class shepherd-active in body isn't working."
When any step show, body tag was added 'shepherd-active' class to create blur all page and create highlight.
Like this image:
https://raw.githubusercontent.com/djdd1203/image/master/Screenshot%20from%202018-05-24%2011-38-37.png

[2018-06-05 16:20] pootzko commented on #180
This might have something to do with hardware acceleration on Macs:

https://bugs.chromium.org/p/chromium/issues/detail?id=794819
https://productforums.google.com/forum/#!topic/chrome/MofzGUnPbU0

[2018-06-14 16:00] mdmintz commented on #11
Thanks! That worked really well, with only a few minor changes. I was able to combine Shepherd into my SeleniumBase Automation Framework. https://github.com/seleniumbase/SeleniumBase/blob/master/examples/tour_examples/ReadMe.md

[2018-06-15 13:33] lozjackson commented on #180
We have come across this bug also..

It is on a macbook pro 15" mid-2015 with dual gfx cards.

The problem only occurs when using the Intel Iris Pro gfx card (built-in).. and the problem disappears upon switching to the AMD Radeon gfx (Automatic gfx switching in display preferences disable).

Chrome 67
Macbook Pro
Intel Iris Pro (built-in) / AMD Radeon (PCIe) gfx cards

If I inspect the element an

[2018-06-15 13:42] rwwagner90 opened #183 "Maintainer/transfer"
@b-ash @adamschwartz @zackbloom I wrote and maintain https://github.com/shipshapecode/ember-shepherd and it still remains the best rated addon for site tours, despite the issues piling up here, so I would hate to see it die. If HubSpot is not interested in maintaining Shepherd anymore, would you be open to transferring ownership to my company?

[2018-06-15 13:43] FranDias commented on #183
Yeah, we're interested in that 😄

[2018-06-15 13:48] FranDias commented on #183
You have write perms, would it be better to add a team?

[2018-06-15 13:48] lozjackson commented on #180
I have tried this on other Macbook Pros.. without dual gfx cards and none have suffered the same problem yet.  I have tried one other MBP with dual gfx cards, but not the same Intel Iris Pro card (it has an Intel HD Pro instead), and that also does not suffer the same problem.

I have not yet been able to find another MBP with the same Intel Iris Pro gfx card to test on.

[2018-06-15 13:56] rwwagner90 commented on #183
Thanks @FranDias! Does HubSpot still use Shepherd at all or have an interest in the future direction? I just commented on the PR converting from tether to popper, which I think might be the best path forward. Did you want to keep the repo under the HubSpot org or transfer it to me?

[2018-06-15 14:13] FranDias commented on #183
What we internally use has differed (a react implementation) than what's here but that also hasn't seen too many changes over the past few months.

@Phoenixmatrix @also Thoughts on the give write vs transfer?

[2018-06-15 14:54] Phoenixmatrix commented on #183
I'd probably loop in @TrevorBurnham on this one, as Im pretty sure we still rely on Shepherd internally.

[2018-06-20 15:24] TrevorBurnham commented on #183
@Phoenixmatrix Yes, we do still use Shepherd internally, but I'd be delighted to see this project go to an active maintainer. I think transfer would be preferable, since no one at HubSpot actively works on Shepherd anymore.

[2018-06-20 16:21] rwwagner90 commented on #183
@TrevorBurnham would you guys be in favor of moving to popper as well? I think that may be the best path forward, since tether has been recommending to use popper now anyway.

[2018-06-20 16:48] TrevorBurnham commented on #183
@rwwagner90 I'd have no objection. We still use Tether internally at HubSpot, but Popper is the better project at this point.

[2018-06-20 17:47] FranDias commented on #183
Github only allows for transferring org repos to a member.

I'm transferring to me then transferring to @rwwagner90. Should be done in a few minutes.

[2018-06-20 17:48] FranDias commented on #183
Transfer request initiated/completed.

[2018-06-20 17:48] #183 closed

[2018-06-20 17:58] rwwagner90 commented on #183
Awesome, thanks guys! I will proceed with the popper conversion and other updates in the coming weeks.

[2018-06-20 18:49] rwwagner90 commented on #163
Hi @davidashman I just got this transferred to me, and I will be looking into merging in the popper conversion. This will not be EOL 😃 . We could probably use a lot of help with the refactor going forward though!

[2018-06-20 18:49] #163 closed

[2018-06-20 18:50] rwwagner90 commented on #164
This is a concern of your application. You must store a value to keep the tour from showing up again.

[2018-06-20 18:50] #164 closed

[2018-06-20 20:00] rwwagner90 commented on #84
Since we will be likely moving away from tether, I am going to close this issue.

[2018-06-20 20:00] #84 closed

[2018-06-22 16:19] seanfcarroll opened #185 "Demo site is down"
https://github.hubspot.com/shepherd/docs/welcome/

Is this dead? Would be a shame.

[2018-06-22 17:57] rwwagner90 commented on #185
It's not dead. It's moved to https://shipshapecode.github.io/shepherd/docs/welcome/

[2018-06-23 17:13] arkaitzz opened #187 "href of the "View docs" button on demo site --> 404"
View docs button on demo site is giving 404 not found.

[2018-06-25 11:46] rwwagner90 commented on #187
Yes, the links all changed, several issues on this, the are updated on the 2.0 branch, which is not stable and not merged to master yet.

[2018-06-25 11:47] #185 closed

[2018-06-25 15:41] rwwagner90 commented on #183
@FranDias do you know what was used to generate the docs and push to gh-pages?

[2018-06-25 15:43] FranDias commented on #183
@geekjuice @b-ash would know what jade template library they were using to build the docs …5 years ago?

[2018-06-25 16:00] geekjuice commented on #183
we used an internal doc building library that is *very* outdated at this point. while we will happily rebuild docs when needed, i do wonder if it'll be easier to just use one of the many doc building tools out there instead now since the one we used was fairly brittle 😬

[2018-06-25 17:59] rwwagner90 commented on #183
Sure thing, we can convert to something else. If it were something open source and easy to use, I would use it, but otherwise we can work on rebuilding.

[2018-07-02 12:58] rwwagner90 commented on #183
@FranDias @geekjuice could I get permissions on npm as well and/or could you just go ahead and deprecate `tether-shepherd` and point to `shepherd.js`? I just released as `shepherd.js` now. https://www.npmjs.com/package/shepherd.js

[2018-07-03 00:38] rwwagner90 commented on #180
Hi @lozjackson could you try with 2.0.0-beta.2 that I just released? It's based around popper now, and might change things.

[2018-07-03 00:39] rwwagner90 commented on #174
This seems to be an issue unrelated to Shepherd itself, so going to close. It sounds like people figured out ways around the problem.

[2018-07-03 00:39] #174 closed

[2018-07-03 16:40] rwwagner90 commented on #179
The documentation is in flux, but the README and upcoming docs both mention you can install via npm, which is probably the preferred way now.

[2018-07-03 16:40] #179 closed

[2018-07-03 16:41] rwwagner90 commented on #166
Would you be interested in submitting a PR for this?

[2018-07-03 16:45] #167 closed

[2018-07-07 12:10] rwwagner90 commented on #135
I have a feeling this issue might be fixed by the conversion to popper.js. Can someone please try out the latest shepherd.js, currently 2.0.0-beta.5, and see if this problem is resolved?

[2018-07-07 12:13] rwwagner90 commented on #140
I think removing the space with CSS is probably the best option. It should work well.

[2018-07-07 12:13] #140 closed

[2018-07-07 12:20] rwwagner90 commented on #165
I believe this is the intended behavior. From the docs `Creates a new Step object with options, and returns the Tour object for convenient chaining when creating multiple steps`.  Perhaps returning the step is more helpful than being able to chain though.

[2018-07-07 12:28] #129 closed

[2018-07-07 12:30] rwwagner90 commented on #131
I think we should potentially throw an error or at least a warning, as I think a default might be unclear to some people.

[2018-07-07 12:32] rwwagner90 commented on #141
I think this functionality is potentially outside the scope of Shepherd, and would be something you would want to implement in your app, as needed. If someone has a small idea and wants to try a PR we would definitely consider it!

[2018-07-07 12:32] #141 closed

[2018-07-07 12:34] rwwagner90 commented on #127
Shepherd is definitely usable in all JS frameworks, since it is just vanilla JS. It would be awesome to have some packages created for Angular, Vue, React, etc. If anyone is interested in helping out with that, we would love the help!

[2018-07-07 12:39] rwwagner90 commented on #159
You need both the element selector and the direction, as specified in the docs.

[2018-07-07 12:39] #159 closed

[2018-07-07 12:41] rwwagner90 commented on #151
It appears the issue was fixed here https://github.com/HubSpot/tether/pull/282 and also we do not use tether anymore anyway. Is this still a problem?

[2018-07-07 12:45] rwwagner90 commented on #138
This has been mentioned a couple times. There is an issue here https://github.com/shipshapecode/shepherd/issues/165. I think we should go ahead and return the step, so I will get that merged in now.

[2018-07-07 12:45] #138 closed

[2018-07-07 12:48] #165 closed

[2018-07-07 12:49] rwwagner90 commented on #165
The docs were actually contradicting, so I fixed them, and returned the step. Sorry for the delay!

[2018-07-07 12:50] rwwagner90 commented on #125
Yes, this should be usable just like any other JS lib. You can use npm or yarn to install.

[2018-07-07 12:50] #125 closed

[2018-07-07 12:51] rwwagner90 commented on #124
I think this should be resolved now.

[2018-07-07 12:51] #124 closed

[2018-07-07 12:53] rwwagner90 commented on #104
We'll need to do some work to migrate from Eager to Cloudflare apps, so we'll see where we stand after that.

[2018-07-07 12:53] #104 closed

[2018-07-07 12:54] rwwagner90 commented on #89
Does anyone know of a fix for this?

[2018-07-07 12:56] rwwagner90 commented on #7
I think this is not a Shepherd issue. It is just attaching to the elements, as it is supposed to. This may or may not still be an issue, since we switched to popper.js, but I would definitely be in favor of an option to skip hidden elements, if someone wants to PR something in!

[2018-07-07 12:56] #7 closed

[2018-07-07 12:59] rwwagner90 commented on #177
I don't think we reference bower anywhere anymore. Please check out the latest betas and hopefully this will be resolved for you!

[2018-07-07 12:59] #177 closed

[2018-07-07 13:01] rwwagner90 commented on #85
`attachTo` requires both the element selector and the direction, otherwise it's not going to work. Please follow the format specified in the docs.

[2018-07-07 13:01] #85 closed

[2018-07-07 13:02] rwwagner90 commented on #36
I assumed everything was left in place for quicker setup of the tour again, if you wanted to trigger it a second time. However, it would be nice to have it cleaned up.

[2018-07-07 13:03] rwwagner90 commented on #27
This could potentially be nice to have. We should look into it.

[2018-07-07 13:04] rwwagner90 commented on #15
This should be fixed now, since it's several years old and browsers likely implemented it by now. Also, this is fixable via manual CSS tweaks in the consuming app.

[2018-07-07 13:04] #15 closed

[2018-07-07 13:30] #45 closed

[2018-07-07 14:43] #127 closed

[2018-07-07 14:44] rwwagner90 commented on #117
We've merged in the conversion to HTML entity, so this should be fixed.

[2018-07-07 14:44] #117 closed

[2018-07-07 16:56] rwwagner90 commented on #112
This should no longer be an issue, since we moved to popper, but could persist in a different way. Closing for now, in favor of opening a new issue if there are more problems.

[2018-07-07 16:56] #112 closed

[2018-07-07 17:08] #109 closed

[2018-07-07 17:47] rwwagner90 commented on #115
I haven't seen this myself, I think hopefully it has resolved itself, in the new betas. If not, please feel free to reopen!

[2018-07-07 17:47] #115 closed

[2018-07-07 17:49] rwwagner90 commented on #34
There are several reports of Chrome bugs with styles, where removing `translateZ` fixes them. Closing as a duplicate of https://github.com/shipshapecode/shepherd/issues/180

[2018-07-07 17:49] #34 closed

[2018-07-07 18:03] #153 closed

[2018-07-07 18:21] rwwagner90 commented on #175
Unfortunately, this is hard to include as a core feature. It has been requested a few times, but there are a lot of edge cases, and it is more reliable to do the modal implementation in your app yourself.

[2018-07-07 18:21] #175 closed

[2018-07-07 18:27] #86 closed, assigned to nobody

[2018-07-07 18:28] #136 closed

[2018-07-07 18:32] rwwagner90 commented on #169
There is now a try/catch around the querySelector, so this should be resolved.

[2018-07-07 18:32] #169 closed

[2018-07-08 13:13] rwwagner90 commented on #83
Eager is no longer a thing, so closing this.

[2018-07-08 13:13] #83 closed

[2018-07-08 13:14] rwwagner90 commented on #13
There is not actually any built in styling around the modal stuff. This is up to you to implement in your app, as of now.

[2018-07-08 13:14] #13 closed

[2018-07-08 15:30] adamschwartz commented on #83
@rwwagner90 And also the `install.json` in the [Shepherd Cloudflare App](https://www.cloudflare.com/apps/shepherd) implements the `preview` property. :)

[2018-07-09 00:00] rwwagner90 commented on #83
Sounds good. How can I get the Cloudflare App transferred to me?

[2018-07-09 00:10] rwwagner90 commented on #43
This works for me. I use `scrollTo` and still have things positioned on top. I would say this is dependent on the amount of space left on top and how large your content is. It would need to be fixed via CSS in your app.

[2018-07-09 00:10] #43 closed

[2018-07-09 00:19] rwwagner90 commented on #182
I'm not sure what you mean here. The `shepherd-active` class is definitely applied.

[2018-07-09 00:21] rwwagner90 commented on #172
@jithureddy can you please be more specific? If you supply the selector for the element you want to attach to, it will attach to it. I'm not sure what the issue is here.

[2018-07-09 12:49] rwwagner90 commented on #151
I'm going to close this, since I think the issue is no longer a problem.

[2018-07-09 12:49] #151 closed

[2018-07-09 14:08] rwwagner90 commented on #182
I have confirmed everything works correctly in the demo. If you can provide more info, I would be happy to investigate further.

[2018-07-09 14:08] #182 closed

[2018-07-11 00:38] rwwagner90 commented on #156
This appears to be fixed in the latest betas, since we not use popper, I think it is smarter about where to put the arrows.

<img width="401" alt="screen shot 2018-07-10 at 8 36 54 pm" src="https://user-images.githubusercontent.com/2640861/42544681-30ce5e58-8481-11e8-8922-fd5b09bbf8c0.png">

[2018-07-11 00:39] rwwagner90 commented on #156
Assuming that this is fixed in popper, I am going to close.

[2018-07-11 00:39] #156 closed

[2018-07-11 02:03] #166 closed

[2018-07-11 02:36] rwwagner90 commented on #96
There are definitely styles for left and right, especially now that we have moved to popper.

[2018-07-11 02:36] #96 closed

[2018-07-11 12:53] rwwagner90 commented on #154
I don't quite understand this. You can add `when` to each step already. Please feel free to reopen if you think we still need something here.

[2018-07-11 12:53] #154 closed

[2018-07-12 01:21] #157 closed

[2018-07-12 01:35] rwwagner90 commented on #139
This seems to no longer be an issue.

[2018-07-12 01:35] #139 closed

[2018-07-12 01:37] rwwagner90 commented on #116
Popper is a bit better at positioning logic and keeping arrows around, so I am closing this, since we migrated to popper. If the behavior is still off, feel free to open a new issue and we will take a look.

[2018-07-12 01:37] #116 closed

[2018-07-12 11:57] #66 closed

[2018-07-12 12:00] rwwagner90 commented on #36
I believe all this is cleaned up now 👍

[2018-07-12 12:00] #36 closed

[2018-07-12 15:54] j-groeneveld commented on #124
Note http://github.hubspot.com/shepherd/ ==> https://shipshapecode.github.io/shepherd/docs/welcome/

[2018-07-15 20:39] #120 closed

[2018-07-15 21:22] #1 closed

[2018-07-15 21:22] #52 closed

[2018-07-15 21:49] rwwagner90 commented on #132
I believe this is fixed with popper now, but if not and you could provide code samples to reproduce, I would be more than happy to take a look!

[2018-07-15 21:49] #132 closed

[2018-07-15 21:58] rwwagner90 commented on #135
I'm closing this for now, as I believe the weirdness with the arrows is not a problem with popper. If there are still issues, please feel free to let us know!

[2018-07-15 21:58] #135 closed

[2018-07-16 02:20] rwwagner90 commented on #113
Upon further inspection, I think this is resolved. We're calling `setupPopper` in `_show` and that is where we will get the attachments, so I think we should be good to go.

[2018-07-16 02:20] #113 closed

[2018-07-16 14:56] rwwagner90 opened #193 "Deprecate tether-shepherd and point to shepherd.js on npm"
@FranDias would you be able to help, or point me to someone who could, with deprecating `tether-shepherd` on npm and pointing users to `shepherd.js`? I believe that is the correct way to do it, but not sure. Alternatively, if we wanted to keep all the version history and use the same package, perhaps there is a way to rename it? I'm not entirely sure.

[2018-07-17 12:01] rwwagner90 commented on #193
cc @b-ash @geekjuice @adamschwartz @zackbloom

[2018-07-20 12:30] santhoshkasam opened #194 "How to use steps in different screens"
Hi
Am using shepherd in Angular.
I wanted to know how to implement the tour with steps targeting the elements of different screens?
How to navigate to different screens when the tour is ON? i.e. where to write the redirect or window.location.href code?

[2018-07-20 13:58] rwwagner90 commented on #194
You could just use the `action` of a button to advance to another page, I believe. Are you wanting a button in the step to send you to the next page or what is the desired outcome?

[2018-07-23 11:32] rwwagner90 commented on #194
I know people have used `beforeShowPromise` for this in the past, specifically with ember-shepherd. You'll want to return a promise in `beforeShowPromise` that resolves when you have transitioned to your other route, then the `show` logic should wait to run until then.

[2018-07-29 07:50] ligoo opened #196 "Can't resolve 'popper' Webpack error"
I've installed your package via npm on a laravel project. That worked but after trying to use it in my .js file:

`const shepherd = require('shepherd.js');`

the following error showed up on the `npm run watch` (or equivalent):
[code]

I guess it should refer to `popper.js` and not `popper` on the 5th line of `shepherd.js/dist/js/shepherd.js` like this:

`define(["popper.js"], factory);` instead o

[2018-07-29 11:29] ligoo opened #197 "Error thrown if element not visible anymore"
In the situation of the shepherd box is hidden (per example because some modal showed up and removed the tutorial box) the following error will occur:

`Uncaught TypeError: Cannot set property 'hidden' of undefined
    at Step.hide (shepherd.js:480)`

You should wrap these 2 setters by an undefined check before. This should look like this (`shepherd.js` line 480):

[code]

[2018-07-29 16:32] #197 closed

[2018-07-29 16:33] rwwagner90 commented on #193
@FranDias @b-ash @geekjuice @adamschwartz @zackbloom can someone please help with this or point me to someone who can help?

[2018-07-29 16:38] geekjuice commented on #193
@rwwagner90 sorry for the delay. let me look into what it takes to deprecate/redirect a package today and i'll report back.

[2018-07-29 16:42] rwwagner90 commented on #193
@geekjuice thanks! I believe you can just do something like `npm deprecate tether-shepherd "WARNING: tether-shepherd has been renamed to shepherd.js. Please install it instead"`. We could tweak the wording and maybe link to the new package or something.

[2018-07-29 16:42] rwwagner90 commented on #193
We should likely copy the wording from some other popular packages that have done this.

[2018-07-29 16:56] geekjuice commented on #193
so unfortunately it looks like i don't have permissions to the old repositories anymore. it's possible we updated our credentials at some point and i still only have outdated ones, but maybe @also can help since he was the last to publish the `tether-shepherd` package

[2018-07-29 17:03] ligoo commented on #196
@rwwagner90 In my case, Popper was already added in my project (`"popper.js": "^1.14.3"`). Had this issue anyhow.

[2018-07-29 17:10] ligoo commented on #196
@rwwagner90 Thanks for the quick answer! I probably forgot to declare explicitally popper cont before shepherd. Feel free to close this 🗡

[2018-07-29 18:15] rwwagner90 commented on #196
You're welcome! It would probably be easier to just have people install it as a separate dep, instead of bundling, but hopefully this unblocks you for now 👍

[2018-07-29 18:15] #196 closed

[2018-07-31 13:03] gorner opened #198 "Accessibility support"
I'm part of a team that has been looking at using Shepherd (and ember-shepherd) within one of our externally-facing Ember sites, however we've noticed that the accessibility support is fairly minimal - there are no ARIA attributes on any Shepherd elements and the semantic markup could be improved (no `nav` tag around the navigation buttons, for example).

I know there was an issue #26 raised along

[2018-07-31 13:06] rwwagner90 commented on #198
Hi @gorner, thanks for bringing this to our attention. We did not have any specific plans, but a11y is a good goal for all projects these days. If you have a set of things you'd like us to look at and/or wanted to help implement some of those things, we'd be glad to take a look 😃

[2018-08-02 09:15] smurfxx opened #200 "Right way to check if tour is completed"
Is there any example where I can understand how to trigger a custom function when the tour is finished?

Thanks!

[2018-08-02 11:43] rwwagner90 commented on #200
@smurfxx please check out the API docs. They talk about events. You would use `complete` or `cancel` events.

[2018-08-02 11:43] #200 closed

[2018-08-02 12:38] vsdmoraes opened #201 "Error: Cannot find module 'popper' from '\node_modules\shepherd.js\dist\js'"
Hello there!

I just trying to add the Shepherd in my current project.
I installed the both (Popper.js too) by NPM, and imported in my library:

[code]

So I followed the example:

[code]

I got this error:

What can I do?

Thanks,
Vinícius Moraes.

[2018-08-02 13:58] rwwagner90 commented on #201
@vsdmoraes can you please try 2.0.0-beta.14? I think we had named popper `popper` instead of `popper.js` on accident, and that should be fixed now.

[2018-08-03 13:32] gorner commented on #198
Fair enough, I'm planning to take a look in the next few days/weeks to better articulate what we'd be looking for.

[2018-08-03 14:55] vsdmoraes commented on #201
Hey @rwwagner90

Thank you! It's working!
I just cloned the master and built the project to test.

But I need put it on my project by NPM, do you have some preview when the 2.0.0-beta.14 will be available on NPM?

And thank you for this awesome project!

Best,
Vinícius Moraes.

[2018-08-03 15:05] rwwagner90 commented on #201
@vsdmoraes I think it is on npm now. Sorry, travis failed to release it.

[2018-08-03 15:05] #201 closed

[2018-08-06 14:12] vsdmoraes commented on #201
Hey @rwwagner90

I've checked right now and the NPM version still not updated.

Thanks,
Vinícius Moraes.

[2018-08-06 15:48] rwwagner90 commented on #201
@vsdmoraes it's definitely updated, it's just not on the next or latest tags because I messed some things up, but the version is out there https://www.npmjs.com/package/shepherd.js/v/2.0.0-beta.14

[2018-08-06 17:10] vsdmoraes opened #202 "Uncaught TypeError: _shepherd2.default.Tour is not a constructor"
Hey there!

Recently I updated my project to the "2.0.0-beta.14" by NPM.
But after update it, the following error started to occur.

The way of I imported the module is:
[code]

But if I built the shepherd and copy/paste the dist, the project back to work.

I've compared both files, and the the shepherd.js from NPM hasn't the "return Shepherd" in end.
And the first comment about the version in the

[2018-08-06 17:16] rwwagner90 commented on #202
Yes, I think this is because I missed some steps that Travis usually runs when I tried to manually deploy. Trying to get Travis to deploy a 2.0.0-beta.15 now to see if it will work.

[2018-08-06 17:47] vsdmoraes commented on #202
Hey @rwwagner90,

It's fixed.
Really thanks, man!

And congrats for your support on this project.
Thanks a lot!

[2018-08-06 21:10] #202 closed

[2018-08-08 14:40] adamschwartz commented on #83
cc @zackbloom

[2018-08-13 10:06] rudzboy opened #207 "Load tours based on JSON files"
This is a feature request, I guess the title is self-explanatory.
Providing a JSON file along with kind of a "loadTourFromJSON" method would be great instead on declaring tours and adding steps manually within JS.

In addition, having our data stored in JSON files would be useful for providing data for functionnal testing tools.

Is this feature already planned ?
Would that be useful in your opini

[2018-08-13 11:26] lozjackson commented on #180
@rwwagner90 Thanks.  I've just got round to updating `ember-shepherd` to `3.3.0`.

The problem was not resolved after updating ember-shepherd... however, then we updated Chrome to the latest version (68.0.3440.106) and that fixed it..

I tested the previous version of ember-shepherd that we were running (3.1.0) and that also works ok using the new version of Chrome.

[2018-08-13 12:48] rwwagner90 commented on #180
@lozjackson ember-shepherd has beta versions for 4.0.0, which you can try. The tests don't all pass for them, but they should work I think.

[2018-08-13 12:59] lozjackson commented on #180
@rwwagner90 Having updated the version of Chrome we would be unable to repro the issue now that it is fixed in Chrome.  We only had one laptop here that was affected by this bug (and that has now been updated to the latest version of Chrome).

Also I would prefer not to run a beta version of ember-shepherd.. I appreciate that you would like to have the beta tested etc, however, our app is in produ

[2018-08-13 13:13] rwwagner90 commented on #180
@lozjackson I was not suggesting that you run it in production. Just letting you know that ember-shepherd 4.0.0 beta is using the new stuff we've been working on here. Any pre 4.0 versions do not have any of the changes here and would most certainly still have the bug.

[2018-08-13 13:59] vsdmoraes opened #208 "when: next/back doesn't work"
Hey there!

I'm trying to create a behavior just when the user clicks "back" button.

But seems that the back/next event doesn't work inside the "when".

I've created the following jsfiddle to exemplify the issue.
https://jsfiddle.net/m7f3krLh/19/

Basically, I created a walkthrough mobile, but there's a moment that the navigation (from a burger menu) opens, and the tour continues inside it. But i

[2018-08-13 14:14] rwwagner90 commented on #208
@vsdmoraes I don't understand the issue. Why are you using `when:hide` here? Are you trying to open/close your burger menu as you go back/next? If so, I recommend `beforeShowPromise`.

[2018-08-13 14:28] vsdmoraes commented on #208
@rwwagner90 let me try to explain better.

On my mobile walkthrough, when the user is in the step before open the menu, and click back, the "hide" option will execute, right?

I want it just when the user clicks in the next button.
It's a conditional:
If the user clicks on next, open menu and go to step 4
If click back, just back.
if click close, just close.

My doubt is, can I use "next" instead

[2018-08-13 14:30] rwwagner90 commented on #208
@vsdmoraes again, as I said, you are not using the right things here. The step that should show the menu should have a `beforeShowPromise` and show the menu in there, do not use `when:hide`.

[2018-08-13 14:41] rudzboy commented on #207
The point is precisely to define a JSON example and provide a "load" method with the file location as an argument on the Tour object that will parse the JSON and build the steps with the provided data.
I'll try to work on this and PR eventually but the amount of time I can give is very limited for now.

[2018-08-13 14:50] vsdmoraes commented on #208
@rwwagner90 the menu is opening, but the step of the walkthrough doesn't appear.
But it fixed the back issue. I think it's a way.

Should I add a show() or something like it, to show the step?

[2018-08-13 15:02] rwwagner90 commented on #208
The step should show automatically. `beforeShowPromise` happens before `show` is called for the step.

[2018-08-13 15:04] rwwagner90 commented on #207
@rudzboy I'm saying that I don't think we need this, as you could define everything in JSON or a separate JS file or wherever you would like, then import it or use ajax or fetch to grab it, then just pass that to your tour.

[2018-08-13 16:46] vsdmoraes commented on #208
Yes, you're right.

My current issue is because there's a transition to open the menu, and the tooltip when is created, take the wrong position (because the menu is out of the screen).

is there a way to force the reposition of the tooltip?

But, really thanks, now I know what is the error.

Best,
Moraes.

[2018-08-13 17:10] rwwagner90 commented on #208
`beforeShowPromise` is, as the name suggests, a promise. You can return a promise from it that resolves when everything is done. For example, you would want to wait until the transition is done, then `resolve` the promise. I believe this should work for you.

[2018-08-13 17:10] #208 closed

[2018-08-14 12:14] janusch opened #210 "ES2015 imports not working"
Hi,
first of all thank you for maintaining this module. I am trying to upgrade from tether-shepard and lots of things have changed.

I have tried both with 2-beta.14 and 2-beta.15 and get two different errors depending on the version.

in 2-beta.14 i get an error `TypeError: __WEBPACK_IMPORTED_MODULE_1_shepherd_js___default.a.Tour is not a constructor` importing it like this:
[code]

in 2-beta.15

[2018-08-14 12:34] janusch commented on #210
Hi @rwwagner90,
thank you for your quick reply. I keep getting the same error using 2.0.0-beta-15

[code]
Also Popper is not defined on window.

Is there anything else I can try?

[2018-08-14 12:35] rwwagner90 commented on #210
@janusch I don't think it should be on the window. It should be bundled with Shepherd. It's possible our UMD output does not work with ES6 imports right now.

[2018-08-14 12:45] janusch commented on #210
I am using webpack@3 that should not be an issue.
I think I have found the problem it is because I initialize the tour twice. It works fine the first time, and the error comes first when I init the same tour a second time. I'll try to make sure not to init the same tour twice and let you know if that fixes it.

Thank you for your help!

[2018-08-14 12:53] rwwagner90 commented on #210
@janusch you should be able to have multiple tours, so that surprises me.

[2018-08-14 12:59] janusch commented on #210
@rwwagner90 you were right that isn't the issue.

still getting this:
[code]
But first after the tour has already been started. It does show the first step before it blows up.

[2018-08-14 13:45] janusch commented on #210
Hi again @rwwagner90,
I found the bug though I am not sure on how to fix it yet.
I am apparently importing the amd build line 6 in dist/shepherd.js

When I change `this.popper = new Popper(opts.element, this.el, popperOpts);`
to: `this.popper = new Popper.default(opts.element, this.el, popperOpts);` shepherd work fine.

I tried importing shepherd.js from the src directory instead of the dist direc

[2018-08-14 13:52] rwwagner90 commented on #210
@janusch I'm pretty sure the output just doesn't support ES2015 imports. We need to look into it. It's umd format, so you can use CJS, AMD, etc. just can't `import` right now.

[2018-08-14 14:29] janusch commented on #210
@rwwagner90 I think with the latest fixes from 7 days ago make it actually work.
[code]

That way it is possible to:
 `import Shepherd from 'shepherd.js/src/js/shepherd';`
 `import Popper from 'popper.js';`
 `window.Popper = Popper;`

One will need Popper on window again though.
For me that would be a solution that would work for now.
Would you mind releasing another beta version to npm with the f

[2018-08-14 14:37] rwwagner90 commented on #210
@janusch I think we want to make `popper` a `peerDependency`, and get umd and imports working, so ideally you just:

[code]

We have some things in flux right now, so I will release what is in master as the next beta, and hopefully it will help you for now.

[2018-08-14 19:31] rwwagner90 commented on #210
@janusch I published beta 16 earlier. Does it work for you?

[2018-08-14 22:57] also commented on #193
I marked the package as deprecated.

[2018-08-15 03:04] elfenheart commented on #210
I just tried beta 16 and it works for me.

The other caveat is to also do an import of the css theme file that you want:
`import "shepherd.js/dist/css/shepherd-theme-dark.css";`

[2018-08-17 21:11] chuckcarpenter opened #213 "Document source code"
There are no comments really in the code, so they should be documented using [ESDoc](https://esdoc.org) which should improve output of a docs site.

[2018-08-20 13:36] rwwagner90 commented on #213
I've typically always found docs generated from code comments to not be very good. I'm open to it, but I want the docs to be human readable and useful. We need examples, usages, etc, so we'll need a way to add more than just whatever ESDoc generates.

[2018-08-21 07:11] janusch commented on #210
@rwwagner90 Thank you for creating yet another beta. I think it was already working in beta-16. I could import it like this

[code]

There is one more issue. When I am building with create-react-app and webpack@3 an optimized production build i get an error:

[code]

However shepherd.js works just fine. Maybe I am not using evented.js?

Thank you for your time!

[2018-08-21 12:47] rwwagner90 commented on #210
@janusch the link they give you tells you the issue. Apparently, it does not like ES6. It wants an ES5 build shipped. In that case, you should probably just use the `dist` version, maybe. We use JS classes, so if your build does not support ES6 and you are not using babel, you should probably use the dist version.

[2018-08-21 12:48] janusch commented on #210
@rwwagner90 Hey,
I tested a bit again. And in beta-16 all works as intended. beta-17 breaks the webpack create react app build, due to the module field in package.json pointing to the untranspiled src dir. If you add a module field in package.json it would be better to also point to `dist/js/shepherd.js`. That way it also works, but maybe then the field is redundant all together. I'll stick to the

[2018-08-21 12:49] rwwagner90 commented on #210
@janusch the point of shipping a module, as far as I know, is to ship the vanilla ES6 modules. All others would use the `dist` code, which I think is what you want here.

[2018-08-21 12:50] rwwagner90 commented on #210
Are you saying `import Shepherd from 'shepherd.js'` worked for you before? I thought it did not and that was the whole reason for opening this issue?

[2018-08-21 13:46] janusch commented on #210
yes, from the issue referred above I digged down to that the current create-react-app does use an older version of uglifyjs. Until they upgrade people using create-react-app cannot use libraries that refer in the module field to an ES6 build.

Thank you for the advice. This works perfectly now. Maybe the issue is resolved?

[2018-08-21 13:47] janusch commented on #210
it worked since beta-16 which was released after the issue appeared, though the commit fixing it was already in master ;)

[2018-08-21 15:09] rwwagner90 commented on #210
@janusch perhaps we should just remove the `module` from package.json then, since it worked before using the dist file as `main`.

[2018-08-22 08:29] janusch commented on #210
Yes, I think that would be the right thing to do for now.

[2018-08-22 11:43] #210 closed

[2018-08-22 11:44] rwwagner90 commented on #194
Since I haven't heard anything more for this, I am going to close.

[2018-08-22 11:44] #194 closed

[2018-08-27 21:05] rwwagner90 commented on #178
@cfsilence can you please try the latest beta version 2.0.0-beta.21 and see if this issue is resolved now?

[2018-08-27 21:07] rwwagner90 commented on #172
@jithureddy I am closing this, since there is a lack of response. Please try the latest beta version 2.0.0-beta.21 and see if this issue is resolved now. If not, feel free to open another issue!

[2018-08-27 21:07] #172 closed

[2018-08-27 21:09] rwwagner90 commented on #207
@rudzboy I think fetching a json file is outside of the responsibilities of this library. However, you can easily fetch json or js manually with fetch or ajax or whatever you'd like and use that for the steps. I'd be glad to help find a good solution with you, but I'm closing this issue, as we don't want to add fetching to this library.

[2018-08-27 21:09] #207 closed

[2018-08-29 01:17] greenkeeper[bot] opened #227 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-30 16:04] #227 closed

[2018-08-30 16:33] #133 closed

[2018-08-30 21:07] chuckcarpenter commented on #89
validated and PR: https://github.com/shipshapecode/shepherd/pull/233

[2018-08-30 21:13] chuckcarpenter commented on #93
closing this one, as it's fixed and tested in 2.0 https://github.com/shipshapecode/shepherd/blob/master/test/unit/test.tour.js#L131

[2018-08-30 21:13] #93 closed

[2018-08-31 10:09] smurfxx opened #235 "Check if a tour is started"
I'd like to know how to check the tour current status, because if I trigger it manually (for example with a click) and a tour is already running, the current steps are not hidden and the new tour starts.

Here is my code:
`let tour = new Shepherd.Tour({
			  defaults: {
			    classes: 'shepherd-theme-arrows'
			  }
		});
$('.startTour').live('click', function() {
			tour.start();
		});`

[2018-08-31 12:43] rwwagner90 commented on #235
@smurfxx you can check `Shepherd.activeTour` to get the active tour. If the intention is to restart the tour every time you click that button, you can also just do `tour.cancel()` before you call `tour.start()`

[2018-08-31 12:43] #235 closed

[2018-08-31 12:49] smurfxx commented on #235
If i just do `tour.cancel()` I can't start the tour because I get an error on shepherd.js at row 727 "Cannot read property 'steps' of undefined".
I tried also to test
`if (tour.activeTour) ...` but I can't understand what it returns and if it is correct as syntax.

[2018-08-31 12:50] rwwagner90 commented on #235
@smurfxx what version of Shepherd are you on?

[2018-08-31 13:09] smurfxx commented on #235
Now that you mention it to me I think I have a very old version because I have only one file "shepherd.js", new releases have also other files...
I try to update, thanks!

[2018-08-31 18:00] rwwagner90 commented on #235
Please try the latest beta

[2018-09-03 06:39] BrianSipple commented on #213
I just created an [`esdoc`](https://github.com/shipshapecode/shepherd/tree/esdoc) branch for us to push relevant commits against.

I think the first step would be having ESDoc pickup usage examples inside of a comment block and rendering it to code-fenced block. I'm going to see what I can do around that.

[2018-09-05 00:51] BrianSipple commented on #213
@rwwagner90 Regarding your comment:

I agree. And I'm thinking separation is the key here. We can have an "API Reference" section that's dedicated to the exhaustive, table-heavy, autogenerated docs created by ESDoc -- but then still have sections that are more... bespoke... more like what we already have within `docs/welcome`.

[The RXJS docs site](https://rxjs-dev.firebaseapp.com/) is a nice exam

[2018-09-05 19:26] rwwagner90 commented on #213
@BrianSipple I mentioned briefly in Slack, but ESDocs seems to serve the README.md, so I would think it would support serving various things. We could serve the current `docs/welcome` in one tab of the ESDocs site, and `index.md`, the current API docs, in another tab of the site, etc. I'm sure it supports dropping in these other things somehow.

[2018-09-06 15:42] alexdaube opened #238 "Build syntax errors and element.prepend function not supported (Internet Explorer)"
Hello,
Latest releases(post 2.0.0.beta-21) seem to have some build syntax errors which prevent the lib to loaded in **IE**. Also, once these errors are corrected and the lib has loaded, a call to ParentNode.prepend() in step.js make the opening of a step fail. I will include a PR for this 😄.

Cheers!

[2018-09-07 00:15] #238 closed

[2018-09-08 05:07] BrianSipple opened #240 "Change `tour.options.defaults` to `tour.options.stepOptions`"
It would also be useful to see if we can add a deprecation message for the original `tour.options.defaults` parameter -- rather than eliminating altogether.

[2018-09-08 05:46] BrianSipple opened #241 "Using `shepherd-theme-arrows` causes overlays to have potentially huge `max-width`"
I caught this issue on @2.0.0-beta.26.

When using the `default` or `dark` themes, `max-width is set to `24em`:

<img width="465" alt="default" src="https://user-images.githubusercontent.com/5483853/45250768-463b0100-b2ef-11e8-8d2b-ab23850ca342.png">

When I try to use the `arrows` theme, however, the `max-width` for `shepherd-element` is set to 100%:

<img width="1389" alt="screen shot 2018-09-07

[2018-09-08 13:45] rwwagner90 commented on #241
@BrianSipple I'm not sure where you are seeing this. The `max-width: 100%` is across the board in all dist files for me.

[2018-09-08 13:48] rwwagner90 commented on #240
Perhaps `defaultStepOptions`, `globalStepOptions`, etc? Not sure what is most clear here. Open to whatever. Is the idea just to have `step` in the param name, so people know the options are to be merged with the step options, not options for the tour itself?

[2018-09-08 21:41] BrianSipple commented on #241
@rwwagner90 It's initially set to 100% in all of my dist files -- but then, for `default`, `dark`, and `square`, there's that second block (the one I showed above) which gets built in to the files later on.

[2018-09-08 23:15] rwwagner90 commented on #241
@BrianSipple I'm looking at the dist files now, and there is only one `max-width` in each file.

[2018-09-09 04:58] BrianSipple opened #243 "Hide buttons if none are passed to `Step.options.buttons`"
Currently, someone can only hide buttons by passing `false` to `Step.options.buttons`.

After more discussion about this, we decided that it would make for a much clearer interface if buttons were _always_ hidden unless a non-empty array (each item being a set of button options) was passed.

cc @rwwagner90 @chuckcarpenter

[2018-09-12 10:33] #240 closed

[2018-09-18 08:27] TianSc opened #248 "Sperate JS Directive containing steps for Shepherd.JS"
For a clean coding experience is it possible to create a separate js directive containing all the steps for the tour?

For instance my thoughts are:

Declaring the script's in the index.html
[code]

Then declare in the app.js
[code]

Afterwards create a directive for the tour
[code]

[2018-09-18 12:50] rwwagner90 commented on #248
@TianSc I'm not sure I understand the question. I haven't used Angular in years, so I'm not really sure. You can do anything you want, as long as you add the steps to the tour and start it. Feel free to use directives.

[2018-09-19 02:43] chuckcarpenter opened #249 "Remove or restore hide method on Tour instance"
The docs say that you can call `hide()` on the tour to hide the current step, but that method is only on the step itself, so with `Shepherd.activeTour.getCurrentStep().hide()` does work.

https://shipshapecode.github.io/shepherd/#tour-methods

[2018-09-19 07:49] TianSc commented on #248
@rwwagner90 Thank you for the response, I'm trying to not have any of the JS Scripts in the HTML body instead have it in it's own JS file for instance all the JS Code and Steps in the tour.js file which is then created as a directive to be used above or injected into other html classes where elements are present.

[2018-09-19 10:28] TianSc opened #250 "popper-arrow + Circle Highlighting selected element"
How can we show the popper-arrow for the container and show a high lighted circle making the background lighter around the attachTo or selected item class?

The Script with Steps
[code]

The CSS
[code]

[2018-09-19 11:39] TianSc commented on #135
@rwwagner90

Hi Robert, I have been on the latest build of Shepherd and fin that the issue still persists, is there any alernative solutions or help getting that arrow back?

[2018-09-19 13:26] rwwagner90 commented on #248
@TianSc oh you mean you just want to import things in the JS instead? You can do `import Shepherd from 'shepherd.js';` etc if you are using webpack. Whatever methods you are using to import your JS elsewhere should work with Shepherd too.

[2018-09-20 08:13] TianSc commented on #250
@rwwagner90 I believe so, For instance I managed to sort out the Arrow with the below snippet added to the step's

**Add Arrow to modal**
[code]

The Highlighted element I am referring to would be to show the `attachTo` element highlighted or reflecting above the windows overlay added in with CSS like this

[code]

[2018-09-20 08:16] TianSc commented on #248
@rwwagner90 Aah Excellent, I did that however what I am trying to do is create a directive with the steps inside of the directive and have it called to the HTML file via a script.

[2018-09-20 09:06] TianSc commented on #250
I have attached two .png's as an example to easier demonstrate what I am trying to say. Maybe that helps :-D Thanks very much in advance.

currentView.png (The current View of the Shepherd modal and the atachTo Burger menu)
futureView.png (The View that I am trying to get to highlight the burger menu (attachTo class element))
![futureview](https://user-images.githubusercontent.com/35223847/4580804

[2018-09-20 10:15] rwwagner90 commented on #17
@TianSc that won't work for nested elements. We're working on a modal implementation that should be out soon.

[2018-09-20 10:17] rwwagner90 commented on #248
@TianSc I still don't understand. Feel free to use directives if you want. I don't use Angular, so I can't really help with how to use directives. The directive code you posted should work, as it's just the JS for setting up the tour.

[2018-09-20 10:18] rwwagner90 commented on #250
@TianSc yeah, this is just modal. We'll have this here soon 👍

[2018-09-20 10:18] #250 closed

[2018-09-20 12:40] TianSc commented on #250
Awesome Thank you, I will keep an eye out for that feature to come in :-D

[2018-09-20 12:44] TianSc opened #251 "Continue Steps to new HTML file on Single Page Site"
How can I get it to continue the tour from the last step on index.html to menu.html new step on a single page website where there is no hard reload?

[code]

[2018-09-20 12:45] TianSc commented on #248
Awesome thank you @rwwagner90 , Once I have created a complete AngularJS Directive for Shepherd, I will post here again 👍

[2018-09-20 12:45] #248 closed

[2018-09-21 16:39] rwwagner90 commented on #251
Doing steps across routes you mean? You need to use something like `beforeShowPromise` to wait for the route transition, then resolve the promise to show the step.

[2018-09-22 12:24] jaffadog opened #252 "Cancel tour when user does something other than the advanceOn action?"
I am using Shepherd to create a guided tutorial - where the user has to actually interact with my app and click things in the app UI (not the Shepherd popup) to get the tour to advance. I am looking for an elegant way to terminate the tour if the user chooses to deviate from the script, and do something in the app other than what the Shepherd popup suggests. Any ideas?

[2018-09-22 14:01] rwwagner90 commented on #252
Hi @jaffadog, good question. The first thing that comes to mind is having a global click handler on the `body` or something that will cancel the tour. You could use `confirmCancel` to warn them the tour will be cancelled even. You could check in this global click handler that the element you clicked is not the `target` of `Shepherd.activeTour.getCurrentStep()`. Does this make sense and sound like

[2018-09-22 14:05] rwwagner90 commented on #198
@gorner any updates on the sort of accessibility things you are looking for?

@BrianSipple @chuckcarpenter do you guys have any ideas?

[2018-09-22 14:06] rwwagner90 commented on #178
Closing due to lack of response.

[2018-09-22 14:06] #178 closed

[2018-09-22 20:58] BrianSipple commented on #27
I'm not necessarily saying I oppose this, but modern ECMAScript has since made the kind of brevity that the OP was looking for a bit more straightforward:

[code]

[2018-09-23 01:43] rwwagner90 commented on #27
@BrianSipple this is true. Closing in favor of just doing things like that.

[2018-09-23 01:43] #27 closed

[2018-09-23 19:00] gorner commented on #198
@rwwagner90 Thanks for the reminder 🙂

We've had a few suggestions from our a11y SMEs recently – to be clear, our discussions are still ongoing and my time to play around with this myself has been limited. A brief summary of what where we've gotten thus far:
* We should be able to set an [ARIA role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques) on the main parent

[2018-09-25 12:49] TianSc commented on #45
Is it possible to call the Shepherd onClick method from another JS file,
Something along these lines

[code]

[2018-09-25 12:54] rwwagner90 commented on #45
@TianSc I don't know what you mean. Typically `Shepherd` is a global, depending on how you have implemented it. If you have `Shepherd` you can always do `Shepherd.activeTour` to get the active tour instance. If there is no active tour, you need a reference to the tour. This is not a Shepherd concern, but a JS one. If you pass the tour instance to your other file, feel free to use it.

[2018-09-25 13:01] TianSc commented on #45
@rwwagner90
Hi Robert,

I created a sepperate .js file containg all the steps, However if I use those JS Steps in an HTML file <script /> then the button works perfectly when calling, innitiating the tour, however if it is not in the HTML file then there is no reference to start the step.

I was wondering what elements would have to be called to start the tour.
for instance
`Shepherd.tour.start()`

[2018-09-25 16:46] rwwagner90 commented on #45
@TianSc I'm still not following. Why would you be using the steps in an HTML file? The docs are very good at telling you how to start tours. `Shepherd.activeTour` is how you get the active tour. If you don't have an active tour, you need a reference to the tour you want to start. You should create the tour, then pass a reference to the tour into whatever you want to start it in.

[2018-09-26 09:42] TianSc commented on #45
starting a tour from another class would this work?
[code]

I don't see documentation related to starting a tour from within a function.

[2018-09-26 12:51] rwwagner90 commented on #45
@TianSc whether it's in a function or not is irrelevant. Don't think about it as something Shepherd specific, it's just JS. You need to pass a reference to the tour to wherever you want to start it. I'm guessing there is no active tour, since you're trying to start it, so pass the tour to your function and call `tour.start()`.

[2018-09-26 13:21] TianSc commented on #127
Has Anyone come right in succesfully wrapping the Shepherd.JS Tour Steps script in a Directive?

I am trying to get the script wrapped in an angularJS directive which contains all the steps  and functions

[2018-09-26 13:46] TianSc commented on #127
I have done this so far however it does not seem to work

[code]

[2018-09-26 14:51] rwwagner90 commented on #127
We should probably write an Angular wrapper for Shepherd, as it seems people are having some trouble here.

[2018-09-26 20:17] TianSc commented on #127
That would be amazing, if I manage to get it right I will post it here for you to add to your repo. :-) for angular users

[2018-09-28 06:06] TianSc opened #254 "Functions and links within modal to another tour"
Good day,

1. How does one have a single modal with text links to start various other tours?

2. How to run a function when a modal appears, i.e. a button that is hidden should be revealed when a tor step becomes active.

[2018-09-28 16:06] BrianSipple opened #255 "Integrate Tippy for step modal creation"
https://atomiks.github.io/tippyjs/

[2018-09-28 18:20] rwwagner90 commented on #254
@TianSc the docs are very clear on this. Can you please read through them? Buttons can do whatever logic you want, just use `action`.

To do things when a step is shown, use events, and do `on('show'` etc.

[2018-09-28 18:20] #254 closed

[2018-09-30 18:03] bbernhard opened #258 "Add minified js + css to release package"
Hi,

could you maybe add a `dist` folder, containing the built js + css (+minified version) files, to the release package? I think that could be quite useful for a lot of people.

I've to admit, that I almost dropped `shepherd`, because I had to install npm to compile the sources first ;-)

Many thanks for the great library!

[2018-09-30 21:04] bbernhard commented on #258
yeah, right. I am using a golang application to serve my webpages, so there was not really a need for me to install npm. :)

[2018-10-01 07:27] TianSc commented on #254
@rwwagner90 I looked at the documentation however I am not able to fully understand the use of the action function.

Do you perhaps have an example of how it can be implemented?

`action: A function executed when the button is clicked on`

[2018-10-01 09:39] TianSc commented on #254
For Istance if I already have the below:

[code]
How do I add a JS Function to the action something along the line of

[code]

[2018-10-01 12:45] rwwagner90 commented on #254
@TianSc just pass it a function. `action` should be a function, as the docs state. `tour.next` is indeed a function. If you want another function, simply provide it with a function.

[code]

[2018-10-01 19:10] gorner commented on #198
One other a11y item - the option to close the tour when clicking outside the tour area or pressing the Esc key (as suggested in #141) would also be helpful for us, though as noted in that issue, those parts at least are feasible to implement on a per-app basis.

[2018-10-02 08:53] tedbeer opened #259 "Not all of popper.js placement values are supported"
From the source code I see extracting _top|left|right|bottom|center_ values from the _attachTo_ option.
According to the **popper.js** API the _placement_ option may have the following values:
- auto
- top
- bottom
- left
and each value can have a variation: _-start_ or _-end_

Issues:
1. the _center_ value is not supported by **popper.js**
2. the _auto_ value is not supported by **shepherd.js**
3

[2018-10-02 16:18] rwwagner90 commented on #259
@tedbeer good catch! We should probably rewrite the `parsePosition` function a bit, and be able to support this. Would you be interested in submitting a PR for that?

[2018-10-08 17:38] BrianSipple commented on #259
Closed by #260

[2018-10-08 17:38] #259 closed

[2018-10-08 17:49] BrianSipple opened #263 "Bundle minified Tippy code with distribution"
After merging #261, we should be able to update the build configuration and just bundle the minified `tippy` script with our own distributed file.

A few benefits:

- Simplifying usage for users
- Closing #258
- Allowing us to know which versions of `shepherd` support which versions of Tippy

[2018-10-08 19:16] rwwagner90 commented on #263
@BrianSipple that would not close #258. That person wanted `shepherd.js` etc listed as files on the `releases` in GitHub, so they could just quickly download them. We should decide on that separately.

[2018-10-08 19:19] #255 closed

[2018-10-08 19:35] rwwagner90 commented on #198
@BrianSipple do we get some of this for free with the conversion to tippy?

[2018-10-09 02:08] BrianSipple commented on #198
@rwwagner90 Tippy has a minor perk where it [adds `tabindex=0` to the target element](https://atomiks.github.io/tippyjs/#a11-y-option), but that's it. I think the list @gorner provided is worth going through to see what we can address. I'm open as to whether or not we want to target that as part of the 2.0 release, or 2.x or 3.0.

[2018-10-09 02:50] rwwagner90 commented on #198
@BrianSipple I think we can do it in 2.x or 3.0. It should be all additional stuff, hopefully nothing breaking.

[2018-10-10 02:48] #249 closed

[2018-10-10 02:59] greenkeeper[bot] opened #266 "An in-range update of tippy.js is breaking the build 🚨"
## The dependency [tippy.js](https://github.com/atomiks/tippyjs) was updated from `3.0.4` to `3.0.5`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Ftippy.js-3.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tippy.js is a direct dependency of this proje

[2018-10-10 04:09] chuckcarpenter opened #267 "[Bug] - remove old Popper arrows"
Tippy uses some different defaults for arrows that requires some changes in this repo to make it move and work like before.

[2018-10-11 12:13] #263 closed

[2018-10-11 15:04] #266 closed

[2018-10-11 19:28] hajimurtaza commented on #127
Sir it would be great. Please build it for angular>2. I have been looking at lot of libraries but none are available as angular service or wrapper.

[2018-10-11 20:33] NerditLtd commented on #127
@hajimurtaza I have already created an angularJS action wrapper to control and contain the ShepherdJS Code, I have submitted a sample to the authors (@rwwagner90)  via direct email, for them to include in theie documentation

[2018-10-11 20:34] TianSc commented on #127
@hajimurtaza I have already created an angularJS action wrapper to control and contain the ShepherdJS Code, I have submitted a sample to the authors (@rwwagner90)  via direct email, for them to include in theie documentation

[2018-10-11 21:51] hajimurtaza commented on #127
Sir I meant angular 2+ versions. Its really difficult to convert a angularJS directive for use in Angular 5. If you could design it as a service or something like that it would be great.

[2018-10-12 01:03] rwwagner90 commented on #127
@hajimurtaza I don't know much Angular, regardless of version, but we will eventually release a wrapper for Shepherd for all the frameworks, it's just going to be awhile.

[2018-10-12 16:02] hajimurtaza commented on #127
Thank you sir. I have also looked at intro.js, driver.js no one seems to have a wrapper for angular +2. I am still learning angular, if i am able to implement your api in my angular app. Ill let u know
Also if anyone have any tips how to go about it... im all ears.
Regards

[2018-10-12 16:04] rwwagner90 commented on #127
@hajimurtaza Angular is just JavaScript, you can use it just like you would in any JS app. A wrapper is nice, but not required for any framework.

[2018-10-12 16:11] hajimurtaza commented on #127
Yes sir , i used it but the problem is regardless of which component i call the steps in , the popups get added to index.html
I tried using the steps within NgAfterInit() method , same result.
I am still a rookie in angular so this might be some basic issue, would be better if there was some implemetation , it would help me debug.
Thank you for your responses.

[2018-10-12 16:14] rwwagner90 commented on #127
@hajimurtaza I'm not sure I understand. Angular apps are single page applications, so they should just have the one index.html. You would just want to setup and use the tour in your component and target the selectors of the DOM you want to attach to.

[2018-10-12 18:51] #243 closed

[2018-10-12 18:52] #251 closed

[2018-10-13 01:00] BrianSipple opened #273 "Use data attributes for element selection in demo/tests"
This will make our testing much less brittle — and set a good example for users of Shepherd.

(Cy, among many sources, [knows what's up](https://docs.cypress.io/guides/references/best-practices.html#Selecting-Elements)).

[2018-10-13 01:10] BrianSipple opened #274 "Break cypress tests into modular files"
Rather than having a single, monolithic `test.acceptance.js` file, I think that it will greatly help us test all the core functionalities in Shepherd by organizing tests into modular files.

Aside from being a part of [part of Cypress's best practices](https://docs.cypress.io/guides/references/best-practices.html#Organizing-Tests-Logging-In-Controlling-State), I'm beginning to run in to trouble wi

[2018-10-13 11:52] rwwagner90 commented on #274
@BrianSipple

This is a fundamentally different problem. We need to fix the `watch` functionality to rebuild everything. Right now just test code is rebuilt, not the Shepherd code IIRC.

We have modular unit tests, which is where the bulk of tests should go. The acceptance tests are meant to only test stuff that is hard to test via mocha and headless Chrome.

If we could figure out `watch` working

[2018-10-13 11:53] rwwagner90 commented on #273
This would be great! I'm used to using them in Ember via ember-test-selectors. Is there a package that is not Ember specific that will strip them out of production builds for us?

[2018-10-13 15:33] rwwagner90 commented on #258
@bbernhard we are now copying all dist files to the releases, hopefully this is helpful! https://github.com/shipshapecode/shepherd/releases/tag/v2.0.0-beta.32

[2018-10-13 15:33] #258 closed

[2018-10-13 15:43] bbernhard commented on #258
Definitely!

Thanks a lot, very much appreciated!

[2018-10-13 18:42] BrianSipple commented on #274
I agree that that's an issue, but I wasn't concerned about whether or not the tests auto-reload. (Sorry if that wasn't clear 😄.)

I'm just referring to the ability to run a single test in isolation. Cypress only runs them by file, so the more we add to `test.acceptance.js`, the more it costs to debug a single test.

Furthermore, more tests in the same file will increase the risk of unintended side

[2018-10-13 19:20] BrianSipple commented on #274
@rwwagner90 I have a branch in progress [here](https://github.com/shipshapecode/shepherd/compare/fix-target-highlighting-on-repeated-steps#diff-32f252f1cf27943c6b556b646b8c7b91) where I'm playing around with this approach

[2018-10-13 20:16] rwwagner90 commented on #274
@BrianSipple yes, I agree splitting them up is fine.

TL;DR let's use unit tests with mocha and headless Chrome for all tests, except where a Cypress test is absolutely necessary, though.

The unit tests are already modular and broken up, and have less overhead, since it's all headless and the `watch` I think *might* work for them? I cannot remember.

Cypress is meant to only be there for things t

[2018-10-13 20:19] rwwagner90 commented on #152
@BrianSipple @chuckcarpenter what do you guys think about this feature request? I think it's basically asking if we can do a function for `attachTo` for dynamic behavior in which you would not know the selector ahead of time for some reason. I am inclined to close this, and not support this functionality, and just have users ensure the elements exist before calling `show`. Thoughts?

[2018-10-17 01:03] BrianSipple opened #277 "Exit animations don't play before step tooltip disappears."
I'm thinking this might be because we have some logic around setting the actual tooltip element to `hidden` mixed in with calling `tippy.hide()`.

I'm looking into it a bit further, though -- just making the issue now to track it.

[2018-10-17 01:06] BrianSipple commented on #273
@rwwagner90 I think this would just apply to the demo app and test dummy app. Aren't we already keeping _all_ of that code out of the production build?

[2018-10-17 02:15] BrianSipple opened #278 "Document Tour.removeStep"
We should probably be documenting `Tour.removeStep` to go alongside `addStep`.

[2018-10-17 12:04] rwwagner90 commented on #273
@BrianSipple yeah, good point. That works then 👍

[2018-10-17 12:06] rwwagner90 commented on #277
@BrianSipple perhaps we don't need the manual hidden setting stuff now that we are using tippy?

[2018-10-17 19:02] greenkeeper[bot] opened #280 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.20.2` to `4.21.0`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Fwebpack-4.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this projec

[2018-10-19 12:17] #277 closed

[2018-10-21 19:02] #280 closed

[2018-10-21 20:45] BrianSipple commented on #131
I think the clearest design would be to have two attributes -- say, `attachTarget` and `placement`.

We separate the concerns of targeting and placement, and it's a clarity win-win for users and our code.

... but yeah, if we go that route, I can definitely see it being a 3.0 change.

[2018-10-22 23:44] rwwagner90 commented on #131
I like them being colocated, but we could enforce only one format.

[2018-10-23 01:38] BrianSipple commented on #131
In that case, I think an object is the better choice. It's declarative and unambiguous for both sides.

[2018-10-23 11:04] greenkeeper[bot] opened #283 "An in-range update of start-server-and-test is breaking the build 🚨"
## The devDependency [start-server-and-test](https://github.com/bahmutov/start-server-and-test) was updated from `1.7.4` to `1.7.5`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Fstart-server-and-test-1.7.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

s

[2018-10-23 20:45] BrianSipple opened #284 "Add data attribute to the body for the currently active tour name"
Following up on the [discussion here](https://github.com/shipshapecode/shepherd/pull/282#discussion_r226880019)

[2018-10-25 22:33] BrianSipple commented on #284
@rwwagner90 @chuckcarpenter Since tours currently don't have a `name` or `id` property, I'm curious about your thoughts regarding how exactly we could design this.

One approach would be to allow for a `name` option to be passed to the `Tour` constructor, and then have the constructor set it as an instance property. If `name` isn't passed, Shepherd could generate a unique identifier for the `Tour`

[2018-10-29 15:23] #278 closed

[2018-10-29 16:13] rwwagner90 commented on #284
@BrianSipple I believe that is how `id` was *supposed* to work, but as Chuck noticed, it was always undefined. Perhaps we were not passing the right params to get it set, but I think your approach sounds good.

[2018-11-05 13:52] #283 closed

[2018-11-12 17:24] Spiegelberg opened #293 "no animation"
i cant get the animation to work.
i havent added tippy.js, cuz i added shepherd thru npm.

i can see at your demo, your steps has this data attribute: data-animation="fade"
i dont have that, even thru animation is on at default

[2018-11-12 22:10] rwwagner90 commented on #293
@Spiegelberg can you provide a reproduction?

@BrianSipple animations should just work right?

[2018-11-13 06:11] BrianSipple commented on #293
I'd definitely be interested in seeing a reproduction of this. Tippy should be included as part of [Shepherd's dependencies](https://github.com/shipshapecode/shepherd/blob/b5944a8631efd047698656b2abd4416066db929e/package.json#L53), and Shepherd sets a few [Tippy defaults](https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/tooltip-defaults.js) out of the box that should be noticeabl

[2018-11-13 07:46] Spiegelberg commented on #293
`
import Shepherd from 'shepherd.js'
require('shepherd.js/dist/css/shepherd-theme-default.css')
`
`
      const tour = new Shepherd.Tour({
        defaultStepOptions: {
          scrollTo: true,
          advanceOn: '.shepherd-active click'
        }
      })
      tour.addStep('example1', {
        title: 'Shepherd Velkommen',
        text: 'Her ser du din velkomst, med en lille tekst der forklar

[2018-11-13 07:53] Spiegelberg commented on #293
and yes, tippy should have fade as default animation.
but it just aint happening

[2018-11-13 07:55] Spiegelberg commented on #293
shepherd.js package.json
has no tippy!
[code]

[2018-11-13 08:02] Spiegelberg commented on #293
i just manually updated shepherd.js to 2.0.0beta35 from hardcoding it to package.json, and rerun npm install. its working now. strange that i dont get the latest version on an install tho

[2018-11-14 00:04] BrianSipple commented on #293
@rwwagner90 It looks like this happened because our "latest" tags correspond to `2.0.0-beta.18`, while each new `beta` appears to be tagged with `next`: https://www.npmjs.com/package/shepherd.js.

Is this intentional?

[2018-11-15 01:33] rwwagner90 commented on #293
@BrianSipple it is intentional that `next` is for betas. The latest being set to a beta is not. npm won't let you set it back to an old version though, so we're stuck.

[2018-11-15 01:33] #293 closed

[2018-11-23 14:24] MarkusBordihn opened #296 "Status of "renderLocation" ?"
I currently trying to switch to the new Shepherd version and it turn's out that the former "renderLocation" is no longer part of the documentation and not working correctly.

Furthermore could the `<a href="...">` for the close button replaced by some `<button>`, `<span>` or `<div>` element. The `<a href="...">` will not work correctly if Shepherd is used in Sandbox environments like webview or Ch

[2018-11-26 13:49] rwwagner90 commented on #296
@MarkusBordihn yes, we removed that in option in favor of using the built in option for Tippy. Please see `Rendering Tours in Specific Locations` in the Shepherd documentation.

[2018-11-29 23:26] MarkusBordihn commented on #296
@rwwagner90 Thanks for the confirmations. Could you please update the npm package of shepherd.js because it seems that the currently available options is not including the Tippy integration.

[2018-11-30 13:06] rwwagner90 commented on #296
@MarkusBordihn please install 2.0.0-beta.35. We'll hopefully have 2.0 out soon.

[2018-11-30 13:06] #296 closed

[2018-12-04 09:58] greenkeeper[bot] opened #297 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.26.1` to `4.27.0`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Fwebpack-4.27.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this projec

[2018-12-04 10:12] greenkeeper[bot] opened #298 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.4.0` to `9.4.1`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Fautoprefixer-9.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDependen

[2018-12-05 14:43] #297 closed

[2018-12-05 14:43] #298 closed

[2018-12-06 15:13] #273 closed

[2018-12-10 15:01] supertorpe commented on #127
Just my 2cents to get it working with Angular 7:

- **angular.json**:
"scripts": [
              "node_modules/popper.js/dist/popper.min.js",
              "node_modules/shepherd.js/dist/js/shepherd.min.js"
            ]
- **styles.scss**:
@import "~shepherd.js/dist/css/shepherd-theme-dark.css";

- **example.component.ts**:
import * as Shepherd from 'shepherd.js';
...
  ngAfterViewInit(): void {

[2018-12-10 15:35] rwwagner90 commented on #127
@supertorpe you'll want to use the latest beta. We use tippy now, instead of popper directly. Hoping to get a real 2.0 out soon.

[2018-12-13 17:46] anishpateluk commented on #210
This isn't working for me with webpack 4 and shepherd.js beta-18

[2018-12-13 21:45] rwwagner90 commented on #210
@anishpateluk the latest version is `2.0.0-beta.35`. Please use that and let us know if there are issues.

[2018-12-20 15:14] anishpateluk commented on #210
@rwwagner90 same issue with beta.35

[2018-12-21 21:34] rwwagner90 commented on #210
@anishpateluk in beta 17 we were shipping `module`, not just `main` in package.json. I'm not sure if maybe we should ship both again or what to do here.

[2019-01-02 08:21] elselin opened #304 "[Suggestion] Add transition effects when the mask moving"
I love shepherd and thanks for it. Suggest it will be nice if can have some transition effects when the mask moving... on this rectangle.
<rect id="shepherdModalMaskOpening"></rect>

something like this, or configurable

#shepherdModalMaskOpening{
        transition: all .3s ease;
}

[2019-01-03 00:06] BrianSipple commented on #304
Thank you for the suggestion, @elselin. I'd be curious to experiment with a few style settings to see how this might work.

The mask opening "moves" by recalculating some of its SVG coordinates, so CSS might be able to achieve something there. Another question is whether or not this would be a configuration -- part of the API -- or something we add a few examples for in the documentation.

[2019-01-03 01:49] elselin commented on #304
@BrianSipple Some example might be cool, for further flexible CSS control.

[2019-01-04 17:13] McOlsa opened #306 "Reference error when trying to load with require.js"
Hi all, shouldn't it be possible to load Shepherd with require.js? Shepherd seems to be a module but I get the following error:

<pre>
Uncaught ReferenceError: Shepherd is not defined
    at initShepherdTour (main.js:49)
    at main.js:43
    at Object.execCb (require.js:8)
    at b.check (require.js:8)
    at b.<anonymous> (require.js:8)
    at require.js:8
    at require.js:8
    at each (requir

[2019-01-04 17:52] rwwagner90 commented on #306
Hi @McOlsa, I don't think you need to require tippy. Tippy should be bundled with Shepherd, I think.

[2019-01-07 08:59] McOlsa commented on #306
Thanks @rwwagner90, but tippy was not the problem. It even works when tippy is not loaded. Maybe it's already bundled?

My problem in the end was that I forgot to transfer the Shepherd object to the initShepherdTour-function.

<pre>
require(["tippy","shepherdTour"], function (tippy, Shepherd) {
	"use strict";
	console.log("Tippy and Shepherd Tour loaded");

	initShepherdTour(Shepherd);
});

initSh

[2019-01-07 14:16] rwwagner90 commented on #306
So everything is working now?

[2019-01-08 07:49] McOlsa commented on #306
Yes, all seems to be okay :) Thanks!

Robert Wagner <notifications@github.com> schrieb am Mo., 7. Jan. 2019,
15:16:

--

Oliver Saar
Am Isarkanal 24
81379 München

Mobil: 0175 - 41 353 42

[2019-01-08 14:15] #306 closed

[2019-01-08 16:25] McOlsa opened #310 "Not able to CSS with CSSlint"
Hi, first of all some positive: I really like this plugin and what I'm able to do with it. My compliments! :-)

I want to use it in our project and I get some errors from our css parser cssLint:

<pre>
    [apply] shepherd-theme-default.css
    [apply] 4: error at line 104, col 7
    [apply] Property with star prefix found.
    [apply]       *zoom: 1;
    [apply]
    [apply] shepherd-theme-default

[2019-01-09 09:16] McOlsa commented on #310
Yes, you're probably right, but it's not easy. Maybe we need another structure, because we are combining all nececcary css files into one - and this file is linted.

[2019-01-09 12:41] rwwagner90 commented on #310
@McOlsa you'll want to setup linting for your files only, not on the combined file. You should be able to run it on your directory, rather than the combined output.

[2019-01-09 12:41] #310 closed

[2019-01-14 14:17] rwwagner90 opened #314 "Fix demo app arrows to be title color"
When we have a title to the tooltip, we should match the arrow color to the title background color.

[2019-01-14 18:59] rwwagner90 opened #316 "Mask can be the wrong size if fonts/styles are not applied yet"
We need to use a font loader and/or wait a certain amount of time before we calculate the size.

I did this in ember-x-editable here https://github.com/shipshapecode/ember-x-editable/blob/master/addon/components/x-base/component.js#L51-L60

[2019-01-15 11:05] rswheeldon opened #319 "Scrolling to an element causes modal overlay to appear in wrong place"
If I set up a tour with the following

[code]

And have a step in the tour which requires scrolling, then the window scrolls so the element is visible but puts the mask in the place which would have covered the element in its previous position.

[2019-01-15 11:47] rswheeldon opened #320 "Toggling developer tools breaks modal mask"
Open a tour (e.g. visit https://shipshapecode.github.io/shepherd/docs/welcome/). Most of the page will be greyed out with just the desired element shown clearly. This is correct.

Press F12 to open Dev tools ( I tested this in Chrome ). Then press F12 again to close them. Now the mask only applies to the section of the page which was visible when the tools where open.

[2019-01-15 12:46] rwwagner90 commented on #320
I believe if you resize the window it fixes itself, right?

[2019-01-15 12:47] rswheeldon commented on #320
Yes. That's right.

[2019-01-15 12:48] rwwagner90 commented on #319
Can you provide a reproduction of this? I've used `scrollTo` and seen the correct behavior.

[2019-01-15 13:34] rwwagner90 commented on #319
@rswheeldon that makes sense, as our scroll listener is on the window, so scrolling other elements probably would not fire it.

[2019-01-15 13:36] rwwagner90 commented on #319
@chuckcarpenter @BrianSipple how should we handle this? We probably do not want to add scroll listeners to every element on the page right?

[2019-01-15 15:01] chuckcarpenter commented on #319
maybe see what element triggered the listener? Only reacting on `window` itself?

[2019-01-15 23:55] #320 closed

[2019-01-16 14:14] jinhucheung opened #323 "Object.assign polyfill"
Hello Shepherd,

Thanks for your AMAZING github Project. I posted a [project](https://github.com/jinhucheung/shepherdjs_rails) that it wraps the Shepherd v2.1.0 for [ruby on rails](https://github.com/rails/rails).

I noticed that call `Object.assign` without Babel polyfill, such as [shepherd.js#L10](https://github.com/shipshapecode/shepherd/blob/3b35be5ec084cc83f562062fc2cd3bfd0f1565a6/src/js/shep

[2019-01-16 14:41] rwwagner90 commented on #323
@jinhucheung what files are you using? The files are run through babel and outputted to `dist`.

[2019-01-16 15:05] jinhucheung commented on #323
@rwwagner90 I using js and css files form dist. They are in the [assets](https://github.com/jinhucheung/shepherdjs_rails/blob/master/vendor/assets)

[2019-01-16 17:13] rwwagner90 commented on #323
@jinhucheung I suppose we do need to ensure IE compatibility. We have it in our browserslist, but I suppose we need to do more.

[2019-01-16 17:38] rwwagner90 commented on #323
@jinhucheung to the best of your knowledge is `Object.assign` the only unsupported thing we have in our dist? If so, I think I have a fix and I opened a PR for it.

[2019-01-16 20:01] #319 closed

[2019-01-17 02:41] rwwagner90 commented on #323
@jinhucheung I released 2.3.2, which should included the fix. Please give it a try!

[2019-01-20 18:24] #252 closed, assigned to nobody

[2019-02-04 06:23] yaxinr opened #328 "Links in modal mode"
Links in modal mode do not work
[code]
this is visible in modal demo
https://shipshapecode.github.io/ember-shepherd/

[2019-02-04 21:45] Vandivier opened #329 "Windows 7, Git Bash, 3 Test Failures"
On a clean clone of /master, rev 9592392, I see 3 tests failing.

Steps to repro:
 * Windows 7 machine, install git and use git bash as cli.
 * Clone /master, rev 9592392
 * `npm install -g yarn` #v1.13.0
 * `npm run test`

Result img 1:
![image](https://user-images.githubusercontent.com/5559355/52239281-15f68f00-289c-11e9-9008-b199053f1d5a.png)

Result img 2:
![image](https://user-images.githubus

[2019-02-05 00:39] Vandivier commented on #329
No worries on my end, just wanted to log it for awareness. Feel free to close or leave open as you see fit.

[2019-02-05 01:34] #329 closed

[2019-02-06 14:34] rwwagner90 commented on #127
For anyone who is following this issue, we released an Angular wrapper for Shepherd finally! I'm unsure of the version support, but it should at least support Angular 6 and 7, if not more. Please try it out! https://github.com/shipshapecode/angular-shepherd

[2019-02-09 00:54] rwwagner90 opened #331 "React wrapper"

[2019-02-09 00:54] rwwagner90 opened #332 "Angular wrapper"

[2019-02-09 00:55] rwwagner90 opened #333 "Vue wrapper"

[2019-02-11 02:20] #328 closed

[2019-02-13 20:30] #332 closed

[2019-02-19 12:10] ricardograca commented on #103
It seems there's a `svg` element with id `shepherdModalOverlayContainer` built-in now, so you can just pass the `useModalOverlay` option when creating a new Tour instance to enable this functionality:

[code]

[2019-02-19 19:13] knoobie commented on #198
Do you have any news about this feature? If you have a working draft, I would love to let our sightless user test it and get you some feedback if that helps.

[2019-02-19 19:22] rwwagner90 commented on #198
@knoobie I'm not really sure of what things to do here, but would love to work with you to determine a list of tasks we should implement!

[2019-02-19 19:40] knoobie commented on #198
@rwwagner90 Awesome! Gonna ask my management tomorrow.

I'm going to send you a follow up e-mail to your gmail (linked in your GitHub profile) in the next days. Thanks for your quick response!

[2019-03-02 15:39] avianion opened #339 "Shepherd Doesn't Work Good On Mobile"
Without allowing scroll, or anything like this, it becomes super difficult for mobile users to use this app.

It should be at least allowed (or some way) to scroll down on mobile so they can see what the damn notification is pointing at

[2019-03-02 16:40] rwwagner90 commented on #339
I don't think we are disabling scroll here. Can you please provide a reproduction?

[2019-03-02 17:49] avianion commented on #339
Go on your demo page on mobile. You cannot scroll down. Or at least on my phone you can't intertia scroll if you know what I mean.

[2019-03-04 05:04] chuckcarpenter commented on #339
@avianion I believe the issue on the example site and perhaps your application is a missing default option of `scrollTo: true`. Have you tried that?

[2019-03-12 06:08] yugal-dream11 opened #342 "'ReferenceError: Element is not defined' on SSR"
Hi guys, Thank you for the lean lib. I am using shepherd in a typescript project built with webpack which supports SSR as well.
So while running on node I am getting this error
[code]
What i can see here is while running on node all DOM related apis will fail. Any pointers towards ways to resolve this ?

Versions -
`shepherd.js` - @2.4.0
`node` - @9.0.0
`webpack` - @4.28.2

Feel free to let me kno

[2019-03-12 13:13] rwwagner90 commented on #342
@yugal-dream11 what are you using for SSR? I would recommend only running Shepherd client side.

[2019-03-18 14:33] slimux opened #343 "Timeout during the advanceOn action"
Hello
I need to specify a timeout before the next step is rendered. This is needed in my work since i have element that pop up and i need a time out before they are highlighted. I have tried using a JavaScript timeout function and i have tried this but it didn't work out for me

    tour.addStep('example-step', {
            title: 'Welcome!',
            attachTo: '.step1 left',
             butt

[2019-03-18 15:55] rwwagner90 commented on #343
@slimux can you use `beforeShowPromise` for this?

[2019-03-18 20:18] slimux commented on #343
How can I implement timeout with beforeShowPromise.
It's really not clear for me.

[2019-03-18 22:52] rwwagner90 commented on #343
@slimux `beforeShowPromise` is for running code before `show` is called. If you return a promise from it, it will wait for the promise to resolve before showing. You can return a `Promise` with the `setTimeout` in it, and then call `resolve` in the `setTimeout`.

[2019-03-19 08:39] slimux commented on #343
Thank you I did like you said i implemented the timeout with beforeShowPromise and now everything works perfectly
  beforeShowPromise: function() {
  return new Promise(function(resolve) {
    setTimeout( function () {
      resolve();
    }, 300);
  });
},

[2019-03-19 15:38] #343 closed

[2019-03-20 00:14] #314 closed

[2019-03-20 00:14] #339 closed

[2019-03-21 14:12] slimux opened #346 "advancing steps using the promise function"
Hello i'm trying to use the promise method to move to the next step when a new  modal (class='step1') is displayed
i tried this way but it's not working
if someone tried it before or know how to do it, it will be really helpful

[code]

[2019-03-21 18:36] rwwagner90 commented on #346
@slimux I don't quite understand what you are trying to do here.

[2019-03-22 00:48] gorner commented on #198
Would like to keep this open if possible.

[2019-03-22 07:28] slimux commented on #346
i have a modal that pop up when i click on a dropdown and i want to advance from a step to another when the modal pop up

[2019-03-22 12:07] michalius opened #347 "After tour is canceled/completed and started again, overlay is not present anymore"
Works fine when using `hide()` and `show()`, but seems overlay is destroyed after `cancel()` or `complete()`.

[2019-03-22 14:59] chuckcarpenter commented on #198
@gorner we would also love to support this. I think where we need help in the very least of generating the list of items of what that should be. Otherwise, PRs also welcome!

[2019-03-23 13:27] gorner commented on #198
@chuckcarpenter mostly just trying to keep the issue open! We did end up putting this into our Ember app with a bunch of extra jQuery hooks to get the a11y support we needed. We're still looking into how much we'd be able to contribute back.

[2019-03-25 12:22] Prabashi opened #348 "Adjusting bubble and arrow positioning"
Positioning the bubble as we need (as left, right, top and bottom) relative to the element we are targeting, and also placing the arrow relative to the element and the bubble we are showing; those features are not implemented here.

[2019-03-25 15:27] rwwagner90 commented on #348
It is implemented. We use Tippy and you are looking for the `placement` option https://atomiks.github.io/tippyjs/all-options/

[2019-03-25 15:27] #348 closed

[2019-03-25 15:30] rwwagner90 commented on #346
@slimux you can call `show` to show a specific tour step. This can be done from anywhere. You can also call `next`. There should be no need for manual promise stuff here, but rather you should show the step you want when the modal appears as part of the modal show function.

[2019-03-25 15:33] rwwagner90 commented on #198
@gorner I would love to hear about these extra jQuery hooks. We should definitely incorporate the functionality into Shepherd. This stale bot keeps trying to close things in 30 days, so thanks for commenting to keep things open!

If you could share specific things you implemented in small digestible chunks, I would be glad to port them into Shepherd 👍

[2019-03-28 08:34] Prabashi opened #349 "Can overlay (that is activated using useModalOverlay) be modified ?"
I don't need the target element to remain interactive. Instead I need the whole background to have the overlay effect and to be disabled; also to have the target element highlighted by using a different overlay color. Is this possible in this library, may be by means of overriding?

[2019-03-29 10:53] #349 closed

[2019-04-01 13:26] rwwagner90 commented on #349
@Prabashi it would be possible, but I wouldn't know exactly how off the top of my head.

[2019-04-01 14:39] rwwagner90 commented on #347
There is definitely something odd going on here. Would either of you be interested in helping debug? I will try to take a look soon.

[2019-04-02 05:14] Prabashi commented on #349
When I remove `this.target.classList.add('shepherd-enabled', 'shepherd-target');` code from `_show()` method, the whole background (including the target element) was disabled. I also removed `this.target.classList.remove('shepherd-enabled', 'shepherd-target');` from `_updateStepTargetOnHide()` method, as it becomes unnecessary then.
Regarding highlighting the target element, I think we can add a c

[2019-04-06 20:28] Prabashi commented on #347
I would like to help in the debug and fixing this issue.

[2019-04-06 20:30] rwwagner90 commented on #347
That would be great @Prabashi! Let me know if you have questions.

[2019-04-10 07:21] greenkeeper[bot] opened #350 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.9.2` to `1.9.3`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-1.9.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-04-10 11:22] rwwagner90 commented on #331
@chuckcarpenter should we close out this issue? The react wrapper is good to go right?

[2019-04-10 14:17] chuckcarpenter commented on #331
Yeah, I'd say we just need to publish to NPM and go from there.

[2019-04-10 14:17] #331 closed

[2019-04-10 17:42] rwwagner90 commented on #331
@chuckcarpenter do you want me to publish it? You can feel free to publish if you would like

[2019-04-11 05:02] mfeckie opened #351 "IE Support removed completely?"
We use ember-shepherd in one of our applications and recently updated to the latest version of `ember-shepherd`.

Whilst doing so, I looked for breaking changes and so nothing in that repo.

When deployed we found that our IE11 users were unable to open our application.

It took quite some time to diagnose, but eventually I found that there were items in the transpiled / minified code which direct

[2019-04-11 11:48] rwwagner90 commented on #351
Hi @mfeckie, yes IE support was removed. Since Microsoft no longer supports IE, we removed it from the browserlist. That being said, I believe it can be used with IE by manually using babel to transpile for IE.

[2019-04-11 11:50] rwwagner90 commented on #351
The breaking change is listed in the CHANGELOG here for Shepherd, but we probably should have put it in ember-shepherd too.

[2019-04-11 12:00] mfeckie commented on #351
IE 11 is still 'supported' by Microsoft until end of life for windows 8.1, which looks to be a few more years 😭.  It's the only reason we still have to support it.

https://medium.com/@burger.neal/the-end-of-life-of-internet-explorer-11-12736f9ff75f

[2019-04-11 12:48] rwwagner90 commented on #351
That article also advocates for stopping supporting IE11, so companies will be forced to move away from IE 😉. Do you have a lot of users that actually use IE? I would be curious to hear more about this.

[2019-04-11 12:57] mfeckie commented on #351
Yeah, I'd love to not support it!

The key issue for us is that many of our users are working on PCs in environments where they have little ability to change the software installed on their desktop. As such, 'demanding' an alternate browser can be a very significant challenge.

At last check, around 12% of our admin portal traffic comes via IE11. We've been able to abandon support for IE10 and 9.

[2019-04-11 13:21] rwwagner90 commented on #351
Rather than pinning, we should work together to provide docs on how to run Babel on Shepherd yourself, to support whatever browsers.

[2019-04-11 14:52] mfeckie commented on #351
Happy to help out if you can point me to a starting place.

[2019-04-15 10:11] Luca7993 opened #354 "Minified File Size"
Hi,
I would like to use this javascript library but I have doubts about minified file size.
In your demo site, the javascript file is 60kb.
Instead in github release (and also in yarn) the minified file is 159kb. (2.4.0 version instead was 76.2kb).
is this normal?

[2019-04-15 12:06] rwwagner90 commented on #354
Good catch! Something must be inflating the build. I will take a look.

[2019-04-15 12:32] #354 closed

[2019-04-16 13:45] slimux opened #356 "highlighted elements"
hello i'm trying to highlight two elements at the same time but it's not working I just want to put  the other element before the shadow overlay  do i have to change the class of the second element that i'm trying to highlight or is this there another method with the z-index ?

[2019-04-16 13:48] rwwagner90 commented on #356
@slimux we do not currently have support for showing multiple elements. Do you want two tooltips or just need two elements to show over the overlay and just one tooltip?

[2019-04-16 13:57] slimux commented on #356
yes i just want one tooltip and the other element it just have to show over the overlay.

[2019-04-16 14:12] rwwagner90 commented on #356
We may be able to support having multiple openings in the overlay, but I am not sure. I would have to play with it some.

[2019-04-16 14:28] slimux commented on #356
i'm also looking for a solution to make it work and if i manage to make it work i will notify you. thanks for your help

[2019-04-18 13:22] #342 closed

[2019-04-18 14:49] jayjfletcher commented on #356
PR submitted for this issue.

[2019-04-18 14:59] jayjfletcher commented on #356
oops referenced the wrong issue in my commit

[2019-04-18 15:04] jayjfletcher commented on #347
A PR was submitted for this issue

[2019-04-22 14:34] #347 closed

[2019-04-23 15:55] superheri opened #359 "Feature request --- Add Typescript Typings"
Using TypeScript with shepherd.js I have the problem that the package does not have types. Would be nice that types would be added. It can be here on in DefinitelyTyped, as long as there are typings.

Thank you in advance.