[2019-04-23 22:19] rwwagner90 commented on #359
Hi @superheri I have not used much Typescript myself, but I would definitely be open to supporting this. Does the code here need to be in TS or can we just provide types? I'm not quite sure how it works.

[2019-04-23 22:28] superheri commented on #359
Something that could be done without rewriting everything in TypeScript, would be to add the TypeScript definition file as a `.d.ts` file in the src folder and add it to the package.json in a `"types":"./src/filename.d.ts"` where `filename` is the actual filename of the definition file.

For more infos about adding the .d.ts file into a npm package :
https://www.typescriptlang.org/docs/handbook/de

[2019-04-23 23:18] rwwagner90 commented on #359
@superheri if you have the time to submit a PR for this, that would be awesome!

[2019-04-23 23:20] superheri commented on #359
The only problem with this is that I don't know the full package. So there might be things missing. I can try to do a PR, but it might take me some time.

[2019-04-23 23:28] rwwagner90 commented on #359
@superheri the params are pretty well documented in comments, perhaps you could start with doing this just for `Step` using this as guidance? https://github.com/shipshapecode/shepherd/blob/master/src/js/step.js#L32-L89

[2019-04-24 11:41] slimux opened #361 "Searchable Drop-Down support"
Does shepherd support Searchable Drop-Down list ? Because i have an input for searching addresses with a drop down using google search the problem is that even if the input is highlighted the  drop down list generated is not highlighted and i can't select the results

[2019-04-24 12:03] rwwagner90 commented on #361
You should be able to point to any element

[2019-04-24 18:21] #346 closed

[2019-04-26 09:27] #356 closed

[2019-04-26 12:32] slimux commented on #361
![dsa](https://user-images.githubusercontent.com/28689328/56807754-fc783a00-682f-11e9-9314-91f7c55d9712.jpg)

the elements are highlighted but i can't select them

[2019-04-26 18:54] rwwagner90 commented on #356
@slimux did you find a solution for this?

[2019-04-26 18:55] rwwagner90 commented on #361
Do you have a reproduction of this I could play with?

[2019-04-29 08:53] slimux commented on #361
i think it's related to nested elements because even with this type of bottom i'm having trouble using the advanceOn option because it advance to the other step only when click outside of the check icon or the create span
  <a class="btn secondary-color white-text dialog-ok-button tabbableInput button-create-new-job">
  <i class="material-icons left">check</i>
  <span class="name">Create</span>

[2019-04-29 11:23] hope55 opened #363 "Shepherd popper-tippy CSS styles mixing up with non-shepherd tippy styles on the page"
Popper and tippy styles included in Shepherd.js are mixing up with external tippy tooltip styles when using tippy.js on the same page for any other elements, causing weird tippy behaviours.

This breaks for example the tippy "interactive: true" option on non-shepherd tooltips, as the tooltip instantiated by tippy.js will hide when trying to move the cursor above it. I debugged  this issue, and fou

[2019-04-29 11:50] rwwagner90 commented on #363
Thanks for reporting this issue! Would you be interested in submitting a PR to fix this? It sounds like you have a pretty good idea of how to fix it.

[2019-04-29 11:59] rwwagner90 commented on #361
I wouldn't use `advanceOn`. I would call `next` or `show` etc to show the step you want.

[2019-04-29 13:44] hope55 commented on #363
Hi Robert! Thanks for the prompt reply!
I've just finished the workaround code to eliminate the issue. It's quite simple, I think I can make a PR from it. However, I've never posted a PR to any github projects, but now it's high time to start with it... :)

[2019-04-29 13:47] rwwagner90 commented on #363
Sounds good! I would be glad to help with any questions you have about GitHub or the PR process 😄

[2019-04-29 15:24] slimux commented on #361
i called   if (Shepherd.activeTour){ tour.next(); } inside the function of the button to make it work but the problem with the search drop down is still persisting i will try to create a reproduction of it online

[2019-04-29 15:54] rwwagner90 commented on #361
@slimux if you can provide a reproduction, we would be happy to take a look!

[2019-05-02 12:57] #363 closed

[2019-05-03 10:50] #350 closed

[2019-05-07 06:57] RunHippo opened #369 "There will be blue edges after clicking"
How can I cancel?
![image](https://user-images.githubusercontent.com/22612674/57278176-65856a80-70d8-11e9-9d7f-490469ba2e52.png)

[2019-05-07 07:41] RunHippo commented on #369
This question is solved.
I suggest style 'outline: none;'

[2019-05-07 07:41] #369 closed

[2019-05-07 18:55] austinpray opened #370 "useModalOverlay does not play well with multiple instances on the page"
## Reduced Test Case Fiddle

https://jsfiddle.net/h8gwus79/

Version: whatever version https://shipshapecode.github.io is using right now

[code]

[code]

## Current Behavior

Active step is not highlighted

![image](https://user-images.githubusercontent.com/2192970/57325339-6fef3680-70cf-11e9-9f81-12888de08eee.png)

*note the duplicate shepherdModalOverlayContainers*

![image](https://user-images

[2019-05-14 10:28] #304 closed

[2019-05-14 11:52] hodossy opened #371 "Show event of tour does not pass the hash of `step` and `previous`"
I am using Shepherd 2.8.0. The problem is in [`trigger`](https://github.com/shipshapecode/shepherd/blob/master/src/js/evented.js#L39) where the `arguments` is passed to [`drop`](https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/general.js#L88), since [arguments is not an Array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments), therefore always

[2019-05-15 17:43] andy-noir opened #374 "Is it possible to change fill color of the modal ?"
![2xZ4UYL](https://user-images.githubusercontent.com/5970318/57797029-30b98900-7752-11e9-9589-5a21f4ef5d9f.png)
Hello there!

I wonder if it possible to change the fill color of the modal overlay ?

By default it is `fill="#FFFFFF"`, let's say I want to change it to red (#ff0000) but nothing happens. The overlay is just brighter but does not become red. Am I doing something wrong?

[2019-05-15 18:01] michalsnik commented on #370
I noticed same issue. According to documentation it should work as each tour created should be a separate thing, but unfortunately it's not. The reason for having few tours is quite simple actually, you might have two different pages that you want to guide user through based on different actions and having service that can initiate both of these respectively without having to add and remove steps

[2019-05-15 19:28] michalsnik commented on #370
The way I worked around it for now is by creating `tour creator` functions, that initiate new tour and set all steps anywhere I want to display the given tour, without pre-inializing them. It works because anytime tour is closed the modal is being removed and then when I init new tour it's being created properly, but having two tours initiated at the same time doesn't work as described above.

[2019-05-16 05:04] danielgrana commented on #351
I have the same problem here. Many of our users are still forced to use IE11. They don't really have a choice since corporate cogs sometimes turn very slowly. So currently we also pin the version to 2.4. However would still love to update to a current version, even if I need to run Babel to build myself. Any starting point?

[2019-05-16 11:01] hodossy commented on #374
Yes it is, you just need to set a fill on the last rect, not the mask:
![image](https://user-images.githubusercontent.com/19623656/57849083-bc76f800-77da-11e9-9e7f-176d42b89e69.png)

[2019-05-17 02:51] austinpray commented on #370
It doesn't really matter if there is a usecase or not: the API you created implies creating multiple instances of a Shepherd.Tour is possible using the "new" keyword.

[code]

If this is not what you intended you need to change the API to use a singleton (don't do this)

[code]

or throw an error if two instances of Shepherd.Tour are instantiated (don't do this lol)

[code]

By following the curre

[2019-05-17 10:18] andy-noir commented on #374
@hodossy Thanks, man! It was a bit tricky for me as changing the CSS `fill` does not fix the issue. But adding an attribute via js works.

[code]

[2019-05-17 10:18] #374 closed

[2019-05-19 09:18] rwwagner90 commented on #374
@andy-noir if you wanted to make this a configurable thing, and open a PR for it, I would love to support this more easily!

[2019-05-19 09:20] rwwagner90 commented on #351
@mfeckie @danielgrana what are your build setups like? I believe if you use webpack, rollup, etc we can support this, but currently we cannot support it in Ember, until Embroider lands. With that in mind, it might be easier to add back support for IE11 to the whole library, and remove it again when Embroider drops and we can more easily support manually running babel.

[2019-05-19 09:22] rwwagner90 commented on #304
@elselin did you ever find an example of this?

[2019-05-19 09:27] rwwagner90 commented on #370
@austinpray you seem to have a firm grasp on the behavior you want. Would you like to submit a PR to support it? We did not create the initial API, and have changed quite a lot from 1.x to 2.x etc, so definitely possible we missed some things.

I have never used multiple tours myself, as I tend to use one and swap the steps out as needed. I think having two active at once really should not be allo

[2019-05-19 09:27] rwwagner90 commented on #370
@chuckcarpenter @jaredgalanis do you guys have thoughts on this?

[2019-05-19 09:33] rwwagner90 commented on #371
Hello @hodossy, it appears the links you posted link to a bunch of old issues, not to lines in the code.

I recently switched from using `drop` from lodash, to making it an internal util. Perhaps the lodash one handled when things were not arrays? I think we should fix this by modifying the drop util to do what lodash did, assuming it worked for you before with lodash?

If that sounds reasonable,

[2019-05-19 09:33] rwwagner90 commented on #371
@chuckcarpenter @jaredgalanis if either of you have some time to look into this, let me know as well.

[2019-05-20 12:44] skmbr opened #375 "Possible to have unattached tip but still highlight an element?"
Some elements in my tour can be at least as tall as the viewport on some smaller screens, and I'd like to be able to highlight larger areas of the page, but in these cases the tip appears off the screen and the user has to scroll to see it.

Ideally I'd like to be able to do something like specify 'none' for attachTo.on and have it highlight the element but position the tip in the center of the sc

[2019-05-20 12:59] hodossy commented on #371
Hello @rwwagner90, I have fixed the links, sorry for that! I wanted to submit a PR, but I had trouble setting up the dev env on Windows (build command fails due to `rm` is not know by windows, but I have the windows build tools installed). The corrections are working for me as shown in my prev post.

[2019-05-20 13:47] chuckcarpenter commented on #370
@michalsnik I think you _could_ still manage steps based on user actions with the `getById()` method. I agree though, as @austinpray noted, it implies that you can have more than one tour. It's really just a matter of how we want to address it for stability sake moving forward @rwwagner90. I think making sure the overlay is unique to each instance is a good idea and adding more to stabilize that u

[2019-05-20 20:41] rwwagner90 commented on #375
Hi @skmbr, thanks for the question. We manually add centered modifiers as popper options. I believe you should be able to pass the same options to tippy/popper yourself. Here is where we do it https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/general.js#L256

I would not be opposed to making this an official option either, if you wanted to throw together a PR.

[2019-05-20 20:45] rwwagner90 commented on #371
@hodossy can we please fix it with my suggestion above?

As for the `rm` issue. We could install rimraf or cross-env as a devDep, and use instead of `rm`.

[2019-05-20 20:47] rwwagner90 commented on #370
@chuckcarpenter do you have ideas on how to support this? If so, and you and @austinpray could work together on a solution, that would be great!

[2019-05-20 21:53] austinpray commented on #370
@rwwagner90 @chuckcarpenter Hey! Thanks for getting back to me on that.

I can send y'all a couple of different PRs:

**Fix undefined behavior with useModalOverlay when multiple instances of Shepherd.Tour exist**
We could go a couple different ways here
- Make svg overlay dom element insertion idempotent: if one already exists in the dom, just use that one
- Have each instance have its own guarant

[2019-05-20 22:04] austinpray commented on #370
Just to be clear: I'm not talking about modifying the API at all, just removing undefined behavior so the current API works as expected

[2019-05-20 22:08] chuckcarpenter commented on #370
@austinpray I totally agree and think that's the best way forward. Thanks for finding this and the help!

[2019-05-21 07:46] danielgrana commented on #351
since we need to support current but also legacy environments, but don't want to overload the global namespace, we're using browserify with a globally exposed object. I think browserify should be able to run babel. Would it be enough to add IE to browserslistrc and rebuild?

[2019-05-21 08:49] mfeckie commented on #351
@rwwagner90 Our build setup is pretty much standard ember-cli + ember-cli-deploy

We've dealt with the issue by using a custom fork, but if you were to add back support for IE11, we'd switch back to master.

[2019-05-21 09:50] skmbr commented on #375
Hi @rwwagner90, Thanks for that, I'll give it a go!

[2019-05-22 07:11] hodossy commented on #371
Lodash basicaly reimplemented `slice`, so if you want that, then another function needs to be ported.

[2019-05-22 13:24] greenkeeper[bot] opened #377 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `22.5.1` to `22.6.0`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Feslint-plugin-jest-22.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-05-23 15:36] cbou opened #379 "Add space around attachedElement"
I attach a step to a button.
The highlighted area shows the button as it should.

<img width="114" alt="Screenshot 2019-05-23 at 17 35 05" src="https://user-images.githubusercontent.com/611389/58266083-43027b00-7d81-11e9-9f93-a02c7cc30940.png">

What I would like to achieve is to give some space around the button like this:

<img width="121" alt="Screenshot 2019-05-23 at 17 34 56" src="https://use

[2019-05-23 15:42] cbou commented on #379
I ended doing this:

`when: {
	'before-show': function() {
		var offset = 3;
		var element = document.getElementById('shepherdModalMaskOpening');

		element.setAttribute('x', parseInt(element.getAttribute('x')) - offset);
		element.setAttribute('y', parseInt(element.getAttribute('y')) - offset);

		element.setAttribute('width', parseInt(element.getAttribute('width')) + 2 * offset);
		element.setAt

[2019-05-24 06:46] cbou commented on #379
My solution is not the best one. If you resize the window, the styles of the element `#shepherdModalMaskOpening` will be reset and it will loose the offsets.

[2019-05-24 10:29] rwwagner90 commented on #371
@hodossy I am just asking if we could please make the changes to fix things inside the `drop` function. Perhaps passing just `arguments` to `drop` and doing `Array.prototype.slice.call(arguments)` inside `drop` etc. I am not 100% sure what would be best, but what I am going for here is to fix things inside `drop`, rather than `trigger`.

[2019-05-24 10:33] rwwagner90 commented on #379
Hi @cbou I am on vacation until June 3rd, so I do not have a ton of time to look into this, however, we should be able to make this configurable, if it is not already. We are calculating the opening here https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/modal.js#L133

We could allow an option to pass padding in somewhere and pass it down to make the opening larger. Please take a l

[2019-05-24 10:35] rwwagner90 commented on #370
@austinpray @chuckcarpenter I defer to you guys here, as it sounds like you have some good ideas. I am on vacation, and trying to avoid doing much coding until I get back June 3rd 😝

[2019-05-24 10:37] cbou commented on #379
Thanks @rwwagner90

One other issue related to the highlight area I have is the ability to select multiple DOM elements without selecting the parent element.

What could fix both issues would be to give the user the ability to calculate the area himself.

[2019-05-24 10:38] rwwagner90 commented on #351
@danielgrana

You should definitely have the browsers you want to support in browserslist, however I am not sure if that will be enough. I am going to try to add back IE support soon.

@mfeckie Ember unfortunately doesn't allow running babel on node modules, right now, but it should when embroider drops. I will try to add back support soon.

[2019-05-24 10:43] rwwagner90 commented on #375
@skmbr please let me know if it works!

[2019-05-24 10:47] rwwagner90 commented on #379
@cbou so you want to select two separate elements, not in one parent container? For that, I think we should have some kind of `additionalElementsToHighlight` option, and pass more selectors to highlight or something. Then for both the normal highlighted element, and the additional ones, we should allow a `padding` parameter, that would allow you to expand the area.

I am not opposed to allowing a

[2019-05-24 15:29] rwwagner90 commented on #351
@danielgrana @mfeckie I just opened a PR to add back IE support. Can you guys try the ie-support branch and see if it works for you please?

[2019-05-24 22:30] blissville commented on #103
Thanks @ricardograca. You saved me tons of code

`const tour = new Shepherd.Tour({useModalOverlay: true})`
Did the trick for me

[2019-05-25 12:51] danielgrana commented on #351
2.8.0 in ie-support branch works again like a charm with IE11 - even better since adding the shepherd-popper class it no longer interferes with other tippyjs poppers! So double win :-)

[2019-05-25 17:59] #351 closed

[2019-05-25 18:02] rwwagner90 commented on #103
@ricardograca @blissville this should be documented in the API docs. Is it hard to find? Perhaps we should reorder things? I am open to suggestions!

[2019-05-26 11:34] rwwagner90 commented on #371
It appears the only thing currently using `drop` is `trigger`, so I am going to proceed with the solution you recommended. Thanks so much @hodossy!

[2019-05-26 12:44] #371 closed

[2019-05-26 13:04] #377 closed

[2019-05-26 15:03] ricardograca commented on #103
This was a few months ago, but at that time I think the documentation didn't include any mention of this option. Either that, or none of the examples did.

[2019-05-27 10:52] Kangcor opened #382 "Add multiple events on advanceOn property"
It would be possible to have multiple events binded on the `advanceOn` property?

My use case is a modal with two buttons, cancel and submit. Currently I have the advanceOn set on submit form, but it would be nice to advance also when user cancel the modal.
Currently I'm emitting and event to advance from the cancel button itself, but having everything managed from Shepherd Tour is cleaner in my o

[2019-05-27 16:00] rwwagner90 commented on #382
@Kangcor thanks for the question! If your cancel button does not cancel the tour, and submit does not complete the tour, it sounds like both of your buttons are doing custom actions. With this in mind, in your `cancel` and `submit` functions, you could call `next()` on the tour.

[2019-05-27 17:54] Kangcor commented on #382
I'm sorry I didn't clarify, the submit and cancel buttons are from my own modal. The Shepherd modal is on the side of the modal explaining the content and didn't have any buttons on it. That's why I need custom triggers to fire the next step, either submitting or canceling my modal.

Thanks for the quick reply

[2019-05-27 19:12] rwwagner90 commented on #382
@Kangcor I am not sure I understand. Can you not call `next()` on the tour, rather than using `advanceOn` here?

[2019-05-28 06:38] Kangcor commented on #382
Let me explain with an image.
![Captura de pantalla 2019-05-28 a las 8 33 51](https://user-images.githubusercontent.com/5881214/58456024-616eca80-8123-11e9-88fb-ddc3c7a67d57.png)
As you can see, I have a modal with a form and I'm in the middle of a Shepherd tour.
In this step we inform the user that he can complete and submit the form in order to continue, but also he can cancel the form in order

[2019-05-28 07:18] rwwagner90 commented on #382
@Kangcor you should manually advance, this is correct. `tour.next()` is what you want to use in both your `cancel` and `submit` functions. Defining an `advanceOn` couples the tour to your app, as much as manually calling `next` couples the app to the tour, in my opinion.

If you feel strongly about wanting `advanceOn` to support multiple events, and wanted to implement it, we would consider a PR t

[2019-05-28 07:40] Kangcor commented on #382
Thanks, I will look into it if more cases like this arise in the project.

[2019-05-28 07:40] #382 closed

[2019-05-30 14:41] skmbr commented on #379
I need this for a project I'm working on so had a go at a PR for it

[2019-05-30 14:46] skmbr commented on #375
Amusingly, I was working on something else and accidentally removed the "on" property from the "attachTo" of one of my steps and it did exactly what I wanted for this!

Element is highlighted but tooltip appears unattached in the centre of the screen!

[2019-05-30 14:56] chuckcarpenter commented on #379
@cbou I merged the fix for your original issue, would you be able to test from MASTER to confirm it's also working for your use case?

[2019-05-31 09:25] greenkeeper[bot] opened #384 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.12.5` to `1.13.0`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-1.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-05-31 09:31] cbou commented on #379
Great that's exactly what I was looking for :)

Now it even works after a resize event.

[2019-05-31 09:54] greenkeeper[bot] opened #385 "An in-range update of rollup-plugin-node-resolve is breaking the build 🚨"
## The devDependency [rollup-plugin-node-resolve](https://github.com/rollup/rollup-plugin-node-resolve) was updated from `5.0.0` to `5.0.1`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-plugin-node-resolve-5.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-06-01 20:09] greenkeeper[bot] opened #386 "An in-range update of rollup-plugin-analyzer is breaking the build 🚨"
## The devDependency [rollup-plugin-analyzer](https://github.com/doesdev/rollup-plugin-analyzer) was updated from `3.0.0` to `3.0.1`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-plugin-analyzer-3.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-06-02 16:41] rwwagner90 commented on #379
Closed by #383

[2019-06-02 16:41] #379 closed

[2019-06-02 16:45] rwwagner90 commented on #375
@skmbr perfect! Would you possibly be able to document this use case for others?

[2019-06-02 16:46] rwwagner90 commented on #361
@slimux do you have a reproduction we could look at?

[2019-06-03 09:43] greenkeeper[bot] opened #387 "An in-range update of tippy.js is breaking the build 🚨"
## The dependency [tippy.js](https://github.com/atomiks/tippyjs) was updated from `4.3.1` to `4.3.2`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Ftippy.js-4.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tippy.js is a direct dependency of this proje

[2019-06-03 18:59] greenkeeper[bot] opened #388 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.5.1` to `9.6.0`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Fautoprefixer-9.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDependen

[2019-06-04 05:00] cwilso03 commented on #375
I've noticed too that setting the "on" property to `auto` often does a better job of positioning than giving a specific direction, in cases where the tooltip is of a larger size on a smaller screen.

[2019-06-04 12:33] #384 closed

[2019-06-04 12:33] #385 closed

[2019-06-04 12:33] #386 closed

[2019-06-04 12:33] #388 closed

[2019-06-04 12:44] #387 closed

[2019-06-04 12:45] rwwagner90 opened #391 "tippy.js 4.3.2+ is causing test failures"
It might be a timing thing, not entirely sure, but we need to investigate.

[2019-06-05 12:32] YochevedZ commented on #250
Is the question is about displaying the highlighted element in a circle - as in the attached example?
If so, is it already implemented \ can be done?
![image](https://user-images.githubusercontent.com/41073514/58956054-151c2e00-87a6-11e9-9f08-2c49490e7073.png)

[2019-06-05 17:38] rwwagner90 commented on #250
@YochevedZ modal functionality exists today. You can also set the padding to make the opening larger. You could probably then set a border radius on the opening to make it a circle.

[2019-06-06 13:08] greenkeeper[bot] opened #392 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Frollup-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It

[2019-06-07 17:13] hheexx opened #393 ""TypeError: Property 'handleEvent' is not callable." in Firefox"
In firefox on load and on scroll I receive this error in console:

I have debugged a little and found the reason.
util/dom.js
addStepEventListeners() lines 82, 83
https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/dom.js#L82

this._onScreenChange is null. You can't register null handler.

[2019-06-07 18:35] rwwagner90 commented on #393
@hheexx thanks for the bug report! `this._onScreenChange` is set here https://github.com/shipshapecode/shepherd/blob/35b0647d0629c1c86995c379be8156b51bd2df59/src/js/modal.js#L100

We must be calling things in the wrong order somewhere or something. Do you have time to work on a PR with a fix perhaps?

[2019-06-09 16:25] #392 closed

[2019-06-10 15:52] hheexx commented on #393
I will try a little bit now. But if it's concurrency bug it may be much easier to fix by somebody who knows the code....

[2019-06-10 16:03] rwwagner90 commented on #393
@hheexx can you share with me your initialization/config for Shepherd?

It appears it might be an issue for a case where you are using the modal functionality, but one of the steps has no `attachTo`.

[2019-06-10 16:10] hheexx commented on #393
Yes. My first step has no attachTo. It's ment to be in center of the page.

[2019-06-10 16:16] rwwagner90 commented on #393
@hheexx I just opened https://github.com/shipshapecode/shepherd/pull/396 which may or may not fix the problem. Could you try it out?

[2019-06-10 19:56] hheexx commented on #393
@rwwagner90 Fixes problem for me. No errors. No regressions noticed.

[2019-06-10 21:42] hheexx commented on #393
@rwwagner90 btw. I have scrollTo problems. It misses component compleatly and selects top of page?
Do you consider ScrollTo implementation good or it has lot of problems?
Should we try to debug it or should I try to use scrollToHandler?

[2019-06-11 01:45] rwwagner90 commented on #393
@hheexx `scrollTo` should scroll correctly. It works on the demo page. Do you have a reproduction of an issue?

[2019-06-11 12:25] YochevedZ commented on #250
@rwwagner90 can you please refer me to relevant documentation\code?
I see only highlighted as square shape while I need circle (as in the previous comment)
Thanks in advance!
Can you please refer me to relevant Code code?
![image](https://user-images.githubusercontent.com/41073514/59271711-f9f56680-8c5c-11e9-8a9a-d2b774bc603c.png)

[2019-06-11 12:34] rwwagner90 commented on #250
@YochevedZ there is not any documentation on turning a square into a circle. It appears setting styles on the `shepherdModalMaskOpening` should work. Since it is an svg, you can try something like:

[code]

You'll likely have to play with those numbers some. Perhaps we should add an option to pass extra styles for the mask opening for each step or something. I am not sure the best way to handle it

[2019-06-11 14:34] hheexx commented on #393
@rwwagner90  yes I do.

https://dev.goglasi.com/posao/prodaja-i-marketing/search?categoryId=204
Open on mobile.
Tour will show up.
First step is not tied to an element. Second and third are ok.
Forth step needs to scroll a little bit and you can see it scrols wrong.
https://i.gyazo.com/01abe39dfca7bbd61b206ca0322753fd.png

Step code:
[code]

[2019-06-11 14:39] rwwagner90 commented on #393
@hheexx this seems like a separate issue or did it just start happening on the branch that fixes the firefox bug?

[2019-06-11 14:54] hheexx commented on #393
@rwwagner90 seperate issue. I just wanted you to confirm it first, I can create seperate bug if needed.

[2019-06-11 18:40] rwwagner90 commented on #393
@hheexx that issue seems to be one with your app, not with Shepherd. The thing scrolling into view is hidden by the navbar. It does correctly scroll it into the top of the viewport.

[2019-06-12 11:43] hheexx commented on #393
@rwwagner90 step is positioned 'top'.
My expectation is that element should be positioned in middle of bottom 1/3 of the screen with step baloon above it. I understand header is hiding it but element should not be sticked to the top of the screen.

[2019-06-12 11:44] hheexx commented on #393
@rwwagner90  also, no scroll animation?

[2019-06-12 13:02] #393 closed

[2019-06-12 13:07] rwwagner90 commented on #393
@hheexx that expectation is not how things work. We are using this for scrolling https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView

It does support various options, which allow you to scroll until the element is at the top, bottom, or center, but you have to choose an option. Perhaps center would be a better option. I am going to open another issue to discuss.

[2019-06-12 13:10] rwwagner90 opened #398 "[Proposal] center elements for scrollTo"
Currently, we use https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView with the default options, which scrolls until the element is aligned with the top of the viewport. This is configurable, and there appears to be an option where the element is centered instead. Perhaps centered would be a more sane default, and not so extreme? We could also make this configurable and allow th

[2019-06-12 13:11] rwwagner90 commented on #391
Does not seem to be causing issues anymore.

[2019-06-12 13:11] #391 closed

[2019-06-12 16:04] hheexx commented on #398
I have checked the APIs.
Passing scrollIntoViewOptions from tour would be very easy for you to implement and it would be much better then now. But not perfect.
I recommend you implement this first.

[code]

Perfect solution you can add later is scrolling element to bottom 1/3 of the screen and then showing tooltip in the top 2/3 of the screen.
The most sexy would be to scroll element to the center

[2019-06-12 17:47] rwwagner90 commented on #398
@hheexx

If it is easy to implement, would you like to submit a PR for it? I think having scrollTo accept `true` to keep the behavior the same as now or allowing passing options like `{behavior: "smooth", block: "center"},` would be a good API.

[2019-06-12 18:15] abraaobrazoliveira opened #400 "Can I set border-radius in highlighted element?"
Hi, I should known if is it possible to set border-radius in a highlighted element.

[2019-06-12 18:59] rwwagner90 commented on #400
@abraaobrazoliveira if I understand you correctly, this is what you want https://github.com/shipshapecode/shepherd/issues/250#issuecomment-500821131

Is that correct?

[2019-06-12 19:32] abraaobrazoliveira commented on #400
![Screenshot from 2019-06-12 16-29-17](https://user-images.githubusercontent.com/46177273/59380426-78bad400-8d2f-11e9-81b5-e64db2df8c41.png)

Like image above, I'd like to set border radius to highlighted element.

[2019-06-12 19:49] rwwagner90 commented on #400
@abraaobrazoliveira did you read the link I posted?

[2019-06-12 21:45] hheexx commented on #398
Here: https://github.com/shipshapecode/shepherd/pull/401

I just finished but now I found out that scrollIntoViewOptions is not very vell supported. Safari still does not support it.
https://caniuse.com/#feat=scrollintoview

btw there is polyfill http://iamdustan.com/smoothscroll/

not sure what to do.

[2019-06-12 22:51] rwwagner90 commented on #398
We can use the polyfill. I will work on this implementation.

[2019-06-12 23:24] #398 closed

[2019-06-13 14:08] abraaobrazoliveira commented on #400
Hi man it worked for me only in google chrome navigator, but its was exactly results I've been looking for.
Thanks.
And if You Known some about firefox navigator solution it would helpe me a lot

[2019-06-13 14:09] abraaobrazoliveira commented on #400
Thanks.

[2019-06-13 14:46] abraaobrazoliveira commented on #400
@rwwagner90 Thanks a lot you've solved my problem man.

[2019-06-13 14:50] #400 closed

[2019-06-14 01:10] superheri commented on #359
Closing this since the Pull Request has been merged.

[2019-06-14 01:10] #359 closed

[2019-06-17 08:10] segux opened #406 "Support to keyboard navigation"
Hi, Do not support keyboard navigation for any reason?
 I think it would be a very necessary feature

[2019-06-17 11:31] rwwagner90 commented on #406
Hi @segux we definitely should support it. We have an open issue for supporting a11y and we need to prioritize that.

[2019-06-18 06:33] segux commented on #406
what issue is?

[2019-06-18 12:23] rwwagner90 commented on #406
@segux that would be great! Let me know if you have any questions about the code. I am happy to help!

[2019-06-21 01:08] rwwagner90 commented on #198
@gorner I realize we're coming up on a year this has been open, and I apologize for not prioritizing this sooner, but I am working on various a11y things now, and making progress!

[2019-06-21 18:23] rwwagner90 commented on #406
I implemented arrow navigation here https://github.com/shipshapecode/shepherd/pull/410

[2019-06-21 18:23] #406 closed

[2019-06-23 14:26] rwwagner90 commented on #370
@austinpray did you ever come up with a solution here? If not, I have some time to take a look now.

[2019-06-23 19:44] rwwagner90 commented on #198
@gorner @knoobie I believe most everything is now implemented. I will be releasing a new version today, and perhaps you guys could help us test it out?

[2019-06-23 22:51] austinpray commented on #370
@rwwagner90 I only got as far as familiarizing myself with the internals and then got distracted with work. No code yet. Feel free to take a stab at it! I can work alongside you in a branch if you put one up

[2019-06-24 00:32] rwwagner90 commented on #370
@austinpray I just opened a PR that will reuse the existing modal element, if it already exists, this fixes that aspect https://github.com/shipshapecode/shepherd/pull/414

However, there is probably more to do to work on the not touching the DOM until `start` bit. Let me know your thoughts on that!

[2019-06-24 20:25] austinpray commented on #370
Will review soon!

[2019-06-25 03:21] rwwagner90 commented on #370
@austinpray I'm going to go ahead and merge, and release a new version, but please let me know your thoughts when you get a chance on whether it fixes your issues or we need to do more still.

[2019-06-25 12:32] austinpray commented on #370
Closed by https://github.com/shipshapecode/shepherd/pull/414

Thank you!

[2019-06-25 12:32] #370 closed

[2019-06-25 13:49] rwwagner90 commented on #370
@austinpray you're welcome! Did you want to also pursue having Shepherd not touch the DOM until start or do you think this is sufficient?

[2019-06-25 13:51] austinpray commented on #370
Well this solves the specific issue I was describing. I can make another issue/proposal for not touching dom as an enhancement.

[2019-06-25 13:54] rwwagner90 commented on #370
@austinpray sounds good 👍

[2019-06-25 13:57] #375 closed

[2019-06-25 14:04] rwwagner90 commented on #198
@gorner @knoobie I released 3.1.0, and I would very much like to have you guys try things out! Would you be able to give it a try?

[2019-06-25 14:13] knoobie commented on #198
Have updated our project! Need some time to test it properly with our sightless guy. Currently it's summer vacation here

[2019-06-25 14:25] gorner commented on #198
@rwwagner90 Thanks for the update. I've actually moved on from the company that was using this - sorry for the delay in noting this. Not sure if they'll have bandwidth to test this anytime soon but I'll try looping in @gregmuck just in case.

[2019-06-28 12:56] massiinthesea commented on #17
Hello, I'm meeting this problem right now, do you hava any solution?

[2019-06-28 13:39] rwwagner90 commented on #17
@massiinthesea modal was implemented awhile ago. Please try `useModalOverlay: true`

[2019-06-28 13:51] massiinthesea commented on #17
I saw and tried this option, but it's not working at all on my application

[2019-06-28 16:13] rwwagner90 commented on #17
@massiinthesea it works automatically. What version of shepherd.js are you on? Something is either very out of date or not configured correctly. Please let me know your version and share your config.

[2019-06-29 15:50] rwwagner90 commented on #198
@knoobie sure thing, just let us know when you have tested it and what changes we should make!

@gorner no worries!

@gregmuck we would be happy to make any adjustments necessary for this to work better for you!

[2019-06-29 21:31] massiinthesea commented on #17
@rwwagner90 Thank you for your responses.
I'm using Shepherd 2.9.0.
and there is how my Shepherd Tour is configured:

[code]

And I'm adding steps on it in an other file. The 'useModalOverlay' option is activated but doesn't work, So I had to add some CSS to create a shadow behind the target element, but it doesn't work well. When a step is targetting on a nested element, The shadow behind isn't e

[2019-06-29 22:56] rwwagner90 commented on #17
@massiinthesea `useModalOverlay` definitely works. You can see it on our demo page. You should definitely not be adding custom styles for this, as it is included automatically. Are you including the stylesheets? https://shipshapecode.github.io/shepherd/esdoc/#theming-and-styling

[2019-07-01 08:56] segux commented on #406
Thanks for adding this feature. You rock!

[2019-07-01 10:05] segux commented on #198
Hi, im testing keyboard support, but i think is not stable.

Should be optionally disabled, on tour options or on step options.

Like:
[code]

[2019-07-01 10:53] massiinthesea commented on #17
@rwwagner90 Sorry for the late response.
I'm actually not including stylesheets, because I wanted to customize the popups like I wanted.
I'm now trying to include stylesheets, base.scss or shepherd-theme-default.css but it doesn't do anything, the is no overlay behind the target item.

[2019-07-01 12:02] rwwagner90 commented on #17
@massiinthesea please create a reproduction. It definitely works. The demo works, and you can compare your code to the demo if you'd like to see what the difference is.

[2019-07-01 12:04] rwwagner90 commented on #198
@segux what do you mean it is not stable? I think we need to leave it enabled, for a11y support.

[2019-07-01 12:07] rwwagner90 commented on #406
@segux I don't know what you mean. Left arrow only calls `back` https://github.com/shipshapecode/shepherd/blob/master/src/js/step.js#L249

[2019-07-02 01:31] rwwagner90 opened #421 "On hard refresh, mask is slightly in the wrong place"
Might be a timing issue or another instance of the font/styles loading calculating the mask in the wrong spot initially. Need to investigate further.

[2019-07-02 14:04] rwwagner90 opened #423 "Arrow navigation skips steps if you do back then next"
It's probably that we end up firing the listeners for other steps as well, on accident.

[2019-07-02 14:26] #423 closed

[2019-07-03 07:38] segux commented on #198
Sorry for late response.

Here ill explain what is going wrong on keyboard navigation.

I made simple example with tour test

https://stackblitz.com/edit/shepherdjs-keyboard-test?file=index.html

**Steps to reproduce:**
1. Click to start tour button
2. press right arrow
3. press left arrow
4. press right arrow
5. press left arrow
6. press right arrow

**Expected result:**
1. Tour starts
2. goes to

[2019-07-04 10:38] YochevedZ opened #426 "ionic element - bubbles not pointing to right place due to clientHeight = 0 (etc.)"
We use shepherd tour in an ionic environment, but for some elements, bubbles positions are incorrect ONLY on mobile devices (Android & iPhone)
As investigated, on mobile the relevant elements clientWidth, clientHeight, offsetWidth and offsetHeight are zero (0) (but elements locations is correct) and this may impact the shepherd function getBoundingClientRect()
Please advise whether its a shepherd

[2019-07-04 13:28] rwwagner90 commented on #198
@segux I noticed the issues a couple days ago, and fixed them. I was registering the listener in the  wrong place, so every time we called `show` a new listener was added, resulting in skipping multiple steps ahead. The latest beta has the fix, and I hope to get 4.0.0 out soon.

[2019-07-04 13:34] rwwagner90 commented on #426
@YochevedZ is this running in a mobile browser or as an app? I've never written a mobile app, so it's possible we may need to add some conditional calls to support it. Do you know if there is an alternative to `getBoundingClientRect` for mobile?

[2019-07-04 14:46] segux commented on #198
And what do you think about have properties for total steps number and current step?

[2019-07-04 17:13] YochevedZ commented on #426
It runs on both - both on a mobile browser and as an app.
I'm also new in mobile app developing so I have no knowledge of an alternative for `getBoundingClientRect()` function.

[2019-07-05 13:08] rwwagner90 commented on #198
@segux that is a separate discussion, this issue is about a11y support. If you have other things you would like to suggest as features, please feel free to open new issues 😃

[2019-07-05 13:09] rwwagner90 commented on #426
@YochevedZ I'm confused on the mobile browser issue. Things should work in all browsers, whether mobile or not. Which browser specifically is experiencing issues?

[2019-07-05 14:04] segux opened #427 "Current step and total steps"
I was watching issues and no one opened an issue related about that.

As developer using shepherd i want:
- Method to get current tour step as number
- Method to get total tour steps  as number

[2019-07-06 12:30] rwwagner90 commented on #427
@segux what is the use case? Do you want the tour to display something like `Step 1 of 5` etc? If so, that is potentially something we can add.

As for methods for getting the current step and total steps, this is already possible.

[code]

[2019-07-07 05:59] YochevedZ commented on #426
In iPhone - Safari
In Android - Chrome

[2019-07-07 17:19] rwwagner90 commented on #426
@YochevedZ do you have a reproduction I could play with? Our demo app seems to work in mobile Safari. It does have other issues, but the arrows point to the elements.

[2019-07-08 07:20] segux commented on #427
Right now i think  the basic requeriment is to have property or methods on tour to get total steps and current step. The ui interface to represent that can be added after.

[2019-07-08 12:41] rwwagner90 commented on #427
@segux you can already get them. See the comment above.

[2019-07-08 12:41] #427 closed

[2019-07-09 17:48] #361 closed

[2019-07-13 18:40] rwwagner90 commented on #198
@knoobie any updates?

[2019-07-13 18:53] knoobie commented on #198
@rwwagner90 summer vacation is 4-6 weeks in my country :) kinda hard to get my coworker in this time

[2019-07-13 19:02] rwwagner90 commented on #198
@knoobie ah okay, I wish I could take 4-6 weeks of vacation in a row! 😃

[2019-07-14 09:57] cmcnicholas opened #435 "Incorrect path to typings files in package.json"
This results in no intellisense or type safety support, PR opened https://github.com/shipshapecode/shepherd/pull/434

[2019-07-14 13:05] #435 closed

[2019-07-15 13:06] rubnig opened #437 "IE11 support is broken"
The README.md states that Shepherd still supports IE11, but the dist and demo (latest beta) give JavaScript errors. So Shepherd doesn't work with IE11 right now.

Is there a way to fix these issues or build Shepherd with IE11 support? There are still a lot of IE11 users on our platform (> 10%).

The lambda's are definitely breaking for IE11, see following example:

[code]

[2019-07-15 13:09] rwwagner90 commented on #437
@rubnig what's the error in IE11?

[2019-07-15 13:11] rubnig commented on #437
@rwwagner90 Syntax error on the arrow function I gave as an example.

[2019-07-15 13:13] rwwagner90 commented on #437
@rubnig I need a specific example from the library, specifics on which file you are using, how you are importing etc.

[2019-07-15 13:14] rwwagner90 commented on #437
Oh, I see, I think this is from Tippy perhaps. Let me check our Babel config.

[2019-07-15 13:17] rwwagner90 commented on #437
@rubnig what was the last released version that works for you? Sorry, I do not have a good way to test in IE11 myself.

[2019-07-15 13:23] rubnig commented on #437
I was working with 2.10.0 before with the following polyfill for IE11:

[code]

I think the JS dist is broken since version 3

[2019-07-15 13:27] rubnig commented on #437
@rwwagner90 Just tested the 3.0.0 version, since this version IE 11 doesn't work indeed.

[2019-07-15 13:58] rwwagner90 commented on #437
@rubnig sorry for breaking support! I have a PR open to also transpile our dependencies, so things will work in IE again. I also went ahead and added `Object.assign` and `Object.entries` polyfills from core-js, so hopefully that will get everything working again for you, and you will not need to add the `Object.entries` yourself either 😃

I want to ensure Shepherd is IE11 compatible out of the box

[2019-07-15 14:33] rubnig commented on #437
Yes off course, no problem @rwwagner90. Thanks for your fast response. I'll test this beta without any other code (just the pure Shepherd demo) so we can verify if all of the polyfills are working as expected.

I was already checking some things and I found out a problem with `Symbol.iterator` in `function _iterableToArrayLimit(arr, i)`. Symbol is undefined in IE 11.

But I'll wait on your latest

[2019-07-15 14:39] rwwagner90 commented on #437
@rubnig can you give me a list of all the things that are undefined? I want to add polyfills for them, but I do not want to add all possible polyfills, just the ones we need.

[2019-07-15 14:42] rwwagner90 commented on #437
Actually, I think we can have core-js polyfill based on what things it sees we have used. Let me give that a try.

[2019-07-15 14:59] rwwagner90 commented on #437
@rubnig I tried the auto polyfill option, and it added a lot of weight to the package. I think we are better off manually adding the necessary polyfills. With that in mind, I am going to merge the PR, and get a new beta out, then we can determine what else is needed for IE11 support.

[2019-07-15 15:02] rubnig commented on #437
@rwwagner90 that's fine by me. I'll test the demo when it's ready and respond to this ticket with my findings.

[2019-07-15 15:30] rubnig commented on #437
@rwwagner90 it looks like that the `require('core-js/stable/features/object/assign')` and `require('core-js/stable/features/object/entries')` doesn't get included in the final build. Is this a problem with yarn?

[2019-07-15 15:53] rwwagner90 commented on #437
@rubnig it seems like we might need to just bit the bullet and add all the polyfills that core-js thinks we need. It bloats the build quite a lot, but we need to get it to actually include the polyfills.

[2019-07-15 15:55] rwwagner90 commented on #437
@rubnig what are your thoughts on polyfills in general? Should that be up to the consuming app to add or should the library ship with them?

[2019-07-15 16:35] rwwagner90 commented on #437
@rubnig can you please try 4.0.0-beta.4?

[2019-07-16 08:45] rubnig commented on #437
@rwwagner90 just tried beta 4 and 5, still not working. I can clearly see some arrow functions in the output, which will definitely break IE 11. It looks like the Common JS plugin gives you ES6 output and Babel doesn't transform it to IE 11 ES5 compatible code.

That's a good question. I think if you state that a library works on certain browser, you should also provide the needed polyfills to let

[2019-07-16 11:01] rwwagner90 commented on #437
@rubnig apologies, at some point yesterday, I had removed all the arrow functions, I added a new dep, `auto-bind` which seems to use them, and had to add that to the list for what is being transpiled.

I think, in most cases, people developing apps will be already including some sort of polyfills for IE11 support. Perhaps we should provide our own, and document that you should use it by itself, if

[2019-07-16 11:23] rwwagner90 commented on #437
I think perhaps the easiest thing to do, might be to do a separate build and generate `shepherd.ie11.js` and `shepherd.ie11.polyfill.js`, that way the standard `shepherd.min.js` does not have the 11 kb min + gzip added to it that we need for IE11 support.

[2019-07-16 11:24] rwwagner90 commented on #437
@rubnig can you try 4.0.0-beta.6 please?

[2019-07-16 14:50] rubnig commented on #437
Totally agree with your approach @rwwagner90. Just had some time to verify the beta 6 and I can confirm it's working again on IE 11 now.

Just one small bug for showing the cross close sign:
![image](https://user-images.githubusercontent.com/8969453/61304603-b8bb1e00-a7e9-11e9-982a-5f4f9c373cd0.png)

This could be easily corrected by placing it with position absolute in the top right corner.

Than

[2019-07-16 16:24] rwwagner90 commented on #437
@rubnig that is odd with the "x" placement. Would you be interested in submitting a PR to fix it? The x is in the correct spot on Chrome, so I am not sure what changes to make.

[2019-07-17 13:17] rwwagner90 opened #442 "Dynamic polyfills for IE"
Supporting IE requires a lot of polyfilling, and adds ~11 kb min + gzip to the bundle. It would be awesome to figure out a way to only ship the polyfills for IE users.

[2019-07-17 13:29] greenkeeper[bot] opened #443 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `22.9.0` to `22.10.0`.

🚨 [View failing branch](https://github.com/shipshapecode/shepherd/compare/master...shipshapecode:greenkeeper%2Feslint-plugin-jest-22.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-07-17 16:29] rwwagner90 opened #444 "Modal mask opening shows back up on scroll"
If you have a step with a target in modal modal, and the mask opening is created for it, then you advance to another step without a target, which should be centered and have no mask opening, then scroll, it will reuse the previous mask opening and incorrectly highlight the previous target.

[2019-07-18 00:08] rwwagner90 commented on #437
@rubnig I believe I may have fixed the x placement. Can you double check and make sure everything is good to go in IE11 still? If so, I will consider this closed.

[2019-07-19 09:03] cmcnicholas opened #449 "Option for mask hole to cover selected element"
We have been using Shepherd and finding a use case that doesn't seem to be covered. We would really like the option for the svg mask that is generated to cover the entire content leaving the "hole" as a transparent overlay. This would limit our users from interacting with the focused content whilst the tour is active.

To be clear we still want the highlight but want to stop the user tampering wit

[2019-07-19 11:36] rwwagner90 commented on #449
@cmcnicholas I would use `pointer-events: none;` on the element

[2019-07-20 13:51] #449 closed

[2019-07-21 18:06] rwwagner90 commented on #437
I got a VM to test IE in, and everything seems to work. I am going to close. Please let me know if you encounter any more issues!

[2019-07-21 18:06] #437 closed

[2019-07-22 13:42] rwwagner90 opened #455 "fix removing 'shepherd-modal-target'"
fix removing 'shepherd-modal-target' class from target when moving on to next (at the moment it remains on all previous steps).

From https://github.com/shipshapecode/shepherd/pull/453

[2019-07-22 13:43] rwwagner90 opened #456 "Modal classes are not prefixed"

[2019-07-24 11:16] IamSachin opened #459 "Progress dots for steps"
Is a progress indicator planned?
Something like a set of dots denoting each step, and clicking a dot can take you to steps back.

Current step and total steps can currently be had as you suggested here:   https://github.com/shipshapecode/shepherd/issues/427

[2019-07-24 11:27] mathiasleroy opened #460 "ommiting 'on' doesn't work"
The documentation says:

But that doesn't seem true in my tests, it's still attached to the element with an arrow.

using v4.0.0-beta.11

[2019-07-24 11:47] rwwagner90 commented on #460
@mathiasleroy thanks for reporting! This should fix things https://github.com/shipshapecode/shepherd/commit/a65ad6147a6c947fa182d536210e3cd7d7290d62

The new beta should be out shortly with the fix.

[2019-07-24 11:47] #460 closed

[2019-07-24 11:49] rwwagner90 commented on #459
Hi @IamSachin, it could be potentially added. We would need to plan out all the details. For example, what happens when you have like 50 steps? You could not show all the dots.

[2019-07-24 13:58] rwwagner90 commented on #449
@cmcnicholas apparently, we have a `canClickTarget` option, that I was unaware of. If you set `canClickTarget` to false, it will set pointer events to `none` for you.

[2019-07-24 13:58] rwwagner90 opened #461 "Document canClickTarget"

[2019-07-24 15:22] IamSachin commented on #459
For more than a certain number of dots, it could turn into a progress bar.
Also, we could have a choice to show dots or progress bar.

Visually, it'll give an idea to the viewer as to how big the guide is and where the user is at the moment.

[2019-07-24 16:18] rwwagner90 commented on #459
Yeah, I totally agree with the concept, and other libraries like introjs support it. I am in the middle of doing a huge refactor of the codebase here, so we can consider this feature after that is released.

[2019-07-24 16:19] IamSachin commented on #459
Thank you so much :-)

[2019-07-24 20:40] mikiasmohamed opened #463 "is there a way to show pagination?"
is there a way to show pagination? I am showing three tooltips and want to show 1/3, 2/3 and 3/3 on each tooltip.

[2019-07-24 20:59] rwwagner90 commented on #463
@mikiasmohamed you could use the technique discussed here https://github.com/shipshapecode/shepherd/issues/427#issuecomment-508923059

[2019-07-24 22:04] mikiasmohamed commented on #463
thanks

[2019-07-25 14:11] #463 closed

[2019-07-25 17:18] rwwagner90 commented on #444
This is fixed now

[2019-07-25 17:18] #444 closed

[2019-07-26 02:17] #461 closed

[2019-07-26 13:39] #455 closed

[2019-07-26 13:39] #456 closed

[2019-07-26 13:48] #443 closed

[2019-07-26 13:49] rwwagner90 commented on #198
@knoobie when do you think you guys can take a look at this? Just trying to get an idea. I would like to ensure a11y is good to go before we release 4.0

[2019-07-26 14:06] knoobie commented on #198
@rwwagner90 gonna try to get feedback by the end of next week.

[2019-07-26 18:18] knoobie commented on #198
@rwwagner90 I have seen that you have updated your demo page. Just an idea / note: For sightless people it would be better when the tour can be started by hand (click on a button) instead of "on load" - that's kinda annoying and not intuitive.

[2019-07-26 19:00] rwwagner90 commented on #198
@knoobie it's just the demo page. When implementing in another page it can be triggered however you would like.

[2019-07-26 22:26] knoobie commented on #198
@rwwagner90 I know - we do this. Just as enhancement for your demo to show people other ways of opening it and allowing for better usage of your demo as show case. You know, developer are lazy people ;)

[2019-07-28 21:12] rwwagner90 commented on #426
@YochevedZ since I cannot reproduce, I am unsure how to fix this. Can you please help us with a reproduction?

[2019-07-30 09:34] knoobie commented on #198
Got finally some feedback for you:

- The 'close' a href next to the h3 should be something like ```<button type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>``` instead
- CSS Highlighting of the buttons (:focus) doesn't work properly using the keyboard

Nice to have feature:
- allow user to configure what heading level they want (h1-h6)

Didn't tested

[2019-07-30 16:08] rwwagner90 commented on #198
@knoobie thanks for the feedback!

I'm confused on this. What is not working?

I just made these changes and released 4.1.0, thanks!

[2019-07-30 16:57] knoobie commented on #198
Steps to reproduce:

Opening: https://shepherdjs.dev/demo/
Navigate only using "TAB" on the keyboard
 - "x" gets focused (you can visually see it)
- "Exit" gets focused (you can visually see it)
- "Next" gets focused (you **can't** visually see it)

You can read more about it [here](https://a11yproject.com/posts/never-remove-css-outlines/)

[2019-07-30 17:47] rwwagner90 commented on #198
@knoobie I get the blue outline on all the elements. The next button takes maybe half a second to show up, maybe due to animations, but I see it.

[2019-07-31 06:05] knoobie commented on #198
@rwwagner90 what Browser did you use? I'm on Firefox 69 (Ubuntu / MacOS)
IE 11 on a VM looks okay for me as well.

[2019-07-31 11:11] rwwagner90 commented on #198
@knoobie it appears FF for some reason highlights the text inside the button, instead of the button. It still works though. If you tab to `next` then hover over it, you can see it is focused. It's just hard to see because the FF focused outline blends in with the button color.

[2019-07-31 12:41] charlesanim opened #470 "Embedding video or html content into the body"
Is there any way to modify or inject a video object or html content or even customize whats in the steps body. Like the replace the text key with an image key or video.

I've tried every method but none seems to work. Thoughts?

See code below.

`    shepherd.addStep('health', {
      title: 'Health Team',
      text: 'Pariatur fugiat proident nisi fugiat enim laboris qui dolore exercitation sint

[2019-07-31 13:18] rwwagner90 commented on #470
@charlesanim `text` supports html. You can just pass an html string.

[2019-07-31 14:14] rwwagner90 opened #473 "Closing the tour should move the focus back to the element that opened it"

[2019-07-31 14:16] rwwagner90 commented on #198
I believe most of this has been addressed. If there are additional issues, please feel free to open new ones!

Also, @knoobie what is your company? We would love to feature your Shepherd usage in our users 😄

[2019-07-31 14:16] #198 closed

[2019-07-31 14:35] rwwagner90 commented on #470
Please let me know if this works for you!

[2019-07-31 14:35] #470 closed

[2019-07-31 14:56] charlesanim commented on #470
Thanks for the response,

So I'm trying to pass a <div id="lottieAnim"></div>

And render Lottie a animation using the id.

But it doesnt seem to work.

I even tried to place a html5 video in there but nothing worked. Please what am I doing wrong?

#Help. Thanks

[2019-07-31 15:55] rwwagner90 commented on #470
@charlesanim without seeing your code, I wouldn't know. You can pass raw html in as text. For example:

[code]

[2019-07-31 16:23] charlesanim commented on #470
Ok, I'll push my code to a repo for you to check out.

but I was trying to `text: <div id="lottieAnim"></div>`

and once that renders, I target the ID with Lottie to render the animation in that element.

Please checkout lottie here, [Lottie by Airbnb](https://airbnb.io/lottie/#/web)

[2019-07-31 16:23] rwwagner90 commented on #470
@charlesanim here is an example using `<video>` https://codepen.io/rwwagner90/pen/jgwEeq

[2019-07-31 16:24] rwwagner90 commented on #470
Your text has to be a string, so you would want
[code]

[2019-07-31 18:47] charlesanim commented on #470
Thank you, I will check it out and get back to you. Thanks much.

[2019-08-02 13:05] #473 closed

[2019-08-02 14:54] chadarsenault opened #481 "Request: Option to disable themes entirely"
Some of shepherd's styling is opinionated - which is great for bootstrapping - but adds some dev time for production-ready branded sites.  It would be nice to have an option to disable themes and allow the contents of a tour step to just inherit the site's styles.  Obviously all of the layout css is important to keep, I just mean aesthetic choices like the following could be excluded:

[code]

[2019-08-02 16:15] rwwagner90 commented on #481
Hi @chadarsenault, styling the links might be taking it too far, so in that instance we could remove those styles, but I'm not sure how much you actually are advocating to remove here?

[2019-08-02 17:26] chadarsenault commented on #481
Optimally all of the styles in /src/js/components/sherpherd-content would be optional, to allow for the layout styles to persist but anything inside the shepherd.tippy-popper to remain unstyled.

But since I'm just now looking at the source and realizing the css is bundled in during the build step, I'm realizing how much of a pain it would be to make styles optional, so you can probably close this

[2019-08-02 18:13] rwwagner90 commented on #481
@chadarsenault I think we should take a look at what styles make sense to remove. Styling links we could absolutely remove. What other styles are giving you a problem? The idea for most styles is you would override them via `styleVariables`.

[2019-08-04 10:10] p-vogt opened #483 "styleVariables missing in 'TourOptions' declaration and beforeShowStep not implemented"
Hi,
thank you very much for sharing this library :).

I am using version 4.3.3:

`styleVariables` is missing in the interface `TourOptions`.

Also, I think `tour.beforeShowStep` is not implemented, but declared in the d.ts. --> I would delete it or implement it.

[2019-08-04 12:42] #483 closed

[2019-08-05 01:45] #114 closed

[2019-08-05 13:53] rwwagner90 commented on #442
We have decided not to spend cycles on this, but rather to get 4.x really solid, then remove IE support in 5.x.

[2019-08-05 13:53] #442 closed

[2019-08-05 17:44] chadarsenault commented on #481
In my particular use case, I had to override all of the following base styles in order to get the tooltips to match our style guide:

[code]

[2019-08-05 22:21] rwwagner90 commented on #481
@chadarsenault I am curious, do the `styleVariables` not work for you? Much of the border radius and colors can be overridden with them.

[2019-08-07 15:55] jinhucheung opened #486 "ShepherdClass missing after adding modifiers of popper"
Hi Shepherd

I found shepherd class is missing after adding popper modifiers of step, and I notice popperOptions may lost addShepherdClass modifier in merging defaultPopperOptions.

https://github.com/shipshapecode/shepherd/blob/dccb74f2736f2f91a0f13ace50e0aaa980e9e510/src/js/utils/general.js#L186

Shepherd version: 4.4.0

CodePen demo: https://codepen.io/jinhucheung/pen/NQyVWy

Thanks a lot
JimCh

[2019-08-07 16:02] jinhucheung opened #487 "The example of shepherd demo is not defined shepherd variable"
The shepherd variable is not defined in https://shepherdjs.dev/demo/ example

[2019-08-07 20:00] rwwagner90 commented on #486
Thanks for reporting!

[2019-08-07 20:02] rwwagner90 commented on #487
@jinhucheung what would you suggest? There are many ways to include Shepherd

[2019-08-07 20:05] #486 closed

[2019-08-07 22:15] jinhucheung commented on #487
@rwwagner90 Would you update example code in [demo](https://shepherdjs.dev/demo/) ?

[code]

thanks

[2019-08-08 11:41] moxival opened #490 "Wrong type definition for scrollTo"
Hi,

the type definition for `scrollTo` is wrong: https://github.com/shipshapecode/shepherd/blob/master/src/types/step.d.ts#L118

It is defined as boolean, but in reality it accepts  `{ behavior: string, block?: string }|boolean`

[2019-08-08 12:19] rwwagner90 commented on #490
Hi @moxival thanks for letting us know! Would you want to open a PR to fix it?

[2019-08-08 12:21] rwwagner90 commented on #487
Oh you mean the actions, yes we can update that.

[2019-08-08 12:23] #487 closed

[2019-08-08 13:12] IamSachin opened #491 "Is it possible to disable keyboard navigation on advanceOn steps?"
I am using the **advanceOn** to go to the next step. I didn't provide the next button, which is good. But the user is still able to go to next step using the keyboard.

[2019-08-08 13:45] rwwagner90 commented on #491
@IamSachin I am not sure the best way to handle this. We want to enable it as much as we can for a11y. I suppose we could have a `keyboardNavigation` option, that could be set to false, but it might be nice to have something more robust, where keyboard nav and the next/previous buttons could be disabled until certain conditions are met.

[2019-08-08 14:24] IamSachin commented on #491
Do you plan of having such a feature in the future?

This would be really great actually.
I am currently using the app on Vue based front end, and my **advanceOn** action is re-rendering many things in the page. Sometimes, the selectors are changing and the tour step is not rendering properly because it cannot find the item.

[2019-08-08 14:37] IamSachin commented on #491
Do the steps look for anchor point using the document.querySelector at the time of showing step, or while use .addStep or .addSteps?

[2019-08-08 14:40] rwwagner90 commented on #491
@IamSachin I really try to discourage the use of `advanceOn` I would like to remove that option in the future entirely. It's much more stable to call `tour.next()` when you want to advance. Would that work for you or do you need `advanceOn`?

[2019-08-08 14:44] rwwagner90 commented on #491
It should be during the `show` call, not during `addStep`.

I am very curious on this behavior. Do you have an example?

[2019-08-08 14:48] IamSachin commented on #491
`tour.next()` does feel like a cleaner solution and better than `advanceOn`.

This information will save me a lot of time. 👍

I cannot show a screenshot here because of sensitive data. I'll try to create an example screen and show you.

[2019-08-08 14:53] rwwagner90 commented on #491
I don't need a screenshot, but some example code showcasing the problem would be great 👍

[2019-08-08 16:28] IamSachin commented on #491
[code]

For example,  within this timeout, the element is being rendered in the DOM.
But still, I am not able to attachTo that newly rendered element. The step is showing after a second

[2019-08-08 16:47] rwwagner90 commented on #491
@IamSachin `_show` is not called until after the promise from `beforeShowPromise` resolves. What are you passing to `attachTo`? It should work. I think I really need a full example please. Can you make a CodePen or something?

[2019-08-08 20:23] hope55 opened #492 "Passing 'HTMLElement' to tour.addStep{ text: ... } doesn't work anymore"
Hi Robert, thanks for your awesome work! I tried to migrate  my tour from 2.x to 4.4.0, but I couldn't. The documentation says:

The text in the body of the step. It can be one of three types:
[code]
Unfortunately the second option is broken now. It will render a tour step with a content text: "[object HTMLDivElement]". I must pass `HTMLDivElement` here, as it contains some elements having event h

[2019-08-08 21:24] rwwagner90 commented on #492
Hi @hope55 thanks for reporting the issue! I cannot seem to figure out how to do this with Preact. Any suggestions?

[2019-08-09 01:22] #492 closed

[2019-08-09 09:57] moxival commented on #490
Hi @rwwagner90 please check PR #494

[2019-08-09 11:57] IamSachin opened #495 "Is it possible to fade in/out the overlay?"
It'll look more fluid and continuous with the flow of the tour.

[2019-08-09 13:38] rwwagner90 commented on #495
You want to fade it out, and back in as steps are shown?

[2019-08-09 13:47] IamSachin commented on #495
Fade in when it first appears, that is at start and fade out on complete

[2019-08-09 13:49] rwwagner90 commented on #495
@IamSachin that seems reasonable. Would you be interested in opening a PR to add this?

[2019-08-09 14:40] #490 closed

[2019-08-09 15:07] IamSachin commented on #495
I'll see if I can do it in the weekend.

[2019-08-09 16:07] hope55 commented on #492
Hey Robert! Thanks you! That was really quick! Just tested it, it works like a charm! ;)

[2019-08-09 17:14] rwwagner90 commented on #492
@hope55 You're very welcome! Out of curiosity, where are you using Shepherd? We're always looking for more companies/projects to list as users 😃

[2019-08-09 17:35] rwwagner90 commented on #495
@IamSachin never mind, I opened a PR for it real quick 😃

[2019-08-09 18:05] IamSachin commented on #495
Thank you so much Robert 😊😊

[2019-08-09 18:06] #495 closed

[2019-08-09 18:31] rwwagner90 commented on #421
No longer able to reproduce this, so closing for now.

[2019-08-09 18:31] #421 closed

[2019-08-10 06:45] knoobie opened #497 "Disable built in component styles"
After upgrading our application to 4.6 (from 3.x) - I noticed that you have changed your styling approach from css files to js included css. Appreciate that!

It just comes with the little downside, when you explicit wanna exclude some css. We removed all the button styling before - so your default styling won't interfere with bootstrap's styling.

Example:
[code]

Now your classes overwrite the b

[2019-08-10 08:41] dipiana opened #498 "Pop-up / description cut off"
The pop-up/description on the official demo site is cut off:

![image](https://user-images.githubusercontent.com/7633078/62819853-512f8e80-bb5b-11e9-9701-ae0d0c43f96d.png)

I am using Chrome version 75.0.3770.142

[2019-08-10 15:15] hope55 commented on #492
@rwwagner90 We've developed a Facility Management tool called SAM Space and Asset Management Service. My company is this: www.invensol.hu. Previously, we've had used Enjoyhint for site tours, but it has been abandoned by it's developer, in addition we wanted to get rid of jquery. Then I found Shepherd, with this great support! ;) Please feel free to list our company, if you think we fit in your po

[2019-08-11 11:05] knoobie opened #499 "Feature Request: I18n cancel link"
Currently the cancel link has a hardcoded english message and a &times; that is not changeable.

Proposal:

instead of:

[code]

how about:

[code]

[2019-08-11 22:17] rwwagner90 commented on #499
@knoobie I am open to making things configurable. Shouldn't everything be i18n capable then? Not sure what else we might need to tweak.

[2019-08-11 22:21] rwwagner90 commented on #497
@knoobie wouldn't the override approach still be the same? You can pass custom classes and use custom CSS to override, as needed. You might need `!important` occasionally.

[2019-08-11 22:25] rwwagner90 commented on #498
All of this is customizable via tippy/popper etc. Flipping behavior is tricky. We should maybe examine the defaults.

[2019-08-12 03:59] knoobie commented on #497
@rwwagner90 the problem with custom classes or let's say !important is, that for example bootstrap doesn't uses important. So we are kinda stuck ;)

The difference would be that your classes aren't added anymore. Only the self-defined custom classes

[2019-08-12 04:01] knoobie commented on #499
@rwwagner90 I'm a huge fan of i18n everywhere. Let me check later if I can find more. That was the first thing I found.

[2019-08-12 05:43] knoobie commented on #499
Update: I think all other things are i18n already :)

[2019-08-12 07:35] dipiana commented on #498
Is it a tippy or popper setting?
I could try to examine it.

[2019-08-12 12:41] rwwagner90 commented on #498
@dipiana I do not know. There are `flip` and `flipBehavior` options in tippy. https://atomiks.github.io/tippyjs/all-options/

[2019-08-12 12:44] rwwagner90 commented on #497
@knoobie You would have to add style overrides, just like before. I'm not sure I see the problem. You can add the classes and add CSS for them. You could also add your own style tags like we do, and override without `!important`.

I'm not against a way to exclude all styles, as several people have requested it, but in my opinion, Shepherd is pretty useless without any styles, so how to include jus

[2019-08-12 12:49] rwwagner90 commented on #499
@knoobie do you think we need to be able to change the "x"? I feel like we can keep that, and we could then add `cancelLinkLabel` as a new option or something.

[2019-08-12 13:19] knoobie commented on #497
I think you are right with that! The hardest part is - what has to be included, what can be optional.

Well let me say it like this, currently the code above produces:

`<button class="btn btn-primary shepherd-button">`
vs
`<button class="btn btn-primary">`

This way no css has to be overwritten, because nothing could be applied with the selector `. shepherd-button`. Drawback: those 20-30 lines of

[2019-08-12 13:22] knoobie commented on #499
Was wondering the same.. but for example - a company uses FontAwesome as icon base - they would probably wanna use `<i class="far fa-times-circle"></i>` as icon.

[2019-08-12 13:28] rwwagner90 commented on #499
Fair enough. I just don't want to have a breaking API change for this small improvement, so perhaps we should add `cancelLinkLabel` and `cancelLinkHTML` or something.

[2019-08-12 13:29] knoobie commented on #499
Fair enough!

[2019-08-12 13:31] rwwagner90 commented on #497
This needs much more planning before we can implement a solution, unfortunately. I would recommend overriding for now.

[2019-08-12 17:40] mfallihee opened #504 "Types don't support activeTour or Evented properties."
I have a very simple test with the current version 4.6.0:

[code]
This will result in two errors on Typescript@3.5.3
[code]

Additionally the current types will let few things will compile which should not:
[code]

It looks to me that these errors are mostly related to this recent commit [9466a97](https://github.com/shipshapecode/shepherd/commit/9466a9753f32297c0e32d6e081692b82261f6cba)

My sugges

[2019-08-12 17:45] rwwagner90 commented on #504
@mfallihee where are you using `typeof Shepherd`? If you use `Shepherd` as the type instead of `typeof Shepherd` I believe things should work.

[2019-08-12 17:56] mfallihee commented on #504
@rwwagner90 This is the snippet generating the errors:
[code]
I am not explicitly using "typeof Shepherd" anywhere but that is the resulting type of the import when you reference Shepherd as a value.

If I do what you are suggesting like so and explicitly cast to "Shepherd" using it as a type, it does work:
[code]
However, this seems far from ideal and not what was intended.

[2019-08-12 20:21] rwwagner90 commented on #504
@mfallihee the `activeTour` one we definitely need to fix, but the `Evented` one I am not sure about. I don't think people should be using `Shepherd.Evented`. It's used for events on tours and steps.

[2019-08-12 20:25] mfallihee commented on #504
@rwwagner90 That sounds good to me. I'm indifferent to the Shepherd.Evented one since I was not actually using it.
Probably best to just update the [documentation](https://shepherdjs.dev/docs/tutorial-02-usage.html) to not include the Shepherd.Evented usage.

[2019-08-12 23:25] #504 closed

[2019-08-12 23:26] rwwagner90 commented on #499
@knoobie I just merged a different breaking change, so we should be okay to do a breaking change here. Will get something up.

[2019-08-13 00:03] rwwagner90 commented on #316
I think this should be up to the application, to wait until the styles are applied before triggering the tour.

[2019-08-13 00:03] #316 closed

[2019-08-13 00:09] #491 closed

[2019-08-13 10:30] genadis opened #510 "Delay between steps causes backdrop modal flicker"
Hi,

We use a simple delay configuration: `beforeShowPromise: () => delay(50), ` for all the steps.
delay is
[code]

This causes a flicker of the modal on each step. I think it's because the previous step is first hidden including hiding the modal.
then the next step is shown, but first beforeShowPromise is resolved.

Is it possible to change the behaviour, so the tour waits for the beforeShowProm

[2019-08-13 10:45] genadis opened #511 "advanceOn click doesn't work on nested elements"
On this line: https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/bind.js#L14
a check is made for: `event.target.matches(selector);`
so if users clicks on a nested element of the one specified by the selector, there would be no match.
For example:
[code]
A click event might be on the `<i>` and not on the button but we want to advance if user clicks on text of button or the icon (the

[2019-08-13 12:18] rwwagner90 commented on #511
@genadis I'm not sure I understand. If you want the event to fire on clicked the `<i>` a selector that includes `i` would work, right?

Furthermore, I really think we should remove `advanceOn`. It's not intuitive and it adds unnecessary complexity. The preferred thing to do it `tour.next()`

[2019-08-13 12:19] rwwagner90 commented on #510
@genadis what is the purpose of the delay you are adding?

[2019-08-13 16:07] genadis commented on #510
We listen to step show events and in certain conditions we need to change state of app for specific step. Changing the state is async and sometime can take time, in some cases it can even be one tick. with timeout of 0 ms. even in this case there is still a flicker (the eye catches all).

what is the purpose of beforeShowPromise if not to take some async action before showing the step?
delay is th

[2019-08-13 16:22] genadis commented on #511
we want to advance when users clicks the `<button>` or the `<i>` inside of the button.
If we use selector for `<i>` we advance only on clicking `<i>`.
If we user selector for `<button>` we advance only on clicking the text of the button. if user clicks the `<i>` which is inside the button the `event.target` will be `<i>`.

But again, the above is only an example. the issue is, that the current imp

[2019-08-13 16:51] rwwagner90 commented on #510
@genadis that is the purpose of `beforeShowPromise`. If you examine the code, `beforeShowPromise` must resolve before `_show` is called.

I'm open to suggestions and PRs to fix this. I'm not sure of a fix off the top of my head.

[2019-08-13 16:56] rwwagner90 commented on #511
@genadis okay, I understand. Do you have a suggested fix? We need to check the target to see if what you clicked matches the selector, so I am not sure of an infinitely nested way to do this and account for parents and children.

[2019-08-13 17:18] genadis commented on #510
great, I'll try some things and update here

[2019-08-13 17:27] genadis commented on #511
A fix might be changing this line: https://github.com/shipshapecode/shepherd/blob/master/src/js/utils/bind.js#L13
to
[code]
or changing the `event.target.matchs(selector) to the above condition.

The above will make sure:
1. the selector was used.
2. the event handler was bound to the selector element.

if the event handler was bound to the selected element it's good enough we don't need to check

[2019-08-13 20:52] rwwagner90 commented on #511
@genadis you'll have the same problem with that code, right? Not seeing how `event.currentTarget === document.querySelector(selector)` is any different as the selector still has to match the element. This wouldn't bubble up, that I know of. If it does, can you please explain?

[2019-08-13 21:44] genadis commented on #511
sure,
https://developer.mozilla.org/en-US/docs/Web/API/Event/currentTarget

The currentTarget read-only property of the Event interface identifies the current target for the event, as the event traverses the DOM. It always refers to the element to which the event handler has been attached, as opposed to Event.target, which identifies the element on which the event occurred and which may be its dir

[2019-08-13 23:01] rwwagner90 commented on #511
@genadis gotcha, I will give it a try

[2019-08-13 23:33] #511 closed

[2019-08-14 12:35] dipiana commented on #498
After finding a solution (https://github.com/atomiks/tippyjs/issues/560#issuecomment-521061028) we should think about implementing an option to select the desired behavior if there is to little space left for the popup.

My suggestion:

1. Set a min-width for the popup. Is there enough space left to show the popup without being cut off? If no:
2. (Optional) Check if there would be enough space at

[2019-08-14 12:39] rwwagner90 commented on #498
@dipiana all of this can be controlled via tippyOptions, so the user can really customize however they would like it to work.

[2019-08-16 09:51] genadis opened #517 "Possible memory leak (not cleaning up preact root nodes)?"
haven't tested it, just pointing it here to take notice.

Steps are rendered using preact 'render' which creates preact root nodes: https://github.com/shipshapecode/shepherd/blob/master/src/js/step.jsx#L237

when steps are destroyed: https://github.com/shipshapecode/shepherd/blob/master/src/js/step.jsx#L156
a simple `this.el.parentNode.removeChild(this.el);` is used.

according to:
https://github.

[2019-08-16 12:26] rwwagner90 commented on #517
@genadis I'm curious, if you have not tested this, what has indicated there is a problem? If we have a memory leak, we should definitely fix it, but we should start with a failing test showing something is not cleaned up, then fix it by correctly cleaning up.

[2019-08-17 12:36] rwwagner90 commented on #498
I think we've got some sane defaults on this now. If you're seeing issues still, feel free to open a new issue!

[2019-08-17 12:36] #498 closed

[2019-08-17 12:37] rwwagner90 commented on #510
@genadis any luck with this?

[2019-08-17 13:24] #499 closed

[2019-08-18 13:48] rwwagner90 commented on #517
@genadis I opened a PR doing what you suggested, but I would like a way to definitively test this. Since `this.el.parentNode` is the tippy element, and that gets destroyed, I'm not sure if we really even need to remove anything at all.

I would love to see some definitive results of one approach versus the other.

[2019-08-19 08:54] dipiana opened #521 "Z-Index Issues"
I wanted to use shepherd.js on a site with a theme which uses `z-index: 9999` for an element I wanted to highlight. That caused some problems with the overlay.

I now tried to set `tippyOptions: {zIndex: '99999'}` which changes the z-index of the popup.
The z-index of the overlay was not affected.

Therefore I had to change this line: https://github.com/shipshapecode/shepherd/blob/dbb5578011a95451

[2019-08-19 13:16] rwwagner90 commented on #521
Why does the base site set such a high z-index?

We should definitely tie the z-index variables together. Should be a super easy change.

[2019-08-19 13:40] #521 closed

[2019-08-20 09:58] jujaysmile opened #525 "Allow highlighting multiple elements per step"
Hi,

I want to attach a step to an element with fixed width & height, this element has a div child (a dropdown content) positioned with the "absolute" css property.

When i configure the attachTo; element: '.parent-element'. the opac layer cover the entire screen, except my element, but the child element is not visible and covered by the opac layer.

Do you have any solution to not cover the paren

[2019-08-20 11:48] rwwagner90 commented on #525
@jujaysmile I'm not sure I understand, is the child element not inside the parent? If the parent is highlighted, the child should be as well. Can you provide a small example for us to play with?

[2019-08-20 13:33] jujaysmile commented on #525
**@rwwagner90** hi, yes, the child element is inside the parent.

Here is my code

**HTML**
[code]

**CSS**

[code]

**JS**
[code]

**And here a screenshot**

![debug](https://user-images.githubusercontent.com/54311453/63351523-b3f50700-c35f-11e9-940b-1fb3e986c049.png)

Thanks for your help !

[2019-08-20 13:54] rwwagner90 commented on #525
@jujaysmile The issue is you are setting a width and height on the parent. We use `getBoundingClientRect` to get the size of the element and highlight it. You'll have to allow the size to grow to accommodate the child. You could also try setting a super large `modalOverlayOpeningPadding` to add extra space to the opening, but that's likely not going to work super well.

[2019-08-20 14:23] jujaysmile commented on #525
**@rwwagner90** OK, thanks for your answer, I understand the problem. Do you know if there is way to specify multiple highlighted elements (in this case .parent & .child), i think it will be the perfect solution in this case.

[2019-08-20 14:36] rwwagner90 commented on #525
@jujaysmile it's not currently supported. There was an issue opened for it in the past https://github.com/shipshapecode/shepherd/issues/356

The problem is if you allowed multiple elements in `attachTo` how would we know what to attach the tooltip to? We would have to add a new option to add additional highlighted items and create openings for them. Is this something you would like to work on perh

[2019-08-20 14:56] jujaysmile commented on #525
@rwwagner90, ok. I am currently working on a big project and don't have a lot of time right now. But maybe in some times. I am interested by the concept of your tool.

[2019-08-21 11:36] rwwagner90 commented on #481
Closing as a duplicate of #497

[2019-08-21 11:36] #481 closed

[2019-08-22 13:43] rwwagner90 commented on #517
I'm going to close this for now. If you have a concrete case showing a memory leak, let me know and we can take a look again.

[2019-08-22 13:43] #517 closed

[2019-08-22 14:43] #497 closed

[2019-08-23 12:17] m0jimo opened #527 "Overlay shadow not visible on VueJs + Quasar CSS"
I have imported shepherd directly to my Vuejs + [Quasar](https://quasar.dev/) app (whithout the Vue wrapper) and I can't find a way how to show an overlay shadow. Step object is visible but white without the overlay around.
[code]
[code]
and here is the bubble:
![image](https://user-images.githubusercontent.com/37825539/63591644-a766ed80-c5af-11e9-90f7-33204f721f82.png)

[2019-08-24 09:43] IamSachin commented on #459
Robert, any plans about this?

[2019-08-24 19:48] rwwagner90 commented on #459
@IamSachin no immediate plans. It can be implemented manually for now. Might be better to leave it manual anyway and just have an example on how to do it.

[2019-08-25 18:37] rwwagner90 commented on #333
vue-shepherd has now been released. It doesn't do much yet, but it will soon 😃

[2019-08-25 18:37] #333 closed

[2019-08-25 18:41] rwwagner90 commented on #525
@jujaysmile When do you think you might have some time?

[2019-08-25 18:42] rwwagner90 commented on #426
Since I have not heard back, I am closing for now. Please feel free to reopen if you can provide us with a reproduction!

[2019-08-25 18:42] #426 closed

[2019-08-26 07:42] m0jimo commented on #527
I used the configuration on the [demo](https://shepherdjs.dev/demo/) page and there is no overlay property but it showing the overlay, so I thought it is the default behaviour.

I checked the source of ```demo.js``` today on the demo page and there I can see that the demo page uses ```useModalOverlay:true``` property.

Anyway thanks a lot for a quick help and great component
![image](https://user-

[2019-08-27 13:27] kedardahivale commented on #459
@rwwagner90 Hey! where can I find that example ?

[2019-08-27 19:17] vesper8 opened #528 "Can't get shepherdElementZIndex to work"
I tried

[code]

In all cases the applied z-index continues to be 9999

using `"shepherd.js": "^5.0.0",`

I can only assume it's the z-index that is causing the tour not to display at all.. am upgrading from 2.8 and it was working fine before

[2019-08-28 11:23] #528 closed, assigned to nobody

[2019-08-30 13:58] genadis commented on #510
@rwwagner90 in one of the recent versions, you have added a modal fade animation, so If the delay of the beforeShowPromise  is short the flicker is barely visible.

In any case, if I get the chance I'll try to look into it. If it's not issue for anybody else, maybe this can be closed.

[2019-08-30 15:33] rwwagner90 commented on #510
@genadis things need to be refactored to hide and show the modal after beforeShow. If you have the time to work on it, I would appreciate it! It's not a small change.

[2019-09-04 15:58] jinhucheung opened #537 "The keyword 'const' is reserved on es5"
Hi Shepherd

I found shepherd v5.0.1 raise SyntaxError on es5, and I don't kown where raise it.

I use [es-check](https://github.com/dollarshaveclub/es-check) check v5.0.1, get report:

[code]

But It is ok in shepherd v4.6.0.

Thanks a lot
JimCheung

[2019-09-04 16:28] rwwagner90 commented on #537
@jinhucheung can you check line 449 of shepherd.js where it says the issue is?

How are you including Shepherd in your app? Shepherd still runs in IE11, as far as I know, so I am not sure what is causing this issue.

[2019-09-04 16:56] jinhucheung commented on #537
@rwwagner90 thanks, the line 449 of shepherd.js:

[code]

I import Shepherd into rails app. when rails compress shepherd.js by [uglifier](https://github.com/mishoo/UglifyJS), it raise the error.

[code]

It can be solve by enable UglifyJS [harmony](https://github.com/mishoo/UglifyJS2/tree/harmony) mode

Thanks a lot

[2019-09-04 18:05] rwwagner90 commented on #537
Great, I will close this issue then.

[2019-09-04 18:05] #537 closed

[2019-09-05 08:16] ognyandim opened #538 "Is there a plan to upload the latest version to cdnjs?"
I can find only 1.8.1 and beta 2 on https://cdnjs.com/libraries/shepherd

[2019-09-05 12:06] rwwagner90 commented on #538
Seems like cdnjs is not actively maintained. Been trying to help push that along here https://github.com/cdnjs/cdnjs/pull/13363

I recommend jsdelivr, it works with everything on npm. https://cdn.jsdelivr.net/npm/shepherd.js@5.0.1/dist/js/shepherd.js

[2019-09-05 12:12] #538 closed

[2019-09-05 12:43] k2s opened #539 "attachTo doesn't work with elements under shadow DOM"
Situation:
* `parseAttachTo()` uses `returnOpts.element = document.querySelector(options.element);`
* /deep/ and shadow dom deep selectors were removed from standard
* so there is no way to write selector to attach step to element under shadowdom

My quick solution:
I changed `parseAttachTo()` to support option `shadowRoot` which should be selector.

[code]

My quick test shows that it works.
Coul

[2019-09-05 13:09] k2s commented on #539
`useModalOverlay: true,` works, but it seams that it is not possible to edit inside the shadow dom input element

[2019-09-05 14:06] joshirohit1988 opened #540 "Add option to set aria-label on step buttons"
Need to add a label property in button configurations in steps config just like you have provided for cancel icon

[2019-09-05 14:24] rwwagner90 commented on #540
@joshirohit1988 I'm not an a11y expert, but wouldn't the button text be sufficient? Why is an extra  aria attribute needed?

[2019-09-05 14:27] rwwagner90 commented on #539
@k2s I do not know much about shadow DOM, but `attachTo` supports passing elements. Can you grab your shadow DOM element first, then pass the element to `attachTo`?

[2019-09-05 17:49] joshirohit1988 commented on #540
@rwwagner90: Consider this use-case like
*on next we have have to announce "next step" to screen readers while the button label is "next".
*similarly while the back button label is "back" we have have to announce "Back to previous step".

You just have to map the extra label property for button to aria-label attribute just like you did or which we currently have for close icon.

[2019-09-08 20:35] rwwagner90 opened #545 "Investigate removing `classPrefix` entirely"
@genadis I know you wanted class prefixing on everything, but I am curious, do we really need it?

Prefixing for `data-` attributes makes sense, but I think for styling we could use the option to add classes to the step, and style everything inside the step under `.my-step-class` etc.

Thoughts?

[2019-09-08 20:39] rwwagner90 commented on #545
@chuckcarpenter would be great to get your thoughts as well on the minimum level of prefixing for classes and `data-` attributes to allow for 2 or more tours on a page at once.

[2019-09-08 20:42] rwwagner90 opened #546 "Remove `styleVariables` documentation"

[2019-09-08 20:45] rwwagner90 opened #547 "Restyle landing page"
Once we get the style nailed down for the new landing page, we will need to implement it and consolidate the demo/testing with the new landing page.

[2019-09-08 20:47] rwwagner90 opened #548 "Add tests for multiple tours on a page"
This will allow us to be certain you can have two tours, as long as only one is running at a time.

Things to test:

- [x] It is possible to style the tours independently
- [x] The `data-` attributes are prefixed, so they do not interfere with each other
- [x] The tour active classes, etc are prefixed, so it knows which tour to interact with
- [x] The modal overlays only show one overlay, even tho

[2019-09-08 20:53] rwwagner90 opened #549 "Investigate smaller tooltip options"
This could be removing tippy, and going back to just popper at a minimum or switching to some micro tooltip library or creating our own perhaps.

[2019-09-08 23:20] rwwagner90 opened #550 "Reuse uniqueId logic"

[2019-09-09 08:34] joshirohit1988 commented on #540
@rwwagner90: Hey are you planning to add this small feature anytime soon?

[2019-09-09 11:52] rwwagner90 commented on #540
@joshirohit1988 yes, we can add it. If you wanted to add it yourself and open a PR, that would be helpful 😃

[2019-09-09 22:12] rwwagner90 opened #552 "Fix `isOpen`"

[2019-09-09 22:35] chuckcarpenter commented on #545
I think any element we'd add a class to, should get a unique prefix. Not sure the scope of what you mean by everything? Like add a class to every created element? Then let that be selected without needing to use hierarchy? Sorry, not clear on the end goal.

[2019-09-09 22:46] rwwagner90 commented on #545
@chuckcarpenter not talking about `shepherd-` talking about the user supplied prefixes. Checkout the docs on `classPrefix`

[2019-09-09 23:06] rwwagner90 commented on #545
@chuckcarpenter most of the discussion about why @genadis needed prefixes is here https://github.com/shipshapecode/shepherd/pull/445

I think if we can try to write some tests that cover these cases, that would be our best bet to ensure we get the right level of prefixing.

[2019-09-10 12:46] #552 closed

[2019-09-10 12:52] rwwagner90 opened #553 "Add `arrow` option"
Now that was switched back to popper, we need an option to show/hide arrows.

[2019-09-10 14:17] #550 closed

[2019-09-10 21:00] rwwagner90 commented on #548
@chuckcarpenter we may or may not be able to have two tours running at once, but it would be cool to also test two running at once, one tour touring you through the other tour or something. If it's too difficult to support, no worries.

[2019-09-10 21:11] rwwagner90 commented on #545
@chuckcarpenter I think once the tests for multiple tours are ready to go, we might be able to evaluate removing prefixes entirely. I think with the `classes` you can pass to steps and the ability to set ids for the `data-` attributes, coupled with the new `uuid` for ids, we should be able to potentially avoid collisions with no prefixes at all.

[2019-09-11 00:57] rwwagner90 opened #556 "Add fade in animation to tether"
Tippy had a fade in animation we used. We should add this back to popper.

[2019-09-12 04:15] chuckcarpenter commented on #548
@rwwagner90 just testing the ability to do this on a page active at the same time. The last one active takes over the global object and `data-shepherd-active-tour`. That's not a deal breaker per se, but anyone who is using that to access the active tour and act with it would only be able to use the last one. So it's possible, but tricky. We'll need to refactor in some to support the list above.

[2019-09-13 07:18] m0jimo commented on #449
I'd like to disable focused element (Vue app) but ```canClickTarget``` or added class ```no-click``` with recommended pointer-events to none doesn't work in Chrome/Edge/Firefox - Win10. IE11 blocks always the visible content doesn't matter what settings is used. It accepts properties like yellow background but not disabled events.

[code]
[code]
![image](https://user-images.githubusercontent.com/3

[2019-09-13 11:24] rwwagner90 commented on #449
@m0jimo what version of Shepherd are you on and do you have some code we could look at?

[2019-09-13 13:50] m0jimo commented on #449
version 4.6.0
[code]
I needed to show a specific single or multi tour and it was the only way I could initiate it. Destroy didn't work but this way works exactly as I need.

html example:
[code]
I know jsfiddle would be better but thanks a lot for looking on my simplified code (Vuejs/Quasar).

[2019-09-13 20:52] rwwagner90 commented on #449
If you inspect the `.shepherd-target` element, is the `pointer-events: none;` style applied? If it is crossed out and overridden, it might be that something else in your app is applying other styles to all elements or something.

[2019-09-16 07:10] m0jimo commented on #449
```pointer-events:none``` is applied when ```canClickTarget:false```
![image](https://user-images.githubusercontent.com/37825539/64939054-3938e200-d860-11e9-9c94-8931854e69e5.png)
If I apply a ```pointer-events: fill``` (or any other then ```none``` in Chrome Debug Tools) to element style it starts blocking all mouse events.
![image](https://user-images.githubusercontent.com/37825539/64939138-8026

[2019-09-16 07:35] m0jimo commented on #449
I found out that if I activate ```canClickTarget``` property it doesn't block events when Tour is active but it starts blocking the Tour Steps object once a Tour is closed.

[2019-09-16 13:03] rwwagner90 commented on #449
@m0jimo perhaps we need to change it to `pointer-events: fill` then?

[2019-09-17 10:31] m0jimo commented on #449
I have more information if it helps to more understand what is happenning.
1) before tour is activated
![image](https://user-images.githubusercontent.com/37825539/65034026-85f6e880-d946-11e9-96b5-c1dc04ea0d72.png)

2) Tour is activated with canClickTarget=false (but events are received)
```shephered-modal-target``` ```shepherd-enabled``` ```shepherd-target```
![image](https://user-images.githubuse

[2019-09-17 13:24] rwwagner90 commented on #449
@m0jimo I am not able to reproduce any of this, using the master branch. It is possible there were some bugs in 4.6.0. I would recommend trying the latest 5.x or using the master branch. If you still see issues, please let me know.

[2019-09-18 03:28] lovetingyuan opened #561 "canClickTarget can not disable taget's children nodes events"
I want to disable all nodes in target node event listener, but `canClickTarget` can not disable taget's children nodes events, so I add
[code]
in global style, could you offer an option to make it work?

[2019-09-18 08:45] cmcnicholas opened #562 "Allow title to specify callback"
Request for a feature, similar to the `text` property of a step being allowed to be a functional callback, it would be nice if `title` also supported this e.g.

[code]

[2019-09-18 11:25] rwwagner90 commented on #562
@cmcnicholas why not set it like this?
[code]

[2019-09-18 11:26] rwwagner90 commented on #562
We could certainly support this, just trying to help in the short term 😃

[2019-09-18 12:16] cmcnicholas commented on #562
hey thanks for the suggestion, I need it to be truly evaluated at the point the step runs like `text` rather than evaluated when the object is defined. The `condition` I mention is dependant on a state in the UI that isn't there until that step runs if that makes sense?

[2019-09-18 13:04] rwwagner90 commented on #562
@cmcnicholas gotcha, makes sense! Would you be interested in opening a PR to add this?

[2019-09-18 13:41] cmcnicholas commented on #562
I will try to take a look when I get 5 minutes, currently working around the above by using `addStep` as project deadlines loom

[2019-09-18 14:15] rwwagner90 commented on #562
No worries. I can take a look later today.

[2019-09-19 10:56] VladimirAnaniev opened #563 "Dynamically update text while in tour"
We want to be able to update the current step's content dynamically while inside the tour.
Can we perhaps implement a method on the Step object that updates the text?
[code]

Do you have any idea how this might be implemented? I can also help with the implementation.

[2019-09-19 13:05] rwwagner90 commented on #563
Hi @VladimirAnaniev can you explain the use case some more?

[2019-09-19 14:22] VladimirAnaniev commented on #563
Hi @rwwagner90

The use case is the following:
We are guiding a user through a multi-step form with  validations where each step is somehow dependent on the previous ones.
We want the user to not be able to continue with the tour unless the current active step is valid.
Also we would like to show a friendly message inside the popover that the field should be valid in order for the tour to continue

[2019-09-19 18:25] rwwagner90 commented on #563
Have you tried using a function for text? That should evaluate on the first show at least. I think we may want to tweak things to call the text function each time on show, rather than calling it once.

@chuckcarpenter any ideas here?

[2019-09-19 20:07] VladimirAnaniev commented on #563
Yes, we tried a function for call but hit the case you described where the text is evaluated only on the first show of the step.
It would be a good improvement to evaluate the callback on each show.
But I feel it wouldn't completely solve our problem as in order to trigger the change while the step is active, we would need to do something like:
[code]
Haven't tested it but it might cause some flic

[2019-09-19 20:14] rwwagner90 commented on #563
I'm not sure there is an easy way to support this. I'm definitely open to it, but would have to play around with some options. Changing the content in the steps is not something that was originally intended.

Did you have any ideas for implementation?

I think in the meantime, some manual setting of the `innerHTML` of the `.shepherd-text` element could work to keep your use case working.

[2019-09-19 23:11] rwwagner90 commented on #549
We're going to eventually use tether for this.

[2019-09-19 23:11] #549 closed

[2019-09-20 02:03] CrashyBang opened #569 "Use of `const` in bundles breaking things on iOS version 9 and below."
Both the `shepherd.min.js` and `shepherd.esm.min.js` include the following declaration:

[code]
Everywhere else `var` appears to have been used but this one `const` declaration is breaking things in older version of iOS (Tested on browser stack) can confirm this is Shepherd as removing Shepherd resolves the issue.

I am compiling with `vue-cli` (version 3) and `webpack` I have tried forcing the _r

[2019-09-20 02:24] rwwagner90 commented on #569
@CrashyBang apologies for the trouble this is causing you. I do not know what was adding that `const` in. We are well on our way towards v6 now, and a ton of things have changed. The v6 dist does not include `const` but it is not quite ready for consumption yet.

I'm hoping to get v6 out in the next couple weeks sometime, but I am not 100% sure if we will be able to or not. In the meantime, I thin

[2019-09-20 02:35] CrashyBang commented on #569
Hey @rwwagner90,

Sounds good, `vue-cli` does have a way to inject into the `webpack` config so I will see what I can do, otherwise I will just disable the tour to v6 is out, that is absolutely fine :)

Cheers!

[2019-09-20 07:16] VladimirAnaniev commented on #563
Can we perhaps have a method in the svelte template that updates the step. This method can be exposed in the Step class. Something like:
[code]

Or even if we want to update more than just the text
[code]

From what I have read Svelte would update the template reactively when the state changes.
Do you think this would work?

[2019-09-20 12:32] rwwagner90 commented on #563
I don't think that covers the case where the text is a function. I think we would want to use some kind of hook, rather than `onMount` and set it there, then whenever we pass new props in, it would update.

[2019-09-20 14:29] VladimirAnaniev commented on #563
Probably we can use the [beforeUpdate](https://svelte.dev/docs#beforeUpdate) hook.
Also noticed Svelte allows us to update component properties from outside with the [$set](https://svelte.dev/docs#$set) method.

[2019-09-20 14:43] rwwagner90 commented on #563
@VladimirAnaniev do you have the time to give implementing some of these a try? I won't have the time to work on this for probably a week or so.

[2019-09-20 20:03] VladimirAnaniev commented on #563
I can have a go at it next week.

[2019-09-25 03:50] #548 closed

[2019-09-25 03:52] rwwagner90 commented on #547
The new design is mostly out, so closing this.

[2019-09-25 03:52] #547 closed

[2019-09-26 15:10] VladimirAnaniev opened #580 "Popover position at (0, 0) when target is rerendered"
Seems like a duplicate of #112 though it is said there it should have been fixed.
Stackblitz with example: https://stackblitz.com/edit/shepherd-rerender-target?file=index.html
![2019-09-26_18-15-07](https://user-images.githubusercontent.com/19152501/65701227-a121d080-e089-11e9-87ae-3a49b20351c9.gif)

### Steps to reproduce
1. Start tour.
2. Destroy and rerender the target of one of the tour steps.

[2019-09-26 17:09] rwwagner90 commented on #580
@VladimirAnaniev a lot has changed since that previous issue. We've rewritten a lot of the logic. We probably need to add a check to see if the element set as the target initially still exists.

[2019-09-27 07:09] VladimirAnaniev commented on #563
@rwwagner90  When can we expect this change to be released? Probably we should update the typescript types as well, I forgot to do that in my PR

[2019-09-27 07:14] VladimirAnaniev commented on #580
Any idea when this might be fixed? Many of our steps have dynamic targets and we are hitting this issue for all of them.

[2019-09-27 10:45] VladimirAnaniev opened #582 "Disabled option for buttons"
It would be helpful if the StepOptionsButton had a disabled property. This property could also be a function to allow more complex logic.
[code]

If the property is true, the button would have the `disabled` property to true.

[2019-09-27 11:54] rwwagner90 commented on #563
@VladimirAnaniev Everything in master is v6, which removes tippy and uses popper directly. We will likely remove popper and use Tether before releasing v6, so it might still be a couple weeks before we can get it out, but hopefully soon!

In the meantime, you may want to use the master branch directly or I could maybe release a beta soon to use.

[2019-09-27 12:00] rwwagner90 commented on #582
Sure, we could support this. I think before we had the ability to set step options again, this didn't make sense as you would never be able to enable the button. Now it sounds fine 👍

[2019-09-27 12:01] rwwagner90 commented on #580
I will take a look today and see if I can find a workaround

[2019-09-27 13:50] rwwagner90 commented on #580
@VladimirAnaniev I opened a PR to fix this issue

[2019-09-27 14:20] #580 closed

[2019-09-30 09:13] serhiichuk commented on #561
@lovetingyuan there is primitive temporary solution for control by  `canClickTarget` option:

[code]

@rwwagner90 maybe you can tell us the date when this feature will implemented?

[2019-09-30 12:07] rwwagner90 commented on #561
I suppose we could add `*` to the existing styles. I don't think there should be a problem with that, as if you want to disable target clicks, you probably mean to disable everything inside the target as well, right?

[2019-09-30 12:20] VladimirAnaniev opened #585 "Modal opening overflow when target is in a scrollable area"
## The issue
When the target element is in a scrollable area and is overflowing, the highlight does not take into account that a part of the element is not visible. The popover position alsodoes not go outside the scrollable parent even if there is available space.

Issue demonstrated in Stackblitz: https://stackblitz.com/edit/shepherd-target-scrollable?file=index.html
![2019-09-30_15-16-52](https

[2019-09-30 12:23] rwwagner90 commented on #585
I believe what you might want here is to disable scrolling entirely. If you disabled scrolling and used `scrollTo` would that fix the issue?

[2019-09-30 12:31] VladimirAnaniev commented on #585
Disabling the scroll works for the smaller elements - the last two in the example. When the target element is bigger (e.g the second one in the example) we want our users to be able to scroll the whole content, so disabling the scroll is not ideal.
Still then the placement of the popover sometimes is inside the scrollable parent, even though there is space outside

[2019-09-30 12:58] rwwagner90 commented on #585
The popper is going to attach to whatever selector you pass to it, so if you want it to be outside of the scroll box, you likely need to set the scroll box as the target and scroll the element in the scroll box into view manually.

[2019-09-30 13:32] VladimirAnaniev commented on #585
In our case the layout is a bit more complex and highlighting the scrollable wrapper would be confusing. The ideal case would be to be able to target a big overflowing element like the second step in the stackblitz example while having the highlight to not overflow and the popper to be able to leave the scroll parent.

We were able to workaround the highlight overflowing with the snippets I shared

[2019-09-30 15:39] VladimirAnaniev commented on #585
Managed to fix the popover being stuck inside the scroll parent by passing `tippyOptions`, though it is not listed in the documentation and could not find it in the code in master. Will it be no longer available in the next versions? Is there an alternative?

[2019-09-30 15:42] serhiichuk commented on #561
@rwwagner90 Yes, I think it's will be better (disable everything inside the target), because in common cases we need to fully disable user interaction with target. For example - navigation, closing popups, etc.

In addition, I think, for controlling this behavior better solution will be using some class on the target instead of inline styles. In most cases, class redefinition is more easy.

[2019-09-30 15:49] rwwagner90 commented on #585
@VladimirAnaniev the new version does not use tippy. `popperOptions` will be available though. We may or may not convert back to tether before 6.0. The docs are documenting the current state of master, so they do not include the old stuff, unfortunately.

[2019-09-30 18:13] pnetovski opened #588 "Modal not showing on disabled targets"
Is this the expected behavior of the library?

This could be useful, if we want to explain why a target is disabled and how the user can enable it.

I made a Stackblitz showing the current behavior: https://stackblitz.com/edit/shepherd-disabled-target
![](https://i.imgur.com/qy9bqOc.gif)

[2019-09-30 18:48] rwwagner90 commented on #588
Hi @pnetovski, thanks for reporting this. It is definitely not intentional. Could you try the master branch perhaps? I need to release an alpha for v6, but we have a lot to do before then.

[2019-09-30 20:23] JeekoJeek opened #590 "Receiving "Cannot read property 'setAttribute' of null" error when calling tour.start()"

[2019-10-01 00:31] rwwagner90 commented on #590
@JeekoJeek without more info we cannot do anything to help you. Please tell us more. If you can provide a reproduction, that would be even better!

[2019-10-01 00:49] #585 closed

[2019-10-01 01:03] #590 closed

[2019-10-01 01:27] rwwagner90 commented on #590
@JeekoJeek did you resolve your issue?

[2019-10-01 07:31] pnetovski commented on #588
Hi @rwwagner90 , I'll give it a go later today. Thanks for the tip!

[2019-10-02 16:23] rwwagner90 opened #594 "Add step.tetherOptions"
This should merge with the default options and allow overriding them to set your own options to pass to Tether

[2019-10-05 16:37] lex111 commented on #562
Please review at https://github.com/shipshapecode/shepherd/issues/562

[2019-10-05 18:12] #562 closed

[2019-10-05 22:52] #582 closed

[2019-10-06 16:12] #510 closed

[2019-10-10 22:21] chuckcarpenter commented on #545
@rwwagner90 perhaps time too circle back to this?

[2019-10-10 23:31] rwwagner90 commented on #545
@chuckcarpenter we were not able to fully remove `classPrefix` because without it we get collisions with multiple tours right?

[2019-10-12 15:55] #539 closed

[2019-10-13 11:42] molesquirrel opened #615 "Way to visually show that targeted area cannot be interacted with via canClickTarget"
#561 <-- a bit of a continuation of this request.

It would be ideal if there was a way to visually show that the targeted area cannot be interacted with. To the best that I can tell, using pointer-events: none; prevents the cursor from being changed to something like cursor:not-allowed.

Especially when used to introduce something to a new user, it'd be nice to let them know the area cannot be in

[2019-10-13 12:16] rwwagner90 commented on #615
@molesquirrel I would recommend doing something like this https://stackoverflow.com/a/25654479/1732456

[2019-10-13 12:37] molesquirrel commented on #615
Thanks for the quick response.  I actually worked with that suggestion before throwing this request up. I apologize for not mentioning that.

That being said, I worked out a usage case for me, but I imagine it will not work for others who may want this. In my case, I *always* want the target to be untouchable, so I did this (sorry, the code marker on this editor is a bit wonky):

.shepherd-modal-t

[2019-10-13 12:44] #540 closed

[2019-10-13 12:48] rwwagner90 commented on #615
@molesquirrel I think we do need to change `canClickTarget` to apply to the `*` case and not `.shepherd-target`. There is an open issue for that https://github.com/shipshapecode/shepherd/issues/561

[2019-10-13 12:49] molesquirrel commented on #615
I will close this, then. Appreciate it!

[2019-10-13 12:49] #615 closed

[2019-10-13 12:50] rwwagner90 commented on #569
@CrashyBang there is a v6 beta out, which should fix this issue.

[2019-10-13 12:50] #569 closed

[2019-10-14 13:01] adussarps opened #616 "Question -- Place Button in fixed position relative to viewPort"
Hi, this is more a question than an issue (or it can even be a feature).
Is there a friendly way to place a button in a fixed position in the page?

The use case would be to have a skip button present at the bottom right of the page and not directly in the modal.

One way to add this feature would be to add the button in the tour definition instead of each steps.

[2019-10-14 14:03] VladimirAnaniev opened #617 "Specify index for addStep/addSteps"
Currently these methods will add steps to the end of the tour. We have the case that we want to add new steps right after the current one.
The ability to specify some kind of index or after which step to add the new steps would be awesome :)

[2019-10-14 14:07] rwwagner90 commented on #616
Hi @adussarps, for that I would manually add the button in your app. You can have the button call `tour.next()`.

[2019-10-14 14:34] adussarps commented on #616
Yes that's what I did, appending the button to the body at the start of the tour, I just wanted to know if there was something already enabled into the library.

Thanks!

[2019-10-14 14:53] rwwagner90 commented on #616
@adussarps no, we encourage everyone to do as much customization as they want, but cannot support it all in the library. Thanks!

[2019-10-14 14:53] #616 closed

[2019-10-15 21:03] CrashyBang opened #620 "Highlighting elements with the same selector (without `on`)"
This issue is related to #525 but different.

I have a situation where I have a side menu on desktop and a top header on mobile (different markup and shown/hidden with media queries) but the tooltip for them is the same.

Is it possible to when using the modal overlay  and **omitting** the `on` parameter to highlight all elements that have the specified selector, that way if you had to elements th

[2019-10-16 12:01] rwwagner90 commented on #620
@CrashyBang you would not be showing the desktop and mobile views at the same time though right?

[2019-10-16 19:00] CrashyBang commented on #620
Hey @rwwagner90

Yes in my case I would only ever be showing/highlighting one element at a time.

Cheers.

[2019-10-16 21:02] jabbett opened #624 "Documentation of HTML structure"
Hi! I'm upgrading from an old version of Shepherd.js so I need to revise the CSS themes I use. I can inspect the generated HTML with developer tools, but that's hit-or-miss. I'd like to be more thorough so the theme CSS I write is comprehensive.

Is there documentation somewhere of the HTML/classes that get generated by Shepherd?

(Alternatively, is there an example CSS theme somewhere that could

[2019-10-16 21:08] rwwagner90 commented on #624
Hi @jabbett, sorry for the confusion! What version of Shepherd were you previously on and which version are you trying to update to? v6 is currently released as a beta, and has the css file as part of the dist.

[2019-10-16 21:09] rwwagner90 commented on #620
@CrashyBang are you showing the user the desktop and mobile view for the tour? I am confused how there are two elements you need to highlight for this case.

[2019-10-16 21:56] jabbett commented on #624
Don't laugh - I was on version 1.8 ;)
Trying to upgrade to 5.0.1, since that's the version available on npm.

[2019-10-17 13:02] rwwagner90 commented on #624
@jabbett there have been a lot of breaking changes between then and now. You'll want to use the v6 beta, not 5.0.1, as v6 will be out soon.

[2019-10-17 13:03] jabbett commented on #624
@rwwagner90 Will do, thanks!

[2019-10-17 13:18] rwwagner90 commented on #624
@jabbett let us know if you have any questions or encounter any issues!

[2019-10-17 13:18] #624 closed

[2019-10-18 07:02] simboonlong opened #626 "Mixed of es5 and es6 in dist"
<img width="1011" alt="es5-es6" src="https://user-images.githubusercontent.com/4774314/67072757-26dffa00-f1b8-11e9-87a6-2d9d7bb114a1.png">

seems to be coming from get-value node dependancy.

[2019-10-18 13:38] rwwagner90 commented on #626
@simboonlong what Shepherd version?

[2019-10-19 02:38] simboonlong commented on #626
version 5.0.1

[2019-10-19 11:15] rwwagner90 commented on #626
@simboonlong yes, this is fixed in v6. Please use the v6 beta.

[2019-10-19 11:15] #626 closed

[2019-10-20 22:30] CrashyBang commented on #620
I want to show the tour on both, essentially I have two different elements that serve the same purpose and will use the same tour step a "header" on mobile and a "side menu" on desktop.

So in an ideal world it would highlight both elements for the step (of course there is only either one on the screen at any given time).

However it shouldn't really matter if there are multiple, i.e if I had two

[2019-10-21 12:26] rwwagner90 commented on #620
@CrashyBang could you not give them each the same selector?

[2019-10-21 14:17] JeekoJeek opened #629 "Were premade themes removed from shepherd.js"
I have seen in examples that there are premade themes that can be used to style the shepherd tour, but am having trouble finding them. Were they removed?

[2019-10-21 14:19] rwwagner90 commented on #629
@JeekoJeek where are you seeing references to them? Themes have been gone for the last several versions. They did not do much, as it's easy to change the colors and such manually. Happy to help if you have questions about styling.

[2019-10-21 15:05] #594 closed

[2019-10-21 15:25] rwwagner90 commented on #561
@lovetingyuan @serhiichuk can you guys see if this works for you please? https://github.com/shipshapecode/shepherd/pull/630

[2019-10-21 15:34] #561 closed

[2019-10-21 19:30] JeekoJeek commented on #629
I saw them in examples that were about a year old. Was just looking for a quick style. Thank you for your help

[2019-10-21 19:30] #629 closed

[2019-10-22 01:12] rwwagner90 commented on #629
@JeekoJeek we do ship styles, just not the multiple themes we did before.

[2019-10-22 03:59] lovetingyuan commented on #561
yes, it works well for me, thanks! @rwwagner90

[2019-10-22 08:25] serhiichuk commented on #561
@rwwagner90 good job :+1:

[2019-10-22 12:45] #617 closed

[2019-10-23 09:03] IamSachin opened #634 "Step arrow not attaching correctly."
Hi Robert,
Reporting a few things in the v6 beta

1. When the `attachTo.element` is towards the edge of the screen, the arrow is not in the correct direction. Mostly this is due to the centred arrow. For example, in the following image, the `attachTo.element` is on the top left of the browser, and the `attachTo.on` is 'right'

<img width="571" alt="Screenshot 2019-10-23 at 2 21 01 PM" src="https:/

[2019-10-23 13:26] rwwagner90 commented on #634
Hi @IamSachin the first one is a known issue. We need to probably disable the arrows entirely when there is not space for them.

For the padding stuff, that is because we switched from using a mask, to manually calculating a path for the opening, so we'll need to rework that.

[2019-10-23 13:28] IamSachin commented on #634
Is it possible to include a setting which would apply a radius and padding to the calculated path?

[2019-10-23 13:31] rwwagner90 commented on #634
@IamSachin yes, the existing setting should be modified to work with the new paths. I will look at it.

[2019-10-23 13:33] IamSachin commented on #634
Thank you so much, Robert

[2019-10-23 18:16] BitBrit opened #637 "Clicking cancelIcon doesn't trigger "cancel" event."
I will explain my scenario for context.

In each tour step (in modal mode) I have attached the tooltip to an element and the whole element stays active and clickable. However, as part of the tour, I only want users to click on certain buttons within the active element. All other buttons I disable as part of the tour step.

When the tour completes, or when the tour is cancelled (via the `cancelIcon

[2019-10-23 18:32] rwwagner90 commented on #637
@BitBrit what version of Shepherd are you using? Anytime the tour cancels, the `cancel` event should fire. If it is not, that is a bug. Does the cancel event fire if you manually call `tour.cancel`? It should be fired here https://github.com/shipshapecode/shepherd/blob/master/src/js/tour.js#L284

[2019-10-23 18:36] BitBrit commented on #637
Hi @rwwagner90 I am using version 5.0.1 of Shepherd. The "cancel" event does fire in other scenarios. For example, to work around this problem I have created my on "Skip Tour" button of type "cancel". When this is clicked, my re-enable handler function is called.

[2019-10-23 18:38] rwwagner90 commented on #637
@BitBrit could you try the v6 beta just for confirmation?

[2019-10-23 19:23] rwwagner90 commented on #637
@BitBrit I just tried and was unable to reproduce. `cancel` is fired for me. We also have tests ensuring that cancel is triggered when cancel is called. Could you share a reproduction or some code samples?

[2019-10-23 19:25] rwwagner90 commented on #634
@IamSachin `modalOverlayOpeningPadding` seems to work for me in the demo app. Can you provide a reproduction of the issue?

[2019-10-23 20:42] BitBrit commented on #637
@rwwagner90 I will try to get some code samples but I am wondering if it's my set up that causes the event not to be caught by my function

For now, here is a description of my setup.

I have my own service (myapp-tour.js) which inherits from the ember-shepherd Tour service (tour.js). This myapp-tour.js service:
- Wraps the tour start logic in some app-specific conditional logic.
- Has the `disabl

[2019-10-23 20:59] BitBrit commented on #637
Here are a couple of GIFs of the issue:
![2019-10-23 13 54 47](https://user-images.githubusercontent.com/1338054/67433408-ebb93e80-f59c-11e9-9115-91d666b08722.gif)

I this GIF above you can see that the tour starts and then I click on my "Skip Tour" button and the console logs (which are in the 'cancel' event handlers) are shown.

![2019-10-23 13 55 30](https://user-images.githubusercontent.com/13

[2019-10-23 21:07] BitBrit commented on #637
I have created some GIFs to show the issue:

![2019-10-23 14 05 29](https://user-images.githubusercontent.com/1338054/67434126-54ed8180-f59e-11e9-9c5b-2e91e74c9773.gif)

This GIF above shows the 'cancel' event being caught by my handler and showing the `console.log` message from the handler when I click on my own "Skip Tour" button.

![2019-10-23 14 06 12](https://user-images.githubusercontent.com

[2019-10-23 23:44] rwwagner90 commented on #637
@BitBrit I am not sure I understand the part about the cancel and complete event listeners. I would need to see some example code. I believe we are talking about different things though. You are referring to `Ember.Evented` events, I think, and I am talking about Shepherd's own events. It's possible something in the Ember addon is keeping it from working.

[2019-10-24 13:10] rwwagner90 commented on #634
@IamSachin we now use an SVG path, and the path does not have the `shepherd-modal-mask-opening` class. We would need to support passing other values to the path, I think.

[2019-10-27 05:53] IamSachin commented on #634
Robert, can you suggest a solution for the 1st bug in the opening post (It has become a release blocker for me).
Also, is it a tether specific thing? Because arrows were placed perfectly when we were on Tippy.

[2019-10-27 11:25] rwwagner90 commented on #634
@IamSachin I recommend disabling the arrow for that step. Tippy did have more robust arrow placement logic. We should be able to tweak ours to do a better job, but I do not have a solution right now.

[2019-10-27 20:12] rwwagner90 commented on #588
I tried adding some disabled elements to the demo app, using the master branch, and they seem to work. I am going to close this for now, but if you still have issues on the latest beta or master, let me know!

[2019-10-27 20:12] #588 closed

[2019-10-27 20:14] rwwagner90 commented on #563
Betas have been released, and v6 should be out of beta soon

[2019-10-27 20:14] #563 closed

[2019-10-27 22:26] chuckcarpenter commented on #556
Tippy has fade as the default and then a bunch of other options. Is that a thing we want to add?

[2019-10-27 22:31] chuckcarpenter commented on #556
second question, should this be in the Tether repo then?

[2019-10-27 23:21] rwwagner90 commented on #556
@chuckcarpenter I don't think we want all the options now. Just a fade in that matches the fade in of the modal overlay.

[2019-10-28 17:37] rwwagner90 commented on #637
@BitBrit can you confirm it is the Ember events not firing? I need to get v6 out and update ember-shepherd and maybe this will fix itself.

[2019-10-28 17:38] rwwagner90 commented on #545
@chuckcarpenter ^

[2019-10-28 20:12] #634 closed

[2019-10-28 20:14] #545 closed

[2019-10-28 20:21] #556 closed

[2019-10-29 00:08] madebyhector commented on #459
A Simple fix could be to add the current step number vs total number of steps

For instance: 2 of 20 steps.

At least it keeps the users informed.

[2019-10-29 00:35] rwwagner90 commented on #459
@madebyhector this is already possible, using the current API.

[2019-10-29 14:39] kitsu commented on #108
One more variation for the pile:
[code]
Where this.Next is a method that calls this.tour.next (my tour is wrapped in a Typescript class).

[2019-10-29 15:04] vesper8 opened #653 "will History.md / Changelog.md be updated for 6.0?"
Always exciting to see new releases, any chance changes, and in particular breaking changes, can be detailed please?

Thank you

[2019-10-30 12:45] rwwagner90 commented on #653
It was updated, yes.

[2019-10-30 12:45] #653 closed

[2019-10-30 13:20] VladimirAnaniev opened #654 "No "auto" position with tether"
With tippy we had a convenient option for positioning the popover with `{element: element, on: 'auto'}`.
I cannot seem to find an alternative for tether library. Is there a way to achieve similar functionality?

[2019-10-30 13:40] rwwagner90 commented on #654
@VladimirAnaniev what did `auto` do?

[2019-10-30 15:03] VladimirAnaniev commented on #654
It automatically determined the position of the popover based on the available space.
It was not documented by tippy but was available in popper.js so it worked.
![chrome_2019-10-30_17-01-39](https://user-images.githubusercontent.com/19152501/67870144-13794b00-fb37-11e9-862b-474826215e39.png)

[2019-10-31 11:17] mikejpoole commented on #459
I'm migrating a site from intro.js and would be interested in the ability to display progression dots/bar and also to display the step number in the top corner of the tooltip as you can in intro.js.

[2019-10-31 11:33] rwwagner90 commented on #459
@mikejpoole would you be interested in helping implement the progress dots? The step numbers can be done already, but require manual setup.

[2019-10-31 14:09] VladimirAnaniev commented on #654
Thank you, I will open a request in Tether then :)

[2019-10-31 14:49] #654 closed

[2019-11-01 10:33] mikejpoole commented on #459
Hi @rwwagner90 yes, I'd be interested in helping with the progress dots.
Where can I find further information about the step numbers?

[2019-11-01 10:53] IamSachin commented on #459
I do it like this:
[code]

[2019-11-01 12:34] rwwagner90 commented on #459
@mikejpoole it was discussed here https://github.com/shipshapecode/shepherd/issues/427#issuecomment-508923059

[2019-11-01 15:29] mikejpoole opened #656 "Cannot attach tip to disabled element"
It does not seem to be possible to attach a step to a disabled element (a button).

Doing so highlights the element but does not display the tooltip.

[2019-11-01 16:24] rwwagner90 commented on #656
@mikejpoole there was an issue about disabled elements before https://github.com/shipshapecode/shepherd/issues/588

Unsure if they are related, but everything worked on disabled elements in our demo app for me, so I would need to see the failing example.

What version of Shepherd as well?

[2019-11-01 16:32] mikejpoole commented on #656
@rwwagner90 the behaviour I am seeing is different from the animation in #588 because I don't see the tooltip in ours at all.

I'll create a screenshot and add it to this issue.

I am using version 5.0.1.

[2019-11-01 17:46] rwwagner90 commented on #656
@mikejpoole please try version 6.0.0

[2019-11-04 11:42] mikejpoole opened #657 "Disable highlighted element"
Is it possible to disable the highlighted elements (e.g. button or link) in a similar way to intro.js?

[2019-11-04 12:51] rwwagner90 commented on #657
If you mean disabling clicking it, yes. You're looking for the `canClickTarget` option. https://shepherdjs.dev/docs/Step.html

[2019-11-04 12:51] #657 closed

[2019-11-04 16:03] mikejpoole commented on #657
Many thanks @rwwagner90 , that is exactly what I was after.

[2019-11-04 16:08] mikejpoole opened #658 "Flickering/Jumping behaviour on iPad Pro"
I have a scrolling tour that is behaving as expected in all desktop browsers. This is partly because I have added code to wait for all elements to be added to the DOM and I test them for visibility before starting the tour.

When I run the tour on an iPad Pro an area near the top of the page is very briefly highlighted before the correct area is highlighted. This jumpiness happens for every step.

[2019-11-04 16:28] rwwagner90 commented on #658
@mikejpoole this is not a known issue. It would definitely be great to get more info on what is happening.

[2019-11-04 16:41] JeekoJeek opened #659 "Possible delay between steps?"
Is it possible to add a delay between steps?
I am dynamically creating content while going through the tour, and the tour is loading quicker then the new content and is unable to find elements because it is searching before it is loaded, so with a short delay I believe it will find the element to attach to. Any help would be appreciated

[2019-11-04 16:45] rwwagner90 commented on #659
@JeekoJeek it sounds like you want to use `beforeShowPromise` to ensure the elements exist, before calling show. Check out the docs here https://shepherdjs.dev/docs/Step.html

[2019-11-04 16:46] JeekoJeek commented on #659
Thank you! I'll check it out

[2019-11-04 17:06] #659 closed

[2019-11-04 20:39] vesper8 opened #660 "can we have the theme used on https://shepherdjs.dev/ please?"
I know that shepherd used to ship with several themes, and now it appears to ship with a very bare default.. for simplicity and ease of overriding.. that's all fine and dandy but.. I liked the themes.. and also it's confusing to see the awesome shepherd popups on https://shepherdjs.dev/ and then the default theme looks nothing like that

it would be very nice if themes were still available optiona

[2019-11-04 21:00] rwwagner90 commented on #660
@vesper8 the original themes that shipped with Shepherd before were basically the same as what we ship now. There was one that made things dark, and one square, etc, but those are one line changes in the styles, so for simplicity, we stopped shipping them.

I am glad you like the look of the landing page! It is meant to showcase just how much customization you can do with the look and feel.

I wou

[2019-11-04 22:40] vesper8 opened #661 "arrow breaks layout after upgrading to 6.0 (and highlighting no longer works)"
I am trying to upgrade to 6.0 and running into two issues.. well the first issue is that the highlighting has completely stopped working.. as you'll see in the screenshots below.

But the odder issue is that the arrow (I'm using the theme from https://shepherdjs.dev/) breaks the layout of my nav menu when I visit steps that target nav items

This is how it looked on 5.0:
<img width="490" alt="Scre

[2019-11-04 22:42] vesper8 commented on #661
Perhaps of less importance but I'd also like the note that previously the arrow aligned nicely.. whereas now the arrow is on top of the element it's supposed to be pointing too. Ideally the popup should be a little more spaced away from the item so that the arrow points TO the tether and isn't on top of it

[2019-11-04 22:44] vesper8 commented on #660
Thank you! I do think it looks quite nice, if anything including this theme is a great foundation for those of us that want to customize it. There really aren't any other themes.. I just felt that the default looks pretty bare.

I also wanted to mention that on 5.0 I wasn't importing any shepherd.css and the default was working out ok, but on 6.0 if I don't import shepherd.css it's all broken, and

[2019-11-04 22:49] vesper8 commented on #661
I just edited my first post with more details

[2019-11-04 22:52] vesper8 commented on #661
Upon further testing, it seems that the layout breakage is not related to the arrow because even with `arrow: false` it still happens:

<img width="483" alt="Screen Shot 2019-11-05 at 12 51 32 AM" src="https://user-images.githubusercontent.com/816028/68164822-84b96380-ff66-11e9-9d79-9f819a6fa626.png">

[2019-11-04 22:58] vesper8 commented on #661
I guess the arrow spacing issue is because of the way the arrow positioning is arranged in the https://shepherdjs.dev/ theme:

[code]

As for the layout breakage, adding
[code]

Seems to fix that problem without having any visible adverse effects

I just need to figure out why the highlighting stopped working now and I'll be ready to fully upgrade to 6.0 : )

[2019-11-04 23:08] vesper8 commented on #661
Figured out the highlighting... it had to do with how my custom overlay used to depend on the body having the `shepherd-active` class which it no longer has

Then this class does the job of the highlighting:

[code]

I have to say I'm a bit confused why it's necessary to add custom css to get the highlighting to work.. I must be doing something wrong

[2019-11-04 23:18] vesper8 commented on #661
Last question if you please... I switched back to using the default arrows.. and I find that the shepherd element is much too close to the elements it's being tethered too.. on 5.0 there was more spacing and now it's almost no top. Is there a simple way to tell shepherd to allow for a little more spacing overall.. whether it's tethered via top, bottom, left or right, to overall have it be like 20p

[2019-11-05 00:04] rwwagner90 commented on #661
There are a lot of posts here. Let's try to handle one thing at a time.

We could have an option to close the tour, if you click the modal overlay. It sounds like that is the only reason you have a custom one? If your custom one relied on the old modal overlay, it is not going to work right anymore. We switched from a mask to using a path for the opening.

You can infinitely customize offsets. You

[2019-11-05 00:39] vesper8 commented on #661
Yea sorry for all the posts, as you'll see I was able to solve nearly all my issues. It would certainly be nice to have an option to close/cancel the tour when you click on the overlay, this has been asked before back in 2018 https://github.com/shipshapecode/shepherd/issues/141 and this is where I got my solution from. I've now been able to adapt it to 6.0 and it works as well as it did before.

I

[2019-11-05 00:43] vesper8 commented on #634
@rwwagner90 I kind of feel like this shouldn't be closed.. it's an ongoing issue created from 6.0.. and I think it's fair to call it a bug.

In my case adding `<div class="tw-p-6 tw-w-screen" />` at the top has fixed the problem.. just adding a bit of padding.. it creates some extra space which is bad.. but it fixes the issue

[2019-11-05 01:49] rwwagner90 commented on #634
@vesper8 this issue was fixed. The bug was it was pointing to nothing. It was an arrow added from the pinned class.

[2019-11-05 01:52] rwwagner90 commented on #661
@vesper8 what was asked in that old issue was a way to click outside the element and close the tour. That is different from clicking the overlay to close. We can definitely add a `exitOnOverlayClick` like introjs has.

As for the arrows issue, arrows currently only appear for steps where the arrow would go in the center. We certainly do need to work on some more robust arrow functionality.

[2019-11-05 13:03] kedardahivale opened #662 "Start New tour upon completion of first tour?"
Hello Community,
I want to create multiple tours for my application, is there any way to to start a new tour once the first tour triggers the complete event.
Is below mentioned way is correct?
`        advanceOn: { selector: '.someSelector', event: this.tour.complete },
        buttons: [{
          text: 'Continue',
          action: this.newTour.start
        }]`
Version I am using is 5.0.1

[2019-11-05 13:10] rwwagner90 commented on #662
@kedardahivale you will want to probably use version 6.

Either way, I think the method would be the same. I do not use `advanceOn` myself, as I prefer to manually control the tour, with `tour.next` etc.

I would recommend doing:
[code]

[2019-11-05 13:39] kedardahivale commented on #662
@rwwagner90 Thank you for quick response :)
I will update to the version 6
Issue is resolved!

[2019-11-05 13:39] #662 closed

[2019-11-06 08:11] VladimirAnaniev opened #663 "Shepherd elements not destroyed on tour completion"
The sheprerd overlay container and target marker elements are not removed from the dom adter a tour is completed.
This means that if I start multiple tours I am left with many unwanted DOM elements. Can they be removed on tour completion?

![chrome_2019-11-06_10-08-10](https://user-images.githubusercontent.com/19152501/68280165-abb68900-007d-11ea-8d0e-13c92e604190.png)

Version 6.0.0.

[2019-11-06 14:35] rwwagner90 commented on #663
The target-marker is a tether thing, I believe, so we would need to look into how to get tether to remove those.

The modal overlay is in Shepherd, and we could remove it, sure. The idea was it would be reused, not created again, but looks like something is going wrong with that.

[2019-11-06 16:00] vesper8 commented on #661
where is the underlying code that decides whether an arrow should appear or not (if it fits in the center as you said) ? I can't find it, I would like to take a shot at fixing this and making arrows work when they don't align perfectly.

[2019-11-06 16:15] mikejpoole opened #664 "AttachTo Top Not Working"
When I try to attachTo the top it continues to display at the bottom. When I try left and right they work as desired.

`					attachTo: {
						element: 'myElement',
						on: 'top'
					},`

I am using version 5 of Shepherd.

[2019-11-06 16:21] mikejpoole commented on #656
Many thanks @rwwagner90 . We are keen to stick with v5.0.1 because of the better IE support. I've implemented a workaround for now.

[2019-11-06 16:24] mikejpoole commented on #658
Thanks, I will try to get you a screencast of the behaviour (although it is a sensitive system so I need to be careful about what I share publicly).

[2019-11-06 16:46] rwwagner90 commented on #664
@mikejpoole we are on version 6, version 5 will not be getting any fixes.

[2019-11-06 16:48] rwwagner90 commented on #656
@mikejpoole v5 will not be getting updates. If you have to support IE, you can ship the polyfills yourself, as we talk about in our guides. I would think you would want to ship them anyway, to ensure compatibility with other libs.

[2019-11-06 16:49] rwwagner90 commented on #661
@vesper8 the current arrow styles are here https://github.com/shipshapecode/shepherd/blob/master/src/js/components/shepherd-element.svelte#L114-L161

[2019-11-06 16:50] rwwagner90 commented on #658
@mikejpoole a small reproduction would be better, so we have code to look at and debug.

[2019-11-07 12:40] vesper8 commented on #661
@rwwagner90 right.. I saw that.. but what I'm confused about is.. what causes the arrow not to work if it cannot fit perfectly in the center of the popup? Is this a css-only problem or is there some condition elsewhere that causes it not to appear in those cases?

[2019-11-07 13:13] rwwagner90 commented on #661
@vesper8 if you check out those styles, they are based around tether attachment. Styles would have to be made for other attachments.

[2019-11-12 05:27] Velora opened #676 "Shepherd 6 attachTo position incorrect when container element too small?"
We just tried updating shepherd to v6, but our attachTo positions are correct. Whether we specify top, bottom, left, or right, and whether arrows are on or not, shepherd displays in an incorrect position and is adding out-of-bounds classes.

If we downgrade to v5.0.1 everything looks perfect. I can see version 5 is using tippy and 6 is using tether instead. So I believe the issue is with tether an

[2019-11-12 08:36] theNailz opened #677 "Changelog for v6.0.1 and v6.0.2"
There's no entry in the CHANGELOG.md for tag v6.0.1 and v6.0.2. We're using Dependabot which shows the changes from the changelog between our version and the latest verison, which is empty for Shepherd.

[2019-11-12 09:07] roed commented on #677
Yeah, I was also wondering what has changed between v6.0.0 and v6.0.2

[2019-11-12 23:56] #677 closed

[2019-11-12 23:57] rwwagner90 opened #678 "Audit and update docs"
@chuckcarpenter we should jump on a call and go through and improve all the docs and make sure they are updated for v6 etc

[2019-11-12 23:59] rwwagner90 commented on #676
@Velora you can pass options to Tether directly. I would play with that. There are a lot of options for attachment, targetAttachment, constraints, etc http://tether.io/

[2019-11-13 11:43] mikejpoole commented on #664
Thank @rwwagner90 . We will upgrade to version 6 if version 5 does not support top but I thought it did support it.

There is loads of room on top. Here is part of the screen:

![image](https://user-images.githubusercontent.com/9463686/68760863-ba1b1c80-060a-11ea-852f-d113dee2bd3d.png)

[2019-11-13 12:38] rwwagner90 commented on #664
@mikejpoole all versions support `top`. I am saying, if there is a bug here in v5, we're not fixing anything on 5.x, so you would want to try v6. Have you tried `bottom`? Does it do the same thing?

[2019-11-13 13:14] mikejpoole commented on #664
@rwwagner90 `bottom`, `left` and `right` all work. It is only `top` that defaults to the bottom.

[2019-11-13 13:21] rwwagner90 commented on #664
@mikejpoole that indicates something is stopping tippy/popper from having space on the top, so it flips to the bottom. You could manually disable the flipping by passing tippy/popper options or if you update to v6 it would be tetherOptions.

[2019-11-13 13:21] #664 closed

[2019-11-13 13:22] rwwagner90 commented on #664
I'm closing this for now. If you are able to provide a reproduction of the error, on the master branch, we can look into it.

[2019-11-13 21:41] Velora commented on #676
Thanks, didn't realize that! Those options should be enough to make positioning work for our use.

[2019-11-13 21:41] #676 closed

[2019-11-15 14:38] kedardahivale opened #679 "Starting Dialog with tour selection option"
Hello community,
I have implemented multiple tours to guide my application, currently I am starting the new tour after finishing one but I would like to implement a starting dialog which will have all the tour option and user can select a tour to start. Looking for inputs!

[2019-11-15 16:31] rwwagner90 commented on #679
Hi @kedardahivale would a bunch of buttons work? You could have them call each individual tour's `tour.start` using `onclick` or something similar.

[2019-11-15 20:00] brendanmatkin commented on #594
Was about to open an issue for this but you've already done it! Awesome! I didn't see this in the documentation though, should I create a new issue for that?

[2019-11-15 21:46] rwwagner90 commented on #594
@brendanmatkin I see it here https://shepherdjs.dev/docs/Step.html do you mean adding it to the usage page?

[2019-11-15 22:37] chuckcarpenter commented on #678
Yes, let's make this the agenda on our next sync call @rwwagner90

[2019-11-18 12:40] kedardahivale commented on #679
@rwwagner90  I also thought the same initially but considering the number of tours, I don't feel this solution will be user friendly. The idea here is have some kind of checklist sort of interface and it will popup once the user logs in for first time. That pop will list number of tour available and user can choose from it.

[2019-11-18 13:02] rwwagner90 commented on #679
@kedardahivale I don't think I understand. You can setup buttons, checkboxes, whatever you want. You would figure out what tours to run and when, then call `start` on them.

[2019-11-18 14:42] DaveHughes91 opened #687 "Specify index for addSteps"
Be cleaner if we could add multiple steps to an index too.

[2019-11-18 15:28] rwwagner90 commented on #687
@DaveHughes91 what would that API look like? Are you advocating that we add `index` as a property of the step under step options?

[2019-11-18 18:51] DaveHughes91 commented on #687
For adding multiple steps to existing steps.

Just thought addSteps({}, 3) was nicer than using addStep({}, 3) x3

[2019-11-18 19:23] rwwagner90 commented on #687
@DaveHughes91 so you mean just allow a single index to start inserting steps at? I would still be curious why this is needed. If you have an existing array of steps, you can always do like `steps.splice(3, 0, arrayOfOtherSteps)` right?

[2019-11-19 06:47] IanEscober opened #688 "Shepherd Content does not get tethered on desktop"
Shepherd works great on the mobile side of our project but once we switch to desktop the tool-tips does not follow to the attached element. Is this due to Shepherd or Tippy.js used by Shepherd.

Tested on:
- __Shepherd 6.0.2__
- __Angular 8__
- __Chrome__

[2019-11-19 12:13] rwwagner90 commented on #688
@IanEscober we do not use Tippy anymore. This sounds strange. It should work fine. Can you please provide a reproduction for us to look at? Are you using angular-shepherd?

[2019-11-19 22:48] lewing728 opened #689 "scrollToHandler issue"
When I use scrollToHandler to scroll to the element the popup tooltip does not appear (I have to use that since some elements cause jumping if I don't - I have the default set to window.scrollTo(0,0) otherwise I use document.scrolltoView() to show the element). The popup actually looks like it is outside the viewer window (can only find it via the Inspector on chrome). It almost looks like it is l

[2019-11-19 22:56] rwwagner90 commented on #689
@lewing728 it sounds like maybe there is a race condition, and when you resize, it recalculates the position to be correct. The position should be calculated on resize or scroll. Are you able to provide a small reproduction of the issue?

[2019-11-20 18:18] CrashyBang commented on #620
Hey @rwwagner90

Sorry haven't looked at this in a while, as soon as I am back on that project I will take a look.

Cheers,
Otis.

[2019-11-21 10:03] IanEscober commented on #688
@rwwagner90 I am using the shepherd.js library only. We're using Leaflet.js to overlay images to a map with markers where shepherd attaches.

__Reproduction__
1. Draw the element in a map using Leaflet.js.
2. Attach Shepherd.js to the drawn element.
3. Drag the element around.

__Mobile__
![image](https://user-images.githubusercontent.com/51438742/69326465-c9433f80-0c86-11ea-9584-ae617edf6f09.png)

[2019-11-21 10:23] kedardahivale commented on #679
@rwwagner90  Thanks for the inputs! will try to implement

[2019-11-21 10:23] #679 closed

[2019-11-21 12:33] rwwagner90 commented on #688
@IanEscober this sounds like expected behavior. Drag events do not trigger tether to recalculate positioning, only scroll events or resize events. I think if you add this to your drag handler it should recalculate the position:

[code]

We probably should allow an option to pass events other than scroll and resize to recalculate position by default, but that is not currently an option.

[2019-11-21 14:52] Baspa opened #690 "Go to next step after user clicks on element"
Is it possible to go to the next step when the user clicks on the attached element, for example a menu item?

[2019-11-21 15:41] kedardahivale commented on #690
@Baspa you can use `advanceOn:{selector:'element', event:'click'}`  this will make the tour go to next step, I hope this is what you mean?

[2019-11-21 16:42] rwwagner90 commented on #690
@Baspa yes, what @kedardahivale says should work, but you can also add a click handler to your element.

[code]

[2019-11-21 16:42] #690 closed

[2019-11-22 12:58] rwwagner90 commented on #663
@chuckcarpenter we should make this the next thing we work on for Shepherd/Tether.

[2019-11-22 16:31] MrReyesA commented on #689
Hello @rwwagner90 Im helping @lewing728  on the same project, and that's my thought too,  We are using this library on Ionic and Ionic with angular, so it does look like we need to slow the event of showing the Shepherd element, the issue is that when we try to use the shepherd functions like showOn with a timeOut, beforeShowPromise and advanceOn. They do not work.

[2019-11-22 17:32] rwwagner90 commented on #689
@MrReyesA I highly recommend not using `advanceOn` and instead manually deciding when to show the step. I would manually show the step with `tour.next()` etc and then use `beforeShowPromise` to ensure that the app is in the state you want before showing.

[2019-11-22 17:34] MrReyesA commented on #689
@rwwagner90  let me try it out, thank you!!

[2019-11-23 17:39] gotdairyya commented on #103
I just spent 10 minutes searching for how to use the modal (i saw it in the CSS but couldn't for the life of me find it in the documentation) I would recommend adding it as part of the example code text given that this is a pretty key functionality that people are interested in when creating a tutorial.

[2019-11-24 14:02] rwwagner90 commented on #103
@gotdairyya it is clearly listed in the tour options https://shepherdjs.dev/docs/Tour.html#Tour

We could perhaps add it in a few more examples though. Would you like to open a PR for that?

[2019-11-24 15:05] ricardograca commented on #103
Maybe it would help to make `useModalOverlay: true` the default.

[2019-11-24 17:00] gotdairyya commented on #103
yeah, @rwwagner90 I agree with @ricardograca -- I think `useModalOverlay: true` as the default would be more useful

[2019-11-24 20:30] rwwagner90 commented on #103
I don't think we want to make it the default at this time, but if you guys are interested in opening a PR to add it in more of the examples, that's fine with me!

[2019-11-29 15:20] MrReyesA commented on #689
@rwwagner90 We got it working, we had to do a manual scroll and wait for the element to show to win the scroll race, and its working fine.
Thank you for your help @rwwagner90 !!!

[2019-11-29 15:39] rwwagner90 commented on #689
I'm glad you got it working!

[2019-11-29 15:39] #689 closed

[2019-12-05 11:35] james-reading opened #710 "Error when try to use modal overlay"
When I add the option `useModalOverlay: true`, I get the following error:

`Uncaught (in promise) TypeError: Cannot read property 'setAttribute' of undefined (shepherd.esm.js:2535)`

The tour continues to work, but no overlay is rendered.

Here is my current setup:

[code]

[2019-12-05 13:09] rwwagner90 commented on #710
Hi @james-reading , thanks for reporting this issue! I suspect this might be an issue with creating the step instances manually.

Could you instead make those config objects and pass them to `addSteps`? Maybe try this:

[code]

[2019-12-05 14:27] james-reading commented on #710
No luck unfortunately.

[2019-12-05 15:12] rwwagner90 commented on #710
@james-reading can you please provide a reproduction of the error? Perhaps you are trying to start the tour and the elements you are attaching the tour to do not exist yet?

[2019-12-05 15:57] james-reading commented on #710
@rwwagner90 I have managed to replicate the issue with the following html:

[code]

[2019-12-05 16:01] james-reading commented on #710
@rwwagner90 I have managed to replicate the issue with the following:

html:

[code]

js:

[code]

This is using Rails 5.2 with webpacker 3.5.5

[2019-12-05 16:47] rwwagner90 commented on #710
@james-reading can you create a vanilla JS reproduction? Are you using https://github.com/actmd/abraham?

[2019-12-05 20:29] james-reading commented on #710
@rwwagner90 I have found the issue. I was starting only starting the tour with `tour.start()` after the DOM was ready, however I needed to wait for the DOM to initialise `Shepherd.Tour` too.

On a related note, the overlay is not working for me in the latest version either. To get the overlay working I have had to rollback to version 5.0.1.

I have replicated this here:
https://jsfiddle.net/mLs0uk

[2019-12-06 09:47] james-reading commented on #710
Looks like I was missing the CSS :)

[2019-12-06 10:17] james-reading commented on #710
While I'm here, is it possible to specify an element for the modal overlay mask, but attach the step to a child element within the mask?

[2019-12-06 11:43] james-reading commented on #710
Figured it out:

[code]

[2019-12-06 15:46] Ryllau opened #711 "Modal Overlay Issue With Browser Zoom"
When I use this line of code below...
document.body.style.zoom = "85%";

The Modal Overlay does not fill the whole screen. However, removing this line and zooming normally works fine.

[2019-12-06 18:54] rwwagner90 commented on #711
@Ryllau from what I have read, `zoom` is not standard and is highly recommended against. https://developer.mozilla.org/en-US/docs/Web/CSS/zoom

Is there a reason you need it?

[2019-12-06 18:55] rwwagner90 commented on #710
@james-reading is the `modalContainer` option on the tour what you are looking for?

Does everything work now?

[2019-12-09 15:56] Ryllau commented on #711
This is a specific requirement from my supervisor. Yes, I understand that this is not standard and I also believe it is not recommended. But, Is there any solutions or workaround for Shepherd to accommodate to this?

[2019-12-09 16:05] rwwagner90 commented on #711
@Ryllau you could potentially manually style the modal to fill the screen, but I do not know of a specific solution.

[2019-12-09 16:05] #711 closed

[2019-12-11 16:37] WL1981 opened #720 "How to use advanceOn"
How to use advanceOn? I've got the following code. I have tried many things in the meantime, but I just can't get it working. Please help

` tour.addStep({
   ....
   advanceOn: {selector: '.content-box-label', event: 'clickme' }
})`

AND

`
tour.on('clickme', function(){
    alert('Hello World!')
}, true)
`

[2019-12-11 17:38] rwwagner90 commented on #720
@WL1981 there are docs explaining `advanceOn` here https://shepherdjs.dev/docs/tutorial-02-usage.html

The event has to be an event fired on the element the selector applies to. If you would like the tour to advance when you click the element it would be `advanceOn: {selector: '.content-box-label', event: 'click' }`

`clickme` is not an event type, unless you are manually setting it up as one some

[2019-12-11 17:38] #720 closed

[2019-12-11 23:41] #660 closed

[2019-12-13 17:28] #656 closed

[2019-12-13 17:28] #658 closed

[2019-12-13 18:40] valexus1 opened #721 "shepherd in webview does not show buttons"
hello,

 i'm trying to use shepherd in a webview, everithing is ok on desktop and in web version

but inside the android app and emulator  the box show only the text info while the next buttons does not appears ...

only the buttons in the shepherd footer, but the code im sure is ok.

its a simple webview and of course all js are active.

i forgot something?

thanks a lot!!

V.

[2019-12-13 20:44] rwwagner90 commented on #721
@valexus1 what version of Shepherd and are you including the CSS?

[2019-12-13 21:12] valexus1 commented on #721
5.0.1 but i've tried also 6.0.1 and of course i have css enable, on desktop and chrome mobile everything is ok, the problem is in the webview, seems like for some reason the buttons there aren't.

i really don't understand where is the problem

can i put some button with custom class in the text and put on click event ? i've tried

 jQuery(document).on( "click", ".tippy-popper button.test", functi

[2019-12-13 21:38] rwwagner90 commented on #721
@valexus1 I have no idea without seeing some sort or reproduction. My only thought is you are not correctly including the CSS.

[2019-12-13 21:53] valexus1 commented on #721
<link href="https://www.vulevoo.com/welcome.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.2.10/webcomponents-bundle.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CSymbol%2CElement.prototype.matches"></script>
<script src="https://cdn.jsdelivr.net/npm/shepherd.js@5.0.1/dist/js/shepherd.min.js"></script>

[2019-12-13 21:54] rwwagner90 commented on #721
@valexus1 Shepherd 5.0.1 is no longer supported, please try the latest 6.x release.

[2019-12-13 21:57] valexus1 commented on #721
with

<script src="https://cdn.jsdelivr.net/npm/shepherd.js@6.0.2/dist/js/shepherd.min.js"></script>

the result is the same,

ok in dekstop and mobile, in webview text is ok but no buttons.

[2019-12-13 22:03] rwwagner90 commented on #721
@valexus1 yes, you cannot simply change the version, you must include the CSS.

[2019-12-13 22:12] valexus1 commented on #721
<link href="https://www.vulevoo.com/welcome.css" rel="stylesheet">

[2019-12-13 22:26] valexus1 commented on #721
however,

thanks a lot for your support,

maybe i can try a workaround...

is there a method to just click in some place  and go to next step? or click for example to the all window and go to next. without buttons. m?

[2019-12-13 22:40] valexus1 commented on #721
ok

 jQuery(document).on( "click", ".tippy-popper .bntcustom", function() {  tour.next();  });

seems to work.

i'll put some custom button in the text.

the problem in the webview is a reak mistery.

[2019-12-13 22:40] #721 closed

[2019-12-14 04:31] rwwagner90 commented on #721
@valexus1 try Shepherd 6.x and please also include the CSS file, then things should work as intended.

[2019-12-14 16:38] #661 closed

[2019-12-15 18:22] cdvv7788 opened #722 "Show gives no feedback"
https://shepherdjs.dev/docs/tour.js.html#line234
The `show()` function fails silently if the step is not found within the tour.

[code]
I am working on a multi-page tour, storing the current key in local storage and loading it if the tour is enabled. I am not creating steps for the elements that are not in the page either, so there will be indexes that will not be present in the tour.
I don't want

[2019-12-15 19:21] rwwagner90 commented on #722
@cdvv7788 I am not sure I understand the issue. How are you navigating the tour? I'm not sure if calling `show` before `start` is supported. It looks like `start` calls `next` https://github.com/shipshapecode/shepherd/blob/master/src/js/tour.js#L268 so if you are trying to set the step to show then start, I don't think that will work.

From what I understand of what you have described here, I woul

[2019-12-18 14:10] cdvv7788 commented on #722
@rwwagner90 I am working on a tour that uses several pages. I am building the steps depending on the page. I am saving the current step in local storage. Basically, I am checking if the next step to show is in the tour, and start it if it is. However with the current show, I have to add a manual check outside of it too. If the `show()` call does not have any step that matches, it does not return a

[2019-12-18 15:05] rwwagner90 commented on #722
@cdvv7788 yeah, I am saying I don't think that approach is necessarily the right one. You should probably not be using one set of steps that may or may not contain the step you want, but instead adding the steps you need to the tour before showing them.

[2019-12-18 16:41] BNRao opened #728 "Multiple Tutorial Instance in Angular"
I have Implemented Shepherd library in my Angular project, I am trying to create a new tutorial in a different components. Can anyone help how do I implement second instance of tutorial?

[2019-12-19 13:56] rwwagner90 commented on #728
Are you using https://github.com/shipshapecode/angular-shepherd or just vanilla Shepherd?

[2019-12-20 18:42] chuckcarpenter commented on #687
@DaveHughes91 I agree with @rwwagner90 in that one liner could fit your use case. Do you still think there's a need to update the API?

[2019-12-20 20:14] chuckcarpenter commented on #687
@DaveHughes91 I believe this is pretty easily solved using the suggestion above. If the intent is tours that are determined by user choices, in the past we implemented other tours like this as multiple instances (not running simultaneously) by stopping a tour, offering a selection, and starting the right next tour based on that feedback.

[2019-12-20 20:14] #687 closed

[2019-12-23 02:44] #688 closed

[2019-12-23 16:01] chuckcarpenter commented on #663
@rwwagner90 we could add a cleanup of the element (I'm only getting extra target elements, not overlays in MASTER), but it also seems that it'll be fixed when we switch to Popper v2. Do you think that's best?

[2019-12-26 03:38] rwwagner90 commented on #663
@chuckcarpenter yeah popper should fix those.

[2019-12-27 18:59] #620 closed

[2019-12-30 17:53] BNRao commented on #728
Using https://github.com/shipshapecode/angular-shepherd . We can implement in this?

[2019-12-30 17:55] #728 closed

[2019-12-30 17:56] rwwagner90 commented on #728
@BNRao I don't understand. Can you please let me know if you are using angular-shepherd or if you have manually used vanilla Shepherd?

Please also describe in more detail what you are trying to do. Are you trying to run two tours at once or are you trying to just have two defined and start them at different times?

[2019-12-30 18:04] BNRao commented on #728
I am using angular-shepherd. And I have already implemented one tour and it is running good. I am trying to have two defined tours in two different pages. I am trying to start them at different times.

[2019-12-30 18:05] rwwagner90 commented on #728
@BNRao I would not think about them as two separate tours. Think about it as one tour service, add the steps you want on one page, then remove all the steps and add the other ones on the other page.

[2019-12-30 18:15] BNRao commented on #728
I have 5 steps in page 1 and 5 steps in page 2. When I open page 1, the tour starts and closes. When I go to page 2, I want to start the tour with other different steps and close it. What you are saying is to use steps for page 1 and remove them when i start the tour in page 2. My question is how do I remove steps dynamically and add new steps when i go to another page.

[2019-12-30 18:46] rwwagner90 commented on #728
@BNRao Ah, I think I see the issue. The problem is there isn't a good way to clear the old steps before adding the new ones, right? I would try something like this:

[code]

For the Angular and Ember services we probably need to provide a way to more easily clear out the steps, so you can add new ones.

[2019-12-30 19:13] #722 closed

[2019-12-30 19:14] rwwagner90 opened #744 "Refactor back to Popper"
There is a Popper beta in the works that is supposedly very small and performant. We should give it a try and see if it fixes some of the issues we are having with Tether.

[2019-12-30 20:30] BNRao commented on #728
I will try this and will get back with the progress.

[2020-01-02 13:23] YochevedZ opened #745 "Arrow position is incorrect for ion-fab element #ionic"
Arrow position is incorrect for ion-fab element
When changing the ion-fab to a regular button, the arrow is displayed correctly.
![image](https://user-images.githubusercontent.com/41073514/71668891-652a9580-2d73-11ea-8062-cb6e3576d36a.png)
Change the color of the arrow to blue in inspecting in order to see the arrow position:
![image](https://user-images.githubusercontent.com/41073514/71668906-7a9

[2020-01-02 14:27] rwwagner90 commented on #745
@YochevedZ I do not know anything about ionic. If the arrow position is wrong, the selector it is targeting is likely wrong. Does an ionic element move the element in the DOM?

[2020-01-04 09:57] till-m commented on #676
I'm having the same issue working in an iframe that's around 350px-400px wide: I'd like to position the step above or below an element while having an arrow enabled. However, I can't seem to figure out how to
 - reliably positioning the tip above and below the target
- get the arrows to appear

That is after spending several hours playing around with tether options. I've mocked up the situation he

[2020-01-04 13:04] rwwagner90 commented on #676
@till-m what tether options did you try? The issue seems to be the tooltips are pinned by tether, and you would want to disable that probably.

[2020-01-04 14:50] till-m commented on #676
Disabling pinning sent me down another rabbit hole of tether options and the trick seems to be to constrain to `window` (I would've assumed that that doesn't need to be passed explicitly?). Regardless, it seems to work. Thank you for your help (and being available on a saturday)!

[2020-01-04 14:54] rwwagner90 commented on #676
@till-m the default constraints can be seen here https://github.com/shipshapecode/shepherd/blob/a4d2d9134c6fc89f32e8610736c4747f287cbd9a/src/js/utils/general.js#L102

I imagine something about the defaults is wonky when inside an iframe.

[2020-01-07 16:47] EndangeredMassa commented on #678
The docs currently say that this library is based on tippy, not tether. I was very confused about why my `tippyOptions` weren't working until I realized that it's now `tetherOptions`.

Even if a full audit comes later, can you update the tippy references?

[2020-01-07 17:35] chriszacker opened #751 "Overlay does not resize"
Hi, I am running into an issue with the overlay not resizing — it works fine on load, but the path is not updating when the browser window is resized as it does in your demo. This occurs only on the first step, which is not attached to any element, if I add the `attachTo` option, the resizing works properly.

My current options:

`const homeTour = new Shepherd.Tour({
        defaultStepOptions: {

[2020-01-07 18:31] rwwagner90 commented on #678
@EndangeredMassa sorry about that! The docs definitely need some love. Would you be interested in opening a PR to remove the tippy references?

[2020-01-07 18:34] rwwagner90 commented on #751
Hi @chriszacker how would you have an opening without `attachTo`? Or do you mean when there is no opening, the modal overlay that fills the window does not recalculate on resize?

[2020-01-07 19:11] chriszacker commented on #751
Hi Robert, thanks for the response. The first step is an intro to the tour and is not attached to an element, but still needs an overlay, similar to the "CENTERED SHEPHERD ELEMENT" on your demo page. It seems like when the first step does not have the `attachTo` the svg path does not recalculate on resize. Please let me know if that makes sense or you need more info.

[2020-01-07 21:07] rwwagner90 commented on #751
That makes sense. That is probably a bug with the library. Will take a look soon!

[2020-01-07 21:16] chriszacker commented on #751
Thank you sir!

[2020-01-09 09:02] #745 closed

[2020-01-09 09:02] YochevedZ commented on #745
For now, we change the bubble, thanks.

[2020-01-12 20:00] #710 closed

[2020-01-14 14:55] Heziode commented on #525
Another usecase is to "highlight" a column of an table.

[2020-01-23 11:55] FezVrasta commented on #744
FYI yesterday we released Popper 2 (stable)

[2020-01-25 04:54] rwwagner90 commented on #663
We should make sure this is working after Popper

[2020-02-03 18:25] brian-d opened #787 ".shepherd-arrow does not "flip" when scroll/resize causes a tour stop to switch sides"
The shepherd arrow doesn't reorient itself when the page scrolls or is resized and forces the tour stop to jump sides. This contrasts with the older version of shepherd (pre shipshapecode, I think?) where the arrow would properly flip.

# Repro

## Steps

1. Go to https://shepherdjs.dev/
2. Open the second stop on the tour ("Including")
3. Scroll the window down so the tour stop is forced to appea

[2020-02-03 20:02] srodriki opened #788 "Smooth scrolling not working?"
Hey everyone! I'm having an issue while using the library to show a very simple, 1 step tour. I'm trying to have the browser scroll to the highlighted element's position, and while I specify the  behavior for "scrollTo" as "smooth", the scroll is simply jumping to every place in chrome.

Here's my setup:

[code]

Interestingly enough, if I add a function as scrollToHandler that, for example, scrol

[2020-02-04 12:53] rwwagner90 commented on #787
@brian-d this should be fixed by the popper v2 migration we are currently working on. @chuckcarpenter can we add some tests for the flipping as part of the migration perhaps?

[2020-02-04 18:37] srodriki commented on #788
As an additional comment to this, I can say the issue was introduced with version 6.0.0, because version 5.0.1 was working fine in this regard.

[2020-02-04 19:04] rwwagner90 commented on #788
We're working hard on v7 currently, and will hopefully be able to fix this and any other regressions.

[2020-02-06 21:42] chuckcarpenter commented on #678
docs will get refresh w/ v7 and the return to Popper

[2020-02-07 10:03] adamredfern01 opened #789 "Elements can Scroll through header"
Hello, I'm currently implementing Shepherd.JS into my project, the issue I'm finding and can't seem to find anyone else covering it is that when an element is highlighted through the step, the highlight can scroll through the top of the page, above the header which doesn't look right.

I'd like to be able to have the highlight stay behind the overlay modal when going past the header bar. I've atta

[2020-02-07 13:21] rwwagner90 commented on #789
@adamredfern01 I believe you could achieve something like this by setting the modal container. The default behavior is to put the overlay over the entire body, but you could put it on a different element. Of course, it would then not fill the screen.

[2020-02-07 16:29] adamredfern01 commented on #789
Thanks! I'll give it a go - thanks for fast response too :) Might have a few more questions in the future. I'll be sure to send you a link to the project after it's finished. :)

[2020-02-07 16:30] #789 closed

[2020-02-12 17:06] srodriki commented on #788
@rwwagner90 that's cool. thank you. In the meantime, do you happen to have v5 documentation handy? I noticed it does not have said bug, but the API seems a bit different than V6 (for instance, buttons are not working the v6 way).
Thanks!

[2020-02-12 18:32] rwwagner90 commented on #788
We do not have previous docs, but v7 should be out very soon. Apologies for the delay! @chuckcarpenter can we ensure this works with your PR?

[2020-02-12 23:32] #678 closed

[2020-02-12 23:32] #787 closed

[2020-02-15 16:45] chuckcarpenter commented on #744
@FezVrasta having a tough time getting this completely working w/ v2. My main issue is the window scrolls back to top and then to the target. It seems that the `position:absolute` is applied first and then the calculations for the transform position.

<img width="1677" alt="image" src="https://user-images.githubusercontent.com/706378/74591751-d054c200-4fd7-11ea-81d9-3e9b519d1d88.png">

And then

<

[2020-02-15 17:13] FezVrasta commented on #744
Have you tried to set the `position: fixed; top: 0; left: 0;` as default style for the elements? This should prevent the page from scrolling automatically up.

Alternatively you may disable any focusable element inside the popper before popper positioned it

[2020-02-17 20:54] chuckcarpenter commented on #744
@FezVrasta would I do that by changing `applyStyles` modifier? Seems like that's where the `initialStyles` values are that get written inline first. I tried creating a custom one beforeWrite that sets `state.elements.popper.style`, but doesn't seem to change the default value.

[2020-02-17 21:29] chuckcarpenter commented on #744
A little more context, applying default styles on the element doesn't work adding in a custom modifier to set values isn't working either. If I change the `applyStyles` effects function for the initial values, then it works. Is that my only option @FezVrasta?

[code]

[2020-02-17 22:33] chuckcarpenter commented on #744
This fixes it, but would be great to know if there's a less intrusive path. #801

[2020-02-18 06:38] FezVrasta commented on #744
I see, probably we should do that in Popper, would you mind opening an issue on the repo?

[2020-02-18 21:22] atomiks commented on #744
Does the scroll problem happen on Firefox or Chrome 79? It's come up twice recently (including Popper v1) which makes me think Chrome 80 did something?

[2020-02-18 21:23] rwwagner90 commented on #744
@atomiks Chrome 80 broke array reduce I think. Not sure if that applies here https://www.reddit.com/r/webdev/comments/f26mbn/chrome_80_introduces_a_new_bug/

[2020-02-18 21:25] atomiks commented on #744
We use reduce everywhere in Popper 😱  but yeah I don't think that would be related. It seems like it was reported back in mid 2019 so I guess not...

[2020-02-18 21:29] rwwagner90 commented on #744
@atomiks the bug effects Chrome 80-82 I believe. We hit errors with reduce just the other day, definitely still an unresolved bug in Chrome.

[2020-02-18 21:54] chuckcarpenter commented on #744
@atomiks I can confirm this is happening in FF 71.

[2020-02-20 02:06] rwwagner90 commented on #744
We've got popper v2 fully working now I believe, so closing this.

[2020-02-20 02:06] #744 closed

[2020-02-20 02:21] ronpeled commented on #788
Hopefully we get v7 soon and this is fixed. That would be great! Much appreciated!

[2020-02-20 02:51] rwwagner90 commented on #788
@ronpeled @srodriki  we've merged in popper v2 and we're close to v7. If you want to try out the master branch, I think it should fix things for you!

[2020-02-21 13:54] RaveKev opened #803 "Update npm package"
Some tweeks happened during the last few weeks. Unfortuntely the [npm package](https://www.npmjs.com/package/shepherd.js) is not up to date.

Is there a plan when the changes will be in the new npm package?

[2020-02-21 13:58] rwwagner90 commented on #803
Yes, we plan to release a v7 sometime soon.

[2020-02-21 13:58] #803 closed

[2020-02-21 22:16] chuckcarpenter opened #804 "Add rollup tailwind plugin"
For better development experience, tailwind should be in the rollup config for reloading changes.

[2020-02-24 16:06] chuckcarpenter commented on #751
Tested this in the latest commits and resizes in FF, Chrome, and Safari. @chriszacker this will be part of v7 released likely today.

[2020-02-24 16:06] #751 closed

[2020-02-24 16:18] chuckcarpenter commented on #788
This works in MASTER and will be released today.

[2020-02-24 16:18] #788 closed

[2020-02-24 21:55] goodmorninggoaway opened #810 "Installing v7.0.0 fails"
[code]

I was able to install v6.0.2 with no issues. I then did an `npm ci` then `npm i shepherd.js@latest`. Same issue.

[2020-02-24 23:26] chuckcarpenter commented on #810
closed by v7.0.1

[2020-02-24 23:26] #810 closed

[2020-02-25 14:25] srodriki commented on #788
Thanks a lot everyone! We will be checking this one out today!

[2020-02-25 16:16] rwwagner90 commented on #663
@chuckcarpenter this issue was not resolved, I don't think. If we start multiple tours, we end up with multiple modal overlays.

[2020-02-26 18:56] chuckcarpenter opened #812 "Add development mode to tour"

[2020-02-26 18:56] chuckcarpenter opened #813 "Center step when target is not on page"

[2020-02-26 20:59] VladimirAnaniev opened #814 "Shepherd.js v7 TypeScript missing popperOptions"
The popperOptions property is missing for the `StepOptions` interface.
This causes errors in TypeScript type checks and compilation.

Also, is it possible to summarize what the breaking changes between v6 and 7 are? Besides the `tetherOptions` now being `popperOptions`, are there any specific changes in the shepherd-element HTML structure?

We want to bump to the latest version, but need to assess

[2020-02-26 23:09] rwwagner90 commented on #814
Hi @VladimirAnaniev the breaking changes are just refactoring to popper instead of Tether. This is mentioned in the changelog https://github.com/shipshapecode/shepherd/blob/master/CHANGELOG.md#v700-2020-02-24

It should be a fairly straightforward swap, unless you were using complex tether options.

Would you like to open a PR to update the types?

[2020-02-27 08:55] yhafri opened #815 "Does Shepherd.js support modal windows/popups? [QUESTION]"

[2020-02-27 13:16] rwwagner90 commented on #815
@yhafri not sure what you mean exactly. Have you checked out the demo?

[2020-02-27 13:27] #814 closed

[2020-02-27 21:19] dimre01 opened #816 "defaultStepOptions.popperOptions only seems to apply to first step"
Given the following input:
[code]

`defaultStepOptions.popperOptions` (i.e. the popper offset) only seems to apply to the first step in the tour. The other default option, `scrollTo`, applies to each step just fine.

Any insights?

[2020-02-27 21:20] rwwagner90 commented on #816
@chuckcarpenter do you mind taking a look?

[2020-03-03 08:39] martijnmichel opened #823 "Shepherd intro progress bar"
I'd like to include a progress-bar (preferably with a quasar component) but theres no way i can. The Shepherd.activeTour doesnt output anything or wrong params.

For example: When I do tour.addStep the first step will have 0 totalsteps, the 2nd will have 1 etc..

Will an effective way to have a custom progress bar be implemented?

[2020-03-03 14:56] rwwagner90 commented on #823
@martijnmichel this is already quite doable. You can check the total number of steps on the tour by simply using the steps array length. `tour.steps.length` will give you the number of steps and you can use https://shepherdjs.dev/docs/Tour.html#getCurrentStep to get the current step.

[2020-03-03 14:56] #823 closed

[2020-03-03 15:08] martijnmichel commented on #823
@rwwagner90 as i said, both ways dont work... ive even tried multiple other ways i found within issues but none work.

[2020-03-03 17:53] rwwagner90 commented on #823
@martijnmichel what do you mean they "don't work" the suggestion I gave you definitely works.

[2020-03-03 21:32] chuckcarpenter commented on #816
@dimre01 can you share more into on your setup? I'm trying to create a failing case, but using our unit test file for step and adding there, I see all steps have the additional popper options. e.g.,

[code]

Both of those steps have the modifier. I wonder if there's an edge case I haven't found yet. If you could share any steps options you have set as well?

[2020-03-03 23:53] chuckcarpenter commented on #816
@dimre01 I believe I can replicate now, working on a better solution so the default options don't get lost.

[2020-03-04 07:31] martijnmichel commented on #823
tour.steps.length is 0 for the first step, 1 for the 2nd, 2 for the 3rd etc. Though when i console.log(tour) after creating the steps i can clearly see all the of them.

[2020-03-04 13:15] rwwagner90 commented on #823
@martijnmichel I don't understand. `tour.steps` is an array of steps. If you take its length, it gives you the length of the array.

[2020-03-04 17:08] martijnmichel commented on #823
well and i'm telling you thats not the case :(

if you do:

`tour.addStep({
beforeShowPromise: () => console.log(tour.steps.length) // id update some vue component here
})`

the length will be 0, 1, 2 etc for step 1 2 3 etc...

[2020-03-05 02:48] sitrobotsit commented on #459
@IamSachin could you share your how your solution integrates with Shepard?

[2020-03-05 22:33] chuckcarpenter commented on #823
@martijnmichel here's another follow up. In that same file, I was able to add a current step progress with this when hook:

[code]

![image](https://user-images.githubusercontent.com/706378/76032207-9c91fb80-5ef6-11ea-8a30-a2681a5fe59a.png)

The `shepherd` value is an instance variable.

[2020-03-06 13:45] rwwagner90 commented on #823
@chuckcarpenter nice work! Could we add that to the cookbook?

[2020-03-07 14:22] #816 closed

[2020-03-07 14:23] #815 closed

[2020-03-09 21:17] #459 closed

[2020-03-10 15:37] rwwagner90 opened #836 "Update cdnjs"
We should do the steps here to get npm auto updates on cdnjs https://github.com/cdnjs/cdnjs/pull/13363

[2020-03-11 14:16] vesper8 opened #837 "scrollable modal for large content on small screens"
I'm having an issue where I have a few tour steps that have a lot of content. On desktops and larger mobile devices it fits fine but I just tested it on a small iPhone SE and there are multiple problems. First, the tour modal height is greater than the screen, so the buttons are not visible and neither are the top and bottom edges of the modal. And second, nothing is scrollable, I am literally stu

[2020-03-11 15:05] rwwagner90 commented on #837
@vesper8 this should be accomplishable with CSS right? Building some of the things you mentioned into the library wouldn't be a bad idea either.

[2020-03-19 16:08] bytestream opened #853 "IE Support"
The README says IE 11 is supported, but https://shepherdjs.dev/ is throwing an error:

[code]

The README also mentions that you can avoid the CDNs and use babel. Please could you also provide an example of how to set that up?

Thanks for your support.

[2020-03-19 16:14] rwwagner90 commented on #853
IE 11 is not supported. There are likely many more polyfills and steps needed to support IE, and the time to support it has outweighed the benefits at this time.

[2020-03-19 16:14] #853 closed

[2020-03-19 18:37] bytestream commented on #853
@rwwagner90 no worries. Would appreciate if the README is updated though.

[2020-03-19 19:09] rwwagner90 commented on #853
@bytestream in the process of removing it https://github.com/shipshapecode/shepherd/pull/851

[2020-03-23 06:08] yellow1912 commented on #81
This is a very old question but I would like to bump it. Is there a way to properly destroy tour? Why tour does not have any destroy method?

[2020-03-23 12:34] rwwagner90 commented on #81
@yellow1912 can you please explain the need for a `destroy` method on the tour?

[2020-03-23 14:55] rwwagner90 commented on #663
@chuckcarpenter mind looking into this next? `shepherd-target-marker` was a tether thing, but `shepherd-modal-overlay-container` will create a new one each time you start the tour, so we should either not create a new one and reuse it, so we just have one DOM element or we should remove the overlay container when a tour is canceled or completed.

[2020-03-25 13:57] #663 closed

[2020-03-26 15:46] macsupport opened #862 "Using Shepherd with svelte"
I'm trying to implement Shepherd.js in a simple svelte project and having issues.

I'm using the following simple code:

    import Shepherd from 'shepherd.js';

    var tour = new Shepherd.Tour({
      defaultStepOptions: {
        showCancelLink: true,
         classes: 'shadow-md bg-purple-dark',
         scrollTo: false
      },
       useModalOverlay: true
     });

     tour.addStep({
     i

[2020-03-26 16:21] rwwagner90 commented on #862
@macsupport are you including the CSS file? It should work in Svelte, since it is written in Svelte.

[2020-03-26 17:01] macsupport commented on #862
Yes. I did a rebuild on the project and now I get the modal backdrop, but no content to the modal.
See image.
<img width="421" alt="Screen Shot 2020-03-26 at 9 58 20 AM" src="https://user-images.githubusercontent.com/624656/77674341-aaacc800-6f48-11ea-9141-38e865e16ade.png">

[2020-03-26 17:17] rwwagner90 commented on #862
@macsupport can you give us a way to reproduce please? Have you checked to be sure there is no content in the step? It could be hidden via CSS or something.

[2020-03-26 18:55] macsupport commented on #862
I will look into that. thanks for the suggestion.

[2020-03-26 19:19] sn3p opened #863 "Take attachTo.on from defaultStepOptions?"
I'm trying to set a default for `attachTo.on` using `defaultStepOptions`.
But it seems all steps need `attachTo` with both `element` and `on` explicitly set.
Any reason why this does't work?

[code]

Results in a broken modal in the center of the viewport:

<img width="167" alt="Screenshot 2020-03-26 at 20 19 11" src="https://user-images.githubusercontent.com/935529/77687768-36e9da00-6f9f-11ea-97b

[2020-03-27 12:36] rwwagner90 commented on #863
This wouldn't be supported. `attachTo` is a single object, so setting it in defaults would be overridden by what is set in the steps.

[2020-03-27 13:28] sn3p commented on #863
I noticed, but wouldn't it make sense to recursively merge step options with `defaultStepOptions`?

[2020-03-27 15:53] rwwagner90 commented on #863
I don't think we want to support infinite recursive merging of all options. I suppose we could support it, but couldn't you also setup a function to create your options that sets the `on` for you?

@chuckcarpenter I am interested in your thoughts here on whether this should be supported or not.

[2020-03-27 18:57] ScottHuston opened #865 "button.text doesn't behave as documented"
I'm trying to use a FontAwesome icon as button.text

The documentation says ([https://shepherdjs.dev/docs/Step.html](https://shepherdjs.dev/docs/Step.html))

To me this implies that you can put HTML in the text of the button, but rather a textNode is created and HTML is escaped resulting in:

<button` class=" shepherd-button " tabindex="0">&amp;lt;i class="far fa-right-arrow fa-lg"&amp;gt;&amp;lt;

[2020-03-27 19:09] ScottHuston commented on #865
You can see this in the Svelte REPL with this example.
(Learned a bit about Svelte in the last 15 minutes!)

`<script>`
`	let name = 'world';`
`	let button = {`
`		text : 'This',`
`		html : '<b>This</b>'`
`	};`
`</script>`

`<h1>Hello {name}!</h1>`
`<button>`
`	{button.text}`
`	{@html button.html}`
`</button>`

[2020-03-27 21:33] chuckcarpenter commented on #812
@rwwagner90 do you remember what this is?

[2020-03-27 21:36] chuckcarpenter commented on #863
@sn3p I'm not opposed, but don't really see this as high priority. So, I'd be happy to review a PR on this though!

[2020-03-27 23:16] rwwagner90 commented on #865
@ScottHuston sounds like you are advocating `@html` and that should work for both cases? If so, would you like to submit a PR?

[2020-03-27 23:17] rwwagner90 commented on #813
@chuckcarpenter is this still an issue? I think since we hide when the element is off screen now, maybe we don't need this?

[2020-03-27 23:18] ScottHuston commented on #865
I would, but I've never done that before.  Can you point me in the right
direction?

On Fri, Mar 27, 2020 at 4:16 PM Robert Wagner <notifications@github.com>
wrote:

[2020-03-27 23:46] ScottHuston commented on #865
And, yes.  I think changing {text} to {@html text} is the best change.

[2020-03-27 23:59] ScottHuston commented on #865
Hope I did that right...!

[2020-03-29 13:33] rwwagner90 commented on #812
@chuckcarpenter I think maybe it was like we should throw errors for `process.env === DEVELOPMENT` and filter them out in prod?

[2020-03-30 12:55] #865 closed

[2020-03-31 07:47] yellow1912 commented on #81
@rwwagner90

I have multiple tours on the same single page website. Whenever I start a new tour, I would like to delete the current tour and start a fresh. I tried to loop through the tour steps and destroy each step but that does not seem to clear up everything.

[2020-03-31 10:42] jpike88 opened #874 "Simpler offset options"
I think offsets shouldn't be so hard to configure, isn't it a good idea to make part of the Shepherd API?

Offsets to the popper should be easy to configure without talking to popperOptions.

Also, offsets to the box bounding size (maybe padding is a better word) should be easy to choose.

[2020-03-31 13:01] rwwagner90 commented on #874
@jpike88 I don't think we're interested in adding more complexity and options, when they would solely be passing popper options behind the scenes. What is the issue with using `popperOptions` directly?

[2020-03-31 13:02] rwwagner90 commented on #81
@yellow1912 do they interfere with each other or you just want to destroy them?

[2020-03-31 13:03] jpike88 commented on #874
Not a big different but this:

[code]

Isn't easy to figure out as it's not documented in shepherd. Considering the likelihood devs are going to need offsets to the popover position, seems like something that could be made more easily available.

[2020-03-31 14:30] rwwagner90 commented on #874
Don't we document that people should use popper's options?

[2020-03-31 14:42] jpike88 commented on #874
Yes, but offset would likely be a frequently used option, and redirecting me to another library's documentation where it's not clear at all to get what I need isn't ideal. I'm just saying this is what I'd consider a basic part of Shepherd API, not Popper, and the documentation pointing me to the outcome wasn't easy to follow.

[2020-03-31 16:14] IamSachin commented on #863
I am facing something similar too, broken modal in the centre of the screen.
I am explicitly setting **on** on every **attachTo** of the steps. The modal opening is correct but for certain steps, the modal is in the centre with a broken arrow on it like in the image above.

[2020-04-01 02:48] rwwagner90 commented on #874
Would you be interested in helping with a PR to provide an easier to use API? It gets tricky with merging things into popperOptions and not clobbering other options.

[2020-04-01 02:53] rwwagner90 commented on #863
@IamSachin that sounds like a separate issue. This issue is a feature request to be able to define attachTo options in defaults. Your issue should be fixed by omitting `attachTo` entirely for the steps you want centered or setting it to `undefined`. `null` is not a valid value for `attachTo`.

[2020-04-01 04:28] jpike88 commented on #874
Absolutely, great library otherwise so happy to contribute. watch for a PR in next few days!

[2020-04-01 08:11] yellow1912 commented on #81
Since it's a single page web app with many guides, I think it's just good practice to destroy the guides that are not active.

[2020-04-01 17:29] rwwagner90 commented on #81
@yellow1912 if they aren't causing issues, what is the problem? I don't disagree with you, I'm just not sure if we need to do extra cleanup if no issues are caused?

[2020-04-02 08:43] sn3p opened #876 "classPrefix not working?"
I don't see any effect:

https://codepen.io/snap/pen/dyoLWBw?editors=0010

[2020-04-02 09:07] sn3p opened #877 "Don't render header when empty"
Just like the footer is not rendered when empty.
It just consumes space (with the default styling):

<img width="291" alt="Screenshot 2020-04-02 at 11 06 59" src="https://user-images.githubusercontent.com/935529/78230763-199e9980-74d2-11ea-8843-c5ed3fabc97f.png">

[2020-04-02 10:41] IamSachin commented on #863
Hi Robert, sorry for posting here. I am still trying to fix the issue and I will open a new issue just in case I can't.
I am sending `undefined` for `attachTo`. But the issue still persists.
The moment I hit a step with `undefined` `attachTo`, all the step modals with `attachTo` break.

[2020-04-02 10:49] sn3p commented on #876
Mhm ok, it seems only the body classes are prefixed:

[code]

Not sure if this is by design, but the docs state that ALL classes are prefixed:

classPrefix | string | The prefix to add to all the shepherd-* class names.
-- | -- | --

[2020-04-02 13:13] rwwagner90 commented on #877
@sn3p we're open to a PR to support this!

[2020-04-02 13:14] rwwagner90 commented on #876
@sn3p yes, they are no longer all prefixed. The idea is you prefix only the necessary ones for styling.

[2020-04-02 13:19] sn3p commented on #876
Ok, prolly want to change this in the docs as well then 😄

I get your point, but in our case we are using CSS Modules to scope classnames. Our preferred way is to scope all classes to the component to prevent style leakage.

[2020-04-03 11:57] yellow1912 commented on #81
@rwwagner90 On a one page app, normally the users would open the tab for days and weeks without refreshing. It's good practice to cleanup events and services that are not actively used. I think it's kinda weird that you can destroy a step but cannot destroy a tour (and I think the current step's destroy method may have some issue with that as well. It doesn't seem like everything that is related t

[2020-04-03 12:09] SzDavidHUN opened #880 "How to create offset to attached element?"
Hello!

I'd like to create a tour with arrows, that does not draws over the target. By default if I enable arrows, it will be drawn a bit over the element it is attached to.
In the docs, there is a `popperOptions`, and Issue 874 have the same option, that I came up with, but neither applying to default `defaultStepOptions` in the tour, or in the step does anything.
My second thought would be to cr

[2020-04-03 13:33] #877 closed

[2020-04-03 13:46] rwwagner90 commented on #880
`popperOptions` is definitely what you want. At first glance, it appears okay and seems to follow the format specified in the popper docs https://popper.js.org/docs/v2/modifiers/offset/

What version of Shepherd are you using?

[2020-04-03 13:47] rwwagner90 commented on #880
Ah, I just checked and vue-shepherd is not updated to Shepherd 7. It needs to be updated before this will work. https://github.com/shipshapecode/vue-shepherd/blob/master/package.json#L40

[2020-04-03 14:17] rwwagner90 commented on #81
@yellow1912 the original intent was to keep around as much as possible, so subsequent tour runs wouldn't have to do as much work. I definitely agree we should expose a way to cleanup everything though. Would you be interested in helping with a PR on this?

[2020-04-05 15:40] rwwagner90 commented on #874
Awesome, looking forward to it. Thanks @jpike88!

[2020-04-06 05:35] yellow1912 commented on #81
@rwwagner90 I have never done TS before, but I will take a look :)

[2020-04-06 13:14] rwwagner90 commented on #813
Ahhh, I am now remembering what this is I think.

[2020-04-06 13:14] rwwagner90 commented on #813
<img width="509" alt="Screen Shot 2020-04-06 at 9 13 28 AM" src="https://user-images.githubusercontent.com/2640861/78562211-03048500-77e7-11ea-9ba5-174252037165.png">

[2020-04-06 13:14] rwwagner90 commented on #813
Basically, if the target specified does not exist, we should center and remove the arrow.

[2020-04-06 13:41] tvvignesh opened #890 "Sheperd with Lit Elements/IONIC (Shadow DOM)"
Hi. I have been trying to use Sheperd with Lit Element/IONIC and I have been facing the same issue as mentioned in https://github.com/shipshapecode/shepherd/issues/539

`attachTo` does not recognize the elements within shadow dom resulting in the box in middle of the screen. Would be great to have native web component support with sheperd.

[2020-04-06 13:46] rwwagner90 commented on #890
@tvvignesh I would use the same response I had to #539. I don't know much about shadow DOM, but Shepherd supports passing elements. Can you get a reference to the element you want to attach to and pass it?

[2020-04-07 05:02] chanlito opened #891 "Missing canClickTarget on typescript definition file"
<img width="416" alt="Screen Shot 2020-04-07 at 12 00 00 PM" src="https://user-images.githubusercontent.com/15667259/78631776-67971100-78c7-11ea-9734-af4fc55ced28.png">

[2020-04-07 08:33] tvvignesh commented on #890
@rwwagner90 Hmm. Will close this then. Btw, is it possible to pass a JS reference object to attachTo rather than a string selector?

[2020-04-07 08:33] #890 closed

[2020-04-07 11:18] rwwagner90 commented on #890
Do you mean passing an element instead of selector? If you can get a reference to the element, Shepherd allows elements or string selectors.

[2020-04-07 15:01] rwwagner90 commented on #891
@chanlito thanks for letting us know. Would you like to add it?

[2020-04-07 16:42] chanlito commented on #891
#892

[2020-04-07 20:13] #891 closed

[2020-04-09 15:13] Garyfallos opened #893 "IE 11 support?"
I'm confused. Is there a version that works with IE 11?
README refers to IE 11 support, but on action nothing works and also breaks other javascript functionality (I tried versions 7 and 4 beta 6 - found another issue that refers to this version).